Repository hmcts/fpl-ccd-configuration, changes with the labels that .github/labeler.yml gives for each.
All labels: ccd configuration, docmosis, workflow, enable_full_functional_tests

Revert "DFPL-2305 WIP 20240523 TESTING"
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/DraftOrderUrgency.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/FixedLists/CareSupervision/WorkAllocationTaskType.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/WorkAllocationTaskType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationDraftOrderUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditonalAppLicationDraftOrderUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditonalAppLicationDraftOrderUploadedEventHandlerTest.java
Labels: ccd configuration

clear the checkbox in about-to-start event.
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
Labels: none

DFPL-2129: Fix typo, missing hyphen (#5398)
  ccd-definition/FixedLists/CareSupervision/ExpertReportList.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ccd/fixedlists/ExpertReportType.java
Labels: ccd configuration

DFPL-2295: c110a Design Changes to International Element
  ccd-definition/ComplexTypes/CareSupervision/DEPRECATED.json
  ccd-definition/ComplexTypes/CareSupervision/InternationalElement.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/InternationalElement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisInternationalElement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/InternationalElementChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/InternationalElementCheckerIsStartedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/InternationalElementCheckerTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: ccd configuration

Fix missing CCD
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/C2DraftOrderConfidential.json
Labels: ccd configuration

Add default return statement
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/InternationalElementChecker.java
Labels: none

Fix checkstyle
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/InternationalElementChecker.java
Labels: none

Fix robotics tests
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: none

Fix tests
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: none

Update test resources
  service/src/functionalTest/resources/case-submission/application-draft.txt
  service/src/functionalTest/resources/case-submission/application.txt
  service/src/integrationTest/resources/c110a.txt
  service/src/test/resources/empty-form-pdf-content.txt
Labels: none

Fix functional tests
  service/src/test/resources/empty-form-pdf-content.txt
  service/src/test/resources/submitted-form-pdf-content.txt
Labels: none

add warning handling for applicant details
  package.json
  playwright-e2e/pages/applicant-details.ts
  playwright-e2e/tests/e2e.spec.ts
Labels: enable_full_functional_tests

reduce playwright timeout
  playwright.config.ts
Labels: none

change toBeVisible to toBeVisible()
  playwright-e2e/pages/factors-affecting-parenting.ts
  playwright-e2e/pages/orders-and-directions.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/legal-counsel.spec.ts
Labels: none

Change subject for the urgent draft order notification
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftsOrdersUploadedEventHandlerTest.java
Labels: none

fix yarn version typo
  package.json
Labels: enable_full_functional_tests

Change subject line for urgent draft order
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftsOrdersUploadedEventHandlerTest.java
Labels: none

Update C110A template
  docker/docmosis/templates/FL-PLW-APP-ENG-00095.doc
Labels: docmosis

nightly-dev changes and timeout changes
  Jenkinsfile_nightly
  package.json
  playwright.config.ts
Labels: enable_full_functional_tests

Revert "DFPL-2305 Create urgent approveOrder judiciary task - Upload additional applications"
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/DraftOrderUrgency.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/FixedLists/CareSupervision/WorkAllocationTaskType.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/WorkAllocationTaskType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationDraftOrderUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditonalAppLicationDraftOrderUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditonalAppLicationDraftOrderUploadedEventHandlerTest.java
Labels: ccd configuration

DFPL-2339: Migrate Kent to Outsourcing policy after LA transfer
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: none

Add RD properties to fix failing pact tests.
  service/src/contractTest/java/uk/gov/hmcts/reform/rd/client/ReferenceDataOrganisationalExternalUsersConsumerTest.java
  service/src/contractTest/java/uk/gov/hmcts/reform/rd/client/ReferenceDataOrganisationalInternalUsersConsumerTest.java
  service/src/contractTest/java/uk/gov/hmcts/reform/rd/client/ReferenceDataProfessionalExternalUsersConsumerTest.java
Labels: none

test: remove 'tobevisible' checks from tests
  playwright-e2e/pages/add-application-documents.ts
  playwright-e2e/pages/allocation-proposal.ts
  playwright-e2e/pages/applicant-details.ts
  playwright-e2e/pages/approve-orders.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/child-details.ts
  playwright-e2e/pages/court-services-needed.ts
  playwright-e2e/pages/factors-affecting-parenting.ts
  playwright-e2e/pages/gatekeeping-listing.ts
  playwright-e2e/pages/grounds-for-the-application.ts
  playwright-e2e/pages/hearing-urgency.ts
  playwright-e2e/pages/orders-and-directions.ts
  playwright-e2e/pages/respondent-details.ts
  playwright-e2e/pages/risk-and-harm-to-children.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright.config.ts
Labels: none

Fix old fields showing up in UI
  ccd-definition/ComplexTypes/CareSupervision/DEPRECATED.json
Labels: ccd configuration

DFPL-2331: Remove child names from Proceedings
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Proceeding.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: none

DFPL-2293: Unable to remove CMOs in review in hearing bundles (#5374)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalAction.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalActionTest.java
Labels: none

Update main.tf to latest version on master
  infrastructure/main.tf
Labels: none

checkstyle
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
Labels: none

checkstyle
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: none

remove duplicate permissions
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
Labels: ccd configuration

.github/labeler.yml:

ccd configuration:
  - any: ['ccd-definition/**/*']

docmosis:
  - any: ['docker/docmosis/templates/*']

onboarding:
  - all: ['ccd-definition/FixedLists/CareSupervision/AuthorityFixedList*']

workflow:
  - any: ['.github/**/*']

enable_full_functional_tests:
  - package.json
  - yarn.lock
