Repository hmcts/fpl-ccd-configuration, changes with the labels that .github/labeler.yml gives for each.
All labels: ccd configuration, docmosis

.github/labeler.yml:

ccd configuration:
  - any: ['ccd-definition/**/*']

docmosis:
  - any: ['docker/docmosis/templates/*']

feat:FPLA-2136 fixes to code review comments
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/model/AddCaseAssignedUserRolesRequest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseRoleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: none

First flow for e2e (add a new hearing)
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
Labels: none

FPLA-2279: Order template now uses first page header to place seal
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.doc
Labels: docmosis

feat:FPLA-2136 refactored the business logic and added tests
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseRoleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserServiceTest.java
Labels: none

FPLA-2281: Removed notice of proceeding footer from notice of hearing
  docker/docmosis/templates/FL-PLW-HNO-ENG-00525.doc
Labels: docmosis

feat:Onboard Stockton on Tees
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration

feat:FPLA-2136 fixted integration tests
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
Labels: none

feat:Onboard Stockton on Tees (#1727)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration

fix:FPLA-2136 fixted code smell, removed unused variable
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseRoleService.java
Labels: none

update todo
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
Labels: none

Adding change to tests
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentServiceTest.java
Labels: none

Fully working e2e test with add + edit + custom hearing, setup for service tests
  ccd-definition/CaseEventToComplexTypes/manageHearings/manageHearings.json
  ccd-definition/ComplexTypes/CareSupervision/1_PreviousHearingVenue.json
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/PreviousHearingVenue.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ccd configuration

Adding test code
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentServiceRetryTest.java
Labels: none
