Repository hmcts/fpl-ccd-configuration, changes with the labels that .github/labeler.yml gives for each.
All labels: ccd configuration, docmosis, workflow, enable_full_functional_tests

DFPL-1743 Remove code that can cause CCD concurrency issue (#5396)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/AdminManagesOrdersApiTests.java
  service/src/functionalTest/resources/admin-manage-orders/c23/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c29/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c33/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c43a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c47a/input-case-details.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/TestingSupportControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/GatekeepingOrderEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/testingsupport/controllers/TestingSupportController.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
Labels: ccd configuration

fix grammar
  playwright-e2e/caseData/approveOrders/caseWithConfidentialDraftOrderByLa.json
  playwright-e2e/tests/approve-orders.spec.ts
Labels: none

DFPL-2238
  playwright-e2e/tests/smoke-test.spec.ts
Labels: none

DFPL-2238
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: none

Dfpl 2222 Confidential C2 and orders test (#5311)
  playwright-e2e/caseData/approveOrders/caseWithConfidentialDraftOrderByCtsc.json
  playwright-e2e/caseData/approveOrders/caseWithConfidentialDraftOrderByLa.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/additional-applications.ts
  playwright-e2e/pages/approve-orders.ts
  playwright-e2e/tests/additional-applications.spec.ts
  playwright-e2e/tests/approve-orders.spec.ts
Labels: none

CMO notification for urgent case
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerPostSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/IssuedOrderAdminNotificationHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
Labels: none

Update create-fixture.ts
  playwright-e2e/fixtures/create-fixture.ts
Labels: none

DFPL-2238
  playwright-e2e/tests/smoke-test.spec.ts
Labels: none

DFPL-2191
  playwright-e2e/tests/manage-documents.spec.ts
Labels: none

DFPL-2191
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/manage-documents.ts
  playwright-e2e/tests/manage-documents.spec.ts
Labels: none

Remove duplicated entry.
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
Labels: ccd configuration

DFPL-2340: Removal tool throwing exception when getting c2doc label
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
Labels: none

Upgrade fortify-client - needed to fix issue with conflicting definition of LoggerFactory
  service/build.gradle
Labels: none

CaseOutsource
  package.json
  playwright-e2e/pages/share-case.ts
  playwright-e2e/tests/case-outsourcing.spec.ts
  playwright.config.ts
Labels: enable_full_functional_tests

CaseOutsource
  playwright-e2e/tests/additional-applications.spec.ts
Labels: none

CaseOutsource
  package.json
  playwright-e2e/pages/manage-organisation.ts
Labels: enable_full_functional_tests

DFPL-2238
  playwright.config.ts
Labels: none

CaseOutsource
  package.json
  playwright-e2e/pages/add-application-documents.ts
  playwright-e2e/pages/applicant-details.ts
  playwright-e2e/pages/c1-with-supplement.ts
  playwright-e2e/pages/orders-and-directions.ts
  playwright-e2e/pages/respondent-details.ts
  playwright-e2e/pages/risk-and-harm-to-children.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/pages/welsh-lang-requirements.ts
  playwright-e2e/settings/user-credentials.ts
  playwright-e2e/tests/application-details.spec.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: enable_full_functional_tests

CaseOutsource
  playwright-e2e/pages/manage-organisation.ts
  playwright-e2e/tests/case-outsourcing.spec.ts
Labels: none

remove unused imports
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
Labels: none

skipfortifyscan
  Jenkinsfile_nightly
Labels: none

sonarcloud
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
Labels: none

RunAccessibilityinChromeOnly
  package.json
Labels: enable_full_functional_tests

Fix test failures.
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftOrderRemovalActionTest.java
Labels: none

Missing CCD
  ccd-definition/FixedLists/CareSupervision/WorkAllocationTaskType.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/WorkAllocationTaskType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationDraftOrderUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationDraftOrderUploadedEventHandlerTest.java
Labels: ccd configuration

for test
  package.json
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/tests/case-outsourcing.spec.ts
Labels: enable_full_functional_tests

Revert "DPFL-2305 (WIP) FOR TESTING 20240517"
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/DraftOrderUrgency.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/WorkAllocationTaskType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationDraftOrderUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditonalAppLicationDraftOrderUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditonalAppLicationDraftOrderUploadedEventHandlerTest.java
Labels: ccd configuration

for test
  playwright-e2e/pages/manage-organisation.ts
Labels: none

remove accessibilityTest
  Jenkinsfile_nightly
  playwright.config.ts
Labels: none

add NPE check and throw if needs be
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
Labels: none

swap to return additional application's uploaded date time
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
Labels: none

DFPL-2305 WIP 20240523 TESTING
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/DraftOrderUrgency.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/FixedLists/CareSupervision/WorkAllocationTaskType.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/WorkAllocationTaskType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationDraftOrderUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditonalAppLicationDraftOrderUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationDraftOrderUploadedEventHandlerTest.java
Labels: ccd configuration

Add MO EnvVar
  Jenkinsfile_CNP
Labels: none

Remove redundant @Qualifier for quality gate checks.
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/HttpClientConfiguration.java
Labels: none

Remove usused import.
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/HttpClientConfiguration.java
Labels: none

RunallTest
  package.json
  playwright-e2e/pages/manage-organisation.ts
  playwright-e2e/tests/case-outsourcing.spec.ts
Labels: enable_full_functional_tests

deletecomment line
  Jenkinsfile_nightly
  playwright.config.ts
Labels: none

DFPL-2340: Removal tool throwing exception when getting c2doc label (#5400)
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
Labels: none

removedfailfast
  playwright.config.ts
Labels: none

DFPL-2305 Create urgent approveOrder judiciary task - Upload additional applications
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/DraftOrderUrgency.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/4_C2DocumentBundle.json
  ccd-definition/FixedLists/CareSupervision/WorkAllocationTaskType.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/WorkAllocationTaskType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationDraftOrderUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditonalAppLicationDraftOrderUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationDraftOrderUploadedEventHandlerTest.java
Labels: ccd configuration

.github/labeler.yml:

ccd configuration:
  - any: ['ccd-definition/**/*']

docmosis:
  - any: ['docker/docmosis/templates/*']

onboarding:
  - all: ['ccd-definition/FixedLists/CareSupervision/AuthorityFixedList*']

workflow:
  - any: ['.github/**/*']

enable_full_functional_tests:
  - package.json
  - yarn.lock
