Repository hmcts/fpl-ccd-configuration, pull requests merged in 2018-11, with the labels that each got.

#77 FPL-114: Fixed grammar of relationship to child section of other form
  ccd-definition/ComplexTypes.json
Labels: ns:fpl-fpl-service-pr-77

#79 FPL-123: changed respondent contact details quesiton wording
  ccd-definition/ComplexTypes.json
  e2e/paths/enterRespondents_test.js
Labels: ns:fpl-fpl-service-pr-79

#76 FPL-122: Refactored wording of litigation reason text area hint text
  ccd-definition/ComplexTypes.json
Labels: ns:fpl-fpl-service-pr-76

#74 FPL-77: Added familyMan case number case event
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields.json
  ccd-definition/CaseField.json
  ccd-definition/WorkBasketResultFields.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/enterFamilyMan/enterFamilyMan.js
  e2e/paths/loginAsHmctsAdmin_test.js
Labels: ns:fpl-fpl-service-pr-74

#83 Add extra DNS config
  kubernetes/deployment.template.yaml
Labels: ns:fpl-fpl-service-pr-83

#84 Make configuration scripts fail fast
  bin/add-users-and-roles.sh
  bin/import-ccd-definition.sh
  kubernetes/configurer/configure-ccd.sh
  kubernetes/configurer/utils/ccd-add-role.sh
  kubernetes/configurer/utils/ccd-import-definition.sh
  kubernetes/configurer/utils/fpl-process-definition.sh
  kubernetes/configurer/utils/idam-create-caseworker.sh
  kubernetes/configurer/utils/idam-lease-service-token.sh
  kubernetes/configurer/utils/idam-lease-user-token.sh
Labels: ns:fpl-fpl-service-pr-84

#86 CCD definitions to use human readable dates
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields.json
  ccd-definition/CaseField.json
  ccd-definition/CaseType.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes.json
  ccd-definition/FixedLists.json
  ccd-definition/Jurisdiction.json
  ccd-definition/SearchInputFields.json
  ccd-definition/SearchResultFields.json
  ccd-definition/State.json
  ccd-definition/UserProfile.json
  ccd-definition/WorkBasketInputFields.json
  ccd-definition/WorkBasketResultFields.json
  kubernetes/configurer/utils/fpl-process-definition.sh
Labels: ns:fpl-fpl-service-pr-86

#80 FPL-104: Content updates for CCD dashboard
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes.json
  e2e/config.js
  e2e/pages/createCase/createCase.js
  e2e/paths/attendingHearing_test.js
  e2e/paths/enterGrounds_test.js
  e2e/paths/enterOrdersAndDirections_test.js
  e2e/paths/enterOthers_test.js
  e2e/paths/selectHearing_test.js
Labels: ns:fpl-fpl-service-pr-80

#91 Update ccd def dates
  ccd-definition/CaseEvent.json
  ccd-definition/CaseField.json
Labels: ns:fpl-fpl-service-pr-91

#92 FPL-96: Add hint text when adding case title
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes.json
  ccd-definition/SearchResultFields.json
  ccd-definition/WorkBasketResultFields.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/changeCaseName/changeCaseName.js
  e2e/pages/createCase/createCase.js
  e2e/paths/changeCaseName_test.js
  e2e/paths/loginAsHmctsAdmin_test.js
Labels: ns:fpl-fpl-service-pr-92

#93 Delay selecting jurisdiction, case type and event until CCD definition is loaded
  e2e/config.js
  e2e/pages/caseList/caseList.js
  e2e/steps_file.js
Labels: ns:fpl-fpl-service-pr-93

#87 Ensure right startup order
  Jenkinsfile_CNP
  kubernetes/configurer/configure-ccd.sh
  kubernetes/configurer/utils/ccd-add-role.sh
  kubernetes/configurer/utils/idam-create-caseworker.sh
  kubernetes/configurer/utils/wait-for.sh
  kubernetes/deployment.template.yaml
  service/build.gradle
Labels: ns:fpl-fpl-service-pr-87

#89 Add mutation test coverage
  Jenkinsfile_nightly
  build.gradle
  service/build.gradle
Labels: ns:fpl-fpl-service-pr-89

#102 FPL-200: Upgrade testing framework to jUnit 5
  build.gradle
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RootControllerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseRepositoryTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UploadDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/ResourceReaderTest.java
Labels: ns:fpl-fpl-service-pr-102

#110 FPL-86: Add check to E2E tests to ensure PDF link is under evidence tab
  bin/import-ccd-definition.sh
  codecept.conf.js
  e2e/helpers/puppeter_helper.js
  e2e/paths/caseSubmitted_test.js
  typings/codeceptjs.d.ts
Labels: ns:fpl-fpl-service-pr-110

#111 Change locators in upload documents form and use different method of selecting respondent gender
  e2e/pages/enterRespondents/enterRespondents.js
  e2e/pages/uploadDocuments/uploadDocuments.js
Labels: ns:fpl-fpl-service-pr-111

#106 FPL-208: Assign Local Authority on case initiation
  Jenkinsfile_CNP
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields.json
  ccd-definition/FixedLists.json
  docker-compose.yml
  e2e/steps_file.js
  kubernetes/configurer/utils/fpl-process-definition.sh
  kubernetes/deployment.template.yaml
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerTest.java
  service/src/integrationTest/resources/application.properties
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/LocalAuthorityNameLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ResourceExceptionHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CallbackEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/SubmittedCaseEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/UnknownLocalAuthorityDomainException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseRepository.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityNameService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseRepositoryTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityNameServiceTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: ns:fpl-fpl-service-pr-106

#112 FPL-217: Add new users
  bin/add-users-and-roles.sh
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType.json
  ccd-definition/FixedLists.json
  ccd-definition/UserProfile.json
  docker-compose.yml
  e2e/config.js
  e2e/pages/createCase/addEventSummary.js
  e2e/paths/attendingHearing_test.js
  e2e/paths/caseSubmitted_test.js
  e2e/paths/changeCaseName_test.js
  e2e/paths/enterAllocationProposal_test.js
  e2e/paths/enterApplicant_test.js
  e2e/paths/enterChildren_test.js
  e2e/paths/enterFactorsAffectingParenting_test.js
  e2e/paths/enterGrounds_test.js
  e2e/paths/enterInternationalElements_test.js
  e2e/paths/enterOrdersAndDirections_test.js
  e2e/paths/enterOtherProceedings_test.js
  e2e/paths/enterOthers_test.js
  e2e/paths/enterRespondents_test.js
  e2e/paths/enterRiskAndHarmToChild_test.js
  e2e/paths/loginAsHmctsAdmin_test.js
  e2e/paths/selectHearing_test.js
  e2e/paths/uploadDocuments_test.js
  e2e/steps_file.js
  kubernetes/configurer/configure-ccd.sh
  kubernetes/deployment.template.yaml
  typings/codeceptjs.d.ts
Labels: ns:fpl-fpl-service-pr-112

#114 Remove unused dependencies, redundant annotations and disable unneeded endpoints in integration tests
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RootControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/Application.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/CircuitBreakerConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/SwaggerConfiguration.java
  service/src/main/resources/application.yaml
Labels: ns:fpl-fpl-service-pr-114

#71 Configure AAT builds
  .dockerignore
  .gitignore
  Dockerfile
  Jenkinsfile_CNP
  bin/add-users-and-roles.sh
  bin/import-ccd-definition.sh
  codecept.conf.js
  config/owasp/suppressions.xml
  e2e/paths/smoke_test.js
  gradle.properties
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/test_config.tf
  infrastructure/variables.tf
  kubernetes/configurer/configure-ccd.sh
  kubernetes/configurer/utils/ccd-add-role.sh
  kubernetes/configurer/utils/ccd-import-definition.sh
  kubernetes/configurer/utils/fpl-process-definition.sh
  kubernetes/configurer/utils/idam-create-caseworker.sh
  kubernetes/configurer/utils/idam-lease-service-token.sh
  kubernetes/configurer/utils/idam-lease-user-token.sh
  kubernetes/configurer/utils/wait-for.sh
  package.json
  service/build.gradle
  service/infrastructure/main.tf
  service/infrastructure/output.tf
  service/infrastructure/prod.tfvars
  service/infrastructure/test_config.tf
  web.config
  yarn.lock
Labels: ns:fpl-case-service-pr-71

#117 Set IDAM API URL for demo and prod environments
  infrastructure/demo.tfvars
  infrastructure/prod.tfvars
Labels: ns:fpl-case-service-pr-117

#116 Retry smoke tests
  e2e/paths/smoke_test.js
Labels: ns:fpl-case-service-pr-116

#120 FPL-264: Configure demo environment
  Jenkinsfile_CNP
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
Labels: ns:fpl-case-service-pr-120

#113 FPL-172: Implement proper version of C110a form
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/ClockConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/DocumentGeneratorConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/pebble/AgeFilter.java
  service/src/main/java/uk/gov/hmcts/reform/pebble/TodayFilter.java
  service/src/main/resources/HTMLTemplate.html
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/pebble/AgeFilterTest.java
  service/src/test/java/uk/gov/hmcts/reform/pebble/TodayFilterTest.java
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/submitted-form-pdf-content.txt
Labels: ns:fpl-case-service-pr-113, ns:fpl-fpl-service-pr-113
