Repository hmcts/fpl-ccd-configuration, pull requests merged in 2018-10, with the labels that each got.

#41 FPL-54: Enable AKS builds
  Jenkinsfile_CNP
  bin/add-users-and-roles.sh
  bin/import-ccd-definition.sh
  codecept.conf.js
  e2e/config.js
  e2e/pages/login/loginPage.js
  kubernetes/configurer/configure-ccd.sh
  kubernetes/configurer/utils/ccd-add-role.sh
  kubernetes/configurer/utils/ccd-import-definition.sh
  kubernetes/configurer/utils/fpl-process-definition.sh
  kubernetes/configurer/utils/idam-create-caseworker.sh
  kubernetes/configurer/utils/idam-lease-service-token.sh
  kubernetes/configurer/utils/idam-lease-user-token.sh
  kubernetes/deployment.template.yaml
  service/build.gradle
Labels: ns:fpl-fpl-service-pr-41

#72 FPL-70: Application overview tab enter people
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes.json
  e2e/pages/enterApplicant/enterApplicant.js
  e2e/pages/enterChildren/enterChildren.js
  e2e/pages/enterOthers/enterOthers.js
  e2e/pages/login/loginPage.js
  e2e/paths/attendingHearing_test.js
  e2e/paths/enterApplicant_test.js
  e2e/paths/enterChildren_test.js
  e2e/paths/enterFactorsAffectingParenting_test.js
  e2e/paths/enterGrounds_test.js
  e2e/paths/enterOrdersAndDirections_test.js
  e2e/paths/enterOthers_test.js
  e2e/paths/enterRespondents_test.js
  e2e/steps_file.js
Labels: ns:fpl-fpl-service-pr-72

#68 FPL-88: Add HMCTS admin user
  .eslintrc.js
  Jenkinsfile_CNP
  bin/add-users-and-roles.sh
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType.json
  ccd-definition/CaseEvent.json
  ccd-definition/UserProfile.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/caseList/caseList.js
  e2e/pages/caseView/caseView.js
  e2e/pages/createCase/addEventSummary.js
  e2e/pages/login/loginPage.js
  e2e/paths/loginAsHmctsAdmin_test.js
  e2e/steps_file.js
  kubernetes/configurer/configure-ccd.sh
  package.json
  typings/codeceptjs.d.ts
  yarn.lock
Labels: ns:fpl-fpl-service-pr-68
