Repository hmcts/fpl-ccd-configuration, pull requests merged in 2019-08, with the labels that each got.

#385 FPLA-355: UX-Update-Radio-Buttons
  ccd-definition/ComplexTypes.json
  e2e/pages/enterAllocationProposal/enterAllocationProposal.js
  e2e/pages/enterChildren/enterChildren.js
  e2e/pages/selectHearing/selectHearing.js
  e2e/pages/uploadDocuments/uploadDocuments.js
Labels: Do not merge, ns:fpl-case-service-pr-385

#389 chore: update owasp suppression
  config/owasp/suppressions.xml
Labels: ns:fpl-case-service-pr-389

#390 Point to new ACR repositories
  Jenkinsfile_CNP
  docker-compose.yml
  kubernetes/deployment.template.yaml
Labels: ns:fpl-case-service-pr-390

#394 refactor: split out AuthorisationCaseField into files by role
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/system-update.json
Labels: ns:fpl-case-service-pr-394

#396 Add /health/liveness endpoint that checks whether application is up
  service/build.gradle
  service/src/main/resources/application.yaml
Labels: ns:fpl-case-service-pr-396

#387 fix: display empty respondent block in pdf
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Address.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorService.java
  service/src/main/resources/HTMLTemplate.html
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorServiceTest.java
  service/src/test/resources/empty-form-pdf-content.txt
Labels: Do not merge, ns:fpl-case-service-pr-387

#405 refactor: removed old respondent definitions
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseEventToFields.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondents.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/migration/MigratedRespondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/main/resources/HTMLTemplate.html
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CoreCaseDataStoreLoader.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/core-case-data-store-api/reform-respondent-case-data.json
Labels: ns:fpl-case-service-pr-405

#404 FPLA-NA - configuration to run service in IntelliJ
  bin/import-ccd-definition.sh
  service/README.md
  service/src/main/resources/application.yaml
Labels: ns:fpl-case-service-pr-404

#346 FPLA-382-Update for migrated applicant structure
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes.json
  e2e/pages/enterApplicant/enterApplicant.js
  e2e/paths/enterApplicant_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MigrationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Applicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ApplicantParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OldApplicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Party.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ApplicantMigrationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UpdateAndValidatePbaService.java
  service/src/main/resources/HTMLTemplate.html
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ApplicantMigrationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CoreCaseDataStoreLoader.java
  service/src/test/resources/core-case-data-store-api/reform-applicant-case-data.json
Labels: ns:fpl-case-service-pr-346

#397 Use helm charts in preview environment
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  bin/add-oauth-clients.sh
  bin/add-users-and-roles.sh
  bin/build-release-ccd-definition.sh
  bin/configurer/add-oauth-clients.sh
  bin/configurer/add-roles.sh
  bin/configurer/add-users.sh
  bin/configurer/import-ccd-definition.sh
  bin/configurer/utils/ccd-add-role.sh
  bin/configurer/utils/ccd-import-definition.sh
  bin/configurer/utils/fpl-process-definition.sh
  bin/configurer/utils/idam-add-role.sh
  bin/configurer/utils/idam-create-caseworker.sh
  bin/configurer/utils/idam-create-oauth-client.sh
  bin/configurer/utils/idam-lease-service-token.sh
  bin/configurer/utils/idam-lease-user-token.sh
  bin/configurer/utils/wait-for.sh
  bin/import-ccd-definition.sh
  bin/variables/load-preview-environment-variables.sh
  bin/variables/unload-environment-variables.sh
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  codecept.conf.js
  e2e/helpers/hooks_helper.js
  e2e/pages/createCase/createCase.js
  e2e/paths/accessSegregation_test.js
  e2e/steps_file.js
  kubernetes/configurer/configure-ccd.sh
  kubernetes/configurer/utils/idam-add-role.sh
  kubernetes/configurer/utils/idam-lease-user-token.sh
  kubernetes/deployment.template.yaml
  service/build.gradle
Labels: ns:fpl-case-service-pr-397

#407 fix: added back in midevent definition on respondent event
  ccd-definition/CaseEventToFields.json
Labels: ns:fpl-case-service-pr-407

#402 refactor: extracted complex types to smaller files
  ccd-definition/ComplexTypes.json
  ccd-definition/ComplexTypes/1_EmailAddress.json
  ccd-definition/ComplexTypes/1_MobileNumber.json
  ccd-definition/ComplexTypes/1_Telephone.json
  ccd-definition/ComplexTypes/2_ApplicantParty.json
  ccd-definition/ComplexTypes/2_Child.json
  ccd-definition/ComplexTypes/2_Others.json
  ccd-definition/ComplexTypes/2_ProceedingType.json
  ccd-definition/ComplexTypes/2_RespondentParty.json
  ccd-definition/ComplexTypes/AllocationProposal.json
  ccd-definition/ComplexTypes/Applicant.json
  ccd-definition/ComplexTypes/Applicants.json
  ccd-definition/ComplexTypes/Children.json
  ccd-definition/ComplexTypes/CourtAdminDocument.json
  ccd-definition/ComplexTypes/CourtBundle.json
  ccd-definition/ComplexTypes/FactorsParenting.json
  ccd-definition/ComplexTypes/GroundForEPO.json
  ccd-definition/ComplexTypes/Grounds.json
  ccd-definition/ComplexTypes/Hearing.json
  ccd-definition/ComplexTypes/HearingPreferences.json
  ccd-definition/ComplexTypes/InternationalElement.json
  ccd-definition/ComplexTypes/Orders.json
  ccd-definition/ComplexTypes/OtherDocument.json
  ccd-definition/ComplexTypes/Person.json
  ccd-definition/ComplexTypes/Proceeding.json
  ccd-definition/ComplexTypes/RespondentNew.json
  ccd-definition/ComplexTypes/RiskAndHarm.json
  ccd-definition/ComplexTypes/Solicitor.json
  ccd-definition/ComplexTypes/UploadDocuments.json
  ccd-definition/ComplexTypes/UploadSwetDocument.json
Labels: ns:fpl-case-service-pr-402

#408 refactor: extract case event to fields
  ccd-definition/CaseEventToFields.json
  ccd-definition/CaseEventToFields/addCaseIDReference.json
  ccd-definition/CaseEventToFields/addFamilyManCaseNumber.json
  ccd-definition/CaseEventToFields/attendingHearing.json
  ccd-definition/CaseEventToFields/changeCaseName.json
  ccd-definition/CaseEventToFields/deleteApplication.json
  ccd-definition/CaseEventToFields/enterApplicant.json
  ccd-definition/CaseEventToFields/enterChildren.json
  ccd-definition/CaseEventToFields/enterGrounds.json
  ccd-definition/CaseEventToFields/enterInternationalElement.json
  ccd-definition/CaseEventToFields/enterOthers.json
  ccd-definition/CaseEventToFields/enterParentingFactors.json
  ccd-definition/CaseEventToFields/enterRespondents.json
  ccd-definition/CaseEventToFields/enterRiskHarm.json
  ccd-definition/CaseEventToFields/hearingNeeded.json
  ccd-definition/CaseEventToFields/migrateCase.json
  ccd-definition/CaseEventToFields/openCase.json
  ccd-definition/CaseEventToFields/ordersNeeded.json
  ccd-definition/CaseEventToFields/otherProceedings.json
  ccd-definition/CaseEventToFields/otherProposal.json
  ccd-definition/CaseEventToFields/sendToGatekeeper.json
  ccd-definition/CaseEventToFields/submitApplication.json
  ccd-definition/CaseEventToFields/uploadDocuments.json
  ccd-definition/CaseEventToFields/uploadDocumentsAfterSubmission.json
  ccd-definition/CaseEventToFields/uploadStandardDirections.json
Labels: ns:fpl-case-service-pr-408

#414 Upgrade codeceptjs, remove conflicting reporters and stop storing state in page objects
  codecept.conf.js
  e2e/pages/enterApplicant/enterApplicant.js
  e2e/pages/enterChildren/enterChildren.js
  e2e/pages/enterOtherProceedings/enterOtherProceedings.js
  e2e/pages/enterOthers/enterOthers.js
  e2e/pages/enterRespondents/enterRespondents.js
  e2e/paths/enterChildren_test.js
  e2e/paths/enterOtherProceedings_test.js
  e2e/paths/enterOthers_test.js
  e2e/paths/enterRespondents_test.js
  package.json
  yarn.lock
Labels: ns:fpl-case-service-pr-414

#403 FPLA-580 - court admin can edit the Children on a submitted case
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/amendAttendingHearing.json
  ccd-definition/CaseEventToFields/amendChildren.json
  ccd-definition/CaseEventToFields/amendInternationalElement.json
  ccd-definition/CaseEventToFields/amendOtherProceedings.json
  ccd-definition/CaseEventToFields/amendOthers.json
  ccd-definition/CaseEventToFields/amendRespondents.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/createCase/eventSummary.js
  e2e/pages/eventSummary/eventSummary.js
  e2e/paths/loginAsHmctsAdmin_test.js
  e2e/paths/sendToGatekeeper_test.js
  e2e/steps_file.js
Labels: ns:fpl-case-service-pr-403

#416 refactor: removed traces of old applicant structure
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/enterApplicant.json
  ccd-definition/CaseEventToFields/migrateCase.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/Applicant.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MigrationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OldApplicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ApplicantService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UpdateAndValidatePbaService.java
  service/src/main/resources/HTMLTemplate.html
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ApplicantServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CoreCaseDataStoreLoader.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/core-case-data-store-api/reform-applicant-case-data.json
Labels: ns:fpl-case-service-pr-416

#422 FPLA-NA update the base image to point to the new registry
  Dockerfile
Labels: ns:fpl-case-service-pr-422

#424 FPLA-NA fix the owasp dependency problem by pinning the jackson-databind
  config/owasp/suppressions.xml
  service/build.gradle
Labels: ns:fpl-case-service-pr-424

#420 FPLA-711: Split-Orders-And-Hearing-Into-Separate-Tabs
  ccd-definition/CaseTypeTab.json
  e2e/pages/caseView.page.js
  e2e/tests/enterOrdersAndDirections_test.js
  e2e/tests/selectHearing_test.js
Labels: ns:fpl-case-service-pr-420

#423 Move dependency check and linting of E2E tests to Jenkins and disable Travis buils
  .travis.yml
  service/build.gradle
Labels: ns:fpl-case-service-pr-423

#350 FPLA-387: Update-Children-Data-Structure
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/amendChildren.json
  ccd-definition/CaseEventToFields/enterChildren.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/2_ChildParty.json
  ccd-definition/ComplexTypes/ChildrenNew.json
  e2e/pages/events/enterChildrenEvent.page.js
  e2e/steps_file.js
  e2e/tests/enterChildren_test.js
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildSubmissionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MigrationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Child.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ChildParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OldChild.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OldChildren.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Element.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ChildrenMigrationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorService.java
  service/src/main/resources/HTMLTemplate.html
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ChildrenMigrationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CoreCaseDataStoreLoader.java
  service/src/test/resources/core-case-data-store-api/reform-migrated-case-details.json
  typings/codeceptjs.d.ts
Labels: ns:fpl-case-service-pr-350

#399 FPLA-295: Mandatory-Fields
  ccd-definition/CaseEventToFields/submitApplication.json
  e2e/steps_file.js
  e2e/tests/accessSegregation_test.js
  e2e/tests/caseSubmitted_test.js
  e2e/tests/loginAsHmctsAdmin_test.js
  e2e/tests/sendToGatekeeper_test.js
  e2e/tests/uploadDocuments_test.js
  e2e/tests/uploadStandardDirections_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Section.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Address.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/AllocationProposal.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Applicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ApplicantParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Child.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ChildParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/FactorsParenting.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Grounds.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/GroundsForEPO.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Hearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingPreferences.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/InternationalElement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Others.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Risks.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Solicitor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Document.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocumentReference.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocumentSocialWorkOther.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Element.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/EmailAddress.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Telephone.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/interfaces/TelephoneContacts.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseValidatorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validators/HasContactDirectionValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validators/HasTelephoneOrMobileValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validators/interfaces/EPOGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validators/interfaces/HasContactDirection.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validators/interfaces/HasTelephoneOrMobile.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseValidatorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validators/HasContactDirectionValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validators/HasTelephoneOrMobileValidatorTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: ns:fpl-case-service-pr-399

#430 refactor: removed old children
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/amendChildren.json
  ccd-definition/CaseEventToFields/enterChildren.json
  ccd-definition/CaseEventToFields/migrateCase.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/2_Child.json
  ccd-definition/ComplexTypes/Children.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MigrationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OldChild.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OldChildren.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ChildrenService.java
  service/src/main/resources/HTMLTemplate.html
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ChildrenServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CoreCaseDataStoreLoader.java
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/core-case-data-store-api/reform-migrated-case-details.json
Labels: ns:fpl-case-service-pr-430

#417 Refactor E2E tests
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/children.js
  e2e/fragments/addressPostcodeLookup.js
  e2e/helpers/puppeter_helper.js
  e2e/pages/caseView.page.js
  e2e/pages/events/enterChildrenEvent.page.js
  e2e/pages/events/enterOthersEvent.page.js
  e2e/pages/events/enterRespondentsEvent.page.js
  e2e/pages/login.page.js
  e2e/steps_file.js
  e2e/tests/accessSegregation_test.js
  e2e/tests/attendingHearing_test.js
  e2e/tests/caseSubmitted_test.js
  e2e/tests/changeCaseName_test.js
  e2e/tests/deleteApplication_test.js
  e2e/tests/enterAllocationProposal_test.js
  e2e/tests/enterApplicant_test.js
  e2e/tests/enterChildren_test.js
  e2e/tests/enterFactorsAffectingParenting_test.js
  e2e/tests/enterGrounds_test.js
  e2e/tests/enterInternationalElements_test.js
  e2e/tests/enterOrdersAndDirections_test.js
  e2e/tests/enterOtherProceedings_test.js
  e2e/tests/enterOthers_test.js
  e2e/tests/enterRespondents_test.js
  e2e/tests/enterRiskAndHarmToChild_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthorityDeletesApplication_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  e2e/tests/loginAsHmctsAdmin_test.js
  e2e/tests/selectHearing_test.js
  e2e/tests/sendToGatekeeper_test.js
  e2e/tests/smoke_test.js
  e2e/tests/uploadDocuments_test.js
  e2e/tests/uploadStandardDirections_test.js
  typings/codeceptjs.d.ts
Labels: ns:fpl-case-service-pr-417

#433 Bump version of AppInsights lib to take advantage of improvements for Java 11+
  Dockerfile
Labels: ns:fpl-case-service-pr-433

#431 FPLA-482: UX update living
  ccd-definition/ComplexTypes/2_ChildParty.json
  ccd-definition/FixedLists.json
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ChildParty.java
  service/src/main/resources/HTMLTemplate.html
Labels: ns:fpl-case-service-pr-431

#438 Remove health check from Dockerfile
  Dockerfile
Labels: ns:fpl-case-service-pr-438
