Repository hmcts/fpl-ccd-configuration, pull requests merged in 2019-05, with the labels that each got.

#267 Enable AKS builds again
  Jenkinsfile_CNP
Labels: ns:fpl-case-service-pr-267

#272 Upgrade E2E dependencies
  package.json
  yarn.lock
Labels: ns:fpl-case-service-pr-272

#268 Fix format of child DOB date in PDF template (FPLA-118)
  service/src/main/resources/HTMLTemplate.html
  service/src/test/resources/submitted-form-pdf-content.txt
Labels: ns:fpl-case-service-pr-268

#274 Upgrade Gradle and build dependencies / tools
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  service/build.gradle
Labels: ns:fpl-case-service-pr-274

#273 Update E2E tests to reflect UI changes in CCD
  e2e/fragments/addressPostcodeLookup.js
  e2e/pages/enterApplicant/enterApplicant.js
  e2e/paths/accessSegregation_test.js
  e2e/paths/loginAsHmctsAdmin_test.js
  e2e/paths/sendToGatekeeper_test.js
  e2e/paths/uploadStandardDirections_test.js
Labels: ns:fpl-case-service-pr-273

#276 Point DEMO environment to SIDAM
  Jenkinsfile_CNP
  infrastructure/demo.tfvars
  infrastructure/preview.tfvars
Labels: ns:fpl-case-service-pr-276

#275 Upgrade service runtime dependencies
  config/owasp/suppressions.xml
  service/build.gradle
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/ServiceTokenGeneratorConfiguration.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserServiceTest.java
Labels: ns:fpl-case-service-pr-275

#278 Update LA-user mappings for local and preview envs
  docker-compose.yml
  kubernetes/deployment.template.yaml
Labels: ns:fpl-case-service-pr-278

#280 Fix: Set CRU permissions to submission consent label to fix application submission
  ccd-definition/AuthorisationCaseField.json
Labels: ns:fpl-case-service-pr-280

#279 Upgrade to Java 11
  .dockerignore
  Dockerfile
  build.gradle
  docker-compose.yml
  infrastructure/main.tf
  kubernetes/deployment.template.yaml
  lib/applicationinsights-agent-2.3.0.jar
  lib/applicationinsights-agent-2.4.0-BETA-SNAPSHOT.jar
  service/build.gradle
  web.config
Labels: ns:fpl-case-service-pr-279

#295 Make CCD definition import script more verbose
  kubernetes/configurer/utils/ccd-import-definition.sh
Labels: ns:fpl-case-service-pr-295

#296 Add gatekeeper role with ability to see submitted cases
  Jenkinsfile_CNP
  bin/add-users-and-roles.sh
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType.json
  ccd-definition/UserProfile.json
  e2e/config.js
  e2e/paths/accessSegregation_test.js
  e2e/paths/smoke_test.js
  kubernetes/configurer/add-users-and-roles.sh
  kubernetes/configurer/utils/idam-add-role.sh
  kubernetes/deployment.template.yaml
Labels: ns:fpl-case-service-pr-296

#298 Make gatekeeper username configurable in E2E tests
  Jenkinsfile_CNP
  e2e/config.js
Labels: ns:fpl-case-service-pr-298
