Repository hmcts/fpl-ccd-configuration, pull requests merged in 2019-12, with the labels that each got.

#665 fix: Enable hearing details for admins in gatekeeping state
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:fpl-case-service-pr-665

#666 fix: add missing LAs to the dropdown list
  ccd-definition/FixedLists/AuthorityFixedList.json
Labels: ns:fpl-case-service-pr-666

#669 fix: adapted the court names
  ccd-definition/FixedLists/HearingVenue.json
  service/src/main/resources/static_data/hearingVenues.json
Labels: ns:fpl-case-service-pr-669

#671 refactor: updates to otherPartiesDirectionAssignee fixed list
  ccd-definition/FixedLists/OtherPartiesDirectionAssignee.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OtherPartiesDirectionAssignee.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
Labels: ns:fpl-case-service-pr-671

#674 FPLA-903: Create LASOLICITOR case role
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/solicitor.json
Labels: ns:fpl-case-service-pr-674

#672 fix: capitalisation typo in C6 event
  ccd-definition/ComplexTypes/NoticeOfProceedings.json
Labels: ns:fpl-case-service-pr-672

#659 feat: Add Swindon family court email address for notification for new applications (FPLA-1019)
  bin/configurer/add-users.sh
  bin/configurer/utils/generate-local-user-mappings.sh
  ccd-definition/UserProfile.json
  service/src/main/resources/application.yaml
Labels: ns:fpl-case-service-pr-659

#679 fix: stabilised judge selection after advancing to next page in C21 e2e tests
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
Labels: ns:fpl-case-service-pr-679

#680 Revert "FPLA-903: Create LASOLICITOR case role"
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/solicitor.json
Labels: ns:fpl-case-service-pr-680

#678 fix: hardcoded parentsAndRespondentsDirections value in sdo
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
Labels: ns:fpl-case-service-pr-678

#661 feat: docomsis document generation for CMO (FPLA-648)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/reviewCaseManagementOrder.json
  ccd-definition/CaseEventToFields/draftCMO.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/CaseManagementOrder/_ReviewCaseManagementOrder.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  e2e/pages/events/draftCaseManagementOrderEvent.page.js
  e2e/tests/caseManagementOrder_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Party.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/dynamic/DynamicList.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisDocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/common/PartyTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/common/dynamic/DynamicListTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGenerationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
Labels: ns:fpl-case-service-pr-661

#684 Make case submission restriction configurable
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/RestrictionsConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/resources/application.yaml
Labels: ns:fpl-case-service-pr-684

#681 hack: remove postcode lookup from e2e tests temporarily
  e2e/pages/events/addStatementOfServiceEvent.page.js
  e2e/pages/events/enterApplicantEvent.page.js
  e2e/pages/events/enterChildrenEvent.page.js
  e2e/pages/events/enterOthersEvent.page.js
  e2e/pages/events/enterRespondentsEvent.page.js
Labels: ns:fpl-case-service-pr-681

#687 refactor: refactor of C21 in preparation for extending 'Create an order' event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEvent/Submitted.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-submitted.json
  ccd-definition/CaseEventToFields/createOrder.json
  ccd-definition/CaseEventToFields/createOrderGatekeeping.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/GeneratedOrder.json
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/orders.js
  e2e/pages/events/createOrderEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/GeneratedOrderEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GeneratedOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/C21CaseOrderGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/NotifyGatekeeperGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/ValidateFamilyManCaseNumberGroup.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ValidateGroupServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/GeneratedOrderEmailContentProviderTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:fpl-case-service-pr-687

#646 feat: share CMO draft for each hearing (FPLA-648)
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/reviewCaseManagementOrder.json
  ccd-definition/CaseEventToFields/draftCMO.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CaseManagementOrder/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CaseManagementOrder/_Recitals.json
  ccd-definition/ComplexTypes/CaseManagementOrder/_Schedule.json
  ccd-definition/FixedLists/CMOStatus.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  e2e/pages/events/draftCaseManagementOrderEvent.page.js
  e2e/tests/caseManagementOrder_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CMOStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Party.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Recital.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Schedule.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/dynamic/DynamicList.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisDocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/common/PartyTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/common/dynamic/DynamicListTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGenerationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
Labels: ns:fpl-case-service-pr-646

#694 test: use json assert in serialisation test
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/DirectionResponseTest.java
Labels: ns:fpl-case-service-pr-694

#695 feat: toggle on Comply with directions on PROD
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:fpl-case-service-pr-695

#691 feat: automatically share a case with org (FPLA-673)
  .gitignore
  README.md
  bin/configurer/add-roles.sh
  bin/configurer/add-users.sh
  bin/configurer/users.json
  bin/configurer/utils/generate-local-user-mappings.sh
  charts/fpl-case-service/values.preview.template.yaml
  docker/wiremock/__files/swanseaOrg.json
  docker/wiremock/__files/userTemplate.json
  docker/wiremock/mappings/organisations.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/Application.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/FeignConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/UserOrganisationLookupException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/java/uk/gov/hmcts/reform/rd/client/OrganisationApi.java
  service/src/main/java/uk/gov/hmcts/reform/rd/model/Status.java
  service/src/main/java/uk/gov/hmcts/reform/rd/model/User.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
Labels: ns:fpl-case-service-pr-691

#655 feat: Action CMO event for Judges and Admin (FPLA-24)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/allPartiesCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/cmoToAction.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/courtDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/localAuthorityDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/orderAction.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/parentsAndRespondentsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/reviewCaseManagementOrder.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/reviewCaseManagementOrder.json
  ccd-definition/CaseEventToFields/actionCMO.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/CaseManagementOrder/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CaseManagementOrder/_OrderAction.json
  ccd-definition/FixedLists/CMOActionType.json
  ccd-definition/FixedLists/CMONextHearingType.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/events/actionCaseManagementOrderEvent.page.js
  e2e/pages/events/draftCaseManagementOrderEvent.page.js
  e2e/tests/caseManagementOrder_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ActionType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/NextHearingType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrderStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OrderAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocumentReference.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/common/DocumentReferenceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGenerationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/config/LookupTestConfig.java
Labels: ns:fpl-case-service-pr-655

#698 fix: adapt to real PRD model for findUsersByOrg
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/java/uk/gov/hmcts/reform/rd/client/OrganisationApi.java
  service/src/main/java/uk/gov/hmcts/reform/rd/model/Users.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
Labels: ns:fpl-case-service-pr-698

#675 feat: judge selects next hearing (FPLA-929)
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToFields/actionCMO.json
  ccd-definition/CaseEventToFields/draftCMO.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/CaseManagementOrder/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CaseManagementOrder/_NextHearing.json
  e2e/helpers/case_management_order_helper.js
  e2e/pages/events/actionCaseManagementOrderEvent.page.js
  e2e/tests/caseManagementOrder_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingDateDynamicElement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/NextHearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingServiceTest.java
Labels: ns:fpl-case-service-pr-675

#701 FPLA-1070 redeploy LASOLICITOR
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEvent/Submitted.json
  ccd-definition/CaseEventToFields/addStatementOfService-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/addStatementOfServiceGatekeeping.json
  ccd-definition/CaseEventToFields/limitedUploadDocuments-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/limitedUploadDocuments.json
  ccd-definition/CaseEventToFields/limitedUploadDocumentsGatekeeping.json
Labels: ns:fpl-case-service-pr-701

#706 fix: adopt users in organisation mocked response to match endpoint model
  bin/configurer/utils/generate-local-user-mappings.sh
Labels: ns:fpl-case-service-pr-706

#676 feat: create [SOLICITOR] role (FPLA-907)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseRoles.json
Labels: Do not merge, ns:fpl-case-service-pr-676

#697 feat: added functionality for list of approved cmo (FPLA-961)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  e2e/helpers/case_management_order_helper.js
  e2e/tests/caseManagementOrder_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseManagementOrderErrorMessages.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
Labels: ns:fpl-case-service-pr-697

#703 feat: comply with cmo directions using existing comply event (FPLA-866)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperServiceTest.java
Labels: Do not merge, ns:fpl-case-service-pr-703

#711 refactor: split CaseTypeTab.json into separate files
  ccd-definition/CaseTypeTab.json
  ccd-definition/CaseTypeTab/1_CaseHistory.json
  ccd-definition/CaseTypeTab/2_Hearings.json
  ccd-definition/CaseTypeTab/3_DraftOrders.json
  ccd-definition/CaseTypeTab/4_Orders.json
  ccd-definition/CaseTypeTab/5_CasePeople.json
  ccd-definition/CaseTypeTab/6_LegalBasis.json
  ccd-definition/CaseTypeTab/7_Documents.json
Labels: ns:fpl-case-service-pr-711

#710 feat: comply with cmo directions using existing comply event (FPLA-866)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperServiceTest.java
Labels: ns:fpl-case-service-pr-710

#715 fix: allow only all party directions to be valid in cmo compliance (FPLA-NA)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperServiceTest.java
Labels: ns:fpl-case-service-pr-715

#693 refactor: added nested class for holding methods common event data
  infrastructure/variables.tf
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OtherProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ProceedingType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisDocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentsValidatorService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/HasContactDirectionValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/HasTelephoneOrMobileValidatorTest.java
Labels: ns:fpl-case-service-pr-693

#699 refactor: added enum for case management order keys
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseManagementOrderKeys.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
Labels: ns:fpl-case-service-pr-699

#717 feat: Add helm chart that serves prd mock (FPL-911)
  charts/fpl-case-service/requirements.yaml
  charts/fpl-case-service/subcharts/fpl-prd-mock/Chart.yaml
  charts/fpl-case-service/subcharts/fpl-prd-mock/templates/configMap.yaml
  charts/fpl-case-service/subcharts/fpl-prd-mock/templates/deployment.yaml
  charts/fpl-case-service/subcharts/fpl-prd-mock/templates/service.yaml
  charts/fpl-case-service/subcharts/fpl-prd-mock/values.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
Labels: ns:fpl-case-service-pr-717

#718 Revert "imp: add helm chart that serves prd mock (#717)"
  charts/fpl-case-service/requirements.yaml
  charts/fpl-case-service/subcharts/fpl-prd-mock/Chart.yaml
  charts/fpl-case-service/subcharts/fpl-prd-mock/templates/configMap.yaml
  charts/fpl-case-service/subcharts/fpl-prd-mock/templates/deployment.yaml
  charts/fpl-case-service/subcharts/fpl-prd-mock/templates/service.yaml
  charts/fpl-case-service/subcharts/fpl-prd-mock/values.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
Labels: ns:fpl-case-service-pr-718

#716 refactor: java code handles one case management order object (FPLA-NA)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CMOStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
Labels: ns:fpl-case-service-pr-716

#709 feat: move next hearing date field to after CMO approval (FPLA-1107)
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/CaseEventToFields/actionCMO.json
  ccd-definition/CaseEventToFields/draftCMO.json
  ccd-definition/CaseField.json
  e2e/tests/caseManagementOrder_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionServiceTest.java
Labels: ns:fpl-case-service-pr-709

#721 imp: Use professional reference data mock on preview enviroment
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:fpl-case-service-pr-721

#723 docs: add court seal to C110a (FPLA-896)
  service/src/main/resources/HTMLTemplate.html
Labels: ns:fpl-case-service-pr-723

#720 feat: made direction titles mandatory (FPLA-1109)
  ccd-definition/CaseEventToComplexTypes/draft-CMO/allPartiesCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/courtDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/localAuthorityDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/parentsAndRespondentsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/allPartiesCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/courtDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/localAuthorityDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/respondentDirectionsCustom.json
  ccd-definition/ComplexTypes/2_direction.json
Labels: ns:fpl-case-service-pr-720

#726 fix: remove judge review cmo state (FPLA-NA)
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseField.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CMOStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Event.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionServiceTest.java
Labels: ns:fpl-case-service-pr-726

#708 feat: add representatives to case (FPLA-911)
  .gitignore
  bin/configurer/utils/generate-local-user-mappings.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEvent/Submitted.json
  ccd-definition/CaseEventToFields/manageRepresentatives-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/manageRepresentatives.json
  ccd-definition/CaseEventToFields/manageRepresentativesGatekeeping.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/5_CasePeople.json
  ccd-definition/ComplexTypes/2_Others.json
  ccd-definition/ComplexTypes/Representative.json
  ccd-definition/ComplexTypes/RespondentNew.json
  ccd-definition/FixedLists/RepresentativeRole.json
  ccd-definition/FixedLists/RepresentativeServingPreferences.json
  codecept.conf.js
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  docker/wiremock/templates/userByEmail.json
  docker/wiremock/templates/userTemplate.json
  e2e/config.js
  e2e/fixtures/representatives.js
  e2e/pages/events/enterRepresentativesEvent.page.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeAboutToSubmitEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/RepresentativeRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/RepresentativeServingPreferences.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Section.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Representative.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/interfaces/Representable.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RepresentativeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/ElementUtils.java
  service/src/main/java/uk/gov/hmcts/reform/rd/client/OrganisationApi.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RepresentativesServiceTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:fpl-case-service-pr-708

#736 impr: minimal change required to include court codes in configs. (FPLA-720)
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/HmctsCourtLookupConfiguration.java
Labels: ns:fpl-case-service-pr-736

#712 feat: Implementation of case link notification for LA and Representatives once Judge issues and serves a CMO (FPLA-1003)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/FeignConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderIssuedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocmosisDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentDownloadService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RepresentativeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GeneratedOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentDownloadServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
Labels: ns:fpl-case-service-pr-712

#743 fix: week year date format YYYY used in test
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
Labels: ns:fpl-case-service-pr-743
