Repository hmcts/fpl-ccd-configuration, pull requests merged in 2019-10, with the labels that each got.

#507 Updating README
  README.md
Labels: ns:fpl-case-service-pr-507

#508 Upgrade Gradle with plugins + service dependencies
  build.gradle
  config/checkstyle/checkstyle.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  service/build.gradle
Labels: ns:fpl-case-service-pr-508

#505 Publish E2E metrics to Azure database
  Jenkinsfile_CNP
  codecept.conf.js
  e2e/hooks/aggregate-metrics.js
  e2e/reporters/json-file-reporter/report-aggregator.js
  e2e/reporters/json-file-reporter/report-aggregator.test.js
  e2e/reporters/json-file-reporter/reporter.js
  e2e/reporters/json-file-reporter/utils.js
  package.json
  yarn.lock
Labels: ns:fpl-case-service-pr-505

#515 Remove PMD from the project
  config/pmd/ruleset.xml
  service/build.gradle
Labels: ns:fpl-case-service-pr-515

#517 Disable dependency check for main module and disable test configurations
  build.gradle
  service/build.gradle
Labels: ns:fpl-case-service-pr-517

#523 Import CCD definitions in DEMO env via pipeline
  Jenkinsfile_CNP
  bin/variables/load-demo-environment-variables.sh
Labels: ns:fpl-case-service-pr-523

#513 fix: new upload sdo docs in gatekeeping event
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/uploadStandardDirectionsAfterGatekeeping.json
Labels: ns:fpl-case-service-pr-513

#511 Updated create caseworker script to update if a users roles change
  bin/configurer/utils/idam-create-caseworker.sh
Labels: ns:fpl-case-service-pr-511

#522 Updated docker-compose network and docmosis-tornado image/volume/port
  docker-compose.yml
Labels: ns:fpl-case-service-pr-522

#497 FPLA-644-AddingGatekeeperPermissionsToJudgeRole
  bin/configurer/add-users.sh
  ccd-definition/AuthorisationCaseField/judiciary.json
Labels: ns:fpl-case-service-pr-497

#532 Fixed docmosis URL and docker-compose notify api key
  docker-compose.yml
  service/src/main/resources/application.yaml
Labels: ns:fpl-case-service-pr-532

#541 FPLA-565 Updated content on respondents page to be consistent
  ccd-definition/ComplexTypes/2_RespondentParty.json
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:fpl-case-service-pr-541

#548 Create CodeceptJS tag that can be used to create test case with mandatory sections only
  README.md
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:fpl-case-service-pr-548

#520 FPLA-600: Upload-C2-To-The-Case
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToComplexTypes/uploadC2-C2DocumentBundle.json
  ccd-definition/CaseEventToFields/uploadC2.json
  ccd-definition/CaseEventToFields/uploadC2Gatekeeping.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/C2DocumentBundle.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/events/uploadC2DocumentsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: Do not merge, ns:fpl-case-service-pr-520

#525 FPLA-753: Iterate-C6-And-C6A-Template-And-Content (+ FPLA-770: update-court-name-format)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/CaseEventToComplexTypes/noticeOfProceedings-JudgeAndLegalAdvsor.json
  ccd-definition/CaseEventToFields/createNoticeOfProceedings.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/JudgeAndLegalAdvisor.json
  ccd-definition/FixedLists.json
  docker/docmosis/templates/FL-PLW-HNO-ENG-00092.docx
  docker/docmosis/templates/FL-PLW-HNO-ENG-00093.docx
  e2e/pages/events/createNoticeOfProceedingsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/HmctsCourtLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/JudgeOrMagistrateTitle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/JudgeAndLegalAdvisor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingServiceTest.java
Labels: ns:fpl-case-service-pr-525

#549 feat: added watermark, judge, legal advisor and final flag for sdo (FPLA-69)
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/CaseEventToComplexTypes/draftSDO-standardDirectionOrder.json
  ccd-definition/CaseEventToFields/draftSDO.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/StandardDirectionOrder.json
  ccd-definition/FixedLists.json
  docker/docmosis/templates/FL-PLW-STD-ENG-00099.doc
  docker/docmosis/templates/FL-PLW-STD-ENG-00099.docx
  e2e/fragments/judgeAndLegalAdvisor.js
  e2e/pages/events/createNoticeOfProceedingsEvent.page.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/JudgeOrMagistrateTitle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrderStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/AllocationDecision.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocumentReference.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/JudgeAndLegalAdvisor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/resources/assets/images/draft-watermark.png
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/resources/assets/images/draft-watermark.png
Labels: ns:fpl-case-service-pr-549

#543 FPLA-803: Amend-Behaviour-Of-C6-C6A-Tick-Boxes
  ccd-definition/AuthorisationCaseEvent.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToSubmitTest.java
  service/src/integrationTest/resources/fixtures/C6CaseData.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:fpl-case-service-pr-543

#550 clean: using DOCMOSIS_KEY as env variable
  README.md
  docker-compose.yml
Labels: ns:fpl-case-service-pr-550

#563 Increase liveness delay to prevent flakey pod startup
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:fpl-case-service-pr-563

#562 Fix-Updated-SDO-Template-Extension
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
Labels: ns:fpl-case-service-pr-562

#540 FPLA 836: Document Upload Adjustment
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/uploadDocuments.json
  ccd-definition/CaseEventToFields/uploadDocumentsAfterGatekeeping.json
  ccd-definition/CaseEventToFields/uploadDocumentsAfterSubmission.json
  e2e/fragments/caseDocuments.js
  e2e/tests/localAuthorityMaintainsCaseAfterGatekeeping_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:fpl-case-service-pr-540

#561 refactor: split FixedLists.json into multiple files
  ccd-definition/FixedLists/AllocationProposalList.json
  ccd-definition/FixedLists/AuthorityFixedList.json
  ccd-definition/FixedLists/ChildGenderList.json
  ccd-definition/FixedLists/Consent.json
  ccd-definition/FixedLists/DeletionConsent.json
  ccd-definition/FixedLists/EPOReasons.json
  ccd-definition/FixedLists/EmergencyProtectionOrderDirectionType.json
  ccd-definition/FixedLists/EmergencyProtectionOrderType.json
  ccd-definition/FixedLists/FathersResponsibilityList.json
  ccd-definition/FixedLists/GenderList.json
  ccd-definition/FixedLists/GroundList.json
  ccd-definition/FixedLists/HearingNeedsBooked.json
  ccd-definition/FixedLists/HearingType.json
  ccd-definition/FixedLists/HearingTypeFixedList.json
  ccd-definition/FixedLists/LitigationCapacityIssues.json
  ccd-definition/FixedLists/LivingSituationList.json
  ccd-definition/FixedLists/OrderType.json
  ccd-definition/FixedLists/PartyType.json
  ccd-definition/FixedLists/PastOrFutureHarmSelect.json
  ccd-definition/FixedLists/ProceedingStatus.json
  ccd-definition/FixedLists/ProceedingType.json
  ccd-definition/FixedLists/RelevantProceedings.json
  ccd-definition/FixedLists/SentBy.json
  ccd-definition/FixedLists/ShowHide.json
  ccd-definition/FixedLists/TimeFrameList.json
  ccd-definition/FixedLists/attachedToFollowOption.json
  ccd-definition/FixedLists/swetDocumentOptions.json
Labels: ns:fpl-case-service-pr-561

#564 clean: FPLA-765 add missing values to fixed list directory and remove FixedList.json file
  ccd-definition/FixedLists.json
  ccd-definition/FixedLists/DirectionAssignees.json
  ccd-definition/FixedLists/JudgeOrMagistrateTitle.json
  ccd-definition/FixedLists/OrderStatus.json
Labels: ns:fpl-case-service-pr-564

#566 Bump java charts version to use 250m and configure 250m for ccd pods
  charts/fpl-case-service/requirements.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:fpl-case-service-pr-566

#567 fix: create missing directory to fix the pipeline build
  bin/build-release-ccd-definition.sh
Labels: ns:fpl-case-service-pr-567

#557 FPLA-872: Make-Respondent1-Firstname-And-Surname-Mandatory
  e2e/steps_file.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Section.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseValidatorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseValidatorServiceTest.java
Labels: ns:fpl-case-service-pr-557

#569 fix: added mid event to children and respondent events
  ccd-definition/CaseEventToFields/amendChildren.json
  ccd-definition/CaseEventToFields/amendChildrenGatekeeping.json
  ccd-definition/CaseEventToFields/amendRespondents.json
  ccd-definition/CaseEventToFields/amendRespondentsGatekeeping.json
  ccd-definition/CaseEventToFields/enterChildren.json
Labels: ns:fpl-case-service-pr-569

#570 Revert "fix: added mid event to children and respondent events"
  ccd-definition/CaseEventToFields/amendChildren.json
  ccd-definition/CaseEventToFields/amendChildrenGatekeeping.json
  ccd-definition/CaseEventToFields/amendRespondents.json
  ccd-definition/CaseEventToFields/amendRespondentsGatekeeping.json
  ccd-definition/CaseEventToFields/enterChildren.json
Labels: ns:fpl-case-service-pr-570

#552 FPLA-798: Introduce 'SDO ready to send' state
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseState.json
  ccd-definition/CaseEvent/CaseEvent.json
  ccd-definition/CaseEvent/SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToComplexTypes/noticeOfProceedings-JudgeAndLegalAdvisor-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToComplexTypes/noticeOfProceedings-JudgeAndLegalAdvisor.json
  ccd-definition/CaseEventToComplexTypes/uploadC2-C2DocumentBundle-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/addHearingBookingDetails-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/amendAttendingHearing-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/amendChildren-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/amendInternationElement-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/amendOtherProceedings-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/amendOthers-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/amendRespondents-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/createNoticeOfProceedings-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/uploadC2-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/uploadOtherCourtAdminDocuments-SDO_READY_TO_SEND.json
  ccd-definition/State.json
  e2e/pages/caseView.page.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
Labels: ns:fpl-case-service-pr-552

#560 Add dependabot config
  .dependabot/config.yml
Labels: ns:fpl-case-service-pr-560

#571 Add SQL script that projects event permissions from last uploaded CCD definitions
  bin/utils/project-event-permissions.sh
Labels: ns:fpl-case-service-pr-571
