Repository hmcts/fpl-ccd-configuration, pull requests merged in 2019-06, with the labels that each got.

#297 Make E2E tests more stable in AAT environment
  e2e/pages/caseView/caseView.js
  e2e/paths/caseSubmitted_test.js
  e2e/paths/uploadStandardDirections_test.js
Labels: ns:fpl-case-service-pr-297

#302 added gatekeeper email to nightly pipeline
  Jenkinsfile_CNP
  ccd-definition/UserProfile.json
  e2e/config.js
  kubernetes/configurer/add-users-and-roles.sh
Labels: ns:fpl-case-service-pr-302

#303 FPLA-120: Add-PBA-Number
  ccd-definition/CaseEventToFields.json
  ccd-definition/ComplexTypes.json
  e2e/fixtures/applicant.js
  e2e/pages/enterApplicant/enterApplicant.js
  e2e/paths/enterApplicant_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Applicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/PBANumberHelper.java
  service/src/main/resources/HTMLTemplate.html
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/PBANumberHelperTest.java
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/submitted-form-pdf-content.txt
Labels: ns:fpl-case-service-pr-303

#300 FPLA-307: UX-Update-Correct-Questions-For-Attending-Hearing
  ccd-definition/ComplexTypes.json
  e2e/pages/attendingHearing/attendingHearing.js
  e2e/paths/attendingHearing_test.js
  service/src/main/resources/HTMLTemplate.html
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/submitted-form-pdf-content.txt
Labels: ns:fpl-case-service-pr-300

#307 Zapapisecurityaddinginjenkins
  Jenkinsfile_nightly
  security.sh
Labels: ns:fpl-case-service-pr-307

#308 FPLA 120 add PBA number
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantController.java
Labels: ns:fpl-case-service-pr-308

#309 FPLA-314: LA-Add-More-Other-Proceedings
  ccd-definition/CaseEventToFields.json
  ccd-definition/ComplexTypes.json
  ccd-definition/FixedLists.json
  e2e/fixtures/otherProceedingData.js
  e2e/pages/enterOtherProceedings/enterOtherProceedings.js
  e2e/paths/enterOtherProceedings_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OtherProceedingsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OtherProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Proceeding.java
  service/src/main/resources/HTMLTemplate.html
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/submitted-form-pdf-content.txt
Labels: ns:fpl-case-service-pr-309

#315 FPLA-314: Minor-Content-Fix-In-Other-Proceedings
  ccd-definition/ComplexTypes.json
  e2e/paths/enterOtherProceedings_test.js
Labels: ns:fpl-case-service-pr-315

#318 Revert ZAP security scans
  Jenkinsfile_nightly
  security.sh
Labels: ns:fpl-case-service-pr-318

#314 FPLA-318 created date changed to submitted date
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseField.json
  ccd-definition/WorkBasketResultFields.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  typings/codeceptjs.d.ts
Labels: ns:fpl-case-service-pr-314

#313 FPLA-116: Add-Documents
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes.json
  ccd-definition/FixedLists.json
  e2e/pages/uploadDocuments/uploadDocuments.js
  e2e/paths/uploadDocuments_test.js
  e2e/paths/uploadStandardDirections_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SocialWorkOtherControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/SocialWorkOtherSubmissionController.java
  service/src/main/resources/HTMLTemplate.html
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/submitted-form-pdf-content.txt
Labels: ns:fpl-case-service-pr-313

#321 FPLA-116: Added-Additional-Read-Privileges-For-Recently-Added-Documents
  ccd-definition/AuthorisationCaseField.json
Labels: ns:fpl-case-service-pr-321

#323 Update version of CCD definition processor to bring new tabs
  ccd-definition/AuthorisationComplexType.json
  ccd-definition/CaseEventToComplexTypes.json
  kubernetes/configurer/utils/fpl-process-definition.sh
Labels: ns:fpl-case-service-pr-323

#331 Remove explicit tomcat dependencies
  service/build.gradle
Labels: ns:fpl-case-service-pr-331

#332 Publish CCD definitions after deployment and add support for definitions generation for SAAT
  Jenkinsfile_CNP
  bin/build-release-ccd-definition.sh
Labels: ns:fpl-case-service-pr-332

#334 Change postcode lookup locators used in E2E tests to accommodate CCD change
  e2e/fragments/addressPostcodeLookup.js
Labels: ns:fpl-case-service-pr-334

#336 Retrieve smoke test LA user details from vault for the purpose of E2E tests
  Jenkinsfile_CNP
  e2e/config.js
  e2e/paths/smoke_test.js
Labels: ns:fpl-case-service-pr-336

#337 Fix automated push of master branch to demo branch on master
  Jenkinsfile_CNP
Labels: ns:fpl-case-service-pr-337

#338 Add FPLA team to fixed list of local authorities
  ccd-definition/FixedLists.json
Labels: ns:fpl-case-service-pr-338

#324 FPLA-121: Extend search cases functionality
  ccd-definition/AuthorisationCaseField.json
  ccd-definition/CaseField.json
  ccd-definition/SearchInputFields.json
  ccd-definition/SearchResultFields.json
  ccd-definition/WorkBasketInputFields.json
  ccd-definition/WorkBasketResultFields.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
Labels: ns:fpl-case-service-pr-324

#342 Enable E2E functional tests in AAT environment
  Jenkinsfile_CNP
Labels: ns:fpl-case-service-pr-342

#339 Add FPL OAuth client to local and preview environments
  bin/add-oauth-clients.sh
  kubernetes/configurer/add-oauth-clients.sh
  kubernetes/configurer/configure-ccd.sh
  kubernetes/configurer/utils/idam-create-oauth-client.sh
Labels: ns:fpl-case-service-pr-339

#347 Use new slack channel for notifications
  Jenkinsfile_CNP
Labels: ns:fpl-case-service-pr-347

#351 Update user mapping after IDAM upgrade
  docker-compose.yml
  kubernetes/deployment.template.yaml
Labels: ns:fpl-case-service-pr-351
