Repository hmcts/fpl-ccd-configuration, pull requests merged in 2019-11, with the labels that each got.

#558 refactor: judge and legal advisor object in notice of proceedings complex type
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/CaseEventToComplexTypes/noticeOfProceedings-JudgeAndLegalAdvisor-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToComplexTypes/noticeOfProceedings-JudgeAndLegalAdvisor.json
  ccd-definition/CaseEventToComplexTypes/noticeOfProceedings-NoticeOfProceedings-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToComplexTypes/noticeOfProceedings-NoticeOfProceedings.json
  ccd-definition/CaseEventToFields/createNoticeOfProceedings-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/createNoticeOfProceedings.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/1_JudgeAndLegalAdvisor.json
  ccd-definition/ComplexTypes/NoticeOfProceedings.json
  e2e/fragments/judgeAndLegalAdvisor.js
  e2e/pages/events/createNoticeOfProceedingsEvent.page.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/NoticeOfProceedings.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: blocks c6, ns:fpl-case-service-pr-558

#580 FPLA-880: SDO ready to send state name change
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseState.json
  ccd-definition/CaseEvent/CaseEvent.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/noticeOfProceedings-NoticeOfProceedings-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToComplexTypes/uploadC2-C2DocumentBundle-SDO_READY_TO_SEND.json
  ccd-definition/CaseEventToFields/addHearingBookingDetails-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendAttendingHearing-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendChildren-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendInternationElement-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendOtherProceedings-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendOthers-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendRespondents-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/createNoticeOfProceedings-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/uploadC2-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/uploadOtherCourtAdminDocuments-PREPARE_FOR_HEARING.json
  ccd-definition/State.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
Labels: ns:fpl-case-service-pr-580

#588 Add apiVersion v1 to helm chart
  charts/fpl-case-service/Chart.yaml
Labels: ns:fpl-case-service-pr-588

#589 FPLA 885 update definition processor
  bin/configurer/utils/fpl-process-definition.sh
  ccd-definition/CaseEventToComplexTypes/draft-SDO/allParties.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/allPartiesCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/cafcassDirections.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/courtDirections.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/courtDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/localAuthorityDirections.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/localAuthorityDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/otherPartiesDirections.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/parentsAndRespondentsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/parentsAndRespondentsDirections.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/standardDirectionOrder.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedings-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedings.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
Labels: ns:fpl-case-service-pr-589

#546 FPLA-416 notify for sdo
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.preview.template.yaml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/LocalAuthorityEmailLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/StandardDirectionsOrderIssuedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderSDOIssued.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/LocalAuthorityEmailContentProvider.java
  service/src/main/resources/application.yaml
  service/src/main/resources/bootstrap.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/LocalAuthorityEmailLookupConfigurationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CafcassEmailContentProviderSDOIssuedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityEmailContentProviderTest.java
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: Do not merge, ns:fpl-case-service-pr-546

#599 Exclude android json library from classpath
  service/build.gradle
Labels: ns:fpl-case-service-pr-599

#572 refactor: removed all parties from c6 and c6a templates (FPLA-881)
  docker/docmosis/templates/FL-PLW-HNO-ENG-00092.docx
  docker/docmosis/templates/FL-PLW-HNO-ENG-00093.docx
Labels: ns:fpl-case-service-pr-572

#579 FPLA-782 Add Hearing Address Into SDO & C6
  ccd-definition/FixedLists/HearingVenue.json
  e2e/fixtures/hearingTypeDetails.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingVenue.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingVenueLookUpService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsService.java
  service/src/main/resources/static_data/hearingVenues.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/resources/static_data/hearingVenues.json
Labels: ns:fpl-case-service-pr-579

#600 FPLA 893: Solicitor email and name mandatory in application
  e2e/steps_file.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Section.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Solicitor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseValidatorService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseValidatorServiceTest.java
Labels: ns:fpl-case-service-pr-600

#605 fix: remove overridden Jackson lib
  service/build.gradle
Labels: ns:fpl-case-service-pr-605

#592 FPLA-852: Application-Validation-When-Document-Attached
  ccd-definition/CaseEventToFields/uploadDocuments.json
  e2e/fragments/caseDocuments.js
  e2e/pages/events/uploadDocumentsEvent.page.js
  e2e/steps_file.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SocialWorkOtherControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/SocialWorkOtherSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocumentStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/MandatoryDocuments.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/interfaces/EPOGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/interfaces/UploadDocumentsGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/GroundsForEPO.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Document.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentsValidatorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DocumentsHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validators/HasAttachedDocumentValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validators/HasDocumentsIncludedInSwetValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validators/interfaces/EPOGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validators/interfaces/HasAttachedDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validators/interfaces/HasDocumentsIncludedInSwet.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validators/models/ValidationDocumentMap.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseValidatorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentsValidatorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validators/HasAttachedDocumentValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validators/HasDocumentsIncludedInSwetValidatorTest.java
  typings/codeceptjs.d.ts
Labels: ns:fpl-case-service-pr-592

#582 feat: comply with all parties directions (FPLA-806)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_CAFCASS-cafcassDirections.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_COURT-courtDirections.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_LOCAL_AUTHORITY-localAuthorityDirections.json
  ccd-definition/CaseEventToFields/COMPLY_CAFCASS.json
  ccd-definition/CaseEventToFields/COMPLY_COURT.json
  ccd-definition/CaseEventToFields/COMPLY_LOCAL_AUTHORITY.json
  ccd-definition/ComplexTypes/1_directionResponse.json
  ccd-definition/ComplexTypes/2_direction.json
  ccd-definition/FixedLists/C2Uploaded.json
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/response.js
  e2e/pages/events/complyWithDirectionsEvent.page.js
  e2e/tests/localAuthorityCompliesWithDirectionsAfterSDOIsIssued_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Direction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/DirectionResponse.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperServiceTest.java
Labels: ns:fpl-case-service-pr-582

#590 impr: Add possibility of stubbing the organisations query
  README.md
  docker-compose.yml
  docker/wiremock/__files/swanseaOrg.json
  docker/wiremock/mappings/organisations.json
Labels: ns:fpl-case-service-pr-590

#606 Verify access tokens on callback endpoints
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.preview.template.yaml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  service/build.gradle
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/SecurityConfiguration.java
  service/src/main/resources/application.yaml
Labels: ns:fpl-case-service-pr-606

#611 chore: update ccd version
  charts/fpl-case-service/requirements.yaml
Labels: ns:fpl-case-service-pr-611

#581 feat: Draft case management order associate hearing date (FPLA-3)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent/CaseEvent.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/caseManagementOrder.json
  ccd-definition/CaseEventToFields/draftCMO.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/CaseManagementOrder.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/events/draftCaseManagementOrderEvent.page.js
  e2e/tests/localAuthorityMaintainsCaseAfterSDO_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingDateDynamicElement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/dynamic/DynamicElementIndicator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/dynamic/DynamicList.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/dynamic/DynamicListElement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
Labels: ns:fpl-case-service-pr-581

#609 FPLA-937 Mandatory c2 upload
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToFields/uploadC2.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
Labels: ns:fpl-case-service-pr-609

#620 Use OIDC user info endpoint to retrieve user details
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UserDetailsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityServiceTest.java
Labels: ns:fpl-case-service-pr-620

#627 refactor: split CaseEvent.json based on event state
  ccd-definition/CaseEvent/CaseEvent.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEvent/Open.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEvent/StateChange.json
  ccd-definition/CaseEvent/Submitted.json
Labels: ns:fpl-case-service-pr-627

#617 feat: draft cmo schedule online (FPLA-878)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToFields/draftCMO.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/Schedule.json
  e2e/fixtures/schedule.js
  e2e/pages/events/draftCaseManagementOrderEvent.page.js
  e2e/tests/localAuthorityMaintainsCaseAfterSDO_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Schedule.java
Labels: Do not merge, ns:fpl-case-service-pr-617

#629 fix: typo in SDO 'direction needed' question (FPLA-979)
  ccd-definition/ComplexTypes/2_direction.json
Labels: ns:fpl-case-service-pr-629

#618 impr: update notification for c21 (FPLA-936)
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.preview.template.yaml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/C21OrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/GatewayConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/C21OrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/C21OrderEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CreateC21OrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C21OrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CreateC21OrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/C21OrderEmailContentProviderTest.java
Labels: ns:fpl-case-service-pr-618

#593 feat: Notify parties of Order made on C21 (FPLA-603)
  ccd-definition/CaseEvent/CaseEvent.json
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.preview.template.yaml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/C21OrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/GatewayConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/C21OrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/C21OrderEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CreateC21OrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C21OrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CreateC21OrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/C21OrderEmailContentProviderTest.java
Labels: ns:fpl-case-service-pr-593

#591 FPLA:877 Draft CMO recital
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToFields/draftCMO.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/Recitals.json
  e2e/pages/events/draftCaseManagementOrderEvent.page.js
  e2e/tests/localAuthorityMaintainsCaseAfterSDO_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Recital.java
Labels: ns:fpl-case-service-pr-591

#616 feat: parties can comply with own directions (FPLA-33)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperServiceTest.java
Labels: ns:fpl-case-service-pr-616

#634 refactor: custom directions match a standard pattern
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/respondentDirections.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/respondentDirectionsCustom.json
  ccd-definition/CaseEventToFields/draftSDO.json
  ccd-definition/CaseEventToFields/populateSDO.json
  ccd-definition/CaseField.json
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DirectionAssignee.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperServiceTest.java
Labels: ns:fpl-case-service-pr-634

#640 feat: add case number validation to 'send to gatekeeper'
  ccd-definition/CaseEvent/Submitted.json
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/gatekeeperMakesAllocationDecision_test.js
  e2e/tests/localAuthorityCompliesWithDirectionsAfterSDOIsIssued_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterGatekeeping_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSDO_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/NotifyGatekeeperGroup.java
Labels: ns:fpl-case-service-pr-640

#628 refactor: make use of DirectionAssignee enum values across CMO and SDO
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperServiceTest.java
Labels: ns:fpl-case-service-pr-628

#638 feat: enable C6 in gatekeeping state (FPLA-948)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedingsGatekeeping.json
  ccd-definition/CaseEventToFields/createNoticeOfProceedingsGatekeeping.json
Labels: ns:fpl-case-service-pr-638

#632 FPLA-974: Assign LA SOLICITOR case role upon creation
  ccd-definition/CaseRoles.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/InitiatedCaseEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseAccessHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserServiceTest.java
Labels: ns:fpl-case-service-pr-632

#621 feat: draft cmo orders online for all parties (FPLA-657)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/allPartiesCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/courtDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/localAuthorityDirectionsCustom.json
  ccd-definition/CaseEventToFields/draftCMO.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/CaseManagementOrder.json
  e2e/fixtures/directions.js
  e2e/fragments/draftDirections.js
  e2e/pages/events/draftCaseManagementOrderEvent.page.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/tests/localAuthorityMaintainsCaseAfterSDO_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
Labels: ns:fpl-case-service-pr-621

#633 feat- Send SDO email notification to solicitor without shared inbox (FPLA-892)
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.preview.template.yaml
  infrastructure/main.tf
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/LocalAuthorityEmailLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/InboxLookupService.java
  service/src/main/resources/application.yaml
  service/src/main/resources/bootstrap.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/LocalAuthorityEmailLookupConfigurationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/InboxLookupServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityEmailContentProviderTest.java
Labels: ns:fpl-case-service-pr-633

#644 feat: Added other parties and parents and respondents directions to CMO (FPLA-886)
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/parentsAndRespondentsCustom.json
  ccd-definition/CaseEventToFields/draftCMO.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/2_direction.json
  ccd-definition/FixedLists/OtherPartiesDirectionAssignee.json
  ccd-definition/FixedLists/ParentsAndRespondentsDirectionAssignee.json
  e2e/fragments/directions.js
  e2e/pages/events/draftCaseManagementOrderEvent.page.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/tests/localAuthorityMaintainsCaseAfterSDO_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OtherPartiesDirectionAssignee.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ParentsAndRespondentsDirectionAssignee.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Direction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Others.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
Labels: ns:fpl-case-service-pr-644

#657 fix: give LA read permissions for hearingDetails (FPLA-1010)
  ccd-definition/AuthorisationCaseField/solicitor.json
Labels: ns:fpl-case-service-pr-657

#654 feat: Add three new options for Judge titles (FPLA-1004)
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetails-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetails.json
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetailsGatekeeping.json
  ccd-definition/CaseEventToComplexTypes/create-c21/C21Order-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/create-c21/C21Order-submitted.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedings-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedings.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedingsGatekeeping.json
  ccd-definition/CaseEventToFields/addHearingBookingDetails-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/addHearingBookingDetails.json
  ccd-definition/CaseEventToFields/addHearingBookingDetailsGatekeeping.json
  ccd-definition/ComplexTypes/1_JudgeAndLegalAdvisor.json
  ccd-definition/FixedLists/JudgeOrMagistrateTitle.json
  e2e/fixtures/hearingTypeDetails.js
  e2e/fragments/judgeAndLegalAdvisor.js
  e2e/pages/events/addHearingBookingDetailsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/JudgeOrMagistrateTitle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/JudgeAndLegalAdvisor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelperTest.java
Labels: ns:fpl-case-service-pr-654

#653 feat: make judge input system in hearing details consistent with system (FPLA-931)
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetails-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetails.json
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetailsGatekeeping.json
  ccd-definition/CaseEventToComplexTypes/create-c21/C21Order-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/create-c21/C21Order-submitted.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedings-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedings.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedingsGatekeeping.json
  ccd-definition/CaseEventToFields/addHearingBookingDetails-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/addHearingBookingDetails.json
  ccd-definition/CaseEventToFields/addHearingBookingDetailsGatekeeping.json
  ccd-definition/ComplexTypes/1_JudgeAndLegalAdvisor.json
  ccd-definition/ComplexTypes/HearingBooking.json
  ccd-definition/FixedLists/JudgeOrMagistrateTitle.json
  docker/docmosis/templates/FL-PLW-STD-ENG-00099.doc
  e2e/fixtures/hearingTypeDetails.js
  e2e/fragments/judgeAndLegalAdvisor.js
  e2e/pages/events/addHearingBookingDetailsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/JudgeOrMagistrateTitle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/JudgeAndLegalAdvisor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelperTest.java
Labels: ns:fpl-case-service-pr-653

#647 feat: release SDO, C21, C6, C6A to prod (FPLA-1035)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: Do not merge, ns:fpl-case-service-pr-647
