Repository hmcts/fpl-ccd-configuration, pull requests merged in 2019-09, with the labels that each got.

#435 fix: given judiciary role permissions for caseHistory
  ccd-definition/AuthorisationCaseField/judiciary.json
Labels: ns:fpl-case-service-pr-435

#445 bump: checkstyle 8.2 to 8.24
  config/checkstyle/checkstyle.xml
  service/build.gradle
Labels: ns:fpl-case-service-pr-445

#440 fix: proper URL for idam in docker and correct README.MD
  docker-compose.yml
  service/README.md
Labels: ns:fpl-case-service-pr-440

#446 Read secrets from vault volumes in AKS
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  service/build.gradle
  service/src/main/resources/bootstrap.yaml
Labels: ns:fpl-case-service-pr-446

#447 Upgrade helm dependencies
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
Labels: ns:fpl-case-service-pr-447

#450 Enable deployment to AKS staging
  Jenkinsfile_CNP
  charts/fpl-case-service/values.aat.template.yaml
Labels: ns:fpl-case-service-pr-450

#436 fix: solicitor telephone number num -> text
  ccd-definition/ComplexTypes/Solicitor.json
Labels: Do not merge, ES-index-issue, ns:fpl-case-service-pr-436

#425 FPLA-46: Add hearing booking details to case
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/addHearingBookingDetails.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/HearingBooking.json
  ccd-definition/FixedLists.json
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/hearingTypeDetails.js
  e2e/pages/caseView.page.js
  e2e/pages/events/addHearingBookingDetailsEvent.page.js
  e2e/steps_file.js
  e2e/tests/gatekeeperAdministersCaseAfterSubmission_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingServiceTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:fpl-case-service-pr-425

#452 Disable Helm Chart dependencies by default
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.yaml
Labels: ns:fpl-case-service-pr-452

#437 Reject submission attempt when case belongs to smoke test LA
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
Labels: ns:fpl-case-service-pr-437

#458 FPLA-750:Ammend hearing booking details
  ccd-definition/ComplexTypes/HearingBooking.json
  e2e/fixtures/hearingTypeDetails.js
  e2e/pages/events/addHearingBookingDetailsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterSubmission_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
Labels: ns:fpl-case-service-pr-458

#460 Correct Terraform module sources to match whitelisted ones
  infrastructure/main.tf
Labels: ns:fpl-case-service-pr-460

#457 FPLA-559: Provide statement of service (c9)
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/addStatementOfService.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/Recipients.json
  ccd-definition/FixedLists.json
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/recipients.js
  e2e/pages/events/addStatementOfServiceEvent.page.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StatementOfServiceControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StatementOfServiceController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Recipients.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/StatementOfServiceService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/StatementOfServiceServiceTest.java
Labels: ns:fpl-case-service-pr-457

#467 Reduce default pod resources
  charts/fpl-case-service/values.yaml
Labels: ns:fpl-case-service-pr-467

#470 Disable legacy pipeline
  Jenkinsfile_CNP
Labels: ns:fpl-case-service-pr-470

#451 FPLA-60: Gatekeeper - allowing them to make an allocation decision
  ccd-definition/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/otherAllocationDecision.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/AllocationDecision.json
  ccd-definition/FixedLists.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/events/enterAllocationDecisionEvent.page.js
  e2e/steps_file.js
  e2e/tests/gatekeeperAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AllocationDecisionControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AllocationDecisionController.java
Labels: ns:fpl-case-service-pr-451

#471 (e2e) Add extra wait when 'Add new' button is clicked
  e2e/pages/events/addHearingBookingDetailsEvent.page.js
  e2e/pages/events/addStatementOfServiceEvent.page.js
  e2e/pages/events/enterChildrenEvent.page.js
  e2e/pages/events/enterOtherProceedingsEvent.page.js
  e2e/pages/events/enterOthersEvent.page.js
  e2e/pages/events/enterRespondentsEvent.page.js
  e2e/steps_file.js
  e2e/tests/gatekeeperAdministersCaseAfterSubmission_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:fpl-case-service-pr-471

#478 Using http for SERVICE_AUTH_PROVIDER_API_BASE_URL
  bin/variables/load-preview-environment-variables.sh
Labels: ns:fpl-case-service-pr-478

#479 Suppress jackson dependencies
  config/owasp/suppressions.xml
Labels: ns:fpl-case-service-pr-479

#480 Dump browser logs on test failure
  codecept.conf.js
  e2e/helpers/dump_browser_logs_helper.js
Labels: ns:fpl-case-service-pr-480

#481 Disable CCD activity auditing in preview env
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:fpl-case-service-pr-481

#482 (e2e) Wrap actions that trigger CCD callback with retry until an element is displayed
  e2e/helpers/puppeter_helper.js
  e2e/pages/caseView.page.js
  e2e/pages/eventSummary.page.js
  e2e/steps_file.js
  e2e/tests/accessSegregation_test.js
  e2e/tests/gatekeeperAdministersCaseAfterSubmission_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthorityDeletesApplication_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  typings/codeceptjs.d.ts
Labels: ns:fpl-case-service-pr-482

#485 Wrap sign in logic with 'retryUntilExists' function
  e2e/pages/login.page.js
  e2e/steps_file.js
Labels: ns:fpl-case-service-pr-485

#489 Use latest version of Docker base image
  Dockerfile
Labels: ns:fpl-case-service-pr-489

#492 Upgrade java chart to latest version (2.7.1)
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
Labels: ns:fpl-case-service-pr-492

#491 FPLA-634 copy the docmosis keys to the fpla vault
  infrastructure/docmosis.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:fpl-case-service-pr-491

#494 Bring back multi-reporter
  codecept.conf.js
  package.json
  yarn.lock
Labels: ns:fpl-case-service-pr-494

#466 cleanup ase's after aks migration
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/test_config.tf
  infrastructure/variables.tf
Labels: ns:fpl-case-service-pr-466

#454 Disable retry in E2E tests
  README.md
  e2e/helpers/hooks_helper.js
Labels: ns:fpl-case-service-pr-454

#476 FPLA-748: Updating court bundle numbering
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
Labels: ns:fpl-case-service-pr-476

#498 (e2e) Increase wait for timeout and enable keeping cookies between tests
  codecept.conf.js
Labels: ns:fpl-case-service-pr-498

#453 FPLA-634: C6-And-C6A-Notice-Of-Proceeding-PDF
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent.json
  ccd-definition/CaseEventToFields/createNoticeOfProceedings.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab.json
  ccd-definition/ComplexTypes/NoticeOfProceedingsBundle.json
  ccd-definition/FixedLists.json
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  codecept.conf.js
  docker-compose.yml
  docker/docmosis/prefs.xml
  docker/docmosis/templates/FL-PLW-HNO-ENG-00092.docx
  docker/docmosis/templates/FL-PLW-HNO-ENG-00093.docx
  e2e/config.js
  e2e/pages/events/createNoticeOfProceedingsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToSubmitTest.java
  service/src/integrationTest/resources/fixtures/C6CaseData.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/DocmosisConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/HmctsCourtLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/utils/OrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededAboutToSubmitCallbackController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ProceedingType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/interfaces/NoticeOfProceedingsGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocmosisDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocmosisRequest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/pebble/OrderMappingFilter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DateFormatterService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisDocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ValidateGroupService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/resources/application.yaml
  service/src/main/resources/bootstrap.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/pebble/OrderMappingFilterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ApplicantServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DateFormatterServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisDocumentGeneratorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ValidateGroupServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/DocumentManagementStoreLoader.java
Labels: ns:fpl-case-service-pr-453

#500 FPLA:755 fix access segregation
  .gitignore
  README.md
  bin/configurer/utils/generate-local-user-mappings.sh
  docker-compose.yml
  service/src/main/resources/application.yaml
Labels: ns:fpl-case-service-pr-500
