Repository hmcts/fpl-ccd-configuration, pull requests merged in 2020-08, with the labels that each got.

#1452 feat: check your answers for events (FPLA 1129)
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEvent/CareSupervision/Open.json
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
  ccd-definition/CaseEventToFields/CareSupervision/attendingHearing.json
  ccd-definition/CaseEventToFields/CareSupervision/changeCaseName.json
  ccd-definition/CaseEventToFields/CareSupervision/deleteApplication.json
  ccd-definition/CaseEventToFields/CareSupervision/enterApplicant.json
  ccd-definition/CaseEventToFields/CareSupervision/enterChildren.json
  ccd-definition/CaseEventToFields/CareSupervision/enterGrounds.json
  ccd-definition/CaseEventToFields/CareSupervision/enterInternationalElement.json
  ccd-definition/CaseEventToFields/CareSupervision/enterOthers.json
  ccd-definition/CaseEventToFields/CareSupervision/enterParentingFactors.json
  ccd-definition/CaseEventToFields/CareSupervision/enterRespondents.json
  ccd-definition/CaseEventToFields/CareSupervision/enterRiskHarm.json
  ccd-definition/CaseEventToFields/CareSupervision/hearingNeeded.json
  ccd-definition/CaseEventToFields/CareSupervision/ordersNeeded.json
  ccd-definition/CaseEventToFields/CareSupervision/otherProceedings.json
  ccd-definition/CaseEventToFields/CareSupervision/otherProposal.json
  ccd-definition/CaseEventToFields/CareSupervision/submitApplication.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadDocuments.json
  e2e/steps_file.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: Do not merge, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1452

#1453 feat: event naming changes for open and returned states (FPLA-2028)
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEvent/CareSupervision/Open.json
  ccd-definition/CaseEvent/CareSupervision/Submitted.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  e2e/config.js
  e2e/tests/localAuthorityDeletesApplication_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Event.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListRenderer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionGuard.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/EventChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/HearingUrgencyValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/OrdersSoughtValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/OrganisationDetailsValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListRendererTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/AllocationProposalValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionGuardTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/ChildrenValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/DocumentsValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/EventCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/HearingUrgencyValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/OrdersSoughtValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/OrganisationDetailsValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/RespondentsValidatorTest.java
  service/src/test/resources/task-list/expected-task-list.md
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1453

#1454 impr: default "share a case" to manage org (FPLA-1980)
  e2e/config.js
  e2e/tests/accessSegregation_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1454

#1474 Update zap exception rules for notify-gatekeeper endpoints
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1474

#1473 feat: update c2 notification (FPLA-1815)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/c2uploaded/C2UploadedTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1473

#1472 feat: updated CMO ready for approval notifications (FPLA-2029)
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/NewCMOUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/NewCMOUploadedContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/NewCMOUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/NewCMOUploadedContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1472

#1481 Log case roles granted via manage representative
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1481

#1470 bug: Confidential others loosing data after edit
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OthersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ConfidentialDetailsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/ConfidentialDetailsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ConfidentialDetailsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OthersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/ConfidentialDetailsHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1470

#1484 Add zap exception for new review-cmo endpoint
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1484

#1485 fix: pass c2 document instead of c110a in c2 notification
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/C2UploadedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1485

#1475 feat: C2s in own tab (FPLA-1998)
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-nonprod.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-prod.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents.json
  ccd-definition/CaseTypeTab/CareSupervision/8_C2-nonprod.json
  ccd-definition/ComplexTypes/CareSupervision/C2DocumentBundle-nonprod.json
  ccd-definition/ComplexTypes/CareSupervision/C2DocumentBundle-prod.json
  e2e/pages/caseView.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1475

#1482 feat: add document naming guidance (FPLA-1997)
  ccd-definition/ComplexTypes/CareSupervision/CourtAdminDocument.json
  ccd-definition/ComplexTypes/CareSupervision/OtherDocument.json
Labels: Do not merge, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1482

#1487 chore: Remove child dob validation dead code
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1487

#1478 fix: introduce intermidiary collection in document upload events (FPLA-2074)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEvent/CareSupervision/CLOSED.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEvent/CareSupervision/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/CareSupervision/limitedUploadDocuments.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadDocuments-CLOSED.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadOtherCourtAdminDocuments-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadStandardDirections.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  e2e/pages/events/uploadStandardDirectionsDocumentEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CourtAdminDocument.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1478

#1491 Revert "fix: introduce intermidiary collection in document upload events (FPLA-2074)"
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEvent/CareSupervision/CLOSED.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEvent/CareSupervision/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/CareSupervision/limitedUploadDocuments.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadDocuments-CLOSED.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadOtherCourtAdminDocuments-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadStandardDirections.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  e2e/pages/events/uploadStandardDirectionsDocumentEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CourtAdminDocument.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1491

#1494 fix: remove event summary from submit application event as it introduce payment issue (fpl-2090)
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1494

#1492 feat: Log callback request context (fpla-1839)
  service/src/main/java/uk/gov/hmcts/reform/fpl/CallbackRequestLogger.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/CallbackResponseLogger.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ResourceExceptionHandler.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1492

#1496 chore: Log event name and callback type(fpla-1839)
  service/src/main/java/uk/gov/hmcts/reform/fpl/CallbackRequestLogger.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1496

#1497 fix: replace c2 download document link (FPLA-2087)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/c2uploaded/C2UploadedTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DocumentsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/DocumentsHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1497

#1499 fix: improve stability of E2E (FPLA-2093)
  Jenkinsfile_CNP
  e2e/steps_file.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1499

#1486 fix: Do not show emails in logs (fpla-2031)
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/UserLookupException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/NotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/MaskHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/MaskHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1486

#1503 tmp: Add Add case number to cases in prepare for hearing state (FPLA-2098)
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1503

#1483 feat: filter test emails from prod emails in gov notify (FPLA-1837)
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AllocatedJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReturnApplicationSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/NotificationService.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/NotificationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1483

#1490 fix: use fallback email when no email configured for la and solicitor…
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/InboxLookupService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/InboxLookupServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1490

#1505 Revert "tmp: Add Add case number to cases in prepare for hearing stat…
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1505

#1504 feat: idam code refactor (FPLA-1502)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StatementOfServiceControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StatementOfServiceController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentDownloadService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UserDetailsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2PbaPaymentNotTakenEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentDownloadServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UserDetailsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1504

#1511 feat: Allow "Add case number" in post submitted states (fpla-2110)
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1511

#1513 fix: do not raise an alert when user in not in MO when case is shared
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1513

#1521 bug: orderCollection permission to systemUpdate (FPLA-2097)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1521

#1514 feat: Case management state (FPLA-1920)
  ccd-definition/CaseEvent/CareSupervision/CaseManagement.json
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadOtherCourtAdminDocuments-Case-management.json
  ccd-definition/State/State-common.json
  ccd-definition/State/State-nonprod.json
  ccd-definition/State/State-prod.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/TestingSupportControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Event.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/State.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/testingsupport/controllers/TestingSupportController.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/StateTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1514

#1523 chore: fix sonar (FPLA-2039)
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseExtensionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1523

#1520 fix: Fix task list tag when field collection is empty (fpla-2109)
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/ChildrenCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/OrganisationDetailsCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/RespondentsCheckerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1520

#1525 fix: add fpl.env to local
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1525

#1488 feat: event summary for document event (FPLA-1995)
  ccd-definition/CaseEvent/CareSupervision/CLOSED.json
  ccd-definition/CaseEvent/CareSupervision/CaseManagement.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
Labels: Do not merge, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1488

#1535 Revert "chore(deps-dev): bump codeceptjs from 2.6.8 to 2.6.9"
  package.json
  yarn.lock
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1535

#1527 fix: fix flow logic for Review CMO in mid-event
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1527

#1528 refactor: Not pass raw types around in docmosis (FPLA-1856)
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisGeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/BlankOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CareOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DischargeCareOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/GeneratedOrderTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/SupervisionOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/AbstractOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/BlankOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CareOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/DischargeCareOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/SupervisionOrderGenerationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1528

#1537 refactor: removing unused template (FPLA-2059)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementSubmittedEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PlacementApplicationEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PlacementApplicationEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1537

#1533 feat: Adding review cmo event for gatekeeper (FPLA-2126)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1533

#1538 feat: Retry on case sharing failures (FPLA-2129)
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/Application.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/RetryListener.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/GrantCaseAccessException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseRoleService.java
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1538

#1546 chore: remove Publish to cosmos which was not used anyway
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1546

#1536 feat: Allow ad hoc sharing of existing case (FPLA-2138)
  scripts/shareCase.sh
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/RoboticsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/ShareCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/security/SecurityConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/RoboticsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/ShareCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1536

#1541 feat: move notice of proceedings to hearings tab (FPLA-1999)
  ccd-definition/CaseTypeTab/CareSupervision/3_Hearings.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents.json
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1541

#1549 chore(security): suppress vulnerablility within launchdarkly sdk
  config/owasp/suppressions.xml
Labels: dependencies, security

#1534 feat: new final hearing and issue resolution state (FPLA-2043 & FPLA-2044)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/CaseManagement.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/State/State-common.json
  e2e/fixtures/finalHearing.json
  e2e/fixtures/issueResolution.json
  e2e/helpers/cmo_helper.js
  e2e/tests/caseManagementOrder_test.js
  e2e/tests/reviewCmoStateProgression_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/cmo/ReviewCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/State.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ReviewDecision.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/ReviewDecisionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1534

#1545 feat: SDO issued CTSC notification (FPLA-2053)
  config/checkstyle/checkstyle.xml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingNeedsBooked.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/sdo/CTSCTemplateForSDO.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/StandardDirectionOrderIssuedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/HearingBookingTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/StandardDirectionOrderIssuedEmailContentProviderTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1545
