Repository hmcts/fpl-ccd-configuration, pull requests merged in 2020-07, with the labels that each got.

#1385 feat: disabled organisation API returning of roles (FPLA-1921)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/java/uk/gov/hmcts/reform/rd/client/OrganisationApi.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1385

#1384 impr: Refactor order related e2e to not run tests in a loop
  e2e/fixtures/orders/blankOrder.js
  e2e/fixtures/orders/dischargeOfCareOrder.js
  e2e/fixtures/orders/emergencyProtectionOrder.js
  e2e/fixtures/orders/finalCareOrder.js
  e2e/fixtures/orders/finalSupervisionOrder.js
  e2e/fixtures/orders/interimCareOrder.js
  e2e/fixtures/orders/interimSupervision.js
  e2e/helpers/generated_order_helper.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1384

#1394 Support login retries in e2e tests
  e2e/pages/login.page.js
  e2e/steps_file.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1394

#1397 chore:Remove duplicated run of nightly e2e as one is run by default
  Jenkinsfile_nightly
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1397

#1395 Remove judiciaryAdministersCaseAfterSubmission e2e as it duplicates h…
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1395

#1401 chore: updated Java chart version to 3.0.0 (FPLA-1949)
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1401

#1356 feat: remove references to CCD UI from FPL when live (FPLA-1772)
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseUrlService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationEventHandlerTestData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseUrlServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/LocalAuthorityEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/OrderIssuedNotificationTestHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1356

#1396 impr: remove unnecessary definition in children event CaseEventToComplexType
  ccd-definition/CaseEventToComplexTypes/children/amendChildren.json
  ccd-definition/CaseEventToComplexTypes/children/enterChildren.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1396

#1404 fix: cafcass solicitor permission (FPLA-1930)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/cafcass-solicitor.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1404

#1407 feat:Fees Register API keyword change to GeneralAppWithoutNotice
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1407

#1388 feat: update application submitted notification for admin/cafcass (FPLA-1814)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/SharedNotifyTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/ReturnedCaseContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/base/AbstractEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/ReturnedCaseContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1388

#1408 fix: repeat notifications (FPLA-1929)
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PartyAddedToCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeNotificationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PartyAddedToCaseEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1408

#1412 chore: update audit.json
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1412

#1413 fix: remove 403 Forbidden, which is raised by users not on MO
  infrastructure/alerts.tf
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1413

#1398 feat: case submission satisfaction survey(FPLA-1925)
  e2e/pages/eventSummary.page.js
  e2e/steps_file.js
  e2e/tests/localAuthorityCorrectsReturnedApplication_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/MarkdownTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/markdown/CaseSubmissionSubstitutionData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/markdown/MarkdownData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/markdown/MarkdownSubstitutionData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/markdown/CaseSubmissionMarkdownService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/markdown/MarkdownSubstitutionService.java
  service/src/main/resources/application.yaml
  service/src/main/resources/templates/markdown/caseSubmission.md
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/markdown/CaseSubmissionMarkdownServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/markdown/MarkdownSubstitutionServiceTest.java
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/templates/markdown/caseSubmission.md
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1398

#1423 hack: fix OWASP configuration (temp solution to get builds passing)
  build.gradle
  config/owasp/suppressions.xml
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1423

#1421 fix: removed duplication in ccd defintion AuthorisationComplexType
  ccd-definition/AuthorisationComplexType/AuthorisationComplexType.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1421

#1425 impr: improve Dependency config
  build.gradle
  service/build.gradle
  service/gradle.properties
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1425

#1431 fix: dont send notice of hearing as gatekeeper in e2e
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1431

#1393 refactor: representative service test to check content of validation errors
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RepresentativesServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1393

#1427 chore(security): update audit.json
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1427

#1430 fix: fixed test names code comments (FPLA-1622)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1430

#1437 chore: add owasp supression for CVE-2020-13934 and CVE-2020-13935
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1437

#1441 fix: renaming template for notice of hearing
  docker/docmosis/templates/FL-PLW-HNO-ENG-00525.doc
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1441

#1428 refactor: consolidate CMO issued notification (FPLA-1816)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderCaseLinkNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderDocumentLinkNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/draftcmo/IssuedCMOTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationEventHandlerTestData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1428

#1439 chore: deprecate old CMO stuff
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/DEPRECATED/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/DEPRECATED/_NextHearing.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/DEPRECATED/_OrderAction.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/DEPRECATED/_Recitals.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/DEPRECATED/_Schedule.json
  ccd-definition/FixedLists/CareSupervision/DEPRECATED/CMOActionType.json
  ccd-definition/FixedLists/CareSupervision/DEPRECATED/CMONextHearingType.json
  ccd-definition/FixedLists/CareSupervision/DEPRECATED/CMOStatus.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ActionType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CMOStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseManagementOrderErrorMessages.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseManagementOrderKeys.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/NextHearingType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/NextHearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OrderAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Recital.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Schedule.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseManagementOrderGenerationService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1439

#1442 feat: view application in open / returned state (FPLA-1990)
  bin/build-release-ccd-definition.sh
  bin/import-ccd-definition.sh
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/2_Hearings/2_Hearings-common.json
  ccd-definition/CaseTypeTab/CareSupervision/2_Hearings/2_Hearings-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/2_Hearings/2_Hearings-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/2_ViewApplication-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders/4_Orders-common.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders/4_Orders-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders/4_Orders-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/5_CasePeople/5_CasePeople-common.json
  ccd-definition/CaseTypeTab/CareSupervision/5_CasePeople/5_CasePeople-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/5_CasePeople/6_CasePeople-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/6_LegalBasis/6_LegalBasis-common.json
  ccd-definition/CaseTypeTab/CareSupervision/6_LegalBasis/6_LegalBasis-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/6_LegalBasis/6_LegalBasis-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents/7_Documents-common.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents/7_Documents-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents/7_Documents-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/8_Confidential.json
  ccd-definition/ComplexTypes/CareSupervision/HearingSelector.json
  ccd-definition/FixedLists/CareSupervision/HearingSelector.json
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/tests/localAuthorityCorrectsReturnedApplication_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1442

#1433 tech-debt: refactor email notification helper (FPLA-716)
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1433

#1460 Configure demo ccd definition upload to have same toggles as prod
  bin/build-release-ccd-definition.sh
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1460

#1459 Hide Start application tab when task list is not yet present (old cas…
  ccd-definition/CaseTypeTab/CareSupervision/0_ApplicationTasks-nonprod.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1459

#1444 feat: upload final cmo (FPLA-1915)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-prod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/CareSupervision/DEPRECATED/actionCMO.json
  ccd-definition/CaseEventToFields/CareSupervision/DEPRECATED/draftCMO.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadCMO.json
  ccd-definition/CaseField/CareSupervision/CMO.json
  ccd-definition/CaseTypeTab/CareSupervision/3_DraftOrders.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  ccd-definition/FixedLists/CareSupervision/CaseManagementOrderStatus.json
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/mockFile.docx
  e2e/helpers/case_management_order_helper.js
  e2e/pages/events/draftCaseManagementOrderEvent.page.js
  e2e/pages/events/uploadCaseManagementOrderEvent.page.js
  e2e/tests/caseManagementOrder_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/cmo/UploadCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CMOStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CallbackEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/NewCMOUploaded.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/HearingNotFoundException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/NewCMOUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocumentReference.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/dynamic/DynamicListElement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/cmo/CMOReadyToSealTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/UploadCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/NewCMOUploadedContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/NewCMOUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/UploadCMOServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/NewCMOUploadedContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1444

#1463 Update zap exceptions for new endpoints (upload cmo and task list)
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1463

#1451 feat: judge reviews uploaded CMO (FPLA-1938)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-prod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/review-CMO/reviewCMO.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewCMO.json
  ccd-definition/CaseField/CareSupervision/CMO.json
  ccd-definition/CaseTypeTab/CareSupervision/3_DraftOrders.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders/4_Orders-common.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/ReviewDecision.json
  ccd-definition/FixedLists/CareSupervision/CMOReviewOutcome.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/events/reviewAgreedCaseManagementOrderEvent.page.js
  e2e/pages/events/uploadCaseManagementOrderEvent.page.js
  e2e/steps_file.js
  e2e/tests/caseManagementOrder_test.js
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/cmo/ReviewCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CMOReviewOutcome.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderIssuedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderRejectedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/CMONotFoundException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderRejectedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ReviewDecision.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/cmo/IssuedCMOTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/cmo/RejectedCMOTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentSealingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocumentConversionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/main/resources/static_data/familycourtseal.png
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderRejectedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentSealingServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocumentConversionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProviderTest.java
  service/src/test/resources/documents/document-sealed.pdf
  service/src/test/resources/documents/document.pdf
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1451

#1464 feat: Turn on feature toggles on prod (FPLA-2010)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-prod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseTypeTab/CareSupervision/0_ApplicationTasks.json
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication.json
  ccd-definition/CaseTypeTab/CareSupervision/3_Hearings.json
  ccd-definition/CaseTypeTab/CareSupervision/3_Hearings/3_Hearings-common.json
  ccd-definition/CaseTypeTab/CareSupervision/3_Hearings/3_Hearings-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/4_DraftOrders.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders/4_Orders-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders/4_Orders-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/5_CasePeople.json
  ccd-definition/CaseTypeTab/CareSupervision/5_CasePeople/5_CasePeople-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/5_CasePeople/6_CasePeople-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/6_LegalBasis.json
  ccd-definition/CaseTypeTab/CareSupervision/6_LegalBasis/6_LegalBasis-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/6_LegalBasis/6_LegalBasis-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents/7_Documents-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents/7_Documents-prod.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1464
