Repository hmcts/fpl-ccd-configuration, pull requests merged in 2020-04, with the labels that each got.

#1014 fix:Update idam issuer
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1014

#1016 fix:disable jwt issuer check
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1016

#990 fix: Pick AppInsightInstrumentation dynamically
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  infrastructure/main.tf
  service/src/main/resources/bootstrap.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-990

#1018 imp: pull always CCD images
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1018

#1017 fix: flaky e2e tests
  e2e/pages/caseList.page.js
  e2e/pages/events/addHearingBookingDetailsEvent.page.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1017

#1006 feat: added caseId and documentName to send letter service request (FPLA-1576)
  ccd-definition/ComplexTypes/DocumentParty/DocumentSentToParty.json
  docker/wiremock/mappings/sendletter.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/SentDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentSenderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentSenderServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1006

#963 refactor: getMostUrgentHearingBooking (FPL-1484)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DateFormatterService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CafcassEmailContentProviderSDOIssuedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/GeneratedOrderEmailContentProviderTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-963

#1029 impr: bump CCD chart to 3.3.3
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1029

#1030 refactor: Refactor createHearingBookings method (FPLA-1108)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrderValidationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1030

#1023 impr: replace legal advisor with justices' legal adviser (FPLA-1295)
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetails-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetails.json
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetailsGatekeeping.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-prepare-for-hearing.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-submitted.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedings-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedings.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedingsGatekeeping.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/1_JudgeAndLegalAdvisor.json
  ccd-definition/ComplexTypes/GeneratedOrder.json
  ccd-definition/ComplexTypes/HearingBooking.json
  ccd-definition/ComplexTypes/NoticeOfProceedings.json
  ccd-definition/ComplexTypes/StandardDirectionOrder.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.doc
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  docker/docmosis/templates/FL-PLW-GOR-ENG-00228.doc
  docker/docmosis/templates/FL-PLW-HNO-ENG-00092.docx
  docker/docmosis/templates/FL-PLW-HNO-ENG-00093.docx
  docker/docmosis/templates/FL-PLW-STD-ENG-00099.doc
  e2e/helpers/generated_order_helper.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1023

#979 impr: statically import dateFormatterHelper FPLA-1482
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentSenderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderSDOIssued.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/FailedPBAPaymentContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GeneratedOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/LocalAuthorityEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/PartyAddedToCaseContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/PlacementApplicationContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/UpcomingHearingsContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CafcassEmailContentProviderSDOIssuedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentSenderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FailedPBAPaymentContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GatekeeperEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PartyAddedToCaseContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/GeneratedOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/SampleRoboticsTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-979

#1039 fix: fix flaky e2e tests - await for async goToNewActions function
  e2e/pages/events/actionCaseManagementOrderEvent.page.js
  e2e/tests/caseManagementOrder_test.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/gatekeeperMakesAllocationDecision_test.js
  e2e/tests/hmctsCompliesOnBehalfOfOtherPartiesAfterSDOIsIssued_test.js
  e2e/tests/localAuthorityCompliesWithDirectionsAfterSDOIsIssued_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterGatekeeping_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1039

#973 feat: add barrister case role (FPL-932)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/barrister.json
  ccd-definition/CaseRoles.json
  ccd-definition/FixedLists/RepresentativeRole.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/RepresentativeRole.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-973

#1024 feat: SDO - Make 'organise translator' direction editable (FPLA-829)
  service/src/main/resources/ordersConfig.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1024

#1025 feat: SDO - Make 'send translated documents' direction editable (FPLA-827)
  service/src/main/resources/ordersConfig.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1025

#1037 fix: moved solicitor uploaded documents in tab (FPLA-1500)
  ccd-definition/CaseTypeTab/7_Documents.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1037

#1038 refactor: Refactor ActionCaseManagementOrderControllerTest (FPLA-1467)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FailedPBAPaymentContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PartyAddedToCaseContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1038

#977 (FPLA-904) la barrister case role
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/la-barrister.json
  ccd-definition/CaseRoles.json
  ccd-definition/FixedLists/RepresentativeRole.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/RepresentativeRole.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-977

#1027 impr: Allocation decision - amend label from 'Lay justices (magistrates)' to 'Magistrate' (FPLA-784)
  ccd-definition/FixedLists/AllocationProposalList.json
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1027

#1043 feat/Unify tab content assertion
  e2e/helpers/case_management_order_helper.js
  e2e/helpers/generated_order_helper.js
  e2e/steps_file.js
  e2e/tests/bulkScanUserUploadsScannedDocuments_test.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/gatekeeperMakesAllocationDecision_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/hmctsCompliesOnBehalfOfOtherPartiesAfterSDOIsIssued_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthorityCompliesWithDirectionsAfterSDOIsIssued_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, rel:fpl-case-service-pr-1043

#1053 Narrow serach result so that search based tests works number of cases…
  e2e/pages/caseList.page.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1053

#1054 Increase number of retries for log in
  e2e/steps_file.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1054

#1060 Update ccd chart version to work with kubernetes 1.16
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1060

#1028 impr: added making copy of main document in doc store (FPLA-1587)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentSenderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentSenderServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1028

#1062 increase default pupeteer timeout (30 sec)
  codecept.conf.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1062

#1058 chore: added missing migrate event and permissions (FPLA-1430)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseEvent/AnyState.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1058

#1022 feat: CMO review notifications for representatives (FPLA-926)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderReadyForPartyReviewEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1022

#1021 feat: Added missing read permissions for solicitor (FPLA-1186)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1021

#1032 feat: allow custom hearing venue (FPLA-1337)
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetails-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetails.json
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetailsGatekeeping.json
  ccd-definition/ComplexTypes/HearingBooking.json
  ccd-definition/FixedLists/HearingVenue.json
  e2e/fixtures/hearingTypeDetails.js
  e2e/pages/events/addHearingBookingDetailsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingVenueLookUpService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingVenueLookUpServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1032

#1047 feat: Update "Other" to "Discharge of care" (FPLA-1585)
  ccd-definition/ComplexTypes/Orders.json
  ccd-definition/FixedLists/OrderType.json
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrderType.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/pebble/OrderMappingFilterTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1047

#980 impr: clean up content provider classes FPLA-1518
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderSDOIssued.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/FailedPBAPaymentContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GeneratedOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/LocalAuthorityEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/PartyAddedToCaseContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/PlacementApplicationContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/UpcomingHearingsContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/base/AbstractEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/base/CasePersonalisedContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/base/StandardDirectionOrderContent.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CafcassEmailContentProviderSDOIssuedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FailedPBAPaymentContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/config/LookupTestConfig.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/GeneratedOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderSDOIssuedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/FailedPBAPaymentContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/GeneratedOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/LocalAuthorityEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/PartyAddedToCaseContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/PlacementApplicationContentProviderTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-980

#1041 refactor: split generated order controller test (FPLA-1468)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerMidEventTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1041

#1052 impr: buildCoverDocumentsData to use java object (FPLA-1491)
  service/bin/main/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderReadyForPartyReviewEvent.class
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/AbstractDocmosisData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCoverDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisCoverDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisDocumentGeneratorService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisCoverDocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisDocumentGeneratorServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1052

#1065 fix: pull the directions into the doc by fixing the numbering method (FPLA-1625)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1065

#1055 impr: update to 'create an order' notification to include LA and Digital Reps [FPLA-1519]
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/RepresentativeNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GeneratedOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeNotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/NotifyAttachedDocumentLinkHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationEventHandlerTestData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/GeneratedOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/NotifyAttachedDocumentLinkHelperTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1055

#1050 fix: remove number from cmo header (FPLA-1112)
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1050

#945 refactor: decoupling of NotificationHandler [FPLA-1249]
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementSubmittedEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/C2PbaPaymentNotTakenEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderCaseLinkNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderDocumentLinkNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForJudgeReviewEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForPartyReviewEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderRejectedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/HmctsAdminNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/IssuedOrderAdminNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PartyAddedToCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PlacementApplicationEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/UpcomingHearingsFoundNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/EventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GeneratedOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeNotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/NotifyAttachedDocumentLinkHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2PbaPaymentNotTakenEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForJudgeReviewEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForPartyReviewEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderRejectedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationEventHandlerTestData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PartyAddedToCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PlacementApplicationEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/UpcomingHearingsFoundNotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/config/LookupTestConfig.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/GeneratedOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/NotifyAttachedDocumentLinkHelperTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-945

#1040 feat: expert reports (FPLA: 1410)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/CaseEvent/AnyState.json
  ccd-definition/CaseEventToComplexTypes/ExpertReport.json
  ccd-definition/CaseEventToFields/addExpertReports.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/13_ExpertReports.json
  ccd-definition/ComplexTypes/ExpertReport.json
  ccd-definition/FixedLists/ExpertReportList.json
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/expertReportLog.js
  e2e/pages/caseView.page.js
  e2e/pages/events/addExpertReportEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1040

#1026 impr: generic confidential details service (FPLA-1175)
  ccd-definition/ComplexTypes/2_ChildParty.json
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OthersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ConfidentialPartyType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Child.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ChildParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/interfaces/ConfidentialParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ChildrenService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ConfidentialDetailsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ChildrenServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ConfidentialDetailsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OthersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1026

#1069 Update ccd chart version to have new ingress
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1069

#1068 fix: mutation tests (FPLA-373)
  Jenkinsfile_nightly
  build.gradle
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1068

#1064 imp: add allocation proposal to tag creating case with mandatory fields
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1064

#1048 feat: enhancement for allocate judge (FPLA-1321)
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetails.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-prepare-for-hearing.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-submitted.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/JudgeAndLegalAdvisor.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedings-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedings.json
  ccd-definition/CaseEventToComplexTypes/notice-of-proceedings/NoticeOfProceedingsGatekeeping.json
  ccd-definition/CaseEventToFields/draftSDO.json
  ccd-definition/ComplexTypes/1_JudgeAndLegalAdvisor.json
  e2e/fragments/judgeAndLegalAdvisor.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/createNoticeOfProceedingsEvent.page.js
  e2e/pages/events/createOrderEvent.page.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/tests/caseManagementOrder_test.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/hmctsCompliesOnBehalfOfOtherPartiesAfterSDOIsIssued_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthorityCompliesWithDirectionsAfterSDOIsIssued_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/JudgeAndLegalAdvisor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelperTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1048

#1063 fix: data clean up hearing venues (FPLA-1430)
  ccd-definition/FixedLists/HearingVenue.json
  service/src/main/resources/static_data/hearingVenues.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1063

#1067 fix: responding on behalf of cafcass as court admin (FPLA-1623)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForUsersService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForUsersServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1067

#1075 Update FPL jurisdiction to match RDM-8108
  ccd-definition/Jurisdiction.json
  e2e/pages/events/openApplicationEvent.page.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1075

#1074 impr:Fix flaky create order tests
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/createOrderEvent.page.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1074

#1072 impr:Use openID idam endpoints to get user details (FPLA-1637)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AddNoteAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseNoteService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseNoteServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1072

#1073 fix: added updated order to caseData for next hearing date in cmo (FPLA-1624)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1073

#1084 impr: improve mutation test reporting
  build.gradle
  service/build.gradle
Labels: ns:family-public-law, rel:fpl-case-service-pr-1084

#1083 Fix flaky e2e (sign-out -> sign-in scenario)
  e2e/steps_file.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1083

#1078 feat: make "Send to Gatekeeper" available in gatekeeping (FPLA-1599)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEventToFields/notifyGatekeeper.json
  codecept.conf.js
  e2e/config.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/State.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1078

#1079 fix: Correct spacing issues in the SDO [FPLA-1269]
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/JsonOrdersLookUpServiceTest.java
  service/src/test/resources/ordersConfig.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1079

#1089 impr: don't log before every share a case request
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1089

#1091 Custom json matcher
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementSubmittedEventControllerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForPartyReviewEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/matchers/JsonMatcher.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1091

#1082 fix: updated applicant object validation to accept empty for phone and mobile
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/Applicant.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1082

#1090 impr: remove validation from RoboticsData and composed classes.
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/Applicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/RoboticsData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataValidatorService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataValidatorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1090

#1087 feat: notify to more than one gatekeeper (FPLA-970)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/CaseEventToFields/notifyGatekeeper.json
  ccd-definition/CaseEventToFields/sendToGatekeeper.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/GatekeeperEmails.json
  e2e/pages/events/sendCaseToGatekeeperEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NotifyGatekeepersEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProviderTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1087

#1004 impr: use java models for cmo generation (FPLA-1488)
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisChild.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCoverDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisDirection.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisRecital.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisRepresentative.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisRepresentedBy.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisCoverDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisDocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisCoverDocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGenerationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1004

#1086 feat: modify order issued notification for admin (FPLA-1287)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementSubmittedEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/IssuedOrderAdminNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationEventHandlerTestData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/OrderIssuedNotificationTestHelper.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1086

#1076 feat: Add option "not required" for SWET (FPLA-1184)
  ccd-definition/ComplexTypes/UploadSwetDocument.json
  ccd-definition/FixedLists/swetDocumentOptions.json
  e2e/fragments/caseDocuments.js
  e2e/pages/events/uploadDocumentsEvent.page.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1076

#1100 fix:fix ccd definition api version on preview env
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1100

#1102 fix:Update ccd config on preview env
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1102

#1096 Fix flaky test by entering applicant address manually as PRD endpoint…
  e2e/fragments/addressPostcodeLookup.js
  e2e/helpers/puppeter_helper.js
  e2e/pages/events/enterApplicantEvent.page.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1096

#1099 impr: increase integration test performance
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1099

#1095 improvement: adding tests to improve mutation testing coverage - PR1
  service/build.gradle
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RepresentativeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/documents/HasAttachedDocumentValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/time/TimeRangeValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/request/RequestDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UserDetailsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsNotificationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/DocumentsHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/PeopleInCaseHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/documents/HasAttachedDocumentValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/documents/HasDocumentsIncludedInSwetValidatorTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1095

#1101 refactor: split caseDocuments fragment methods (FPLA-857)
  e2e/fragments/caseDocuments.js
  e2e/helpers/upload_case_documents_helper.js
  e2e/tests/localAuthorityMaintainsCaseAfterGatekeeping_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1101

#1109 feat: improved SDO journey performance (FPLA-1655)
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1109

#1110 impr:Improve code coverage (FPLA-1645)
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/TimeConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/selector/ChildSelector.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingVenueLookUpService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/ChildGenderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/UserRolesTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/YesNoTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/events/CallbackEventTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingVenueLookUpServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1110

#1094 feat: dont enter null or blank into docs (FPLA-1087)
  ccd-definition/CaseEventToComplexTypes/draft-SDO/JudgeAndLegalAdvisor.json
  docker/docmosis/templates/FL-PLW-STD-ENG-00099.doc
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OthersServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1094

#1115 Bump up ccd chart version - configure dns only on installation and n…
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1115

#1093 impr: handle login issues when idam redirection destroy puppeteer context
  e2e/helpers/hooks_helper.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1093

#1080 feat: add cafcass case role (FPLA-1504)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/cafcass-solicitor.json
  ccd-definition/CaseRoles.json
  ccd-definition/FixedLists/RepresentativeRole.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/RepresentativeRole.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RepresentativeCaseRoleServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1080

#1107 impr: cmo generation to use java models (FPLA-1488)
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisChild.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCoverDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisDirection.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisRecital.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisRepresentative.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisRepresentedBy.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisCoverDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisDocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisCoverDocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGenerationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1107

#1119 impr:Refactor e2e sign in
  e2e/config.js
  e2e/fixtures/representatives.js
  e2e/helpers/case_management_order_helper.js
  e2e/helpers/hooks_helper.js
  e2e/helpers/placement_helper.js
  e2e/pages/login.page.js
  e2e/steps_file.js
  e2e/tests/accessSegregation_test.js
  e2e/tests/bulkScanUserUploadsScannedDocuments_test.js
  e2e/tests/caseManagementOrder_test.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/gatekeeperMakesAllocationDecision_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/hmctsCompliesOnBehalfOfOtherPartiesAfterSDOIsIssued_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthorityCompliesWithDirectionsAfterSDOIsIssued_test.js
  e2e/tests/localAuthorityDeletesApplication_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterGatekeeping_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  e2e/tests/smoke_test.js
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, rel:fpl-case-service-pr-1119

#1123 Fix representative e2e test
  e2e/pages/events/enterRepresentativesEvent.page.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1123

#1117 fix: persist hearing id in cmo object if it already exists (FPLA-1673)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/SampleRoboticsTestDataHelper.java
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/submitted-form-pdf-content.txt
Labels: ns:family-public-law, rel:fpl-case-service-pr-1117

#1127 impr: enabled integration test coverage for mutation tests
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1127

#1125 fix: hide nested field in children event if initial question set to 'No' (FPLA-1095)
  ccd-definition/ComplexTypes/2_ChildParty.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1125

#1088 impr: improve handling of images in the generated documents (FPLA-1640)
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.doc
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  docker/docmosis/templates/FL-PLW-GOR-ENG-00228.doc
  docker/docmosis/templates/FL-PLW-HNO-ENG-00092.doc
  docker/docmosis/templates/FL-PLW-HNO-ENG-00092.docx
  docker/docmosis/templates/FL-PLW-HNO-ENG-00093.doc
  docker/docmosis/templates/FL-PLW-HNO-ENG-00093.docx
  docker/docmosis/templates/FL-PLW-LET-ENG-00232.doc
  docker/docmosis/templates/FL-PLW-LET-ENG-00232.docx
  docker/docmosis/templates/FL-PLW-STD-ENG-00099.doc
  docker/docmosis/templates/crest.png
  docker/docmosis/templates/draft-watermark.png
  docker/docmosis/templates/familycourtseal.png
  docker/docmosis/templates/hmcts-logo-large.png
  docker/docmosis/templates/hmcts-logo-small.png
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementSubmittedEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisImages.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCoverDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisCoverDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionOrderGenerationService.java
  service/src/main/resources/assets/images/family-court-seal.png
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisCoverDocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionOrderGenerationServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1088

#1097 feat: mandatory direction needed question in standard direction order (FPLA-1643)
  ccd-definition/CaseEventToComplexTypes/draft-SDO/allParties.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/cafcassDirections.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/courtDirections.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/localAuthorityDirections.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/otherPartiesDirections.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/respondentDirections.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1097

#1128 impr: provide config documentation
  service/README.md
Labels: ns:family-public-law, rel:fpl-case-service-pr-1128

#1130 impr: add info log for successful robotics email notification [FPLA-NA]
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsNotificationService.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1130

#1135 impr: Improve test coverage
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OtherProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OthersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/UpcomingHearingsFinder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/json/deserializer/ChildSelectorDeserializer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/json/serializer/ChildSelectorSerializer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Others.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ApplicantService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CourtLevelAllocationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingValidatorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForPartyReviewEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/json/deserializer/ChildSelectorDeserializerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/OthersTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ApplicantServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/EmailServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingValidatorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RepresentativesServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderSDOIssuedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/FailedPBAPaymentContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/LocalAuthorityEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/PartyAddedToCaseContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/PlacementApplicationContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1135

#1142 Turn on security filter on sendRPAEmailByID endpoint
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/security/SecurityConfiguration.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1142

#1136 FPLA-1675: automation of ccd definition for aat
  Jenkinsfile_CNP
  bin/variables/load-aat-environment-variables.sh
Labels: ns:family-public-law, rel:fpl-case-service-pr-1136

#1146 impr:Upload ccd definition - poll upload status when upload timeout
  bin/configurer/utils/ccd-import-definition.sh
Labels: ns:family-public-law, rel:fpl-case-service-pr-1146

#1138 fix: past hearings persisted when adding new one (FPLA-1701)
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1138

#1149 Update app inisght agent version to solve auth-checker app insight ag…
  Dockerfile
Labels: ns:family-public-law, rel:fpl-case-service-pr-1149

#1126 refactor: casePersonalisedContent provider to use java objects (FPLA-1656)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/NotifyData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/SharedNotifyTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/sendtogatekeeper/NotifyGatekeeperTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/submittedcase/SubmitCaseCafcassTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/submittedcase/SubmitCaseHmctsTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/NotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/base/SharedNotifyContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/UpcomingHearingsFoundNotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProviderTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1126

#1148 impr: hide pba number from logs (FPLA-1684)
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/payment/CreditAccountPaymentRequest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ApplicantParty.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1148

#1098 feat: updated date values for directions in standard direction order (FPLA-1643)
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/configuration/Display.java
  service/src/main/resources/ordersConfig.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandlerTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1098
