Repository hmcts/fpl-ccd-configuration, pull requests merged in 2020-03, with the labels that each got.

#908 fix: CTSC demo value fix
  infrastructure/main.tf
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/CtscEmailLookupConfiguration.java
  service/src/main/resources/application.yaml
  service/src/main/resources/bootstrap.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-908

#914 fix demo conf for fees register
  infrastructure/main.tf
Labels: ns:family-public-law, rel:fpl-case-service-pr-914

#919 feat: new c2 upload screens and integration with payments api (FPLA-1191 FPLA-1280 FPLA-1219)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-PREPARE_FOR_HEARING-nonprod.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-nonprod.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundleGatekeeping-nonprod.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundleGatekeeping.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2-PREPARE_FOR_HEARING-nonprod.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2-nonprod.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2Gatekeeping-nonprod.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2Gatekeeping.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/C2ApplicationTypeSelection.json
  ccd-definition/ComplexTypes/C2DocumentBundle.json
  ccd-definition/ComplexTypes/Fee.json
  ccd-definition/FixedLists/C2ApplicationType.json
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.yaml
  docker/wiremock/__files/paymentResponse.json
  docker/wiremock/mappings/payment.json
  e2e/pages/events/uploadC2DocumentsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  infrastructure/main.tf
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/client/PaymentApi.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/exception/PaymentsApiException.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/fee/FeeType.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/payment/CreditAccountPaymentRequest.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/payment/FeeDto.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/payment/enums/Currency.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/payment/enums/Service.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/C2ApplicationType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/FeesData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/FeeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentService.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fnp/model/fee/FeeTypeTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/FeeDtoTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/FeeServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentServiceTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-919

#921 fix: added missing logging and error handling for fees and payments (FPLA-1191)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/payment/CreditAccountPaymentRequest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/FeeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-921

#922 fix:update ccd web url (changed after ccd web migration to aks in aat)
  Jenkinsfile_CNP
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-922

#925 FPLA-NA use recently updated aat url
  Jenkinsfile_nightly
Labels: ns:family-public-law, rel:fpl-case-service-pr-925

#926 fix: added mapping payment payload property to snake_case (FPLA-1191)
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/payment/FeeDto.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-926

#923 refactor: PBA number helper and service, added missing tests, removin…
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AllocationDecisionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OtherProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OthersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StatementOfServiceController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ValidateOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Applicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PbaNumberService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UpdateAndValidatePbaService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/PBANumberHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/PbaNumberHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PbaNumberServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/PBANumberHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/PbaNumberHelperTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-923

#931 fix: payments request payload fix (FPLA-1191)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/FeeService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/FeeServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-931

#916 feat: payment history tab (FPLA-1298)
  README.md
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/11_Payments-nonprod.json
  docker-compose.yml
  docker/wiremock/__files/payments/card-payments/reference-status.json
  docker/wiremock/__files/payments/case/paymentGroup.json
  docker/wiremock/__files/payments/credit-account-payment/paymentReference-status.json
  docker/wiremock/__files/payments/payment-group/paymentGroup-reference.json
  docker/wiremock/mappings/payments/card-payments/references-statuses.json
  docker/wiremock/mappings/payments/cases/ccdCaseNumber-paymentGroups.json
  docker/wiremock/mappings/payments/credit-account-payments/paymentReference-statuses.json
  docker/wiremock/mappings/payments/payment-groups/paymentGroup-reference.json
  e2e/pages/caseView.page.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-916

#915 feat: enter date of issue for generated orders (FPLA-1384)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/CaseEventToFields/createOrder-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/createOrder.json
  ccd-definition/CaseEventToFields/createOrderGatekeeping.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/GeneratedOrder.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.docx
  docker/docmosis/templates/FL-PLW-GOR-ENG-00228.docx
  e2e/fixtures/orders.js
  e2e/helpers/date_to_string_helper.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/createOrderEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ValidateOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ValidateOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GeneratedOrderKey.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DateFormatterService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/DateOfIssueGroup.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-915

#933 fix: c2 upload fixes (FPLA-1219)
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2-PREPARE_FOR_HEARING-nonprod.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2-nonprod.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2Gatekeeping-nonprod.json
  ccd-definition/ComplexTypes/C2DocumentBundle.json
  ccd-definition/FixedLists/C2ApplicationType.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-933

#910 feat: auto populate applicant details (FPLA-1103)
  docker/wiremock/__files/organisationMockResponse.json
  docker/wiremock/mappings/organisationById.json
  e2e/fixtures/applicant.js
  e2e/pages/events/enterApplicantEvent.page.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantAboutToStartControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ApplicantService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/java/uk/gov/hmcts/reform/rd/client/OrganisationApi.java
  service/src/main/java/uk/gov/hmcts/reform/rd/model/ContactInformation.java
  service/src/main/java/uk/gov/hmcts/reform/rd/model/DxAddress.java
  service/src/main/java/uk/gov/hmcts/reform/rd/model/Organisation.java
  service/src/main/java/uk/gov/hmcts/reform/rd/model/PaymentAccount.java
  service/src/main/java/uk/gov/hmcts/reform/rd/model/SuperUser.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ApplicantServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-910

#920 feature:remove default text for cafcass standard direction
  service/src/main/resources/ordersConfig.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-920

#936 Make chart env variables dynamic
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-936

#940 Moving ccd url to https and bumping version
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-940

#938 impr: removed unused ccd config
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseEvent/Open.json
  ccd-definition/CaseEventToFields/addCaseIDReference.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/6_LegalBasis.json
  ccd-definition/CaseTypeTab/7_Documents.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-938

#943 docs: added jira numbers to exisiting todos
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrderStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CallbackEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/DirectionResponse.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DateFormatterService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-943

#942 impr: better CasePaymentHistoryViewer mocks (FPLA-1298)
  docker/wiremock/__files/.gitkeep
  docker/wiremock/__files/payments/card-payments/reference-status.json
  docker/wiremock/__files/payments/case/paymentGroup.json
  docker/wiremock/__files/payments/credit-account-payment/paymentReference-status.json
  docker/wiremock/__files/payments/credit-account-payment/paymentResponse.json
  docker/wiremock/__files/payments/payment-group/paymentGroup-reference.json
  docker/wiremock/mappings/payments/card-payments/references-statuses.json
  docker/wiremock/mappings/payments/credit-account-payments/payment.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-942

#939 fix: c2 file upload bug workaround (FPLA-1219)
  ccd-definition/CaseEventToFields/uploadC2/uploadC2-PREPARE_FOR_HEARING-nonprod.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2-nonprod.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2Gatekeeping-nonprod.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2Gatekeeping.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-939

#934 refactor: moved sendNotification out of NotificationHandler into separate service (FPLA-1249)
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/NotificationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/NotificationServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-934

#913 fix: don't block case submission on fee failure
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/CaseEventToFields/submitApplication/submitApplication-nonprod.json
  ccd-definition/CaseField.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelperTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-913

#950 Fix flaky bulk scan test
  ccd-definition/CaseEventToFields/attachScannedDocs.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-950

#948 Refactoring !isUpdatingExistingPlacement to isNewPlacementApp
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-948

#956 feat: service to calculate working days from given date (FPLA-1453)
  docker/wiremock/__files/bankHolidays.json
  docker/wiremock/mappings/bankHolidays.json
  service/src/main/java/uk/gov/hmcts/reform/calendar/client/BankHolidaysApi.java
  service/src/main/java/uk/gov/hmcts/reform/calendar/model/BankHolidays.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/Application.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/calendar/BankHolidaysService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/calendar/CalendarService.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/calendar/BankHolidaysServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/calendar/CalendarServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-956

#955 feat: update c2 label in tab (FPLA-863)
  ccd-definition/CaseField.json
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-955

#952 fix: update label from 'Attached PDF' to 'C110a Application' for submitted application
  ccd-definition/CaseField.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-952

#946 feat: all draft orders watermark and sealed court seal (FPLA: 1066)
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.doc
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.docx
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  docker/docmosis/templates/FL-PLW-GOR-ENG-00228.doc
  docker/docmosis/templates/FL-PLW-GOR-ENG-00228.docx
  docker/docmosis/templates/FL-PLW-STD-ENG-00099.doc
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/resources/assets/images/family-court-seal.png
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocmosisTemplateDataGenerationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/resources/assets/images/family-court-seal.png
Labels: ns:family-public-law, rel:fpl-case-service-pr-946

#966 impr: update fee register keywords (backup) (FPLA-1503)
  docker/wiremock/mappings/fee-register/care-order.json
  docker/wiremock/mappings/fee-register/education-supervision-order.json
  docker/wiremock/mappings/fee-register/emergency-protection-order.json
  docker/wiremock/mappings/fee-register/interim-care-order.json
  docker/wiremock/mappings/fee-register/interim-supervision-order.json
  docker/wiremock/mappings/fee-register/placement.json
  docker/wiremock/mappings/fee-register/supervision-order.json
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-966

#935 feat: Retrospective date of issue for SDO (FPLA-1317)
  ccd-definition/CaseEventToFields/draftSDO.json
  ccd-definition/ComplexTypes/StandardDirectionOrder.json
  docker/docmosis/templates/FL-PLW-STD-ENG-00099.doc
  e2e/pages/events/createOrderEvent.page.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/steps_file.js
  e2e/tests/caseManagementOrder_test.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsCompliesOnBehalfOfOtherPartiesAfterSDOIsIssued_test.js
  e2e/tests/localAuthorityCompliesWithDirectionsAfterSDOIsIssued_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, rel:fpl-case-service-pr-935

#928 feat: notify representatives served by email when order issued (FPLA-1111)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementSubmittedEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/IssuedOrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PartyAddedToCaseEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RepresentativeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/PartyAddedToCaseContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PartyAddedToCaseContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RepresentativesServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/AssertionHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/NotifyAdminOrderIssuedTestHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/OrderIssuedNotificationTestHelper.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-928

#972 Configure feature toggle specific for preview enviroment
  charts/fpl-case-service/values.preview.template.yaml
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-972

#951 impr: update permissions for CasePaymentHistoryViewer case field (FPLA-1298)
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-951

#924 feat:Add mandatory field validation to adding child and respondent to case (FPLA-1387)
  e2e/fixtures/respondents.js
  e2e/pages/events/enterRespondentsEvent.page.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ChildGender.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ChildParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrderValidationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/SealedSDOGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/interfaces/HasGender.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/HasGenderValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseValidatorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrderValidationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/HasGenderValidatorTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-924

#975 hack: disable mutation build (FPLA-373)
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:family-public-law, rel:fpl-case-service-pr-975

#981 impr: fee registry keyword update part 2 ⚡️🕺
  docker/wiremock/mappings/fee-register/other.json
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-981

#978 feat: Make PBA mandatory on C110a (FPLA-1514)
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ApplicantParty.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseValidatorServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-978

#983 feat: Unblocked C2 Upload submission on fees register api error (FPLA-1328)
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2-PREPARE_FOR_HEARING-nonprod.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2-nonprod.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2Gatekeeping-nonprod.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-983

#971 feat: Added search with case reference (FPLA-1414)
  ccd-definition/SearchInputFields.json
  ccd-definition/WorkBasketInputFields/WorkBasketInputFields.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-971

#905 feat: update C6/C6a contact number
  docker/docmosis/templates/FL-PLW-HNO-ENG-00092.docx
  docker/docmosis/templates/FL-PLW-HNO-ENG-00093.docx
Labels: ns:family-public-law, rel:fpl-case-service-pr-905

#1000 feature: toggle on payments and scan
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/WorkBasketInputFields/WorkBasketInputFields-nonprod.json
  ccd-definition/WorkBasketInputFields/WorkBasketInputFields.json
  ccd-definition/WorkBasketResultFields/WorkBasketResultFields-nonprod.json
  ccd-definition/WorkBasketResultFields/WorkBasketResultFields.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1000

#953 feat: add case note event for admin, gatekeeper and judge FPLA-1327
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/CaseEvent/AnyState.json
  ccd-definition/CaseEventToFields/addCaseNote.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/12_Notes.json
  ccd-definition/ComplexTypes/CaseNote.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/caseView.page.js
  e2e/pages/events/addNoteEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AddNoteAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AddNoteController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseNote.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseNoteService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseNoteServiceTest.java
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, rel:fpl-case-service-pr-953

#997 feat: send notification if pba down (FPLA-1328)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ApplicationType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/FailedPBAPaymentEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/FailedPBAPaymentContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FailedPBAPaymentContentProviderTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-997

#996 fix: Clean up tf files as we completely migrated to aks
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:family-public-law, rel:fpl-case-service-pr-996

#1001 feat: added sending LA name to LaunchDarkly (FPLA-1527)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1001

#947 feat: (FPLA-1466) allow admin to add case number in all states from submitted onw…
  ccd-definition/CaseEvent/AnyState.json
  ccd-definition/CaseEvent/Submitted.json
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AddCaseNumberControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AddCaseNumberControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RoboticsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AddCaseNumberController.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CafcassEmailContentProviderSDOIssuedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GatekeeperEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsNotificationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CoreCaseDataStoreLoader.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/SubmittedFormFilenameHelperTest.java
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-947

#944 feat: retrospective cmo (FPLA-1366)
  ccd-definition/CaseEventToFields/actionCMO.json
  ccd-definition/ComplexTypes/CaseManagementOrder/CaseManagementOrder.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  e2e/helpers/case_management_order_helper.js
  e2e/pages/events/actionCaseManagementOrderEvent.page.js
  e2e/steps_file.js
  e2e/tests/caseManagementOrder_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseManagementOrderKeys.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DateFormatterService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DateFormatterServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-944

#1003 fix: update customerReference to have a default value of 'Not provided' when no value entered [FPLA-1524]
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundleGatekeeping.json
  ccd-definition/ComplexTypes/C2DocumentBundle.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1003

#967 fix: Care order "Warning" content update (FPLA-1318)
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.doc
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-967

#982 refactor: Use RequestData object (FPLA-1475)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StatementOfServiceControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AllocationDecisionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StatementOfServiceController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/C2UploadedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CallbackEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderIssuedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderReadyForJudgeReviewEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderRejectedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/FailedPBAPaymentEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/GeneratedOrderEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NoticeOfPlacementOrderUploadedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NotifyGatekeeperEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PartyAddedToCaseEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PlacementApplicationEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PopulateStandardDirectionsEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/StandardDirectionsOrderIssuedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/SubmittedCaseEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentSenderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UploadDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UserDetailsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/common/DocumentReferenceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentSenderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UploadDocumentServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-982

#974 feat: remove null/blank from CMO (FPLA-1370)
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonCaseDataExtractionServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-974

#984 feat: notify CTSC 2 business days before hearing (FPLA-1102)
  bin/utils/create-scheduler-db.sh
  ccd-definition/AuthorisationCaseField/system-update.json
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  service/README.md
  service/build.gradle
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/scheduler/JobFactory.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/scheduler/JobScheduler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/scheduler/SchedulerConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/scheduler/UncheckedSchedulerException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/UpcomingHearingsFound.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/UpcomingHearingsFinder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/UpcomingHearingsContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/search/SearchService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/main/resources/application.yaml
  service/src/main/resources/bootstrap.yaml
  service/src/main/resources/db/migration/V001__Schema.sql
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/JobSchedulerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/UpcomingHearingsFinderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/job/UpcomingHearingsContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/search/SearchServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-984

#988 feat: Update C2 PBA journey (FPLA-1505)
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundleGatekeeping.json
  ccd-definition/ComplexTypes/C2DocumentBundle.json
  e2e/fixtures/c2Payment.js
  e2e/pages/events/uploadC2DocumentsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/C2PbaPaymentNotTakenEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-988

#1009 fix: Fix scheduler configuration (config file env variables case sens…
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  service/src/main/resources/application.yaml
  service/src/main/resources/bootstrap.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1009
