Repository hmcts/fpl-ccd-configuration, pull requests merged in 2020-01, with the labels that each got.

#753 hack: disable owasp check
  Jenkinsfile_CNP
Labels: ns:fpl-case-service-pr-753

#757 fix: re-enable the dependency check
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:fpl-case-service-pr-757

#725 feat: made all SDO directions optional (FPLA-1063)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/main/resources/ordersConfig.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/JsonOrdersLookUpServiceTest.java
  service/src/test/resources/ordersConfig.json
Labels: ns:fpl-case-service-pr-725

#761 fix: add .gitkeep for mappings
  docker/wiremock/__files/.gitkeep
Labels: ns:fpl-case-service-pr-761

#750 impr: Refactor integration tests to use AbstractController
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AllocationDecisionControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AllocationDecisionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseDeletionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededAboutToSubmitCallbackControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OtherProceedingsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeAboutToSubmitEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StatementOfServiceControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsControllerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/DocumentManagementStoreLoader.java
Labels: ns:fpl-case-service-pr-750

#749 imp: add possibility to inject authorisation header to services via RequestData
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/request/RequestData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityServiceTest.java
Labels: ns:fpl-case-service-pr-749

#758 impr: GeneralOrders (C21) notification hierarchy impl (FPLA-1013)
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
Labels: ns:fpl-case-service-pr-758

#766 fix: LA able to submit a case without respondents (FPLA-1128)
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
Labels: ns:fpl-case-service-pr-766

#768 fix: sonarqube deprecated jacoco issue
  service/build.gradle
Labels: ns:fpl-case-service-pr-768

#769 fix: remove itReportPath from build.gradle
  service/build.gradle
Labels: ns:fpl-case-service-pr-769

#741 impr: compliance usability (FPLA-1074)
  ccd-definition/CaseEventToFields/COMPLY_CAFCASS.json
  ccd-definition/CaseEventToFields/COMPLY_COURT.json
  ccd-definition/CaseEventToFields/COMPLY_LOCAL_AUTHORITY.json
  ccd-definition/CaseEventToFields/COMPLY_ON_BEHALF_SDO.json
  ccd-definition/ComplexTypes/2_direction.json
  e2e/helpers/case_management_order_helper.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
Labels: ns:fpl-case-service-pr-741

#755 feat: Inform LA that CMO is under review (FPLA-935)
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/CaseEventToFields/draftCMO.json
  ccd-definition/CaseField.json
  e2e/helpers/case_management_order_helper.js
  e2e/pages/events/actionCaseManagementOrderEvent.page.js
  e2e/tests/caseManagementOrder_test.js
Labels: ns:fpl-case-service-pr-755

#722 feat: create holding page when CMO draft not submitted to judge yet (FPLA-986)
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/system-update.json
  ccd-definition/CaseEventToFields/actionCMO.json
  ccd-definition/CaseField.json
  e2e/tests/caseManagementOrder_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
Labels: ns:fpl-case-service-pr-722

#704 feat: reusable comply on behalf event for cmo (FPLA-973)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/AuthorisationCaseField/solicitor.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_OTHERS/COMPLY_OTHERS-otherPartiesDirections.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_OTHERS/COMPLY_OTHERS-respondentDirections.json
  ccd-definition/CaseEventToFields/COMPLY_OTHERS.json
  ccd-definition/ComplexTypes/1_directionResponse.json
  ccd-definition/ComplexTypes/2_direction.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ComplyOnBehalfEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/DirectionResponse.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
Labels: ns:fpl-case-service-pr-704

#772 Fix: deserialization in demo
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DeserializeAndAcceptEmptyStringsAsNullObjectTest.java
  service/src/integrationTest/resources/fixtures/caseDataWithEmptyStringsInsteadOfNull.json
  service/src/main/resources/application.yaml
Labels: ns:fpl-case-service-pr-772

#730 feat: hide confidential contact details for respondents/children (FPLA-583)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/8_Confidential.json
  e2e/pages/caseView.page.js
  e2e/pages/events/enterChildrenEvent.page.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ConfidentialPartyType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Child.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/interfaces/ConfidentialParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ChildrenService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ConfidentialDetailsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/main/resources/HTMLTemplate.html
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ChildrenServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ConfidentialDetailsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:fpl-case-service-pr-730

#779 chore: add East Riding of Yorkshire Council to LA fixed list
  ccd-definition/FixedLists/AuthorityFixedList.json
Labels: ns:fpl-case-service-pr-779

#762 feat: update application notification subject to indicate urgent hearing (FPLA-1114)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GatekeeperEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
Labels: ns:fpl-case-service-pr-762

#760 feat: add further directions to order flow (FPLA-1105)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/CaseEventToFields/createOrder-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/createOrder.json
  ccd-definition/CaseEventToFields/createOrderGatekeeping.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/1_furtherDirections.json
  ccd-definition/ComplexTypes/GeneratedOrder.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.docx
  e2e/pages/events/createOrderEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/FurtherDirections.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
Labels: ns:family-public-law, ns:fpl-case-service-pr-760, rel:fpl-case-service-pr-760

#791 Replaced bullet points with dashes and curly apostrophes with straight
  ccd-definition/CaseEventToComplexTypes/COMPLY_ON_BEHALF_SDO/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_ON_BEHALF_SDO/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_ON_BEHALF_SDO/respondentDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_OTHERS/COMPLY_OTHERS-otherPartiesDirections.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_OTHERS/COMPLY_OTHERS-respondentDirections.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/1_directionResponse.json
  ccd-definition/ComplexTypes/2_Others.json
  ccd-definition/ComplexTypes/2_RespondentParty.json
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/main/resources/ordersConfig.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/JsonOrdersLookUpServiceTest.java
  service/src/test/resources/ordersConfig.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-791

#774 feat: court admin comply on behalf of parties not represented (FPLA-971)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_ON_BEHALF_COURT/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_ON_BEHALF_COURT/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_ON_BEHALF_COURT/respondentDirectionsCustom.json
  ccd-definition/CaseEventToFields/COMPLY_ON_BEHALF_SDO.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ComplyOnBehalfEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperServiceTest.java
Labels: ns:family-public-law, ns:fpl-case-service-pr-774, rel:fpl-case-service-pr-774

#800 fix: Comply on behalf - use correct id when checking if party is repr…
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-800

#784 refactor: update email content provider to use caseData
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderSDOIssued.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/LocalAuthorityEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/PeopleInCaseHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/PeopleInCaseHelperTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-784

#759 feat: robotics case submission notification (FPLA-720)
  ccd-definition/CaseEvent/Submitted.json
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  e2e/pages/events/enterFamilyManCaseNumberEvent.page.js
  infrastructure/main.tf
  infrastructure/variables.tf
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AddCaseNumberControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/HmctsCourtLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/email/EmailConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/robotics/RoboticsEmailConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AddCaseNumberController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseNumberAdded.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/EmailFailedSendException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/OtherOrderTypeEmailNotificationException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/RoboticsDataException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/email/EmailAttachment.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/email/EmailData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/Address.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/Applicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/Child.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/Gender.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/RoboticsData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/Solicitor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DateFormatterService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/EmailService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsNotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/RoboticsDataVerificationHelper.java
  service/src/main/resources/application.yaml
  service/src/main/resources/bootstrap.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/HmctsCourtLookupConfigurationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/robotics/RoboticsEmailConfigurationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/EmailServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/config/LookupTestConfig.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsNotificationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/SampleRoboticsTestDataHelper.java
Labels: ns:family-public-law, ns:fpl-case-service-pr-759, rel:fpl-case-service-pr-759

#783 feat: add supervision order to create order event (FPLA-982)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/CaseEventToFields/createOrder-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/createOrder.json
  ccd-definition/CaseEventToFields/createOrderGatekeeping.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/1_furtherDirections.json
  ccd-definition/ComplexTypes/GeneratedOrder.json
  ccd-definition/FixedLists/GeneratedOrderType.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.docx
  e2e/fixtures/orders.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/createOrderEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GeneratedOrderKey.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GeneratedOrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DateFormatterService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DateFormatterServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/config/LookupTestConfig.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CoreCaseDataStoreLoader.java
  service/src/test/resources/core-case-data-store-api/care-order.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-783

#801 refactor: minor code inspection issues
  .github/PULL_REQUEST_TEMPLATE.md
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OtherPartiesDirectionAssignee.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ParentsAndRespondentsDirectionAssignee.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/interfaces/Assignee.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CallbackEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/NoAssociatedUsersException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DocumentsHelper.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-801

#795 fix: remove past hearings from CCD event (FPLA-1178)
  ccd-definition/CaseEvent/Submitted.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/GeneratedOrderEmailContentProviderTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-795

#785 feat: remove users from individual cases (FPLA-912)
  e2e/pages/events/enterRepresentativesEvent.page.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeAboutToSubmitEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Representative.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RepresentativeCaseRoleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RepresentativeService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RepresentativeCaseRoleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RepresentativesServiceTest.java
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, rel:fpl-case-service-pr-785

#788 feat: emergency protection order (FPLA-830)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-prepare-for-hearing.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-submitted.json
  ccd-definition/CaseEventToFields/createOrder-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/createOrder.json
  ccd-definition/CaseEventToFields/createOrderGatekeeping.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/EmergencyProtectionOrder/EPOChildren.json
  ccd-definition/ComplexTypes/EmergencyProtectionOrder/EPOPhrase.json
  ccd-definition/FixedLists/EPOTypes.json
  ccd-definition/FixedLists/GeneratedOrderType.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-00228.docx
  e2e/fixtures/orders.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/createOrderEvent.page.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ValidateEmergencyProtectionOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ValidateEmergencyProtectionOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/EPOType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GeneratedEPOKey.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GeneratedOrderKey.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GeneratedOrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Address.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/emergencyprotectionorder/EPOChildren.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/emergencyprotectionorder/EPOPhrase.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/epoordergroup/EPOAddressGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/epoordergroup/EPOEndDateGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/interfaces/time/TimeDifference.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/interfaces/time/TimeRange.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/time/TimeRangeValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/AddressTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/ValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/time/HasEndDateAfterStartDateValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/time/TimeNotMidnightValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/time/TimeRangeValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/time/TimeValidatorTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-788

#803 feat: interim supervision order (FPLA-983)
  ccd-definition/CaseEventToFields/createOrder-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/createOrder.json
  ccd-definition/CaseEventToFields/createOrderGatekeeping.json
  ccd-definition/ComplexTypes/OrderTypeAndDocument.json
  e2e/fixtures/orders.js
  e2e/helpers/generated_order_helper.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-803

#809 fix: added replace method to deal with curly apostrophe (FPLA-1206)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-809

#799 feat: interim care order (FPLA-981)
  ccd-definition/CaseEventToComplexTypes/create-order/create-order-submitted.json
  ccd-definition/CaseEventToFields/createOrder-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/createOrder.json
  ccd-definition/CaseEventToFields/createOrderGatekeeping.json
  ccd-definition/ComplexTypes/GeneratedOrder.json
  ccd-definition/ComplexTypes/OrderTypeAndDocument.json
  ccd-definition/FixedLists/GeneratedOrderSubtype.json
  e2e/fixtures/orders.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/createOrderEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GeneratedOrderSubtype.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GeneratedOrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OrderTypeAndDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/OrderTypeAndDocumentTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-799

#790 feat: unsuccessful robotics notification logging and resend endpoint (FPLA-998)
  ccd-definition/AuthorisationCaseField/system-update.json
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RoboticsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/security/AuthCheckerConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/security/MethodSecurityConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/security/SecurityConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AddCaseNumberController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RoboticsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseNumberAdded.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/OtherOrderTypeEmailNotificationException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/robotics/RoboticsDataException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/RoboticsData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsNotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/RoboticsDataVerificationHelper.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsNotificationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/SampleRoboticsTestDataHelper.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-790

#814 fix: case number validation in controller tests
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AddCaseNumberControllerTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-814

#810 fix: draft CMO / compliance SDO populating same ccd fields (FPLA-1196)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/allPartiesCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/courtDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/localAuthorityDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/parentsAndRespondentsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/allPartiesCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/courtDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/localAuthorityDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/parentsAndRespondentsCustom.json
  ccd-definition/CaseEventToFields/actionCMO.json
  ccd-definition/CaseEventToFields/draftCMO.json
  ccd-definition/CaseField.json
  e2e/pages/events/draftCaseManagementOrderEvent.page.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DraftCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DraftCMOServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-810

#808 feat: hide confidential address for others (FPLA-1120)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEvent/Open.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEvent/Submitted.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/8_Confidential.json
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OthersControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OthersControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OthersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ConfidentialPartyType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Others.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DirectionHelperService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RepresentativeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OthersServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-808

#820 fix: create a case with mandatory tag in e2e tests (FPLA-NA)
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-820

#827 fix:owas suppressions for CVE-2019-17563
  config/owasp/suppressions.xml
Labels: ns:family-public-law, rel:fpl-case-service-pr-827

#825 fix: remove duplicate radio buttons in representatives event (FPLA-1239)
  ccd-definition/FixedLists/RepresentativeServingPreferences-nonprod.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-825

#822 feat: allocation proposal field made mandatory (FPLA-1217)
  ccd-definition/CaseEventToComplexTypes/otherProposal/AllocationProposal.json
  ccd-definition/CaseEventToFields/otherProposal.json
  e2e/steps_file.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Section.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Allocation.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseValidatorServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-822

#836 fix: for roboticsdata applicant.organisationName for and include address postcode [FPLA-720]
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/SampleRoboticsTestDataHelper.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-836

#845 feat: toggle on Public Beta functionality
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-845

#846 User professional reference data instace from aat on preview env
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-846

#831 feat: end date field on interim orders (FPLA-1179)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/CaseEventToFields/createOrder-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/createOrder.json
  ccd-definition/CaseEventToFields/createOrderGatekeeping.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/InterimEndDate.json
  ccd-definition/FixedLists/InterimEndDateType.json
  e2e/fixtures/orders.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/createOrderEvent.page.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ValidateEmergencyProtectionOrderControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ValidateOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ValidateOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/InterimOrderKey.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ccd/fixedlists/InterimEndDateType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/FurtherDirections.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/InterimEndDate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/InterimEndDateGroup.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/generated/InterimEndDateTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/GeneratedOrderEmailContentProviderTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-831

#824 feat: Child placement (FPLA-820)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/cafcass.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/AuthorisationCaseField/la-solicitor.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEvent/Submitted.json
  ccd-definition/CaseEventToComplexTypes/placement/Placement-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/placement/Placement-prepare-for-hearing.json
  ccd-definition/CaseEventToComplexTypes/placement/Placement.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementOrderAndNotices-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementOrderAndNotices-prepare-for-hearing.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementOrderAndNotices.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementSupportingDocument-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementSupportingDocument-prepare-for-hearing.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementSupportingDocument.json
  ccd-definition/CaseEventToFields/placement-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/placement.json
  ccd-definition/CaseEventToFields/placementGatekeeping.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/9_Placements.json
  ccd-definition/ComplexTypes/Placement/Placement.json
  ccd-definition/ComplexTypes/Placement/_PlacementOrderAndNotices.json
  ccd-definition/ComplexTypes/Placement/_PlacementSupportingDocument.json
  ccd-definition/FixedLists/PlacementOrderAndNotices.json
  ccd-definition/FixedLists/PlacementSupportingDocumentType.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/caseView.page.js
  e2e/pages/events/placementEvent.page.js
  e2e/steps_file.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementAboutToStartEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementAboutToSubmitEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/YesNo.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Placement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/PlacementOrderAndNotices.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/PlacementSupportingDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PlacementService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/ElementUtils.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/utils/ElementUtilsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PlacementServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, rel:fpl-case-service-pr-824

#830 feat: notify admin final CMO draft ready for judge (FPLA-927)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderReadyForJudgeReviewEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/request/RequestData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-830
