Repository hmcts/fpl-ccd-configuration, pull requests merged in 2020-09, with the labels that each got.

#1561 chore: Fix issues reported by sonar
  service/src/main/java/uk/gov/hmcts/reform/fpl/CallbackRequestLogger.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/MaskHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1561

#1544 feat: hide C21 orders generated by mistake (FPLA-2107)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/removeOrder.json
  ccd-definition/CaseField/CareSupervision/removeOrder.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders.json
  ccd-definition/ComplexTypes/CareSupervision/GeneratedOrder.json
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/orders/blankOrder.js
  e2e/fixtures/testData/caseDataWithOrderCollection.json
  e2e/helpers/case_helper.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/removeOrderEvent.page.js
  e2e/tests/hmctsSuperUserAdministersCase_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GeneratedOrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RemoveOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/ElementUtils.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/utils/ElementUtilsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/GeneratedOrderTypeTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RemoveOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1544

#1556 refactor(java): Order -> StandardDirectionOrder (FPLA-2156)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerDateOfIssueMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/StandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrderValidationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1556

#1562 task: system-update permissions for deleting final order (FPLA-2135)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1562

#1563 refactor: SDO change state without extra event (FPLA-2157)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/CareSupervision/Gatekeeping.json
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/State.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1563

#1567 task: migrate case callback (FPLA-2135)
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  service/build.gradle
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1567

#1554 fix:Do not take C2 payment when user select not to use PBA (FPLA-1971)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1554

#1571 imp: raise perf alert only if requests are slower than 6secs
  infrastructure/alerts.tf
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1571

#1570 chore:Onboard Wales LAs
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1570

#1568 feat: warn users mo migration (FPLA-2096)
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEvent/CareSupervision/Open.json
  ccd-definition/CaseEventToFields/CareSupervision/openCase.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1568

#1572 task: update migrate case callback for FPLA-2162
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1572

#1581 chore: remove OWASP suppression - the LD library was updated
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1581

#1584 Dev/fix cmo issue
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1584

#1587 fix: cmo progression e2e in AAT
  e2e/fixtures/finalHearing.json
  e2e/fixtures/issueResolution.json
  e2e/helpers/case_helper.js
  e2e/pages/caseList.page.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1587

#1591 impr: increase nightly functional test timeout
  Jenkinsfile_nightly
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1591

#1593 chore:FPLA-2174 added configuration for Newcastle LA
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1593

#1582 feat: hide compliance events (FPLA-2116)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/ComplexTypes/CareSupervision/StandardDirectionOrder.json
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/response.js
  e2e/pages/events/complyOnBehalfOfOthersEvent.page.js
  e2e/pages/events/complyWithDirectionsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsCompliesOnBehalfOfOtherPartiesAfterSDOIsIssued_test.js
  e2e/tests/localAuthorityCompliesWithDirectionsAfterSDOIsIssued_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1582

#1590 chore: upgrade azurerm
  .terraform-version
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1590

#1599 feat: Enabled CYA and event notes for upload C2
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadC2-common.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadC2-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadC2-prod.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1599

#1578 feat: upload SDO (FPLA-2117)
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/CaseEvent/CareSupervision/Gatekeeping.json
  ccd-definition/CaseEvent/CareSupervision/gatekeeping-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/gatekeeping-prod.json
  ccd-definition/CaseEventToComplexTypes/draft-SDO/standardDirectionOrder.json
  ccd-definition/CaseEventToFields/CareSupervision/draftSDO-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/draftSDO-prod.json
  ccd-definition/CaseField/CareSupervision/SDO-nonprod.json
  ccd-definition/CaseField/CareSupervision/SDO-prod.json
  ccd-definition/CaseField/CareSupervision/SDO.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/CaseTypeTab/CareSupervision/4_DraftOrders/4_DraftOrders-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/4_DraftOrders/4_DraftOrders-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/4_DraftOrders/4_DraftOrders.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders/4_Orders-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders/4_Orders.json
  ccd-definition/ComplexTypes/CareSupervision/StandardDirectionOrder.json
  ccd-definition/FixedLists/CareSupervision/OrderStatus/OrderStatus-nonprod.json
  ccd-definition/FixedLists/CareSupervision/OrderStatus/OrderStatus-prod.json
  ccd-definition/FixedLists/CareSupervision/SDORoutes.json
  e2e/config.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/gatekeeperUploadsSDO_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerDateOfIssueMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerServiceRouteMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerUploadRouteMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ccd/fixedlists/SDORoute.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/StandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/sdo/StandardDirectionsOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/Constants.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/sdo/StandardDirectionsOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1578

#1601 chore: Add user id to grant case access logs
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1601

#1565 feat: Upload C2 supporting documents (FPLA-2131)
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadC2-common.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadC2-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadC2-prod.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/C2DocumentBundle-nonprod.json
  e2e/fixtures/testData/c2SupportingDocuments.js
  e2e/fragments/supportingDocuments.js
  e2e/pages/events/uploadC2DocumentsEvent.page.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/SupportingEvidenceBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UploadC2DocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ValidateSupportingEvidenceBundleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UploadC2DocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ValidateSupportingEvidenceBundleServiceTest.java
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1565

#1602 chore: Stop e2e test on case population failure
  e2e/helpers/case_helper.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1602

#1605 fix: Use local machine time zone in test configuration
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/FixedTimeConfiguration.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1605

#1611 chore: onboard Oxford (FPLA-2199)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1611

#1616 chore: new zap exceptions
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1616

#1606 feat: toggle on c2 supporting documents and new SDO flow (FPLA-2171)
  ccd-definition/CaseEvent/CareSupervision/Gatekeeping.json
  ccd-definition/CaseEvent/CareSupervision/gatekeeping-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/gatekeeping-prod.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-nonprod.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToFields/CareSupervision/draftSDO-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/draftSDO.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadC2-common.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadC2-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadC2.json
  ccd-definition/ComplexTypes/CareSupervision/C2DocumentBundle-nonprod.json
  ccd-definition/ComplexTypes/CareSupervision/C2DocumentBundle.json
  ccd-definition/FixedLists/CareSupervision/OrderStatus.json
  ccd-definition/FixedLists/CareSupervision/OrderStatus/OrderStatus-prod.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1606

#1564 feat: improve document upload after submission (FPLA-2001)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/manageDocuments.json
  ccd-definition/CaseEventToFields/CareSupervision/manageDocuments.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadDocments-CLOSED/uploadDocuments-CLOSED.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/10_Placements.json
  ccd-definition/CaseTypeTab/CareSupervision/12_SentDocuments.json
  ccd-definition/CaseTypeTab/CareSupervision/13_Notes.json
  ccd-definition/CaseTypeTab/CareSupervision/14_ExpertReports.json
  ccd-definition/CaseTypeTab/CareSupervision/15_Overview.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents.json
  ccd-definition/CaseTypeTab/CareSupervision/8_Correspondence.json
  ccd-definition/CaseTypeTab/CareSupervision/9_C2.json
  ccd-definition/CaseTypeTab/CareSupervision/9_Confidential.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/HearingFurtherEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ManageDocumentType.json
  ccd-definition/FixedLists/CareSupervision/ManageDocumentTypeList.json
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/supportingEvidenceDocuments.js
  e2e/fragments/supportingDocuments.js
  e2e/pages/caseView.page.js
  e2e/pages/events/manageDocumentsEvent.page.js
  e2e/pages/events/uploadC2DocumentsEvent.page.js
  e2e/pages/events/uploadStandardDirectionsDocumentEvent.page.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ManageDocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingFurtherEvidenceBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ManageDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/SupportingEvidenceValidatorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UploadC2DocumentsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/C2DocumentBundleTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/ManageDocumentTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SupportingEvidenceValidatorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UploadC2DocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ValidateSupportingEvidenceBundleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1564

#1550 impr: FPLA-2093 make the Submit application test more stable
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1550

#1619 chore(cleanup): old code after SDO/C2 toggled on
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1619

#1623 chore(audit): update audit.json
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1623

#1618 feat: Order alphabetically list of local authorities (FPLA-2188)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList-nonprod.json
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1618

#1621 fix: merge files missed in release
  ccd-definition/CaseField/CareSupervision/SDO-nonprod.json
  ccd-definition/CaseField/CareSupervision/SDO-prod.json
  ccd-definition/CaseField/CareSupervision/SDO.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1621

#1595 cleanup: remove compliance code and definitions
  ccd-definition/CaseEventToComplexTypes/COMPLY_CAFCASS-cafcassDirections.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_COURT-courtDirections.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_LOCAL_AUTHORITY-localAuthorityDirections.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_ON_BEHALF_COURT/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_ON_BEHALF_COURT/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_ON_BEHALF_COURT/respondentDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_OTHERS/COMPLY_OTHERS-otherPartiesDirections.json
  ccd-definition/CaseEventToComplexTypes/COMPLY_OTHERS/COMPLY_OTHERS-respondentDirections.json
  ccd-definition/CaseEventToFields/CareSupervision/COMPLY_CAFCASS.json
  ccd-definition/CaseEventToFields/CareSupervision/COMPLY_COURT.json
  ccd-definition/CaseEventToFields/CareSupervision/COMPLY_LOCAL_AUTHORITY.json
  ccd-definition/CaseEventToFields/CareSupervision/COMPLY_ON_BEHALF_SDO.json
  ccd-definition/CaseEventToFields/CareSupervision/COMPLY_OTHERS.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ComplyOnBehalfEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Direction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/DirectionResponse.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForUsersService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/DirectionResponseTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForUsersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1595

#1620 impr: SDO clean up (FPLA-1486)
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderController.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1620

#1625 chore: Do not deploy old ccd web in preview
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1625

#1607 cleanup: remove CMO code and definitions (FPLA-2060)
  ccd-definition/CaseEventToComplexTypes/action-CMO/allPartiesCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/cmoToAction.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/courtDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/localAuthorityDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/orderAction.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/parentsAndRespondentsCustom.json
  ccd-definition/CaseEventToComplexTypes/action-CMO/reviewCaseManagementOrder.json
  ccd-definition/CaseEventToFields/CareSupervision/DEPRECATED/actionCMO.json
  ccd-definition/CaseEventToFields/CareSupervision/DEPRECATED/draftCMO.json
  codecept.conf.js
  docker/docmosis/templates/FL-PLW-GOR-ENG-00225.doc
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ActionType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CMOStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseManagementOrderErrorMessages.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseManagementOrderKeys.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Event.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/NextHearingType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderReadyForJudgeReviewEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderReadyForPartyReviewEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForJudgeReviewEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForPartyReviewEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/NextHearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OrderAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Recital.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Schedule.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseManagementOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForJudgeReviewEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForPartyReviewEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseManagementOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1607

#1634 chore: Group access control - part 1
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1634

#1630 FPLA-2208-Onboarding Durham, Leicester City, Leicester County
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: Do not merge, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1630

#1641 Detach demo env from master branch
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1641

#1629 impr: alter access to familyman number event (FPLA-2105)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEvent/CareSupervision/MultiState-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState-prod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEvent/CareSupervision/Submitted-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/familyManCaseNumber/addFamilyManCaseNumber.json
  ccd-definition/CaseEventToFields/CareSupervision/familyManCaseNumber/editFamilyManCaseNumber.json
  e2e/fixtures/testData/caseDataWithOrderCollection.json
  e2e/pages/events/enterFamilyManCaseNumberEvent.page.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/hmctsSuperUserAdministersCase_test.js
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1629

#1624 feat: Add magistrate role (FPLA-2192)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/DEPRECATED-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType.json
  ccd-definition/UserProfile.json
  e2e/config.js
  e2e/steps_file.js
  e2e/tests/accessSegregation_test.js
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1624

#1648 fix: missed toggle
  ccd-definition/CaseEvent/CareSupervision/MultiState-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1648

#1627 fix: manage documents permissions and date validation (FPLA-2207)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/SupportingEvidenceBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/interfaces/time/PastOrPresentDate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/time/PastOrPresentDateValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SupportingEvidenceValidatorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UploadC2DocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/time/PastOrPresentDateValidatorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1627

#1640 cleanup: missed CMO code/definitions
  ccd-definition/CaseEventToComplexTypes/draft-CMO/allPartiesCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/cafcassDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/caseManagementOrder.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/courtDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/localAuthorityDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/otherPartiesDirectionsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/parentsAndRespondentsCustom.json
  ccd-definition/CaseEventToComplexTypes/draft-CMO/reviewCaseManagementOrder.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DirectionAssignee.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/allocatedjudge/AllocatedJudgeTemplateForCMO.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationEventHandlerTestData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1640

#1645 FPLA-1985-Archive the test results.
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1645

#1628 fix: content updates for c2 upload and manage document tab view (FPLA-2206)
  ccd-definition/CaseEventToComplexTypes/manageDocuments.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1628

#1626 refactor: improve performance for cmo document conversion and sealing (FPLA-2056)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/cmo/ReviewCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentSealingService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocumentConversionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/sdo/StandardDirectionsOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DocumentsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/common/DocumentReferenceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentSealingServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocumentConversionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/sdo/StandardDirectionsOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/DocumentsHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1626

#1635 feat: block case creation for la (FPLA-2140)
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEvent/CareSupervision/Open.json
  ccd-definition/CaseEventToFields/CareSupervision/openCase.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityValidationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityValidationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1635

#1646 feat: superuser change case state tool (FPLA-2083)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/changeCaseState.json
  ccd-definition/CaseField/CareSupervision/changeCaseState.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/events/changeCaseStateEvent.page.js
  e2e/steps_file.js
  e2e/tests/hmctsSuperUserAdministersCase_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeStateControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeStateControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChangeStateController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/State.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1646

#1650 impr: update smoke test and clean some e2e steps
  e2e/config.js
  e2e/fixtures/c2SupportingDocuments.js
  e2e/fixtures/caseData/caseDataWithOrderCollection.json
  e2e/fixtures/caseData/finalHearing.json
  e2e/fixtures/caseData/gatekeeping.json
  e2e/fixtures/caseData/gatekeepingNoHearingDetails.json
  e2e/fixtures/caseData/issueResolution.json
  e2e/fixtures/caseData/mandatorySubmissionFields.json
  e2e/fixtures/caseData/mandatoryWithMultipleChildren.json
  e2e/fixtures/caseData/prepareForHearing.json
  e2e/fixtures/testFiles/mockFile.docx
  e2e/fixtures/testFiles/mockFile.pdf
  e2e/fixtures/testFiles/mockFile.txt
  e2e/helpers/cmo_helper.js
  e2e/pages/events/uploadC2DocumentsEvent.page.js
  e2e/steps_file.js
  e2e/tests/caseManagementOrder_test.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/gatekeeperMakesAllocationDecision_test.js
  e2e/tests/gatekeeperUploadsSDO_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/hmctsSuperUserAdministersCase_test.js
  e2e/tests/localAuthorityCorrectsReturnedApplication_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterGatekeeping_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  e2e/tests/reviewCmoStateProgression_test.js
  e2e/tests/smoke_test.js
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1650

#1644 feat: Add zap hook to disable rule (FPLA-2224)
  Jenkinsfile_nightly
  audit.json
  security.sh
  zap_hooks.py
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1644

#1637 feat: restrict LA case submission using LaunchDarkly (FPLA-2212)
  service/README.md
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/RestrictionsConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1637

#1663 chore: FPLA-1983 version upgrade 11 postgresql ithc
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1663

#1668 chore: Generate ccd definition from perftest branch
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1668

#1654 feat: improve ico date (FPLA-2015)
  ccd-definition/ComplexTypes/CareSupervision/InterimEndDate.json
  ccd-definition/FixedLists/CareSupervision/InterimEndDateType.json
  e2e/pages/events/createOrderEvent.page.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ccd/fixedlists/InterimEndDateType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/InterimEndDate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/GeneratedOrderTemplateDataGeneration.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1654

#1667 chore: Run subset of e2e in aat functional tests stage
  Jenkinsfile_CNP
  package.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1667

#1669 chore:FPLA-1983 Upgrading postgressql to version 11
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1669

#1660 refactor: move event links from caseField to eventLinks (FPLA-2079)
  ccd-definition/CaseField/CareSupervision/CMO.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1660

#1666 impr: reduce sign ins on e2e
  e2e/steps_file.js
  package.json
  yarn.lock
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1666

#1671 chore: upload ccd definition on perftest env
  Jenkinsfile_CNP
  bin/variables/load-perftest-environment-variables.sh
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1671

#1672 chore: update dependency check plugin version
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1672

#1670 fix: remove Issue resolution state (FPLA-2228)
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/MultiState-prod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/State/State-common.json
  e2e/fixtures/caseData/issueResolution.json
  e2e/tests/reviewCmoStateProgression_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/State.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/HearingBookingTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1670

#1655 impr: additional notes for hearings (FPLA-2020)
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetails.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  docker/docmosis/templates/FL-PLW-HNO-ENG-00525.doc
  e2e/fixtures/hearingTypeDetails.js
  e2e/pages/events/addHearingBookingDetailsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisNoticeOfHearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/NoticeOfHearingGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/NoticeOfHearingGenerationServiceTest.java
Labels: docmosis, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1655

#1675 fix: Fix perftest pipeline conf - undefined subscription
  Jenkinsfile_CNP
  bin/variables/load-ithc-environment-variables.sh
  bin/variables/load-perftest-environment-variables.sh
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1675

#1656 feat: prepare for a share case functionality in xui (FPLA-2137)
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/Organisation.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/OrganisationPolicy.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityValidationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/java/uk/gov/hmcts/reform/rd/client/OrganisationApi.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityValidationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1656

#1676 chore(toggle): state model
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/CaseEvent/CareSupervision/MultiState-prod.json
  ccd-definition/CaseEvent/CareSupervision/Submitted-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/Submitted.json
  ccd-definition/CaseTypeTab/CareSupervision/4_DraftOrders.json
  ccd-definition/CaseTypeTab/CareSupervision/4_DraftOrders/4_DraftOrders-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/4_DraftOrders/4_DraftOrders-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders/4_Orders-nonprod.json
  ccd-definition/State/State-nonprod.json
  ccd-definition/State/State-prod.json
  ccd-definition/State/State.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1676

#1677 chore: Improve Applicant integration tests
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantAboutToStartControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ApplicantParty.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1677

#1680 fix: Toggle off caseworker-caa
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment-nonprod.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1680

#1683 chore: Restore demo sync with master branch
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1683

#1673 feat: send cmo by post (FPLA-2154)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  e2e/fixtures/caseData/prepareForHearing.json
  e2e/tests/caseManagementOrder_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/cmo/ReviewCMOController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1673

#1674 feat: send LA notifications to solicitor based on LD toggle (FPLA-2222)
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderRejectedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NewHearingsAddedHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfProceedingsIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ReturnedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/InboxLookupService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/NotificationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2PbaPaymentNotTakenEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderRejectedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NewHearingsAddedHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfProceedingsIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/UpcomingHearingsFoundNotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/InboxLookupServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1674

#1691 fix: sdo regression
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerUploadRouteMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/sdo/StandardDirectionsOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/sdo/StandardDirectionsOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1691

#1692 chore: definition improvements
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1692

#1603 feat: Capture and display who uploaded document (FPLA-1996)
  ccd-definition/CaseEventToComplexTypes/uploadDocuments.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/CourtBundle.json
  ccd-definition/ComplexTypes/CareSupervision/OtherDocument.json
  ccd-definition/ComplexTypes/CareSupervision/UploadDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/UploadSwetDocument.json
  e2e/helpers/upload_case_documents_helper.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterGatekeeping_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/UserRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CourtBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/SupportingEvidenceBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Document.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocumentMetaData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocumentSocialWorkOther.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UploadDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DocumentUploadHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/UserRolesTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentUploadHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UploadDocumentsServiceTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1603

#1690 chore: reopen case SA20C50002 (FPLA-2240)
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1690

#1687 feat: pass user email via header when looking for an user in reference data (FPLA-2034)
  service/src/main/java/uk/gov/hmcts/reform/rd/client/OrganisationApi.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1687
