Repository hmcts/fpl-ccd-configuration, pull requests merged in 2020-11, with the labels that each got.

#1813 chore: Turn on access for caseworker-caa
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1813

#1819 Revert "chore: Turn on access for caseworker-caa"
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment-nonprod.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ccd configuration

#1820 chore: Use gotToNextPage function
  e2e/helpers/cmo_helper.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/actionCaseManagementOrderEvent.page.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/pages/events/placementEvent.page.js
  e2e/steps_file.js
  e2e/tests/bulkScanUserUploadsScannedDocuments_test.js
  e2e/tests/caseManagementOrder_test.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/gatekeeperUploadsSDO_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/hmctsSuperUserAdministersCase_test.js
  e2e/tests/localAuthorityDeletesApplication_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1820

#1797 feat: superuser reopen closed case (FPLA-2173)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-testing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
  ccd-definition/CaseEventToFields/CareSupervision/changeCaseState.json
  ccd-definition/CaseField/CareSupervision/changeCaseState.json
  ccd-definition/FixedLists/CareSupervision/ChangeClosedStateList.json
  e2e/fixtures/caseData/closedCase.json
  e2e/pages/events/changeCaseStateEvent.page.js
  e2e/tests/hmctsSuperUserAdministersCase_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeStateControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeStateControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeStateControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChangeStateController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CloseCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ChangeCaseStateService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/MigrateStateGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/interfaces/IsStateMigratable.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/IsStateMigratableValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ChangeCaseStateServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/IsStateMigratableValidatorTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1797

#1823 chore: remove perf test support as not used
  .gitignore
  bin/run-performance-tests.sh
  build.gradle
  src/gatling/conf/application.conf
  src/gatling/conf/logback.xml
  src/gatling/resources/callback-request.json
  src/gatling/run.sh
  src/gatling/simulations/uk/gov/hmcts/reform/fpl/ApiSimulation.scala
  src/gatling/simulations/uk/gov/hmcts/reform/fpl/actions/ApplicationActions.scala
  src/gatling/simulations/uk/gov/hmcts/reform/fpl/actions/auth/IDAM.scala
  src/gatling/simulations/uk/gov/hmcts/reform/fpl/actions/auth/S2S.scala
  src/gatling/simulations/uk/gov/hmcts/reform/fpl/actions/ccd/Callback.scala
  src/gatling/simulations/uk/gov/hmcts/reform/fpl/config/SimulationParams.scala
  src/gatling/simulations/uk/gov/hmcts/reform/fpl/config/SystemConfig.scala
  src/gatling/simulations/uk/gov/hmcts/reform/fpl/utils/TOTP.scala
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1823

#1828 chore: FPLA-2380 CMO removal for SA20C50037
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1828

#1806 chore: cleanup unused / minimum usage events (FPLA-2113)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/DEPRECATED-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/DEPRECATED-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/DEPRECATED.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1806

#1833 chore: Remove feature toggle for task list in progress status
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListRenderer.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListRendererTest.java
  service/src/test/resources/task-list/expected-task-list-without-in-progress-tags.md
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1833

#1834 chore: remove expert ui feature toggle
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1834

#1822 chore: cleanup unused case fields (FPLA-2113)
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/CMO-deprecated.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseTypeTab/CareSupervision/4_DraftOrders.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/DEPRECATED/CaseManagementOrder.json
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/cmo/UploadCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/UploadCMOEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/UploadCMOService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/UploadCMOServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1822

#1830 chore: remove send nop feature toggle (FPLA-2325)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerDateOfIssueMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerUploadRouteMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/sdo/StandardDirectionsOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/sdo/StandardDirectionsOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1830

#1836 chore: Load same ccd def in demo as in rest of non prod envs
  bin/build-release-ccd-definition.sh
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1836

#1821 feat: reconfigure retry payments (FPLA-1895)
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/exception/RetryablePaymentException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentClient.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentClientTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1821

#1841 feat:FPLA-2372 Lincon Tameside LA onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-1841

#1838 feat: Update named solicitor after case submission
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  e2e/pages/events/enterApplicantEvent.page.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1838

#1843 chore:FPLA-2372 name changed for Tameside
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-1843

#1842 chore: FPLA-2364 Update case state
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1842

#1845 fix:FPLA-2393 LA onboarding of Medway and Wakefield
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-1845

#1849 chore: Remove callback retry configuration as it is not implemented o…
  ccd-definition/CaseEvent/CareSupervision/Gatekeeping.json
  ccd-definition/CaseEvent/CareSupervision/Open.json
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1849

#1850 feat:FPLA-2387 - Toggle on IP sprint stories (10th November)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-prod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1850

#1851 feat: no past hearings to adjourn vacate / vacate a hearing (FPLA-2298 & FPLA-2284)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  ccd-definition/ComplexTypes/CareSupervision/CancellationReason.json
  ccd-definition/FixedLists/CareSupervision/HearingOptions-nonprod.json
  ccd-definition/FixedLists/CareSupervision/HearingOptions.json
  ccd-definition/FixedLists/CareSupervision/HearingStatus.json
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerEditHearingMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerReListHearingMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingOptions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/HearingBookingGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/interfaces/IsValidHearingEdit.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/IsValidHearingEditValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/HearingBookingTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/IsValidHearingEditValidatorTest.java
Labels: based off another branch, ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1851

#1863 chore: workaround for flaky e2e tests
  Jenkinsfile_CNP
  e2e/helpers/dump_browser_logs_helper.js
  e2e/helpers/hooks_helper.js
  e2e/pages/caseView.page.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1863

#1852 chore:bump version of ccd charts to remove transitive dependency to @stable
  charts/fpl-case-service/Chart.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1852

#1854 chore: revert cleanup unused case fields (FPLA-2113)
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/CMO-deprecated.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseTypeTab/CareSupervision/4_DraftOrders.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/DEPRECATED/CaseManagementOrder.json
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/cmo/UploadCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/UploadCMOEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/UploadCMOService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/UploadCMOServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1854

#1859 chore: FPLA-2403 Remove C2 documents bundle for FamilyMan ID PO20C50014
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1859

#1871 Revert "temp: Detach demo env from master branch"
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1871

#1872 fix: Do not set organisation name in organisation policy as it option…
  service/src/functionalTest/resources/application-test-aat.yaml
  service/src/functionalTest/resources/application-test-local.yaml
  service/src/functionalTest/resources/application-test-preview.yaml
  service/src/functionalTest/resources/scenarios/CaseInitiation/about-to-submit.json
  service/src/functionalTest/resources/scenarios/EnterOthers/about-to-start.json
  service/src/functionalTest/resources/scenarios/EnterOthers/about-to-submit.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/model/Organisation.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1872

#1853 feat: judge email address entry in manage hearings (FPLA-2030)
  ccd-definition/CaseEventToComplexTypes/manageHearings/manageHearings.json
  ccd-definition/ComplexTypes/CareSupervision/CancelledHearingBooking.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  e2e/fixtures/hearingTypeDetails.js
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Judge.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelperTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1853

#1868 fix: Add organisation user to case assignment request as it is needed…
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseRoleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseRoleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1868

#1877 chore: Fix api config
  Jenkinsfile_CNP
  charts/fpl-case-service/values.aat.template.yaml
  service/src/functionalTest/resources/application-test-aat.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1877

#1844 fix: upload time formatting for additional documents (FPLA-2392)
  ccd-definition/ComplexTypes/CareSupervision/OtherDocument.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1844

#1880 chore: Turn on caseworker-caa role as needed for share a case
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1880

#1882 chore:FPLA-2395 Stockton and Darlington has been added to shared storage
  ccd-definition/FixedLists/SharedStorage/AuthorityList.json
Labels: ccd configuration

#1883 chore:test
  charts/fpl-case-service/Chart.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1883

#1879 FPLA-2411 Onboarding new LAs
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-1879

#1862 feat: notify hearing judge when allocated to a hearing (FPLA-2321)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/TemporaryHearingJudgeAllocationEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/TemporaryHearingJudgeEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/hearing/TemporaryHearingJudgeTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/TemporaryHearingJudgeContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/TemporaryHearingJudgeEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/TemporaryHearingJudgeContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1862

#1839 chore: FPLA-2365 Remove Newcastle Combined Court hearing venue
  ccd-definition/FixedLists/CareSupervision/HearingVenue.json
  service/src/main/resources/static_data/hearingVenues.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1839

#1867 feat: notify hearing judge of CMO upload (FPLA-2357)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractUploadCMOControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/AgreedCMOUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Judge.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AbstractJudge.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/JudgeAndLegalAdvisor.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/AgreedCMOUploadedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1867

#1888 ci: bump chart versions
  charts/fpl-case-service/Chart.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1888

#1889 chore: FPLA-2433 Remove close-case feature toggle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1889

#1835 chore(cleanup): deprecated code after 2019 toggle on
  audit.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractUploadCMOControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/cmo/UploadCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/AgreedCMOUploaded.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/UploadCMOEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/EventService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/UploadCMOService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/UploadCMOServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1835

#1881 chore: Updated notify gatekeeper on gatekeeping state change event (FPLA-1817)
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/sendtogatekeeper/NotifyGatekeeperTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1881

#1884 impr: new headers in documents tab (FPLA-2361)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1884

#1894 Fix issue, when page with dates in past is displayed even when dates …
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerValidateHearingDatesMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1894

#1895 chore: Use new case assignment endpoint as default
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1895

#1898 temp: Fix xui version
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1898

#1869 feat: add hearing in past (FPLA-2291)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerHearingInPastMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerValidateHearingDatesMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PastHearingDatesValidatorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/PastHearingDatesGroup.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PastHearingDatesValidatorServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1869

#1890 chore: FPLA-2434 remove new-case-state-model feature toggle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1890

#1897 refactor: FPLA-1829 refactor judgeAndLegalAdvisor method used in create order event
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/createOrderEvent.page.js
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1897

#1908 chore: Log details about document download attempt
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentDownloadService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1908

#1899 fix: temporary judge not receiving an email for first hearing (FPLA-NA)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1899

#1910 Fpla 2430 LA onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-1910

#1912 fix: Downgrade feign client 11.0 to 10.9
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1912

#1885 feat: Re-list cancelled hearing (FPLA-2200)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  ccd-definition/CaseTypeTab/CareSupervision/3_Hearings.json
  ccd-definition/FixedLists/CareSupervision/HearingOptions-nonprod.json
  ccd-definition/FixedLists/CareSupervision/HearingStatus.json
  ccd-definition/FixedLists/CareSupervision/hearing-cancellation/HearingReListOption.json
  e2e/fixtures/hearingTypeDetails.js
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerEditHearingMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerReListHearingMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerValidateHearingDatesMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingOptions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingFurtherEvidenceBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/HearingBookingTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1885

#1875 fix: representedBy not persisting in respondent event (FPLA-2428)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/CaseEventToFields/CareSupervision/amendRespondents.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1875

#1913 Release preparation for Sprint 20.1
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/FixedLists/CareSupervision/HearingOptions-nonprod.json
  ccd-definition/FixedLists/CareSupervision/HearingOptions.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1913

#1917 support: Prepare definitions for data migration
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1917

#1905 chore:FPLA-2444 remove judge-notification feature toggle
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/AllocatedJudgeNotificationType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NoticeOfProceedingsIssuedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfProceedingsIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/StandardDirectionOrderIssuedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfProceedingsIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/StandardDirectionOrderIssuedEmailContentProviderTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1905

#1923 chore: ignore exception rule (failing Nightly)
  audit.json
  zap_hooks.py
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1923

#1926 chore: Nightly build allow more time and retry to finish the tests
  Jenkinsfile_nightly
  codecept.conf.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1926

#1916 migration: remove first other from case (FPLA-2429)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseField/CareSupervision/migration.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrateCaseController.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1916

#1928 feat: Defintion changes to support Remove CMO feature branch (FPLA-2344)
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEventToFields/CareSupervision/removeOrder.json
  ccd-definition/CaseField/CareSupervision/removeOrder.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/CaseManagementOrder.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1928

#1924 support(migration): remove latest c2 from case (FPLA-2450)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MigrateCaseController.java
Labels: dependencies, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1924

#1936 impr: add gatekeeper permissions to create order events (FPLA-2460)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1936

#1937 Fpla 2458 and fpla 2459 la onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
  ccd-definition/FixedLists/CareSupervision/HearingVenue.json
  service/src/main/resources/static_data/hearingVenues.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1937

#1935 fix: Back to first page when refresh happened on second page of manage documents event (FPLA-2451)
  ccd-definition/CaseEventToFields/CareSupervision/manageDocuments.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1935

#1919 migration: remove hearings from case (FPLA-2437)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: dependencies, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1919

#1941 feat: Case fields to support SDO removal (FPLA-2333)
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseField/CareSupervision/removeOrder.json
  ccd-definition/ComplexTypes/CareSupervision/StandardDirectionOrder.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1941

#1943 feat:FPLA-2476 onboarding of Wolverhampton City Council
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-1943
