Repository hmcts/fpl-ccd-configuration, pull requests merged in 2020-06, with the labels that each got.

#1292 fix: Upgrade idam pr chart version to one that ignore idam cert issues
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1292

#1295 fix: Temprarly disable e2e test that check validation error as this f…
  e2e/tests/localAuthorityDeletesApplication_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1295

#1294 fix: failing return application e2e test
  e2e/tests/localAuthorityCorrectsReturnedApplication_test.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1294

#1282 impr: cleanup events - remove RequestData as it is not used and pass…
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AllocatedJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ReturnApplicationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/AmendedReturnedCaseEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/C2PbaPaymentNotTakenEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/C2UploadedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CallbackEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderIssuedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderReadyForJudgeReviewEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderReadyForPartyReviewEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/CaseManagementOrderRejectedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/FailedPBAPaymentEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/GeneratedOrderEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NoticeOfPlacementOrderUploadedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NotifyAllocatedJudgeEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NotifyGatekeepersEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PartyAddedToCaseEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PlacementApplicationEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PopulateStandardDirectionsEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PopulateStandardDirectionsOrderDatesEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/ReturnedCaseEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/StandardDirectionsOrderIssuedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/SubmittedCaseEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/events/CallbackEventTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AmendedReturnedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2PbaPaymentNotTakenEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForJudgeReviewEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForPartyReviewEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderRejectedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotifyAllocatedJudgeEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PartyAddedToCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PlacementApplicationEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsOrderDatesHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderProgressionServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1282

#1283 impr: removed unchecked supressions in complyWithDirectionsControllerTest (FPLA-NA)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsControllerTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1283

#1296 Dev/fpla 1780
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/DEPRECATED-nonprod.json
  ccd-definition/AuthorisationCaseEvent/DEPRECATED.json
  ccd-definition/CaseEvent/CLOSED.json
  ccd-definition/CaseEvent/DEPRECATED-nonprod.json
  ccd-definition/CaseEvent/DEPRECATED.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEvent/MultiState.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEvent/Submitted.json
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetails-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/addHearingBookingDetails/addHearingBookingDetailsGatekeeping.json
  ccd-definition/CaseEventToComplexTypes/placement/Placement-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/placement/Placement-prepare-for-hearing.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementConfidentialDocument-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementConfidentialDocument-prepare-for-hearing.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementOrderAndNotices-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementOrderAndNotices-prepare-for-hearing.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementSupportingDocument-gatekeeping.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementSupportingDocument-prepare-for-hearing.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundleGatekeeping.json
  ccd-definition/CaseEventToFields/addHearingBookingDetails-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/addHearingBookingDetailsGatekeeping.json
  ccd-definition/CaseEventToFields/addStatementOfService-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/addStatementOfServiceGatekeeping.json
  ccd-definition/CaseEventToFields/amendAttendingHearing-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendAttendingHearingGatekeeping.json
  ccd-definition/CaseEventToFields/amendInternationalElement-CLOSED.json
  ccd-definition/CaseEventToFields/amendInternationalElement-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendInternationalElementGatekeeping.json
  ccd-definition/CaseEventToFields/amendOthers-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendOthersGatekeeping.json
  ccd-definition/CaseEventToFields/amendRespondents-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendRespondentsGatekeeping.json
  ccd-definition/CaseEventToFields/placement-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/placementGatekeeping.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/uploadC2/uploadC2Gatekeeping.json
  ccd-definition/CaseEventToFields/uploadStandardDirectionsAfterGatekeeping.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1296

#1297 chore: resolve plugin id 'org.sonarqube' not found error
  service/build.gradle
Labels: ns:family-public-law, rel:fpl-case-service-pr-1297

#1223 fix: restrict children marker to only final orders (FPLA-NA)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OrderTypeAndDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1223

#1299 feat: app insights integration with slack (FPLA-1752)
  infrastructure/alerts.tf
Labels: ns:family-public-law, rel:fpl-case-service-pr-1299

#1280 chore: remove soon to be deprecated gradle configs and use recommended configs
  build.gradle
  gradlew
  gradlew.bat
  service/build.gradle
Labels: ns:family-public-law, rel:fpl-case-service-pr-1280

#1298 Fpla 1487 update order generation
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.doc
  docker/docmosis/templates/FL-PLW-GOR-ENG-00228.doc
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisGeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentSenderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/BlankOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CareOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseManagementOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocmosisCoverDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocmosisDocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocmosisTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/GeneratedOrderTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/SupervisionOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CMODocmosisTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentSenderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/AbstractOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/BlankOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CareOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseManagementOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocmosisCoverDocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocmosisDocumentGeneratorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/SupervisionOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1298

#1300 feat: data validation enhancement (FPLA-1464)
  ccd-definition/AuthorisationCaseField/court-admin.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1300

#1278 impr: aligning sdo and cmo (FPLA-NA)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrderStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsOrderDatesHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Directions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OrderForHearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/utils/ElementUtilsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsOrderDatesHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/DirectionsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseManagementOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1278

#1307 fix: create order event shows close case page when it shouldn't (FPLA-1843)
  ccd-definition/CaseEventToFields/createOrder.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1307

#1305 chore(deps): bump launchdarkly-java-server sdk to version 5.0.0
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/LaunchDarklyConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/scheduler/JobFactory.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1305

#1285 impr: refactored directions to comply with logic (FPLA-1470)
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyOnBehalfController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ComplyWithDirectionsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForUsersService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CommonDirectionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForUsersServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1285

#1314 fix: Handle missing child dob when generating orders
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1314

#1313 impr: remove raw type warnings
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/BlankOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CareOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/GeneratedOrderTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/SupervisionOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/AbstractOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/BlankOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CareOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/SupervisionOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/assertions/AnnotationAssertion.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/AbstractValidationTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1313

#1321 fix: close case judiciary permission
  ccd-definition/AuthorisationCaseField/judiciary.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1321

#1328 ZAP update
  audit.json
  security.sh
Labels: ns:family-public-law, rel:fpl-case-service-pr-1328

#1327 fix:change ccd image pull policy to always download latest vesion
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/requirements.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, rel:fpl-case-service-pr-1327

#1329 Rename internal-change events to avoid URL double-encoding bug
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/MultiState.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementSubmittedEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1329

#1330 Rename internal-changeState to avoid double-encoding bug
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/StateChange.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/DraftOrdersController.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1330

#1277 feat: final order issued marker (FPLA-1747)
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/CaseEventToFields/createOrder.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/ChildSelector.json
  ccd-definition/ComplexTypes/ChildrenNew.json
  e2e/fixtures/mandatoryWithMultipleChildren.json
  e2e/fixtures/orders.js
  e2e/helpers/generated_order_helper.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ValidateOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GeneratedOrderKey.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/json/deserializer/ChildSelectorDeserializer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/json/serializer/ChildSelectorSerializer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Child.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OrderTypeAndDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/selector/ChildSelector.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ChildrenService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CareOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/GeneratedOrderTemplateDataGeneration.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/json/serializer/ChildSelectorSerializerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/selector/ChildSelectorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ChildrenServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1277

#1341 Add more fingerprint exclusions
  audit.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1341

#1315 impr: Add name of responder to compliance (on behalf of) [FPLA-1485]
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PrepareDirectionsForDataStoreServiceTest.java
Labels: ns:family-public-law, rel:fpl-case-service-pr-1315

#1322 impr: multi-state event refactor part 2 (FPLA-1840)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/DEPRECATED.json
  ccd-definition/CaseEvent/DEPRECATED.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEvent/MultiState.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEvent/Submitted.json
  ccd-definition/CaseEventToFields/amendChildren-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendChildrenGatekeeping.json
  ccd-definition/CaseEventToFields/amendOtherProceedings-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/amendOtherProceedingsGatekeeping.json
  ccd-definition/CaseEventToFields/limitedUploadDocuments-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/limitedUploadDocumentsGatekeeping.json
  ccd-definition/CaseEventToFields/manageRepresentatives-PREPARE_FOR_HEARING.json
  ccd-definition/CaseEventToFields/manageRepresentativesGatekeeping.json
Labels: ns:family-public-law, rel:fpl-case-service-pr-1322

#1342 fix: Fix broken e2e flows that leads to incorrect retries and increas…
  e2e/fixtures/orders.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/createOrderEvent.page.js
Labels: ns:family-public-law, rel:fpl-case-service-pr-1342

#1344 fix: nightly mutation test (FPLA-1844)
  build.gradle
  service/build.gradle
Labels: ns:family-public-law, rel:fpl-case-service-pr-1344

#1346 temp: Temporary fix for dm domain regex
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1346

#1316 impr: return empty lists from cmo list variables (FPLA-NA)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ActionCaseManagementOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseManagementOrderProgressionControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/DraftCMOControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Directions.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/DirectionsTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1316

#1343 fix: missing submitted callback in hearing details (FPLA-1884)
  ccd-definition/CaseEvent/MultiState.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/HearingBookingDetailsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1343

#1352 fix: flaky delete application test
  e2e/tests/localAuthorityDeletesApplication_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1352

#1350 impr: remove "by unknown" from SDO (FPLA-1887)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1350

#1351 fix: final order issued text appearing in children event (FPLA-1812)
  ccd-definition/CaseEventToComplexTypes/children/amendChildren.json
  ccd-definition/CaseEventToComplexTypes/children/enterChildren.json
  ccd-definition/CaseEventToFields/amendChildren.json
  ccd-definition/CaseEventToFields/enterChildren.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1351

#1355 fix: Remove temporary document upload fix as original issue has been …
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1355

#1354 fix:handling blank case reference number before making a payment call
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1354

#1358 Expose nightly build params as jenkins parameters so job can be run a…
  Jenkinsfile_nightly
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1358

#1363 feat: Toggle on close a case functionality (FPLA-1785)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1363

#1364 fix:add zap timestamp disclousure exception (part of uuid matches tim…
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1364

#1365 impr: Increase e2e parallelism
  Jenkinsfile_nightly
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1365

#1357 fix: CTSC feature toggle fix (FPLA-1912)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1357

#1366 fix: Fix new issue reported by ZAP
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ValidateOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ValidateOrderController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1366

#1349 chore: feature toggle cleanup (FPLA-1841)
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.yaml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RoboticsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsNotificationService.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1349

#1375 fix:Fix request data in async task issue
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/AsyncConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/request/CacheAwareRequestData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/request/RequestData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/request/RequestDataCache.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/request/SimpleRequestData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/request/RequestDataTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1375

#1376 feat: hmcts permissions (FPLA-840)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/DEPRECATED.json
  ccd-definition/AuthorisationCaseField/court-admin.json
  ccd-definition/AuthorisationCaseField/gatekeeper.json
  ccd-definition/AuthorisationCaseField/judiciary.json
  ccd-definition/CaseEvent/CLOSED.json
  ccd-definition/CaseEvent/DEPRECATED.json
  ccd-definition/CaseEvent/Gatekeeping.json
  ccd-definition/CaseEvent/MultiState.json
  ccd-definition/CaseEvent/PREPARE_FOR_HEARING.json
  ccd-definition/CaseEvent/StateChange.json
  ccd-definition/CaseEvent/Submitted.json
  ccd-definition/CaseEventToFields/otherAllocationDecision-CLOSED.json
  ccd-definition/UserProfile.json
  e2e/config.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/judiciaryAdministersCaseAfterSubmission_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1376

#1380 feat: Send case application resubmission emails (FPLA-1822)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/DocumentException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AmendedReturnedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ReturnedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/returnedcase/ReturnedCaseTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/ReturnedCaseContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/Constants.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AmendedReturnedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/config/LookupTestConfig.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/ReturnedCaseContentProviderTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1380

#1369 feat: configure ccd shutter
  ccd-definition/Jurisdiction.json
  charts/fpl-case-service/values.preview.template.yaml
Labels: Do not merge, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1369

#1347 fix: missing judge email address (FPLA-1858)
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderReadyForJudgeReviewEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfProceedingsIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfProceedingsIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1347

#1378 fix: use allocated judge option deselecting in hearing details (FPLA-1935)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingBookingService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingBookingServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1378

#1382 fix: persist representedBy in respondent about to submit (FPLA-1927)
  ccd-definition/AuthorisationComplexType/AuthorisationComplexType.json
  ccd-definition/CaseEventToFields/amendRespondents.json
  ccd-definition/ComplexTypes/RespondentNew.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1382

#1390 Fix build issue
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1390

#1389 impr: e2e test retries in nightly build
  Jenkinsfile_nightly
  e2e/steps_file.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1389
