Repository hmcts/fpl-ccd-configuration, pull requests merged in 2020-12, with the labels that each got.

#1940 fix: Allow [SOLICITOR] to access court bundle (FPLA-2470)
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1940

#1945 feat:FPLA-2476 onboarding of LAs
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#1942 chore: update xui version
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/fpl-case-service/values.preview.template.yaml
  e2e/pages/caseView.page.js
  e2e/tests/adminMangesHearings_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1942

#1934 feat: superuser removes sdo / cmo from a case (FPLA-2333) (FPLA-2344)
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/removeOrder.json
  ccd-definition/CaseField/CareSupervision/removeOrder.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Orders.json
  e2e/fixtures/caseData/finalHearingWithMultipleOrders.json
  e2e/helpers/generated_order_helper.js
  e2e/tests/hmctsSuperUserAdministersCase_test.js
  e2e/tests/hmctsSuperUserRemovesOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerSubmittedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CallbackController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/removeorder/RemovableOrderActionNotFoundException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/removeorder/RemovableOrderNotFoundException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/StandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/interfaces/RemovableOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/IdentityService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RemoveOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/CMORemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/OrderRemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/OrderRemovalActions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/SDORemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/StandardDirectionOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RemoveOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/CMORemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/OrderRemovalActionsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/SDORemovalActionTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1934

#1950 chore: Improve e2e performance
  e2e/steps_file.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1950

#1956 fix:FPLA-2490 Bristol and Cumbria onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-1956

#1954 impr: Add retries to re share case controller (FPLA-2404)
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/ReShareCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1954

#1944 feat: Email notifications for CMO and SDO removals (FPLA-2413)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerSubmittedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/StandardDirectionsOrderRemovedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/CMORemovedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderRemovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/CMORemovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/orderremoval/OrderRemovalTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderRemovalEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/StandardDirectionsOrderRemovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/CMORemovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderRemovalEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
Labels: Do not merge, based off another branch, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1944

#1960 migration: Remove hearing (FPLA-2469)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1960

#1953 fix: Navigate to first page in flow when user refresh browser on 2nd …
  ccd-definition/CaseEventToFields/CareSupervision/uploadCMO.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1953

#1965 chore: Restore prev version of xui
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1965

#1952 impr: remove cmo by label (FPLA-2492)
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/AboutToStartOrSubmitCallbackException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/removeorder/UnexpectedNumberOfCMOsRemovedException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/CMORemovalAction.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/CMORemovalActionTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1952

#1968 feat: adding required ccd fields (FPLA-768)
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/CourtBundleV2.json
  ccd-definition/ComplexTypes/CareSupervision/Documents.json
  ccd-definition/FixedLists/CareSupervision/ApplicationDocumentType.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1968

#1972 fix: document download link in order notifications (FPLA-2499)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/OrderIssuedNotificationTestHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1972

#1967 chore: Remove old respondents filed
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1967

#1939 feat: improve document upload la (FPLA-768)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEvent/CareSupervision/Open-common.json
  ccd-definition/CaseEvent/CareSupervision/Open-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/Open-prod.json
  ccd-definition/CaseEventToComplexTypes/uploadDocuments-nonprod.json
  ccd-definition/CaseEventToComplexTypes/uploadDocuments-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadDocuments-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadDocuments-prod.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication-common.json
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents-nonprod.json
  codecept.conf.js
  docker/docmosis/templates/FL-PLW-APP-ENG-00095.doc
  e2e/config.js
  e2e/pages/events/addApplicationDocumentsEvent.page.js
  e2e/tests/localAuthorityDeletesApplication_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterGatekeeping_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ApplicationDocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Event.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ApplicationDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisAnnexDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisAnnexDocuments.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ApplicationDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListRenderer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UploadDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionDocumentAnnexGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/UploadDocumentTransformer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/UploadDocumentsMigrationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/ApplicationDocumentChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/EventsChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/ElementUtils.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ApplicationDocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListRendererTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionDocumentAnnexGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/document/UploadDocumentTransformerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/document/UploadDocumentsMigrationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/ApplicationDocumentCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/EventCheckerTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/task-list/expected-task-list-when-application-documents-enabled.md
Labels: ccd configuration, docmosis, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1939

#1977 Add owas suppression for CVE-2020-17527
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1977

#1976 chore: Add logs to re share controller
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/ReShareCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1976

#1975 migration: Remove invalid hearings (FPLA-2491)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1975

#1979 support: Narrow case access migration to Knowsley Borough Council
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/ReShareCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1979

#1985 FPLA-2509 Merton LA onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-1985

#1988 FPLA-2510 Bolton LA Onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-1988

#1982 impr: update ISO/ICO end of proceedings option (FPLA-2471)
  ccd-definition/FixedLists/CareSupervision/InterimEndDateType.json
  e2e/pages/events/createOrderEvent.page.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ccd/fixedlists/InterimEndDateType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/GeneratedOrderTemplateDataGeneration.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CareOrderGenerationServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1982

#1987 feat: Change reShareCases to migrate access for all cases
  scripts/reShareCases.sh
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/ReShareCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1987

#1974 feat: message a judge or legal advisor (FPLA-1628)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/messageJudge.json
  ccd-definition/CaseEventToFields/CareSupervision/messageJudge.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/CaseField/CareSupervision/messageJudge.json
  ccd-definition/CaseTypeTab/CareSupervision/12_JudicialMessages-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/13_SentDocuments.json
  ccd-definition/CaseTypeTab/CareSupervision/14_Notes.json
  ccd-definition/CaseTypeTab/CareSupervision/15_ExpertReports.json
  ccd-definition/CaseTypeTab/CareSupervision/16_Overview.json
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessage.json
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessageMetaData.json
  ccd-definition/FixedLists/CareSupervision/JudicialMessageStatus.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/caseView.page.js
  e2e/pages/events/messageJudgeOrLegalAdviserEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/JudicialMessageStatus.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NewJudicialMessageEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NewJudicialMessageEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/JudicialMessage.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/JudicialMessageMetaData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/MessageJudgeEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/NewJudicialMessageTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NewJudicialMessageEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/C2DocumentBundleTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageContentProviderTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1974

#1973 impr: cleanup order templates (FPLA-1852)
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.doc
  docker/docmosis/templates/FL-PLW-GOR-ENG-00228.doc
  docker/docmosis/templates/FL-PLW-STD-ENG-00099.doc
Labels: docmosis, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1973

#1983 fix: Refresh on any manage hearing event subpage to navigate to first page (FPLA-2493)
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1983

#1978 fix: temporary hearing magistrate notification error (FPLA-2506)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/TemporaryHearingJudgeContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/TemporaryHearingJudgeContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1978

#1980 feat: FPLA-2461 save CMO and SDO orders in word format
  ccd-definition/CaseField/CareSupervision/SDO.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CareSupervision/CaseManagementOrder/ReviewDecision.json
  ccd-definition/ComplexTypes/CareSupervision/StandardDirectionOrder.json
  e2e/tests/gatekeeperUploadsSDO_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/cmo/ReviewCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/StandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/CaseManagementOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/sdo/StandardDirectionsOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/sdo/StandardDirectionsOrderServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1980

#1998 NOJIRA: fix missing definition for court bundle FPLA-2362
  ccd-definition/ComplexTypes/CareSupervision/CourtBundle.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1998

#1999 fix: Prevent documents duplications when uploading cmo (FPLA-2512)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/UploadCMOService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/UploadCMOServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1999

#1996 ci: use ElasticSearch in preview environment
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1996

#2002 fix: hide correspondence tab if empty (FPLA-NA)
  ccd-definition/CaseTypeTab/CareSupervision/8_Correspondence.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2002

#2001 chore: Annotate slow e2e test so that they are run by dedicated worker
  codecept.conf.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_@slow_test.js
  e2e/tests/localAuthoritySubmitsApplication_@slow_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2001

#1997 FPLA-2379: Data migration for LA docs to new collection
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ApplicationDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ApplicationDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/UploadDocumentsMigrationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ApplicationDocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/document/UploadDocumentsMigrationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1997

#2011 FPLA-2379: Data migration for LA docs to new collection - log case id…
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2011

#2016 migration: Remove broken hearing (FPLA-2525)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2016

#2004 chore: Update xui version in preview env
  Jenkinsfile_CNP
  charts/fpl-case-service/values.preview.template.yaml
  e2e/pages/caseList.page.js
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_@slow_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2004

#2018 fix: Fix moment js error, when parsing non standard date
  e2e/tests/hmctsSuperUserRemovesOrders_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2018

#2017 refactor: remove unsused library
  service/build.gradle
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UploadC2DocumentsService.java
Labels: dependencies, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2017

#2007 feat: Add hearing date validation in hearing booking event (FPLA-2421)
  e2e/tests/adminMangesHearings_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerValidateHearingDatesMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PastHearingDatesValidatorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/HearingEndDateGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/interfaces/time/HasHearingEndDateAfterStartDate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/time/HasHearingEndDateAfterStartDateValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PastHearingDatesValidatorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/time/HasHearingEndDateAfterStartDateValidatorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2007

#2019 fix: allow adjourned-hearing-CMOs to be approved (FPLA-2523)
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2019

#2022 refactor: add waits on case list search
  e2e/pages/caseList.page.js
  e2e/pages/events/openApplicationEvent.page.js
  e2e/steps_file.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2022

#2024 migration: Change case state (FPLA-2544)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2024

#2012 fix: show appropriate error when no C2s to support
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageDocumentsController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2012

#2014 fix: show appropriate error when no hearings to relist
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerEditHearingMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2014

#2027 fix: Validate if additional documents have file attached (FPLA-2551)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentsValidatorService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentsValidatorServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2027

#2026 impr: idam api retries (FPLA-2389)
  service/src/main/java/uk/gov/hmcts/reform/calendar/client/BankHolidaysApi.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/client/FeesRegisterApi.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/client/PaymentApi.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/feign/FPLRetryer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/feign/FeignClientConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/feign/GlobalFeignConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/feign/codec/IdamErrorDecoder.java
  service/src/main/java/uk/gov/hmcts/reform/rd/client/OrganisationApi.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/feign/FPLRetryerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/feign/IdamClientTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/feign/codec/IdamErrorDecoderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2026
