Repository hmcts/fpl-ccd-configuration, pull requests merged in 2021-11, with the labels that each got.

#3172 DFPL-267: West and North Northamptonshire LA and 3rd Party Onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#3167 DFPL-310: Solicitor journey - add legal counsel to the case
  Jenkinsfile_CNP
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  charts/fpl-case-service/values.preview.template.yaml
  e2e/actors/base.js
  e2e/tests/adminManagesLocalAuthorities_test.js
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3167

#3184 Dfpl 340: On the hearing flow Submit and Continue button randomly toggles to Submit button
  ccd-definition/ComplexTypes/CareSupervision/CancelledHearingBooking.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  config/owasp/suppressions.xml
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3184

#3180 DFPL-346 + DFPL-342: Lambeth + Islington Onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#3198 Tag flaky functional tests with @flaky
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  e2e/tests/adminManagesLocalAuthorities_test.js
  e2e/tests/adminManagesOrders_test.js
  e2e/tests/childSolicitors_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  e2e/tests/manageDocuments_test.js
  e2e/tests/noticeOfChange_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3198

#3200 DFPL-354,DFPL-353,DFPL-360: Hounslow, Barnet + West Sussex Onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, onboarding, rel:fpl-case-service-pr-3200

#3201 Sync branches AFTER prod deploy
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3201

#3059 impr: Update hearing judge after a hearing (FPLA-3098)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  ccd-definition/FixedLists/CareSupervision/HearingOptions.json
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/adminMangesHearings_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerEditHearingMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerValidateHearingDatesMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingOptions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/IsValidHearingEditValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/IsValidHearingEditValidatorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3059

#3203 DFPL-362: London Borough of Barking and Dagenham LA Onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, onboarding, rel:fpl-case-service-pr-3203

#3206 DFPL-365: London Borough on Enfield
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, onboarding, rel:fpl-case-service-pr-3206

#3212 DFPL-374: London Borough of Haringey
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#3204 DFPL-355: Missing PVP flag in prod
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/CaseTypeTab/CareSupervision/0_SummaryAfterSubmission-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/0_SummaryAfterSubmission.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3204

#3214 DFPL-375: London Borough of Ealing
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, onboarding, rel:fpl-case-service-pr-3214

#3207 Nightly dev
  Jenkinsfile_nightly
  e2e/actors/base.js
  saucelabs.conf.js
  zap_hooks.py
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3207

#3224 DFPL-378: London Borough of Bexley Onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, onboarding, rel:fpl-case-service-pr-3224

#3217 Move docmosis tests to func tests
  Jenkinsfile_CNP
  e2e/tests/addOrRemoveLegalCounsel_test.js
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/docmosis/AbstractDocmosisTest.java
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/docmosis/CaseSubmissionServiceDocmosisTest.java
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/docmosis/OrderCreationServiceDocmosisTest.java
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/docmosis/TranslationRequestFormCreationServiceDocmosisTest.java
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/docmosis/generator/DocmosisOrderCaseDataGenerator.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3217

#3070 Sonar Project naming convention
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3070
