Repository hmcts/fpl-ccd-configuration, pull requests merged in 2021-02, with the labels that each got.

#2178 FPLA-2647: Toggle Release 1st February 2021 (Summary tab)
  ccd-definition/CaseTypeTab/CareSupervision/0_SummaryAfterSubmission.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2178

#2177 chore: Improve e2e performance
  e2e/steps_file.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2177

#2181 chore: Update readme
  README.md
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2181

#2123 permissions: combine judge and gatekeeper (FPLA-2621)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEvent/CareSupervision/Gatekeeping.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2123

#2179 chore: increase number of e2e workers in preview
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2179

#2182 fix: Retry e2e test on network issues
  e2e/helpers/hooks_helper.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2182

#2185 support: migration of Draft CMO (FPLA-2654)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2185

#2184 chore: log e2e test retries
  Jenkinsfile_CNP
  codecept.conf.js
  e2e/helpers/event_listener.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2184

#2173 feat: Update judge message (FPLA-2645)
  ccd-definition/CaseEventToComplexTypes/messageJudge/judicialMessageReply.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessage.json
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessageMetaData.json
  e2e/config.js
  e2e/pages/events/messageJudgeOrLegalAdviserEvent.page.js
  e2e/tests/messageJudge_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/UserRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/judicialmessage/JudicialMessage.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/judicialmessage/JudicialMessageMetaData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/request/CacheAwareRequestData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/request/RequestData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/request/SimpleRequestData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UserService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/UserRolesTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2PbaPaymentNotTakenEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/JudicialMessageTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/request/RequestDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentDownloadServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UserServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2173

#2187 chore: Log e2e retry failure reason
  e2e/helpers/event_listener.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2187

#2190 chore: Log e2e retry failures
  e2e/helpers/event_listener.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2190

#2191 chore: Split tests in Hearing administration journey to be work better with retries
  e2e/tests/adminMangesHearings_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2191

#2194 feat: Config for EPS and MLA case outsourcing (FPLA-2603)
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/EpsLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/MlaLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/utils/LookupConfigParser.java
  service/src/main/resources/bootstrap.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/EpsLookupConfigurationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/MlaLookupConfigurationTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2194

#2203 feat:FPLA-2675 LA onboarding of North Yorkshire CC
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2203

#2166 feat: Judge decision on draft orders (FPLA-2400)
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState-prod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/review-CMO/reviewCMO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/review-CMO/reviewCMO-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewCMO-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewCMO-prod.json
  ccd-definition/CaseField/CareSupervision/eventLinks-nonprod.json
  ccd-definition/CaseField/CareSupervision/eventLinks-prod.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/CaseField/CareSupervision/hearingOrders-nonprod.json
  ccd-definition/CaseField/CareSupervision/hearingOrders-prod.json
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/CaseTypeTab/CareSupervision/5_DraftOrders-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/5_DraftOrders-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/5_DraftOrders.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/ReviewDecision-nonprod.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/ReviewDecision-prod.json
  ccd-definition/FixedLists/CareSupervision/CMOReviewOutcome-nonprod.json
  ccd-definition/FixedLists/CareSupervision/CMOReviewOutcome-prod.json
  e2e/config.js
  e2e/helpers/cmo_helper.js
  e2e/pages/events/reviewAgreedCaseManagementOrderEvent.page.js
  e2e/steps_file.js
  e2e/tests/reviewCmoStateProgression_test.js
  e2e/tests/uploadDraftOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerValidateReviewDecisionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersAboutToStartControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/ApproveDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/HearingOrdersBundleNotFoundException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ReviewDraftOrdersData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrdersBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/BlankOrderGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrdersBundleHearingSelector.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrdersReviewDataBuilder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/HearingOrderGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewDecisionValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/UpdateSummaryCaseDetailsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/event/ReviewDraftOrdersDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/BlankOrderGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrdersBundleHearingSelectorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrdersReviewDataBuilderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/HearingOrderGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewDecisionValidatorTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2166

#2204 fix: update case fields not searchable
  ccd-definition/CaseField/CareSupervision/hearingOrders-nonprod.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2204

#2205 feat:FPLA-2686 LA Onboarding of Wigan Council
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2206 NOJIRA: fix Text '' could not be parsed at index 0
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2206

#2171 feat: draft orders judge decision notification (FPLA-2562)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersRejectedEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailContent.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/ApproveDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/ReviewCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/CaseManagementOrderIssuedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/CaseManagementOrderRejectedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/DraftOrdersApproved.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/DraftOrdersRejected.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/ReviewCMOEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderRejectedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersApprovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersRejectedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/json/serializer/ApprovedOrdersTemplateSerializer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/UploadDraftOrdersData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/cmo/ApprovedOrdersTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/cmo/IssuedCMOTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/cmo/RejectedOrdersTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrdersEventNotificationBuilder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/ReviewDraftOrdersEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderRejectedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersRejectedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/json/serializer/ApproveOrdersTemplateSerializerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrdersEventNotificationBuilderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/ReviewDraftOrdersEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2171

#2151 fix: handle null judgeName for magistrate in draft CMO email (FPLA-NA)
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftCMOUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/AgreedCMOUploadedContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/DraftCMOUploadedContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/AgreedCMOUploadedContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/DraftCMOUploadedContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2151

#2213 chore: FPLA-2677 Release upload draft orders
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEvent/CareSupervision/MultiState-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState-prod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/review-CMO/reviewCMO-prod.json
  ccd-definition/CaseEventToComplexTypes/review-CMO/reviewCMO.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewCMO-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewCMO.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadCMO-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadCMO-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadCMO.json
  ccd-definition/CaseField/CareSupervision/eventLinks-nonprod.json
  ccd-definition/CaseField/CareSupervision/eventLinks-prod.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/CaseField/CareSupervision/hearingOrders-nonprod.json
  ccd-definition/CaseField/CareSupervision/hearingOrders-prod.json
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/CaseTypeTab/CareSupervision/5_DraftOrders-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/5_DraftOrders-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/5_DraftOrders.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/ReviewDecision-prod.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/ReviewDecision.json
  ccd-definition/FixedLists/CareSupervision/CMOReviewOutcome-prod.json
  ccd-definition/FixedLists/CareSupervision/CMOReviewOutcome.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2213

#2215 fix: permissions for draft cmo (FPLA-2658)
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2215

#2217 temp: Deatch demo from master branch to test case outsourcing
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2217

#2195 feat: send case type in API calls to Fee & Pay (FPLA-2496)
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/payment/CreditAccountPaymentRequest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2195

#2219 fix: Add document and hearing fields to ReviewDecision.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/ReviewDecision.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2219

#2216 support: removal of third generated order on case CF20C50070 (FPLA-2684)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2216

#2220 support: remove final generated order for case SN20C50009 (FPLA-2687)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2220

#2222 fix: revert husky bump
  package.json
  yarn.lock
Labels: dependencies, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2222

#2223 fix: message a judge recipient reset on mid event (FPLA-2683)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2223

#2227 chore: Fix HMCTS admin handles supplementary evidence to work on slower envs
  e2e/pages/caseList.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_@slow_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2227

#2230 fix: Hide editable order title and document fields in review draft orders
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/ReviewDecision.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2230

#2233 fix: draft orders tab show conditions (FPLA-2709)
  ccd-definition/CaseTypeTab/CareSupervision/5_DraftOrders.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2233

#2235 feat: Add mappings for LA code to org id (FPLA-2604)
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/LocalAuthorityIdLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/utils/LookupConfigParser.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/UnknownLocalAuthorityException.java
  service/src/main/resources/bootstrap.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/LocalAuthorityIdLookupConfigurationTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2235

#2186 impr: add "Finished" tag to task list (FPLA-2504)
  e2e/pages/caseView.page.js
  e2e/pages/events/enterHearingNeededEvent.page.js
  e2e/tests/localAuthoritySubmitsApplication_@slow_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/tasklist/TaskState.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListRenderer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/tasklist/TaskListRenderElements.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/AllocationProposalChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/CaseNameChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/CourtServiceChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/EventChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/EventCheckerHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/EventsChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/FactorsAffectingParentingChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/HearingUrgencyChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/InternationalElementChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/OrdersSoughtChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/ProceedingsChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/RiskAndHarmChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListRendererTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/tasklist/TaskListRenderElementsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/AllocationProposalCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CaseNameCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CourtServiceCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/EventCheckerHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/FactorsAffectingParentingCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/HearingUrgencyCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/InternationalElementCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/OrdersSoughtCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/ProceedingsCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/RiskAndHarmCheckerTest.java
  service/src/test/resources/task-list/expected-task-list-when-application-documents-enabled.md
  service/src/test/resources/task-list/expected-task-list.md
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2186

#2236 chore: Migrate draft CMOs to hearing orders drafts bundle (FPLA-2710)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2236

#2211 feat: FPLA-2600 remove draft CMO with superuser tool
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEventToFields/CareSupervision/removeOrder.json
  ccd-definition/CaseField/CareSupervision/removeOrder.json
  e2e/fixtures/caseData/finalHearingWithMultipleOrders.json
  e2e/tests/hmctsSuperUserRemovesOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrdersBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/OrderRemovalActions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/SealedCMORemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/UpdateCMOHearing.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrdersBundleTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/OrderRemovalActionsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/SealedCMORemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/UpdateCMOHearingTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2211

#2234 impr: add uploadedBy and dateTimeUploaded for supporting evidence from agreed CMO flow
  e2e/tests/uploadDraftOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2234

#2214 fix: admin CMO email should show CMO hearing date (FPLA-2691)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/OrderIssuedNotificationTestHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2214

#2229 support: migration of order ten on case SA20C50008 (FPLA-2693)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2229

#2243 fix: Fix e2e to work on e2e env
  e2e/fixtures/caseData/finalHearingWithMultipleOrders.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2243

#2245 chore: Improve test to pass mutation tests
  service/build.gradle
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/selector/Selector.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/CallbackRequestLoggerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/CallbackResponseLoggerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/selector/SelectorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/NotificationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/EventsCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestLoggerAppender.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2245

#2198 feat: validate email format in the service (FPLA-2449)
  ccd-definition/CaseEventToFields/CareSupervision/addAllocatedJudge.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseEventToFields/CareSupervision/notifyGatekeeper.json
  ccd-definition/CaseEventToFields/CareSupervision/sendToGatekeeper.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AllocatedJudgeControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerValidateJudgeEmailMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageLegalRepresentativeMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AllocatedJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageLegalRepresentativesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/EmailAddress.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RepresentativeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ValidateEmailService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RepresentativesServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ValidateEmailServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2198

#2224 fix: supporting evidence no longer overwritten (FPLA-2679)
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingFurtherEvidenceBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2224

#2249 chore(e2e): update success selector
  e2e/pages/eventSummary.page.js
  e2e/steps_file.js
  e2e/tests/uploadDraftOrders_test.js
Labels: dependencies, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2249

#2255 fix: Fix ES max index size exceeded issue
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/C2DocumentBundle.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2255

#2256 feat: fix draft orders for barrister (FPLA-2700)
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2256

#2257 feat: Onboard Peterborough (FPLA-2734)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2260 fix: FPLA-2726 Fix Judicial messages issues
  ccd-definition/CaseEventToComplexTypes/messageJudge/judicialMessageMetaData.json
  ccd-definition/CaseEventToComplexTypes/messageJudge/judicialMessageReply.json
  ccd-definition/CaseEventToFields/CareSupervision/messageJudge.json
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessage.json
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessageMetaData.json
  e2e/pages/events/messageJudgeOrLegalAdviserEvent.page.js
  e2e/tests/messageJudge_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerValidateMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/judicialmessage/JudicialMessage.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2260

#2258 support: FPLA- 2705 Remove draft CMO from case SN20C50023
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2258

#2265 feat: Onboard South Gloucestershire Council (FPLA-2737)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2252 fix: creating agreed CMO to clear draft CMO (FPLA-2717)
  ccd-definition/CaseEventToFields/CareSupervision/uploadCMO.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2252

#2267 NOJIRA: chore - fix flaky test
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseAccessService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2267

#2264 chore(migration): update existing docs to supporting new confidential permissions structure (FPLA-2722)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2264

#2274 chore: add Zap exceptions
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2274

#2280 FPLA-2735 Fix vacate hearing Null Pointer Exception
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2280

#2286 chore: Review owasp suppressions
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2286

#2272 chore: (FPLA-2715/FPLA-2740) Remove draft CMO and case note
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2272

#2288 chore: remove hearings in the past LD toggle (FPLA-2757)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerValidateHearingDatesMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2288

#2262 fix: minor confidential docs fixes/improvements
  ccd-definition/CaseTypeTab/CareSupervision/13_Correspondence.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ConfidentialDocumentsSplitter.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/document/ConfidentialDocumentsSplitterTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2262

#2289 release: confidential documents (FPLA-2730)
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister-prod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-prod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor-prod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor-prod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor-prod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationComplexType/caseDocuments/C2DocumentBundle.json
  ccd-definition/AuthorisationComplexType/caseDocuments/hearingFurtherEvidenceDocuments.json
  ccd-definition/AuthorisationComplexType/documents/C2DocumentBundle-prod.json
  ccd-definition/AuthorisationComplexType/documents/hearingFurtherEvidenceDocuments-prod.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocuments-prod.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocuments.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLA-prod.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLA.json
  ccd-definition/CaseTypeTab/CareSupervision/9_Documents-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/9_Documents.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2289

#2295 chore: Fix flaky test
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseAccessService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2295

#2298 chore: restore demo env to be in sync with master
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2298

#2279 chore: remove legacy CMO code and draft orders toggle (FPLA-2754)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewCMOControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/AgreedCMOUploadedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/ReviewCMOController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/UploadDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/AgreedCMOUploaded.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/DraftCMOUploaded.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/AgreedCMOUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftCMOUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/cmo/DraftCMOUploadedTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/DraftCMOUploadedContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/AgreedCMOUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftCMOUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ReviewCMOServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/DraftCMOUploadedContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2279

#2290 chore: (FPLA-2766) Remove legacy draft CMOs with superuser tool
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/SealedCMORemovalAction.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/SealedCMORemovalActionTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2290

#2281 feat: Retrieve LA Managed Organisation detail (FPLA-2668)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantAboutToStartControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/java/uk/gov/hmcts/reform/rd/client/OrganisationApi.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2281

#2282 fix: email CTSC when CMO sent for approval (FPLA-2731)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersUploadedHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/AgreedCMOUploadedContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftsOrdersUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/AgreedCMOUploadedContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2282

#2273 chore: make case fields unsearchable (FPLA-2293)
  ccd-definition/CaseField/CareSupervision/CMO-deprecated.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/SDO.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/caseSummary.json
  ccd-definition/CaseField/CareSupervision/changeCaseState.json
  ccd-definition/CaseField/CareSupervision/createOrderFields.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/CaseField/CareSupervision/manageDocuments.json
  ccd-definition/CaseField/CareSupervision/manageDocumentsLA.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  ccd-definition/CaseField/CareSupervision/removeOrder.json
  ccd-definition/CaseField/CareSupervision/tabHeadings.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
Labels: Do not merge, ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2273

#2302 chore: removed EPO Order Type and Exclusion LD toggle (FPLA-2756)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/epo/HasEPOTypeValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/epo/HasEnteredEPOExcludedValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/HasEPOTypeValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/HasEnteredEPOExcludedValidatorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2302

#2306 fix: Fix flaky e2e tests
  e2e/tests/adminMangesHearings_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2306

#2297 feat: remove an order tool supports removal of uploaded order (FPLA-2769)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalAction.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalActionTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2297

#2300 Ta-464 adding accessibility to remaining pages
  e2e/helpers/cmo_helper.js
  e2e/pages/caseList.page.js
  e2e/pages/caseView.page.js
  e2e/pages/events/addApplicationDocumentsEvent.page.js
  e2e/pages/events/addExtend26WeekTimelineEvent.page.js
  e2e/pages/events/addStatementOfServiceEvent.page.js
  e2e/pages/events/attachScannedDocsEvent.page.js
  e2e/pages/events/changeCaseStateEvent.page.js
  e2e/pages/events/createNoticeOfProceedingsEvent.page.js
  e2e/pages/events/createOrderEvent.page.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/pages/events/enterAllocationDecisionEvent.page.js
  e2e/pages/events/enterAllocationProposalEvent.page.js
  e2e/pages/events/enterApplicantEvent.page.js
  e2e/pages/events/enterAttendingHearingEvent.page.js
  e2e/pages/events/enterChildrenEvent.page.js
  e2e/pages/events/enterOrdersAndDirectionsNeededEvent.page.js
  e2e/pages/events/enterOthersEvent.page.js
  e2e/pages/events/enterRepresentativesEvent.page.js
  e2e/pages/events/enterRespondentsEvent.page.js
  e2e/pages/events/manageDocumentsLAEvent.page.js
  e2e/pages/events/messageJudgeOrLegalAdviserEvent.page.js
  e2e/pages/events/placementEvent.page.js
  e2e/pages/events/returnApplicationEvent.page.js
  e2e/pages/events/reviewAgreedCaseManagementOrderEvent.page.js
  e2e/pages/events/sendCaseToGatekeeperEvent.page.js
  e2e/pages/events/uploadC2DocumentsEvent.page.js
  e2e/reporters/accessibility-reporter/customReporter.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_@slow_test.js
  e2e/tests/localAuthorityCorrectsReturnedApplication_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_@slow_test.js
  e2e/tests/uploadDraftOrders_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2300

#2307 FPLA-2797: Change configuration to new docmosis url schemas
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2307
