Repository hmcts/fpl-ccd-configuration, pull requests merged in 2021-01, with the labels that each got.

#2037 Dev/fpla 2288 : Remove Feature toggle for bulk user assignment
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseRoleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseRoleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityUserServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2037

#2038 FPLA-2379: add caseworker-publiclaw-systemupdate to RETURNED state in order to be able migrate all the records
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2038

#2043 feat:FPLA-2526 Halton LA onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2043

#2042 fix: create an order event redirects to first page on refresh (FPLA-2561)
  ccd-definition/CaseEventToFields/CareSupervision/createOrder/createOrder.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2042

#2045 NOJIRA: fix smoke test adding retry
  e2e/tests/smoke_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2045

#2047 refactor: Switch Cafcass directions in SDO (FPLA-2538)
  service/src/main/resources/ordersConfig.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2047

#2048 FPLA-2526 Wirral LA onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2048

#1990 FPLA-2513: Add email template testing support
  .gitignore
  Jenkinsfile_CNP
  README.md
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailContent.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/SampleEmailTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/SendEmailResponseAssert.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/TestNotifyData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/NotificationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/NotificationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/captor/ResultsCaptor.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1990

#1971 fix: replace document download link for case access users (FPLA-2503)
  charts/fpl-case-service/values.aat.template.yaml
  charts/fpl-case-service/values.preview.template.yaml
  service/README.md
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/GatewayConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/GeneratedOrderEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NoticeOfPlacementOrderUploadedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/IssuedOrderAdminNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/OrderIssuedNotifyData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/SharedNotifyTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/hearing/NoticeOfHearingTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseUrlService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfHearingEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/StandardDirectionOrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/base/AbstractEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DocumentsHelper.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseUrlServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfHearingEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/StandardDirectionOrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/DocumentsHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/OrderIssuedNotificationTestHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-1971

#2041 impr: use first CMH date for SDO (FPLA-2516)
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsOrderDatesHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsOrderDatesHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2041

#2051 feat:FPLA-2566 Brighton and Hove City Council LA Onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2057 support: removal of others to be given notice on case LE20C50023
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2057

#2058 chore: 11th Jan - Toggle on message/reply to judge (FPLA-2563)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/CaseTypeTab/CareSupervision/12_JudicialMessages.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2058

#2061 FPLA-2378: 12th Jan - Toggle on LA doc stories
  README.md
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2061

#2062 support: removal of draft CMO INC5140082 (FPLA-2521)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/CMORemovalAction.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/CMORemovalActionTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2062

#2023 fix: Change case state when sending case to gatekeeper in a transactional way (FPLA-2544)
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
  ccd-definition/CaseEvent/CareSupervision/Submitted.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2023

#2064 FPLA-2378: 12th Jan - Toggle on LA doc stories
  README.md
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEvent/CareSupervision/Open-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/Open-prod.json
  ccd-definition/CaseEvent/CareSupervision/Open.json
  ccd-definition/CaseEventToComplexTypes/uploadDocuments-prod.json
  ccd-definition/CaseEventToComplexTypes/uploadDocuments.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadDocuments-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadDocuments.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/16_CourtBundle.json
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/7_Documents.json
  service/build.gradle
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2064

#2068 support: system update permissions to remove draft cmos (FPLA-2521)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2068

#2070 support: remove uploaded order INC5142421 (FPLA-2535)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2070

#2073 support: removal of first draft order on case 1603717767912577 (FPLA-2573)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2073

#2074 chore: Allow skipping smoke tests per env
  Jenkinsfile_CNP
  charts/fpl-case-service/values.preview.template.yaml
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2074

#2072 chore: Create case via api in e2e tests
  charts/fpl-case-service/values.preview.template.yaml
  e2e/helpers/case_helper.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_@slow_test.js
  e2e/tests/localAuthorityDeletesApplication_test.js
  e2e/tests/localAuthoritySubmitsApplication_@slow_test.js
  e2e/tests/smoke_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/TestingSupportControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/client/CoreCaseDataApiV2.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/testingsupport/controllers/TestingSupportController.java
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2072

#2069 fix: added missing user permissions for order collection (FPLA-2558)
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2069

#2080 Revert "fix: Change case state when sending case to gatekeeper in a transactional way (FPLA-2544)"
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
  ccd-definition/CaseEvent/CareSupervision/Submitted.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
Labels: ccd configuration

#2083 chore:FPLA-2598 Devon LA onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2056 impr: add epo exclusion information (FPLA-1106)
  ccd-definition/ComplexTypes/CareSupervision/Orders-nonprod.json
  ccd-definition/ComplexTypes/CareSupervision/Orders-prod.json
  e2e/fixtures/ordersAndDirectionsNeeded.js
  e2e/pages/events/enterOrdersAndDirectionsNeededEvent.page.js
  e2e/tests/localAuthoritySubmitsApplication_@slow_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/interfaces/epo/HasEPOAddress.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/interfaces/epo/HasEPOType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/interfaces/epo/HasEnteredEPOExcluded.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/epo/HasEPOAddressValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/epo/HasEPOTypeValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/epo/HasEnteredEPOExcludedValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/OrdersSoughtCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/HasEPOAddressValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/HasEPOTypeValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/HasEnteredEPOExcludedValidatorTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2056

#2084 fix: for sdo event populate directions
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionsServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2084

#2092 Add missing users to user profile - to avoid ccd exception that profile is not found
  ccd-definition/UserProfile.json
Labels: ccd configuration

#2091 Use http instead of https in preview
  Jenkinsfile_CNP
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2091

#2090 support: migrations for FPLA-2593, FPLA-2589, FPLA-2599
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2090

#2094 chore: Fix e2e, so that can be run on other envs
  e2e/fixtures/caseData/mandatoryWithC2DocumentBundle.json
  e2e/helpers/case_helper.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2094

#2098 fix: Allow LABARRISTER, BARRISTER, CAFCASSSOLICITOR and SOLICITOR to see sealedCMOs (fpla-2607)
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
Labels: ccd configuration

#2076 feat: epo exclusion - create order (FPLA-2515)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/CaseEventToFields/CareSupervision/createOrder/createOrder-common.json
  ccd-definition/CaseEventToFields/CareSupervision/createOrder/createOrder-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/createOrder/createOrder-prod.json
  ccd-definition/CaseField/CareSupervision/createOrderFields.json
  ccd-definition/FixedLists/CareSupervision/EPOExclusionRequirementTypes.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-00228.doc
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/createOrderEvent.page.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/EPOExclusionRequirementType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GeneratedEPOKey.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisGeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationServiceTest.java
Labels: ccd configuration, docmosis, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2076

#2082 chore: disable smoke test aat temporarely
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2082

#2104 chore: 18th Jan - Toggle on stories Archive judge messages and EPO exclusion (FPLA-2584)
  ccd-definition/AuthorisationCaseField/CareSupervision/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationComplexType/AuthorisationComplexType-nonprod.json
  ccd-definition/AuthorisationComplexType/AuthorisationComplexType.json
  ccd-definition/CaseEventToComplexTypes/messageJudge/judicialMessageReply-nonprod.json
  ccd-definition/CaseEventToComplexTypes/messageJudge/judicialMessageReply.json
  ccd-definition/CaseEventToFields/CareSupervision/createOrder/createOrder-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/createOrder/createOrder-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/createOrder/createOrder.json
  ccd-definition/ComplexTypes/CareSupervision/Orders-prod.json
  ccd-definition/ComplexTypes/CareSupervision/Orders.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2104

#2075 refactor: e2e test cleanup
  Jenkinsfile_CNP
  codecept.conf.js
  e2e/fixtures/caseData/gatekeepingFullDetails.json
  e2e/fixtures/caseData/gatekeepingNoAllocatedJudge.json
  e2e/fragments/directions.js
  e2e/fragments/judgeAndLegalAdvisor.js
  e2e/helpers/cmo_helper.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/caseList.page.js
  e2e/pages/caseView.page.js
  e2e/pages/events/addApplicationDocumentsEvent.page.js
  e2e/pages/events/attachScannedDocsEvent.page.js
  e2e/pages/events/closeTheCase.page.js
  e2e/pages/events/closeTheCaseEvent.page.js
  e2e/pages/events/createOrderEvent.page.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/pages/events/enterAllocatedJudgeEvent.page.js
  e2e/pages/events/enterAllocationDecisionEvent.page.js
  e2e/pages/events/enterAllocationProposalEvent.page.js
  e2e/pages/events/enterApplicantEvent.page.js
  e2e/pages/events/enterChildrenEvent.page.js
  e2e/pages/events/enterHearingNeededEvent.page.js
  e2e/pages/events/enterInternationalElementEvent.page.js
  e2e/pages/events/enterOtherProceedingsEvent.page.js
  e2e/pages/events/enterOthersEvent.page.js
  e2e/pages/events/enterRepresentativesEvent.page.js
  e2e/pages/events/enterRespondentsEvent.page.js
  e2e/pages/events/manageDocumentsEvent.page.js
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/pages/events/openApplicationEvent.page.js
  e2e/pages/events/sendCaseToGatekeeperEvent.page.js
  e2e/pages/events/uploadCaseManagementOrderEvent.page.js
  e2e/steps_file.js
  e2e/tests/adminMangesHearings_test.js
  e2e/tests/bulkScanUserUploadsScannedDocuments_test.js
  e2e/tests/caseManagementOrder_test.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/gatekeeperMakesAllocationDecision_test.js
  e2e/tests/gatekeeperUploadsSDO_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_@slow_test.js
  e2e/tests/hmctsSuperUserAdministersCase_test.js
  e2e/tests/hmctsSuperUserRemovesOrders_test.js
  e2e/tests/localAuthorityCorrectsReturnedApplication_test.js
  e2e/tests/localAuthorityDeletesApplication_test.js
  e2e/tests/localAuthoritySubmitsApplication_@slow_test.js
  e2e/tests/smoke_test.js
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2075

#2111 fix mutation tests and sec oswap + decrease concurrency Nightly
  Jenkinsfile_nightly
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2111

#2106 support: removal of draft CMO LE20C50003 & removal of generated orders 1595320156232721 (FPLA-2480 & FPLA-2608)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2106

#2110 chore:FPLA-2610 onboarding of Pembrokeshire LA
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2110

#2046 fix: manage hearings page redirect on refresh (FPLA-2546)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerValidateHearingDatesMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2046

#2086 impr: update c2 notifications (FPLA-2583)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailContent.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotificationEventHandlerTestData.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2086

#2115 fix: barrister field permissions fix (FPLA-2619)
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2115

#2116 fix: give cafcass permissions for documents tab (FPLA-NA)
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
Labels: ccd configuration

#2108 refactor: application properties cleanup
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/config/LaunchDarklyClientConfiguration.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/resources/application-integration-test.yaml
  service/src/integrationTest/resources/application.yaml
  service/src/main/resources/application-local.yaml
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2108

#2114 fix: manage hearing redirect fix (FPLA-2546)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerValidateHearingDatesMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2114

#2117 chore: Remove unused one off support tools
  scripts/reShareCases.sh
  scripts/shareCase.sh
  scripts/shareLocalAuthorityCases.sh
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/ShareCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/ReShareCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/ShareCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2117

#2119 chore:FPLA-2620 Bath and North East Somerset onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2120 support: removal of hearing on case PR20C50001 (FPLA-2531)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2120

#2063 fix: use TabLabel instead of TabID in case urls (FPLA-2565)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/PlacementSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadCMOSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/C2UploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/TabUrlAnchor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseUrlService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderSDOIssued.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/FailedPBAPaymentContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageReplyContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/LocalAuthorityEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfHearingEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfProceedingsEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/PlacementApplicationContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/StandardDirectionOrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/UpcomingHearingsContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/base/AbstractEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/AgreedCMOUploadedContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/DraftCMOUploadedContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseUrlServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderSDOIssuedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/FailedPBAPaymentContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageReplyContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/LocalAuthorityEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfHearingEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfProceedingsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/PlacementApplicationContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/StandardDirectionOrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/AgreedCMOUploadedContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/DraftCMOUploadedContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/job/UpcomingHearingsContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/OrderIssuedNotificationTestHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2063

#2124 chore:FPLA-2626 adding Gloucestershire County Council
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2097 imp: don't send allocated judge email about allocation (FPLA-2367)
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AllocatedJudgeControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AllocatedJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NotifyAllocatedJudgeEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NotifyAllocatedJudgeEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NotifyAllocatedJudgeEventHandlerTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2097

#2087 impr: log LA domain exception as warning (FPLA-2579)
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ResourceExceptionHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/LogAsWarningException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/UnknownLocalAuthorityDomainException.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2087

#2127 FPLA-2634 North Somerset LA onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2127

#2107 impr: minor updates for messages and tabs (FPLA-2602)
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseTypeTab/CareSupervision/10_CourtBundle.json
  ccd-definition/CaseTypeTab/CareSupervision/11_C2.json
  ccd-definition/CaseTypeTab/CareSupervision/12_JudicialMessages.json
  ccd-definition/CaseTypeTab/CareSupervision/13_Correspondence.json
  ccd-definition/CaseTypeTab/CareSupervision/15_Confidential.json
  ccd-definition/CaseTypeTab/CareSupervision/16_Placements.json
  ccd-definition/CaseTypeTab/CareSupervision/17_Payments.json
  ccd-definition/CaseTypeTab/CareSupervision/18_SentDocuments.json
  ccd-definition/CaseTypeTab/CareSupervision/19_ExpertReports.json
  ccd-definition/CaseTypeTab/CareSupervision/3_CaseHistory.json
  ccd-definition/CaseTypeTab/CareSupervision/4_Hearings.json
  ccd-definition/CaseTypeTab/CareSupervision/5_DraftOrders.json
  ccd-definition/CaseTypeTab/CareSupervision/6_Orders.json
  ccd-definition/CaseTypeTab/CareSupervision/7_CasePeople.json
  ccd-definition/CaseTypeTab/CareSupervision/8_LegalBasis.json
  ccd-definition/CaseTypeTab/CareSupervision/9_Documents.json
  e2e/config.js
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2107

#2125 chore: Uploading ccd definitions into preview env on demand
  Jenkinsfile_CNP
  README.md
  bin/build-preview-ccd-definitions.sh
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2125

#2132 fix: Fix find upcoming hearings job - increase search limit from default 10 to 1000
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/search/SearchService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/search/SearchServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2132

#2109 fix: CMO judgename can no longer be null (FPLA-2564) clone
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/AgreedCMOUploadedContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/AgreedCMOUploadedContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2109

#2126 feat: remove order event available in final hearing state (FPLA-2615)
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2126

#2141 support: Migration of draft case management orders ( FPLA-2637 & FPLA-2640)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2141

#2088 test: Add tests for judge message email notifications (NO JIRA)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/JudicialMessageReplyEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NewJudicialMessageEventHandlerEmailTemplateTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2088

#2148 chore/E2E stability improvements
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  e2e/helpers/generated_order_helper.js
  e2e/helpers/puppeter_helper.js
  e2e/pages/caseView.page.js
  e2e/pages/events/attachScannedDocsEvent.page.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_@slow_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2148

#2156 feat:FPLA-2646 Luton Borough Concil onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2156

#2161 chore: Remove custom await for readiness as it is handled by kuberenetes
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2161

#2162 chore: Schedule nightly build earlier to avoid rush hours
  Jenkinsfile_nightly
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2162

#2154 support: migration of draft CMO (FPLA-2640)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2154

#2139 impr: update CTSC email about CMO draft (FPLA-2518)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/AgreedCMOUploadedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/AgreedCMOUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/AgreedCMOUploadedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2139

#2164 chore: remove duplicate hearing (FPLA-2651)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2164

#2165 NOJIRA: fix skip smoke test creating the reports
  Jenkinsfile_CNP
  package.json
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2165

#2137 fix: build notify data only if representatives present (FPLA-2639)
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RepresentativeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeNotificationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PartyAddedToCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeNotificationServiceTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2137

#2121 FPLA-2170: Update summary tab (formerly overview)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/caseSummary.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/caseSummary.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/CaseField/CareSupervision/tabHeadings.json
  ccd-definition/CaseTypeTab/CareSupervision/0_SummaryAfterSubmission-nonprod.json
  ccd-definition/CaseTypeTab/CareSupervision/16_Overview.json
  e2e/pages/caseView.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_@slow_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractUploadDraftOrdersControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSummaryControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSummaryController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/UploadDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/AfterSubmissionCaseDataUpdated.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AfterSubmissionCaseDataUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/summary/SyntheticCaseSummary.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryDeadlineGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryFieldsGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryFinalHearingGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryJudgeInformationGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryMessagesGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryNextHearingGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryOrdersRequestedGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryPeopleInCaseGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryPreviousHearingGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AfterSubmissionCaseDataUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryDeadlineGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryFinalHearingGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryJudgeInformationGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryMessagesGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryNextHearingGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryOrdersRequestedGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryPeopleInCaseGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryPreviousHearingGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2121

#2128 feat: update summary tab cron job (FPLA-2578)
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/UpdateSummaryCaseDetails.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/search/SearchService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/BooleanQuery.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/ESClause.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/ESQuery.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/MatchQuery.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/Must.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/MustNot.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/RangeQuery.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/UpdateSummaryCaseDetailsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/search/SearchServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/BooleanQueryTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/ESQueryTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/MatchQueryTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/RangeQueryTest.java
Labels: based off another branch, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2128

#2153 fix: show message urgency in tab and reply journey if entered (FPLA-NA)
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessage.json
  e2e/tests/messageJudge_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2153

#2122 refactor: make authorisation case event readable
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-testing.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/DEPRECATED.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2122

#2100 fix: judicial messages wrong hearing (FPLA-2606)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/JudicialMessageReplyEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NewJudicialMessageEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageReplyContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageReplyContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2100

#2118 support: fix gatekeeper state change
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
  ccd-definition/CaseEvent/CareSupervision/Submitted.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SendToGatekeeperControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NotifyGatekeeperController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/SendToGatekeeperController.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2118

#2170 FPLA-2170: Update summary tab (formerly overview) fix concurrency conflict
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2170

#2172 fix: update cron job pagination
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/UpdateSummaryCaseDetails.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/search/SearchService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/ESQuery.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/UpdateSummaryCaseDetailsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/search/SearchServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/ESQueryTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2172
