Repository hmcts/fpl-ccd-configuration, pull requests merged in 2021-09, with the labels that each got.

#3060 chore: fix date format issue in welsh translation e2e
  e2e/tests/welshTranslations_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3060

#3079 DFPL-245: Torfaen County Borough Council LA Onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#3080 DFPL-246: Southtyneside LA Onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#3083 chore: Suppress CVE-2020-0822
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3083

#3073 feat: Validation of placement application documents (DFPL-235)
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementDocumentUploadMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/PlacementConfidentialDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/PlacementOrderAndNotices.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/PlacementSupportingDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PlacementService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/PlacementTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/event/PlacementEventDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PlacementServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3073

#3081 Dev/branched/dfpla= 239 add date time to placement application
  ccd-definition/CaseEventToComplexTypes/placement/Placement.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/Placement.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Placement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PlacementService.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3081

#3078 fix: only seal applications when CTSC user (DFPL-241)
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UserService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocumentConversionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocumentConversionServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3078

#3075 DFPL-164: Migration script to remove certificate file
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3075

#3091 chore: suppress audit warnings
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3091

#3048 FPLA-3344: Welsh C11a enhanced translation
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/docmosis/CaseSubmissionServiceDocmosisTest.java
  service/src/integrationTest/resources/c110a-Welsh.txt
  service/src/integrationTest/resources/c110a.txt
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/utils/EmergencyProtectionOrderDirectionsType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/utils/EmergencyProtectionOrderReasonsType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/utils/EmergencyProtectionOrdersType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ApplicationDocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ChildGender.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/EPOType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/YesNo.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/configuration/Language.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/robotics/Gender.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionDocumentAnnexGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/AgeDisplayFormatHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionDocumentAnnexGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/AgeDisplayFormatHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3048

#3054 fix: Migrate task list after migration of legacy applicant (FPLA-3238)
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3054

#3089 Fpla 3331 toggle release welsh user support
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3089

#3097 feat: Amend placement application (DFPL-115)
  ccd-definition/CaseEventToComplexTypes/placement/Placement.json
  ccd-definition/CaseEventToFields/CareSupervision/placement/placement.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/Placement.json
  e2e/config.js
  e2e/fixtures/testFiles/mockFile15.txt
  e2e/fixtures/testFiles/mockFile16.txt
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/AbstractPlacementControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementChildSelectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementDocumentUploadMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementNoticesUploadMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementPaymentDetailsMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PlacementApplicationEdited.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PlacementApplicationEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/FieldsGroup.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Placement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/PlacementNoticeDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/PlacementEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PlacementService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/PlacementTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PlacementServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelperTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3097

#2995 Fpla 3304 notification sol respondent statement
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/notification/DocumentUploadNotificationUserType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerPostDocumentsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventTestData.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2995

#3113 DFPL-265 Fix reading shutter secret
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3113

#3105 fix: ignore extension case on assigning render format (DFPL-264)
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/docmosis/RenderFormat.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DocumentsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/docmosis/RenderFormatTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/DocumentsHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3105

#3036 Fpla 2196 add case flags
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/caseSummary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/addCaseFlag.json
  ccd-definition/CaseField/CareSupervision/addCaseFlag.json
  ccd-definition/CaseField/CareSupervision/caseSummary.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/CaseTypeTab/CareSupervision/0_SummaryAfterSubmission-nonprod.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/events/addCaseFlagEvent.page.js
  e2e/tests/accessSegregation_test.js
  e2e/tests/adminAddCaseFlag_test.js
  saucelabs.conf.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseFlagControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseFlagController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/summary/SyntheticCaseSummary.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryCaseFlagGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryCaseFlagGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3036

#3120 onboarding bradford (DFPLA-259)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, onboarding, rel:fpl-case-service-pr-3120

#3038 feat: Submission of care order (FPLA-2313)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  ccd-definition/ComplexTypes/CareSupervision/CancelledHearingBooking.json
  ccd-definition/ComplexTypes/CareSupervision/Hearing.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  ccd-definition/FixedLists/CareSupervision/HearingType-nonprod.json
  ccd-definition/FixedLists/CareSupervision/HearingType.json
  ccd-definition/FixedLists/CareSupervision/HearingTypeFixedList-nonprod.json
  ccd-definition/FixedLists/CareSupervision/TimeFrameList-nonprod.json
  docker/docmosis/templates/FL-PLW-APP-ENG-00095.doc
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededAboutToSubmitCallbackControllerTest.java
  service/src/integrationTest/resources/fixtures/caseOtherOrderType.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededAboutToSubmitCallbackController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCaseSubmission.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/tasklist/TaskSection.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListRenderer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListRendererTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionCheckerTest.java
  service/src/test/resources/task-list/expected-task-list-no-grounds.md
Labels: ns:family-public-law, prd:fpl, docmosis, ccd configuration, rel:fpl-case-service-pr-3038

#3121 DFPL-257: Entries related to tickets DFPL-257, DFPL-258, DFPL-256 an…
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, onboarding, rel:fpl-case-service-pr-3121

#3112 feat: Placement notifications (DFPL-112)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/AbstractPlacementControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementChildSelectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementNoticesUploadMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/PlacementApplicationEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PlacementApplicationChanged.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PlacementApplicationSubmitted.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/PlacementNoticeChanged.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PlacementApplicationEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/PlacementNotifyData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PlacementService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/PlacementApplicationContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/PlacementContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/Constants.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandlerNotificationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandlerPaymentTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PlacementServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/PlacementApplicationContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3112

#3124 feat: Hide placement notice response from respondent solicitors (DFPL-279)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/placement.json
  ccd-definition/CaseTypeTab/CareSupervision/15_Placements.json
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Placement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/PlacementEventData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/PlacementTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/event/PlacementEventDataTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3124

#3045 chore: Update content on select others page in approve draft orders event (FPLA-3336)
  ccd-definition/CaseEventToFields/CareSupervision/reviewCMO.json
  e2e/pages/events/reviewAgreedCaseManagementOrderEvent.page.js
  e2e/tests/uploadDraftOrders_test.js
  e2e/tests/welshTranslations_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ReviewDraftOrdersData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersService.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3045

#3129 feat(DFPL-83): Sending e-mails or letters with Placement Order or Pla…
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersForPlacementOrderSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadTranslationsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/gatekeepingorder/AddGatekeepingOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/IntegrationTestConstants.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/order/GeneratedPlacementOrderEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedPlacementOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/PlacementNoticeDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/OrderIssuedNotifyData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/PlacementOrderIssuedNotifyData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrdersEventBuilder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedPlacementOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrdersEventBuilderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/OrderIssuedNotificationTestHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3129
