Repository hmcts/fpl-ccd-configuration, pull requests merged in 2021-07, with the labels that each got.

#2798 chore: Sort correspondence documents to show the most recent document at top (FPLA-2486)
  e2e/tests/manageDocuments_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2798

#2816 feat: Allow super user to change case name (FPLA-2988)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/changeCaseName-superuser.json
  e2e/config.js
  e2e/tests/hmctsSuperUserAdministersCase_test.js
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2816

#2810 Fix: Nightly security scan stage
  security.sh
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2810

#2801 New gatekeeping order event (FPLA-3067)
  ccd-definition/CaseEvent/CareSupervision/Multistate-nonprod.json
  ccd-definition/CaseEventToComplexTypes/addGatekeepingOrder/allocationDecision.json
  ccd-definition/CaseEventToComplexTypes/addGatekeepingOrder/noticeOfProceedings.json
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/addGatekeepingOrder-common-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/addGatekeepingOrder-selectStandardDirections-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/addGatekeepingOrder-upload-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/addGatekeepingOrder-urgent-nonprod.json
  ccd-definition/FixedLists/CareSupervision/DirectionAssignee.json
  ccd-definition/FixedLists/CareSupervision/GatekeepingOrderRoutes.json
  ccd-definition/FixedLists/CareSupervision/gatekeepingOrder/directionAssignee.json
  ccd-definition/FixedLists/CareSupervision/gatekeepingOrder/routes.json
  e2e/actors/tabs.js
  e2e/tests/gatekeepingOrderGenerated_test.js
  e2e/tests/gatekeepingOrderUrgentAndUploaded_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerPrePopulationMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/gatekeepingorder/AddGatekeepingOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/gatekeepingorder/AddGatekeepingOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/gatekeepingorder/AddGatekeepingOrderControllerGenerateDraftMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/gatekeepingorder/AddGatekeepingOrderControllerPopulateSelectedDirectionsMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/gatekeepingorder/AddGatekeepingOrderControllerPrepareDecisionMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AddGatekeepingOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ccd/fixedlists/GatekeepingOrderRoute.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/json/deserializer/YesNoDeserializer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/GatekeepingOrderSealDecision.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/StandardDirection.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/GatekeepingOrderEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GatekeepingOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UserService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/sdo/GatekeepingOrderRouteValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/sdo/StandardDirectionsOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/sdo/UrgentGatekeepingOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/json/deserializer/YesNoDeserializerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/GatekeepingOrderSealDecisionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UserServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/sdo/GatekeepingOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2801

#2820 fix: Fix e2e after xui release
  e2e/fragments/directions.js
  e2e/fragments/judgeAndLegalAdvisor.js
  e2e/pages/caseList.page.js
  e2e/pages/events/addExpertReportEvent.page.js
  e2e/pages/events/addGatekeepingOrderEvent.page.js
  e2e/pages/events/addStatementOfServiceEvent.page.js
  e2e/pages/events/attachScannedDocsEvent.page.js
  e2e/pages/events/changeCaseStateEvent.page.js
  e2e/pages/events/closeTheCaseEvent.page.js
  e2e/pages/events/createOrderEvent.page.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/pages/events/enterAllocationDecisionEvent.page.js
  e2e/pages/events/enterAttendingHearingEvent.page.js
  e2e/pages/events/enterChildrenEvent.page.js
  e2e/pages/events/enterFactorsAffectingParentingEvent.page.js
  e2e/pages/events/enterHearingNeededEvent.page.js
  e2e/pages/events/enterInternationalElementEvent.page.js
  e2e/pages/events/enterOrdersAndDirectionsNeededEvent.page.js
  e2e/pages/events/enterOtherProceedingsEvent.page.js
  e2e/pages/events/enterOthersEvent.page.js
  e2e/pages/events/enterRespondentsEvent.page.js
  e2e/pages/events/enterRiskAndHarmToChildrenEvent.page.js
  e2e/pages/events/handleSupplementaryEvidenceEvent.page.js
  e2e/pages/events/manageDocumentsEvent.page.js
  e2e/pages/events/manageDocumentsLAEvent.page.js
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/pages/events/manageOrders.page.js
  e2e/pages/events/messageJudgeOrLegalAdviserEvent.page.js
  e2e/pages/events/uploadAdditionalApplicationsEvent.page.js
  e2e/pages/events/uploadC2DocumentsEvent.page.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2820

#2827 Close cookie dialog
  e2e/actors/base.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2827

#2828 chore: toggle on sdo (FPLA-3152)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEvent/CareSupervision/Multistate-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/addGatekeepingOrder-common.json
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/addGatekeepingOrder-confirmStandardDirections.json
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/addGatekeepingOrder-selectStandardDirections.json
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/addGatekeepingOrder-upload.json
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/addGatekeepingOrder-urgent.json
  ccd-definition/ComplexTypes/CareSupervision/StandardDirectionOrder-nonprod.json
  ccd-definition/ComplexTypes/CareSupervision/StandardDirectionOrder.json
  e2e/config.js
  e2e/pages/events/draftStandardDirectionsEvent.page.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/urgentAndUploadSDO_test.js
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2828

#2835 onboarding: Onboard Hartlepool Borough Council (FPLA-3201)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2836 onboarding: Onboard Central Bedfordshire Council (FPLA-3200)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2836

#2804 FPLA-3162: Superuser order removal tool - new orders
  ccd-definition/ComplexTypes/CareSupervision/GeneratedOrder.json
  e2e/fixtures/caseData/finalHearingWithMultipleOrders.json
  e2e/tests/hmctsSuperUserRemovesOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryFinalMarker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalAction.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryFinalMarkerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalActionTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2804

#2817 refactor: Added decorated number of months to order details generator
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C35aSupervisionOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C35bISODocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/common/OrderDetailsWithEndTypeGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C35bISODocumentParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/common/OrderDetailsWithEndTypeGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2817

#2840 onboarding: Onboard London Borough of Southwark (FPLA-3205)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2832 fix: Fix upload draft order for Draft CMO from advocates meeting (FPLA-3198)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersPopulateOrdersInfoMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/UploadDraftOrdersData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/event/UploadDraftOrdersDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2832

#2837 refactor(FPLA-2416): Making close case logic more genenic so that I c…
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ChildrenService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2837

#2834 feat: Allow superuser to create gatekeeping or urgent hearing orders (FPL-3197)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  e2e/tests/hmctsSuperUserAdministersCase_test.js
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2834

#2784 feat: Special guardianship order C43a (FPLA-989)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToComplexTypes/manageOrders/appointed-guardian-selector.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/4_childrenDetailsSection.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  ccd-definition/CaseField/CareSupervision/manageOrders/manageOrdersFields.json
  ccd-definition/ComplexTypes/CareSupervision/AppointedGuardianSelector.json
  ccd-definition/ComplexTypes/CareSupervision/GeneratedOrder.json
  ccd-definition/ComplexTypes/CareSupervision/OrderTempQuestions.json
  ccd-definition/FixedLists/CareSupervision/AppointedGuardianSelector.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersType.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersUploadType.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-00728.doc
  e2e/pages/events/manageOrders.page.js
  e2e/tests/adminManagesOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersControllerInitialSectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/docmosis/OrderCreationServiceDocmosisTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/docmosis/generator/DocmosisOrderCaseDataGenerator.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/resources/order-generation/C43A_SPECIAL_GUARDIANSHIP_ORDER.txt
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ManageOrdersEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderQuestionBlock.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderTempQuestions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/AppointedGuardianFormatter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/C43aSpecialGuardianshipOrderDocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43aSpecialGuardianshipOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/OrderSectionAndQuestionsPrePopulatorHolder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/AppointedGuardianBlockPrePopulator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/ApprovalDateTimeBlockPrePopulator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/validator/AppointedGuardianValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/OrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/AppointedGuardianFormatterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderDocumentScopedFieldsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43aSpecialGuardianshipOrderDocumentParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/OrderSectionAndQuestionsPrePopulatorHolderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/AppointedGuardianBlockPrePopulatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/ApprovalDateTimeBlockPrePopulatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/validator/AppointedGuardianValidatorTest.java
Labels: ccd configuration, docmosis, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2784

#2841 fix: Fix gatekeeping order links in tabs
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2841

#2812 fix: PBA payment failure notifications (FPLA-2916)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ApplicantType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ApplicationType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/FailedPBAPaymentEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OrderApplicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/payment/FailedPBANotificationData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/ApplicantsListGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/FailedPBAPaymentContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/ApplicantsListGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/FailedPBAPaymentContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2812

#2800 feat: others in orders (FPLA-1830)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEventToComplexTypes/manageOrders/others-selector.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/6_reviewSection.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/8_otherDetailsSection.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/createOrderFields.json
  ccd-definition/CaseField/CareSupervision/manageOrders/sectionHeaders.json
  ccd-definition/ComplexTypes/CareSupervision/GeneratedOrder.json
  ccd-definition/ComplexTypes/CareSupervision/OrderTempQuestions.json
  ccd-definition/ComplexTypes/CareSupervision/OtherSelector.json
  ccd-definition/FixedLists/CareSupervision/OtherSelector.json
  e2e/fixtures/caseData/closedCase.json
  e2e/fixtures/caseData/gatekeepingWithPastHearingDetails.json
  e2e/fixtures/caseData/gatekeepingWithPastHearingDetailsAndApplication.json
  e2e/pages/events/createOrderEvent.page.js
  e2e/pages/events/manageOrders.page.js
  e2e/tests/adminManagesOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersControllerInitialSectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/docmosis/generator/DocmosisOrderCaseDataGenerator.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderQuestionBlock.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderSection.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderTempQuestions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryExtraOthersNotifiedGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/OrderSectionAndQuestionsPrePopulatorHolder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/WhichOthersBlockPrePopulator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/others/OtherRecipientsInbox.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/OthersTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/OrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OthersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderDocumentScopedFieldsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryExtraOthersNotifiedGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryExtraTitleGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/OrderSectionAndQuestionsPrePopulatorHolderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/others/OtherRecipientsInboxTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2800

#2818 fix: Fix CloseCaseBlockPrePopulator to correctly decide when case can be closed (FPLA-3171)
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/6_reviewSection.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/CloseCaseBlockPrePopulator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/CloseCaseBlockPrePopulatorTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2818

#2846 feat: Give gatekeeper access to gatekeeping order (FPLA-3211)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2846

#2808 feat: Child arrangements, Specific issue, Prohibited steps C43 (FPLA-988)
  .gitignore
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  ccd-definition/CaseField/CareSupervision/manageOrders/manageOrdersFields.json
  ccd-definition/ComplexTypes/CareSupervision/OrderTempQuestions.json
  ccd-definition/FixedLists/CareSupervision/C43OrderType.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersType.json
  e2e/pages/events/manageOrders.page.js
  e2e/tests/adminManagesOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersControllerInitialSectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/docmosis/OrderCreationServiceDocmosisTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/docmosis/generator/DocmosisOrderCaseDataGenerator.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/resources/order-generation/C21_BLANK_ORDER.txt
  service/src/integrationTest/resources/order-generation/C43_CHILD_ARRANGEMENTS_SPECIFIC_ISSUE_PROHIBITED_STEPS_ORDER.txt
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/C43OrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ManageOrdersEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderQuestionBlock.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderTempQuestions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/OrderCreationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/C43ChildArrangementOrderDocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43ChildArrangementOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43ChildArrangementOrderTitleGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43aSpecialGuardianshipOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/common/OrderMessageGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryTypeGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/OrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderDocumentScopedFieldsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderCreationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43ChildArrangementOrderDocumentParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43ChildArrangementOrderTitleGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43aSpecialGuardianshipOrderDocumentParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/common/OrderMessageGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryTypeGeneratorTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2808

#2856 onboarding: Onboard Hull City Council (FPLA-3217)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2855 migration: Remove hearing options from case (FPLA-3214)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2855

#2854 fix: Delete hearing operation selection at the end of event (FPLA-3214)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2854

#2829 impr: manage orders pre release prep (FPLA-3084)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/2_orderCreateSection.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  ccd-definition/CaseField/CareSupervision/manageOrders/manageOrdersFields.json
  ccd-definition/CaseField/CareSupervision/manageOrders/sectionHeaders.json
  ccd-definition/ComplexTypes/CareSupervision/GeneratedOrder.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersType.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersUploadType.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-00737.doc
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/manageOrders.page.js
  e2e/tests/adminManagesOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/docmosis/generator/DocmosisOrderCaseDataGenerator.java
  service/src/integrationTest/resources/order-generation/C23_EMERGENCY_PROTECTION_ORDER.txt
  service/src/integrationTest/resources/order-generation/C32A_CARE_ORDER.txt
  service/src/integrationTest/resources/order-generation/C32B_DISCHARGE_OF_CARE_ORDER.txt
  service/src/integrationTest/resources/order-generation/C33_INTERIM_CARE_ORDER.txt
  service/src/integrationTest/resources/order-generation/C43A_SPECIAL_GUARDIANSHIP_ORDER.txt
  service/src/integrationTest/resources/order-generation/C47A_APPOINTMENT_OF_A_CHILDRENS_GUARDIAN.txt
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/C32bDischargeOfCareOrderDocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C23EPODocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C32CareOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C32bDischargeOfCareOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43aSpecialGuardianshipOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C47AAppointmentOfAChildrensGuardianParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/common/OrderMessageGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/OrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ChildrenServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C23EPODocumentParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C32CareOrderDocumentParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C32bDischargeOfCareOrderDocumentParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43aSpecialGuardianshipOrderDocumentParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C47AAppointmentOfAChildrensGuardianParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/ManageOrdersClosedCaseFieldGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/common/OrderMessageGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryFinalMarkerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/OrderSectionAndQuestionsPrePopulatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/CloseCaseBlockPrePopulatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/validator/OrderValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalActionTest.java
Labels: ccd configuration, docmosis, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2829

#2861 NOJIRA: rename banana
  docker/docmosis/templates/FL-PLW-GOR-ENG-00744.doc
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
Labels: docmosis, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2861

#2865 feat: Add hint text for PBA customer reference (FPLA-3220)
  ccd-definition/ComplexTypes/CareSupervision/1_PBAPayment.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2865

#2830 chore toggling on digital orders (FPLA-3153)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/CLOSED.json
  ccd-definition/CaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2830

#2866 fix: orders event link now points to new event
  ccd-definition/CaseField/CareSupervision/eventLinks.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2866

#2826 feat: superuser remove applications (FPLA-2405)
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/AuthorisationComplexType/caseDocuments/HiddenApplicationsBundle.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/removeOrder.json
  ccd-definition/CaseField/CareSupervision/removeOrder.json
  ccd-definition/CaseTypeTab/CareSupervision/10_C2.json
  ccd-definition/ComplexTypes/CareSupervision/AdditionalApplicationsBundle.json
  ccd-definition/FixedLists/CareSupervision/ApplicationRemovalReason.json
  ccd-definition/FixedLists/CareSupervision/RemovableType.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/events/removalToolEvent.page.js
  e2e/pages/events/removeOrderEvent.page.js
  e2e/tests/hmctsSuperUserRemovalTool_test.js
  saucelabs.conf.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolControllerSubmittedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ApplicationRemovalReason.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/RemovableType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/removaltool/MissingApplicationException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/removaltool/RemovableOrderActionNotFoundException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/removaltool/RemovableOrderOrApplicationNotFoundException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/removaltool/UnexpectedNumberOfCMOsRemovedException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/removeorder/RemovableOrderNotFoundException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/OtherApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/interfaces/ApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/OrderRemovalActions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveApplicationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/UpdateCMOHearing.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/OrderRemovalActionsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveApplicationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/UpdateCMOHearingTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2826

#2867 FPLA-3222: Fix FeeRegisterApiConsumerTest contract tests
  service/src/contractTest/java/uk/gov/hmcts/reform/fnp/client/FeeRegisterApiConsumerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2867

#2872 fix: update amendable sort date to not rely on new fields
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/StandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/amendment/list/AmendableOrderListBuilder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/StandardDirectionOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/amendment/list/AmendableOrderListBuilderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2872

#2862 feat: Allow multiple attendance options (FPLA-3117)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  ccd-definition/ComplexTypes/CareSupervision/CancelledHearingBooking.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  ccd-definition/FixedLists/CareSupervision/DEPRECATED/HearingPresence.json
  ccd-definition/FixedLists/CareSupervision/HearingAttendance.json
  docker/docmosis/templates/FL-PLW-HNO-ENG-00092.doc
  docker/docmosis/templates/FL-PLW-HNO-ENG-00093.doc
  docker/docmosis/templates/FL-PLW-HNO-ENG-00525.doc
  docker/docmosis/templates/FL-PLW-STD-ENG-00099.doc
  e2e/fixtures/hearingTypeDetails.js
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/adminMangesHearings_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/hearing/HearingAttendance.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/hearing/HearingPresence.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisHearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfHearingEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/HearingBookingTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/GatekeepingOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/NoticeOfHearingGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfHearingEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
Labels: ccd configuration, docmosis, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2862

#2857 chore: Update respondents email notifications (FPLA-3131)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfChangeEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NoticeOfChangeEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfChangeEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsSubmittedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/noticeofchange/NoticeOfChangeRespondentSolicitorTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/respondentsolicitor/RegisteredRespondentSolicitorTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/respondentsolicitor/UnregisteredRespondentSolicitorTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfChangeContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/respondentsolicitor/RegisteredRespondentSolicitorContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/respondentsolicitor/UnregisteredRespondentSolicitorContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfChangeEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsSubmittedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfChangeEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/RegisteredRespondentSolicitorContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/respondentsolicitor/RegisteredRespondentSolicitorContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/respondentsolicitor/UnregisteredRespondentSolicitorContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2857

#2877 fix: duplicate amended filename prefix
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/amendment/AmendOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/amendment/AmendOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2877

#2876 feat: Allow case name change in every state (FPLA-3203)
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2876

#2882 onboarding: Onboard Blackpool Borough Council (FPLA-3234)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2883 onboarding: Onboard North Tyneside Council (FPLA-3236)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2864 fix: extend 26 week timeline by 8 weeks (FPLA-3216)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseExtensionControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseExtensionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseExtensionControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseExtensionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseExtensionServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2864

#2879 FPLA-3229: Integrate with Fortify
  Jenkinsfile_nightly
  service/build.gradle
  service/config/fortify-client.properties
  service/src/main/java/uk/gov/hmcts/reform/fpl/CallbackRequestLogger.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ResourceExceptionHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/logging/HeaderInformationExtractor.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/CallbackRequestLoggerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/controllers/ResourceExceptionHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2879

#2884 NOJIRA: bump memory up ccd-data-store-api to '2048Mi'
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2884

#2890 fix: child solcitior e2e tests
  e2e/fragments/addressPostcodeLookup.js
  e2e/pages/events/addStatementOfServiceEvent.page.js
  e2e/pages/events/enterChildrenEvent.page.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2890

#2895 migration: remove draft CMO from NE21C50026 (FPLA-3216)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2895

#2899 onboarding: Onboard Kent County Council (FPLA-3252)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2899

#2896 Chore: revert the e2e postcode link check to use a locator
  e2e/fragments/addressPostcodeLookup.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2896

#2897 migration: replace c110a with redacted copy (FPLA-3239)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2897

#2903 onboarding: Onboard Cambridgeshire County Council (FPLA-3255)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2904 migration fix: grab redacted copy by id instead of index
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2904

#2860 Add Parental responsibility order (C45A)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  ccd-definition/CaseField/CareSupervision/manageOrders/manageOrdersFields.json
  ccd-definition/ComplexTypes/CareSupervision/OrderTempQuestions.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersType.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersUploadType.json
  ccd-definition/FixedLists/CareSupervision/RelationshipWithChild.json
  e2e/pages/events/manageOrders.page.js
  e2e/tests/adminManagesOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersControllerInitialSectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/docmosis/OrderCreationServiceDocmosisTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/docmosis/generator/DocmosisOrderCaseDataGenerator.java
  service/src/integrationTest/resources/order-generation/C45A_PARENTAL_RESPONSIBILITY_ORDER.txt
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/RelationshipWithChild.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ManageOrdersEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderQuestionBlock.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderTempQuestions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/C45aParentalResponsibilityOrderDocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C45aParentalResponsibilityOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/OrderSectionAndQuestionsPrePopulatorHolder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/ParentalResponsibilityPrePopulator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/OrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderDocumentScopedFieldsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C45aParentalResponsibilityOrderDocumentParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/OrderSectionAndQuestionsPrePopulatorHolderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/ParentalResponsibilityPrePopulatorTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2860

#2886 Chore: Improve nightly e2e: allow more nightly retries, wait for task status and scroll to task being checked for easier visual debugging
  Jenkinsfile_nightly
  e2e/pages/caseView.page.js
  typings/codeceptjs.d.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2886

#2900 chore: Allow to disable chrome web security when running e2e tests
  README.md
  codecept.conf.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2900

#2868 feat: language requirements flag and toggle events (FPLA-2866)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/adminLanguageSelection.json
  ccd-definition/CaseEventToFields/CareSupervision/languageSelection.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  codecept.conf.js
  e2e/config.js
  e2e/pages/events/enterLanguageRequirementsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  saucelabs.conf.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/TaskListControllerSubmittedTest.java
  service/src/integrationTest/resources/fixtures/taskListWithLanguageRequirement.md
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Event.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListRenderer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/EventsChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/LanguageRequirementsChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListRendererTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/EventsCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/LanguageRequirementsCheckerTest.java
  service/src/test/resources/task-list/expected-task-list-no-errors.md
  service/src/test/resources/task-list/expected-task-list.md
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2868

#2910 onboarding: Onboard Powys County Council (FPLA-3103)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2907 fix: mutation test
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2907

#2916 onboarding: Onboard Sunderland City Council (FPLA-3259)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2918 chore: Update ccd idam config
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2918

#2915 migration: remove draft CMO (FPLA-3262)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2915

#2887 feat: child solicitor notifications (FPLA-3059)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/ChildrenUpdatedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/ChildrenUpdated.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/NoticeOfChangeEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ChildrenUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfChangeEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsSubmittedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/interfaces/WithSolicitor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/representative/RegisteredRepresentativeSolicitorTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/representative/UnregisteredRepresentativeSolicitorTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/RepresentativesInbox.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfChangeContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/representative/RegisteredRepresentativeSolicitorContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/representative/UnregisteredRepresentativeSolicitorContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/respondentsolicitor/RegisteredRespondentSolicitorContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/respondentsolicitor/UnregisteredRespondentSolicitorContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/noc/NoticeOfChangeFieldPopulator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/representative/diff/ChildRepresentativeDiffCalculator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/representative/diff/PartyRepresentativeDiffCalculator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/representative/diff/SimplePartyRepresentativeDiffCalculator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/ChildrenUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfChangeEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsSubmittedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/RepresentativesInboxTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/representative/RegisteredRepresentativeSolicitorContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/representative/UnregisteredRepresentativeSolicitorContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/respondentsolicitor/RegisteredRespondentSolicitorContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/respondentsolicitor/UnregisteredRespondentSolicitorContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/representative/diff/ChildRepresentativeDiffCalculatorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2887

#2924 NOJIRA: Make Manage orders test less failure prone (now retryable)
  e2e/tests/adminManagesOrders_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2924

#2923 toggle: amended orders (FPLA-3251)
  ccd-definition/FixedLists/CareSupervision/ManageOrdersOperation-nonprod.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersOperation.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersOperationClosedState-nonprod.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersOperationClosedState.json
  e2e/tests/adminManagesOrdersAmendment_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrder.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2923

#2928 fix: Fix prod import issue due to incorrect ccd toggle
  ccd-definition/CaseEventToFields/CareSupervision/enterLocalAuthority-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/enterLocalAuthorityAfterSubmission-nonprod.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2928

#2905 feat: update interlocutory email to ctsc (FPLA-3248)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/additionalapplicationsuploaded/AdditionalApplicationsUploadedTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/AdditionalApplicationsUploadedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AdditionalApplicationsUploadedEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2905

#2902 chore: Select others in upload other applications (FPLA-2892)
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  ccd-definition/AuthorisationComplexType/caseDocuments/HiddenApplicationsBundle.json
  ccd-definition/CaseEventToComplexTypes/applicationsOthersSelector-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/3_C2DocumentBundle.json
  ccd-definition/ComplexTypes/CareSupervision/3_OtherApplicationsBundle.json
  e2e/fixtures/c2SupportingDocuments.js
  e2e/fixtures/caseData/mandatoryWithMultipleChildren.json
  e2e/helpers/manage_documents_for_LA_helper.js
  e2e/pages/events/uploadAdditionalApplicationsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/OtherApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2902

#2931 NOJIRA: fix flaky test
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2931

#2932 fix: Fix applicant and solicitor in people in the case tab
  ccd-definition/CaseTypeTab/CareSupervision/6_CasePeople.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2932

#2936 fix: Fix outsourcing config parser
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/EpsLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/MlaLookupConfiguration.java
  service/src/main/resources/application-local.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/EpsLookupConfigurationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/MlaLookupConfigurationTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2936

#2937 NOJIRA: Upgrade mandatory java chart blocking at the end of August
  charts/fpl-case-service/Chart.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2937

#2927 FPLA-3045: Automate CCD definition file uploads
  Jenkinsfile_CNP
  bin/variables/load-prod-environment-variables.sh
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2927

#2920 Chore: more e2e test stability improvements
  e2e/actors/base.js
  e2e/fragments/addressPostcodeLookup.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/addStatementOfServiceEvent.page.js
  e2e/pages/events/createOrderEvent.page.js
  e2e/pages/events/enterChildrenEvent.page.js
  e2e/pages/events/enterOrdersAndDirectionsNeededEvent.page.js
  e2e/pages/events/enterOthersEvent.page.js
  e2e/pages/events/enterRepresentativesEvent.page.js
  e2e/pages/events/enterRespondentsEvent.page.js
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/pages/events/manageOrders.page.js
  e2e/tests/adminManagesOrders_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2920

#2925 feat: C2 notification should show next hearing (not first) (FPLA-3194)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/AdditionalApplicationsUploadedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AdditionalApplicationsUploadedEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2925

#2940 FPLA-3163: enable automated CCD definition upload for production
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2940

#2922 FPLA:3253 Generate welsh language unit translation request form
  docker/docmosis/templates/FL-PLW-LET-ENG-00748.doc
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/docmosis/TranslationRequestFormCreationServiceDocmosisTest.java
  service/src/integrationTest/resources/translation-form-request/EnglishToWelshTranslationDocument.txt
  service/src/integrationTest/resources/translation-form-request/SelectBoxCheckTranslationRequestForm.txt
  service/src/integrationTest/resources/translation-form-request/WelshToEnglishTranslationDocument.txt
  service/src/integrationTest/resources/translation-form-request/WordCountTranslationRequestForm.txt
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/welshtranslation/DocmosisTranslateLanguages.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/welshtranslation/DocmosisTranslationRequest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/welshtranslation/DocmosisWelshLayout.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/welshtranslation/DocmosisWelshProject.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocmosisDocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/translation/TranslationRequestFormCreationService.java
Labels: docmosis, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2922

#2921 feat: Add ICO hearing type to Manage hearings event (FPLA-3106)
  ccd-definition/FixedLists/CareSupervision/HearingType.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingType.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2921
