Repository hmcts/fpl-ccd-configuration, pull requests merged in 2021-03, with the labels that each got.

#2308 chore: removed summary tab on event LD toggle (FPLA-2755)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSummaryControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AfterSubmissionCaseDataUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AfterSubmissionCaseDataUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2308

#2313 FPLA-2753: Remove finished-tag toggle
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2313

#2293 chore: removal of the application documents LD toggle (FPLA-2664)
  docker/docmosis/templates/FL-PLW-APP-ENG-00095.doc
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisAnnexDocuments.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentsValidatorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListRenderer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UploadDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionDocumentAnnexGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/UploadDocumentsMigrationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/EventsChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentsValidatorServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListRendererTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UploadDocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionDocumentAnnexGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/document/UploadDocumentsMigrationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/EventsCheckerTest.java
  service/src/test/resources/task-list/expected-task-list-when-application-documents-enabled.md
  service/src/test/resources/task-list/expected-task-list.md
Labels: Do not merge, docmosis, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2293

#2314 chore: update terraform
  .gitignore
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2314

#2320 chore: update terraform provider
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2320

#2299 fix: issue with deleting further evidence docs (INC5167376)
  ccd-definition/CaseEventToFields/CareSupervision/manageDocuments.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ConfidentialDocumentsSplitter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/document/ConfidentialDocumentsSplitterTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2299

#2261 feat: LA notified when application submitted by third party (FPLA-2643/FPLA-2670)
  service/src/functionalTest/resources/scenarios/CaseInitiation/about-to-submit.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/model/Organisation.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/model/OrganisationPolicy.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/submittedcase/OutsourcedCaseTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseInitiationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OutsourcedCaseContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/ccd/model/OrganisationPolicyTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseInitiationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OutsourcedCaseContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2261

#2321 refactor: minor improvements for FPLA-2505
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReturnApplicationAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReturnApplicationAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReturnApplicationSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ReturnApplicationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ReturnApplication.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ReturnApplicationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ReturnApplicationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2321

#2327 chore: fix xui deployment
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2327

#2324 Fix test coverage for uk.gov.hmcts.reform.fpl package
  service/src/main/java/uk/gov/hmcts/reform/fpl/CallbackResponseLogger.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/CallbackRequestLoggerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/CallbackResponseLoggerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2324

#2326 chore: Refactor the way how logs are captured in a tests
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/UpcomingHearingsFinder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/CallbackRequestLoggerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/CallbackResponseLoggerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/UpcomingHearingsFinderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/extension/TestLogger.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/extension/TestLogs.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/extension/TestLogsExtension.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2326

#2330 feat: Remove temporarly "Date submitted" filed from "Unassigned page"
  ccd-definition/SearchCasesResultFields/SearchCasesResultFields.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2330

#2319 feat: Content Changes for Your Organisation (FPLA-2781)
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/ComplexTypes/CareSupervision/1_EmailAddress.json
  ccd-definition/ComplexTypes/CareSupervision/Solicitor.json
  e2e/config.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Event.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/OrganisationDetailsCheckerTest.java
  service/src/test/resources/task-list/expected-task-list.md
Labels: Do not merge, ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2319

#2332 fix: manage hearings judge page label ordering (FPLA-NA)
  ccd-definition/CaseEventToComplexTypes/manageHearings/manageHearings.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2332

#2318 chore: (FPLA-2803) Remove Agreed CMO drafts using superuser tool
  e2e/fixtures/caseData/finalHearingWithMultipleOrders.json
  e2e/tests/hmctsSuperUserRemovesOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2318

#2322 impr: allow gatekeepers/judicial users to return cases (FPLA-2505)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-prod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEvent/CareSupervision/StateChange-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/StateChange-prod.json
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2322

#2338 temp: Downgrade gradlew versions plugin until module issue for 0.38 is solved
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2338

#2311 fix: Replace draft CMO supporting documents (FPLA-2739)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersPopulateOrdersInfoMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2311

#2342 fix: applicant details email hint text (FPLA-NA)
  ccd-definition/ComplexTypes/CareSupervision/1_EmailAddress.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2342

#2344 onboarding: Onboard Hampshire County Council (FPLA-2837)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2344

#2343 fix: Fix NPE in removal order tool
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalAction.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2343

#2291 Dev/fpla 2560 notify reps about further evidence uploads
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerSubmittedBaseTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/FurtherEvidenceUploadedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/furtherevidence/FurtherEvidenceDocumentUploadedData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FurtherEvidenceNotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/FurtherEvidenceUploadedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FurtherEvidenceNotificationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/FurtherEvidenceUploadedEmailContentProviderTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2291

#2349 release: return application from gatekeeping (FPLA-2505)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-prod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/CareSupervision/StateChange-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/StateChange-prod.json
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2349

#2363 chore: Fix spinner issue
  e2e/helpers/hooks_helper.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2363

#2357 impr: remote hearings (FPLA-2517)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToComplexTypes/manageHearings/manageHearings.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  ccd-definition/ComplexTypes/CareSupervision/1_PreviousHearingVenue.json
  ccd-definition/ComplexTypes/CareSupervision/CancelledHearingBooking.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  ccd-definition/FixedLists/CareSupervision/HearingPresence.json
  e2e/fixtures/hearingTypeDetails.js
  e2e/helpers/manage_documents_for_LA_helper.js
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/adminMangesHearings_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/hearing/HearingPresence.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingVenue.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisHearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingVenueLookUpService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/NoticeOfHearingGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/NoticeOfHearingGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/FixedTimeConfiguration.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2357

#2336 feat: Send order via post to unrepresented respondents (FPLA-2432)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/ComplexTypes/CareSupervision/DocumentParty/DocumentsSentToParties.json
  e2e/fixtures/caseData/mandatoryWithMultipleChildren.json
  e2e/helpers/generated_order_helper.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_@slow_test.js
  e2e/tests/uploadDraftOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Recipient.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Representative.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Party.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/SendDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/SendLetterService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocmosisCoverDocumentsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/Constants.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/RecipientTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SendDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SendLetterServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2336

#2315 feat: manage documents event refactor (FPLA-2767)
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEventToFields/CareSupervision/manageDocumentsLA.json
  ccd-definition/CaseField/CareSupervision/manageDocuments.json
  ccd-definition/CaseField/CareSupervision/manageDocumentsLA.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ManageDocumentType.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ManageDocumentTypeLA.json
  ccd-definition/FixedLists/CareSupervision/manage-documents/ManageDocumentSubtypeListLA.json
  ccd-definition/FixedLists/CareSupervision/manage-documents/ManageDocumentTypeList.json
  ccd-definition/FixedLists/CareSupervision/manage-documents/ManageDocumentTypeListLA.json
  e2e/pages/events/manageDocumentsLAEvent.page.js
  e2e/tests/manageDocuments_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ManageDocumentSubtypeListLA.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ManageDocumentTypeLA.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ManageDocumentTypeListLA.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ManageDocumentLA.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentLAService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentsLAServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2315

#2334 chore: (FPLA-2725) Remove draft orders with superuser tool
  ccd-definition/CaseEventToFields/CareSupervision/removeOrder.json
  e2e/fixtures/caseData/finalHearingWithMultipleOrders.json
  e2e/tests/hmctsSuperUserRemovesOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftOrderRemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/OrderRemovalActions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/SDORemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/UpdateHearingOrderBundlesDrafts.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftOrderRemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/OrderRemovalActionsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/UpdateHearingOrderBundlesDraftsTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2334

#2372 chore: Toggle on case outsourcing (fpla-2782)
  ccd-definition/CaseEventToFields/CareSupervision/openCase-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/openCase.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2372

#2374 feat: Add York Family Court to list of venues
  ccd-definition/FixedLists/CareSupervision/HearingVenue.json
  service/src/main/resources/static_data/hearingVenues.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2374

#2378 onboarding: Onboard Vale of Glamorgan Council
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2378

#2380 onboarding: Onboard Neath & Port Talbot County Council
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2380

#2341 feat: Send notice of hearing via post (FPLA-2806)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractCallbackTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2341

#2382 impr: LA permissions for documents sent to parties (FPLA-2858)
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2382

#2375 impr: define C2 callout only in notify template (FPLA-2862)
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/C2UploadedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderSDOIssuedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/LocalAuthorityEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/StandardDirectionOrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/EmailNotificationHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2375

#2401 chore: removal of C2 application 2 (FPLA-2905)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2401

#2402 migration: removes C2 5, 4 and 3 from case NE20C50023 (FPLA-2872)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2402

#2377 migration: remove first C2 on case WR20C5001 (FPLA-2871)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2377

#2406 onboarding: Onboard Northamptonshire County Council
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2407 onboarding: Onboard Carmarthenshire County Council (FPLA-2912)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2409 chore: Update key valut definition
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2409

#2412 onboarding: Onboard Surrey County Council (FPLA-2915)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: Do not merge, ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2412

#2340 feat:FPLA-2805: Send orders to litigants in person by post (CMO)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersApprovedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2340

#2415 chore(deps): bump pdfbox from 2.0.20 to 2.0.23
  service/build.gradle
Labels: dependencies, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2415, security

#2417 fix: Allow respondent solicitor to see non confidential local authority documents
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
Labels: ccd configuration

#2419 onboarding: Onboard London Borough of Tower Hamlets (FPLA-2927)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2400 fix: Allow application document generation when child DoB is in future (FPLA-2896)
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/AgeDisplayFormatHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/AgeDisplayFormatHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2400

#2422 onboarding: Onboard Bridgend County Borough Council (FPLA-2881)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2325 chore: added appInsights alerts for quartz jobs (FPLA-2801)
  infrastructure/alerts.tf
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2325

#2399 chore: null pointer when trying to remove draft uploaded CMO (FPLA-2890)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveOrderControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalAction.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalActionTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2399

#2387 fix: Port gov notify email validation (FPLA-2888)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ValidateEmailService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ValidateEmailServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2387

#2420 fix: Fix template for managed organisation (FPLA-2895)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2420

#2426 migration: Remove supporting documents from sealed cmo (FPLA-2913)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2426

#2430 migration: Add system user access to filed that needs to be migrated (FPLA-2887)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ccd configuration

#2434 onboarding: Onboard Suffolk County Council (FPLA-2936)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2386 chore: ajournment reason list element code update (FPLA-2885)
  ccd-definition/FixedLists/CareSupervision/hearing-cancellation/HearingCancellationReasons-Other.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2386

#2360 feat: further evidence types (FPLA-2768)
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocuments.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLA.json
  ccd-definition/CaseField/CareSupervision/manageDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  ccd-definition/FixedLists/CareSupervision/FurtherEvidenceType.json
  e2e/fixtures/supportingEvidenceDocuments.js
  e2e/fragments/supportingDocuments.js
  e2e/pages/events/manageDocumentsEvent.page.js
  e2e/pages/events/manageDocumentsLAEvent.page.js
  e2e/tests/adminMangesHearings_test.js
  e2e/tests/manageDocuments_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/FurtherEvidenceType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/SupportingEvidenceBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2360

#2437 onboarding: Onboard Wrexham County Borough Council (FPLA-2939)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2438 onboarding: Onboard Norfolk County Council (FPLA-2940)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2394 feat: declaration of parentage application (FPLA-2066)
  ccd-definition/FixedLists/CareSupervision/OtherApplicationType.json
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/fee/FeeType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OtherApplicationType.java
  service/src/main/resources/application.yaml
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2394

#2442 onboarding: Onboard Manchester City Council (FPLA-2943)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2445 onboarding: Onboard Rochdale Borough Council (FPLA-2944)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2446 onboarding: Onboard Salford City Council (FPLA-2945)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding
