Repository hmcts/fpl-ccd-configuration, pull requests merged in 2021-04, with the labels that each got.

#2385 fix: Fix previous button issue in manage document event
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentLAService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentsLAServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2385

#2444 migration: transfer case from Worcestershire County Council to Devon County Council (FPLA-2946)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseAccessService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseAccessServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2444

#2451 release: Additional applications (FPLA-2926)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-prod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/CareSupervision/MultiState-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState-prod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle-prod.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/OtherDocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/PBAPayment.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadC2-prod.json
  ccd-definition/CaseField/CareSupervision/eventLinks-nonprod.json
  ccd-definition/CaseField/CareSupervision/eventLinks-prod.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/CaseTypeTab/CareSupervision/11_C2-prod.json
  ccd-definition/CaseTypeTab/CareSupervision/11_C2.json
  ccd-definition/ComplexTypes/CareSupervision/2_C2DocumentBundle-prod.json
  ccd-definition/ComplexTypes/CareSupervision/2_C2DocumentBundle.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2451

#2388 Dev/fpla 2809 Respondent Solicitor access to Tabs
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationComplexType/AuthorisationComplexType.json
  ccd-definition/AuthorisationComplexType/caseDocuments/C2DocumentBundle.json
  ccd-definition/AuthorisationComplexType/caseDocuments/hearingFurtherEvidenceDocuments.json
  ccd-definition/CaseRoles.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseRole.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2388

#2331 Ta 493 consumer tests
  Jenkinsfile_CNP
  service/build.gradle
  service/src/contractTest/java/uk/gov/hmcts/reform/ccd/client/CaseAccessDataStoreConsumerApplication.java
  service/src/contractTest/java/uk/gov/hmcts/reform/ccd/client/CaseAccessDataStoreConsumerTest.java
  service/src/contractTest/java/uk/gov/hmcts/reform/fnp/client/FeeRegisterApiConsumerTest.java
  service/src/contractTest/java/uk/gov/hmcts/reform/fnp/client/FeesRegisterApiConsumerApplication.java
  service/src/contractTest/java/uk/gov/hmcts/reform/fnp/client/PaymentConsumerApplication.java
  service/src/contractTest/java/uk/gov/hmcts/reform/fnp/client/PaymentConsumerTest.java
  service/src/contractTest/java/uk/gov/hmcts/reform/rd/client/OrganisationApiConsumerApplication.java
  service/src/contractTest/java/uk/gov/hmcts/reform/rd/client/ReferenceDataConsumerTestBase.java
  service/src/contractTest/java/uk/gov/hmcts/reform/rd/client/ReferenceDataOrganisationalExternalUsersConsumerTest.java
  service/src/contractTest/java/uk/gov/hmcts/reform/rd/client/ReferenceDataOrganisationalInternalUsersConsumerTest.java
  service/src/contractTest/java/uk/gov/hmcts/reform/rd/client/ReferenceDataProfessionalExternalUsersConsumerTest.java
  service/src/contractTest/resources/application.properties
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2331

#2431 impr: respondent solicitor in tab (FPLA-2854)
  ccd-definition/CaseEventToComplexTypes/enterRespondents.json
  ccd-definition/ComplexTypes/CareSupervision/1_UnregisteredOrganisation.json
  e2e/fixtures/respondents.js
  e2e/steps_file.js
  e2e/tests/localAuthoritySubmitsApplication_@slow_test.js
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2431

#2448 impr: stop sending order notifications to judge (FPLA-2930)
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2448

#2457 fix: Add uploadC2 event to deprecated events [FPLA-2926]
  ccd-definition/AuthorisationCaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/DEPRECATED.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2457

#2463 chore: Remove migration that has been done
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ccd configuration

#2467 chore:NOJIRA remove code for fpla-2885 migration
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2467

#2473 onboarding: Onboard Newport City Council (FPLA-2967)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2474 chore: jenkins change to support testing FPLA-2799 on demo
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2474

#2475 fix: Rewrite c2Type into C2DocumentBundle as fee calculation is based on C2DocumentBundle (FPLA-2968)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2475

#2464 feat: Send notification to cafcass solicitor with serving preferences…
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FurtherEvidenceNotificationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FurtherEvidenceNotificationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2464

#2421 feat: Send unelivered email report to ctsc (FPLA-2552)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/UndeliveredEmailsFoundHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/UndeliveredEmailsFound.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/JobException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/UndeliveredEmailsFoundHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/UndeliveredEmailsFinder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/UndeliveredEmail.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/UndeliveredEmailsNotifyData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/NotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/UndeliveredEmailsContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelper.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/UndeliveredEmailsFoundHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/UndeliveredEmailsFinderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/UndeliveredEmailTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/UndeliveredEmailsContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2421

#2456 feat: Allow identify local authority based on organisation id (FPLA-2955)
  service/src/integrationTest/resources/application-integration-test.yaml
  service/src/main/java/uk/gov/hmcts/reform/fpl/Application.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/CacheConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/LocalAuthorityIdLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/resources/application-local.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/LocalAuthorityIdLookupConfigurationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2456

#2416 feat: update manage documents with other applications (FPLA-2763)
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle-nonprod.json
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocuments.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLA.json
  ccd-definition/CaseEventToFields/CareSupervision/manageDocuments.json
  ccd-definition/CaseEventToFields/CareSupervision/manageDocumentsLA.json
  ccd-definition/CaseField/CareSupervision/manageDocuments.json
  ccd-definition/CaseField/CareSupervision/manageDocumentsLA.json
  ccd-definition/ComplexTypes/CareSupervision/2_C2DocumentBundle.json
  ccd-definition/ComplexTypes/CareSupervision/2_OtherApplicationsBundle.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ManageDocumentTypeLA.json
  ccd-definition/FixedLists/CareSupervision/manage-documents/ManageDocumentTypeList.json
  ccd-definition/FixedLists/CareSupervision/manage-documents/ManageDocumentTypeListLA.json
  e2e/fixtures/supportingEvidenceDocuments.js
  e2e/helpers/manage_documents_for_LA_helper.js
  e2e/pages/events/manageDocumentsEvent.page.js
  e2e/pages/events/manageDocumentsLAEvent.page.js
  e2e/tests/adminMangesHearings_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_@slow_test.js
  e2e/tests/manageDocuments_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ManageDocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ManageDocumentTypeListLA.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OtherApplicationType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/OtherApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/interfaces/ApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentLAService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentsLAServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2416

#2389 feat: Grant access to creator even if not returned from PRD (FPLA-2719)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseAccessService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseInitiationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseAccessServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseInitiationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2389

#2429 feat: Update send and reply to messages event (FPLA-2650)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/messageJudge.json
  ccd-definition/CaseField/CareSupervision/messageJudge.json
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessage.json
  e2e/fixtures/caseData/mandatoryWithAdditionalApplicationsBundle.json
  e2e/pages/events/messageJudgeOrLegalAdviserEvent.page.js
  e2e/tests/messageJudge_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NewJudicialMessageEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/OtherApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/MessageJudgeEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/interfaces/ApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/judicialmessage/JudicialMessageMetaData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/JudicialMessageReplyTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/NewJudicialMessageTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageReplyContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AdditionalApplicationsUploadedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/JudicialMessageReplyContentProviderTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2429

#2383 feat: respondent journey (FPLA-2778/9)
  ccd-definition/CaseEventToComplexTypes/enterRespondents.json
  ccd-definition/CaseEventToFields/CareSupervision/enterRespondents-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/enterRespondents-prod.json
  ccd-definition/ComplexTypes/CareSupervision/1_UnregisteredOrganisation.json
  ccd-definition/ComplexTypes/CareSupervision/2_RespondentSolicitor.json
  ccd-definition/ComplexTypes/CareSupervision/RespondentNew-nonprod.json
  e2e/fixtures/caseData/mandatorySubmissionFields.json
  e2e/fixtures/respondents.js
  e2e/pages/events/enterRespondentsEvent.page.js
  e2e/steps_file.js
  e2e/tests/localAuthoritySubmitsApplication_@slow_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentSolicitor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/UnregisteredOrganisation.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ValidateEmailService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/RespondentsChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/RespondentSolicitorGroup.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/RespondentTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/RespondentsCheckerIsStartedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/RespondentsCheckerTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2383

#2443 fix: judicial message date sent updates to latest reply time (FPLA-2941)
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessage.json
  e2e/tests/messageJudge_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2443

#2484 onboarding: Makes gap in LAs ordering so it is easier to put new LAs
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList-nonprod.json
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2487 onboarding: Onboard Sheffield City Council (FPLA-2971)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2489 onboarding: Onboard Rotherham Metropolitan Borough Council (FPLA-2972)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2490 onboarding: Onboard Doncaster Metropolitan Borough Council (FPLA-2973)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2491 onboarding: Onboard Barnsley Metropolitan Borough Council (FPLA-2974)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList-nonprod.json
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2488 fix: Add isRelatedToC2 case field to judicial messages
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessage.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2488

#2493 onboarding: Fix order of local authorities
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2495 onboarding: Onboard Isle of Anglesey County Council (FPLA-2977)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2466 feat: allow respondent solicitor organisation to access the case on submisssion (FPLA-2799)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationComplexType/AuthorisationComplexType.json
  ccd-definition/AuthorisationComplexType/caseDocuments/C2DocumentBundle.json
  ccd-definition/AuthorisationComplexType/caseDocuments/hearingFurtherEvidenceDocuments.json
  ccd-definition/CaseField/CareSupervision/noticeOfChangeAnswers.json
  ccd-definition/CaseField/CareSupervision/respondentPolicy.json
  ccd-definition/CaseRoles.json
  ccd-definition/ComplexTypes/CareSupervision/NoticeOfChange/NoticeOfChangeAnswers.json
  script.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/components/NoticeOfChangeAnswersConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/components/RespondentPolicyConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/SolicitorRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/NoticeOfChangeAnswersData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentPolicyData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/noticeofchange/NoticeOfChangeAnswers.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentPolicyService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/components/NoticeOfChangeAnswersConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/components/RespondentPolicyConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentPolicyServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2466

#2476 feat: Send Unregistered Organisation's Notification to register (FPLA-2791)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentSolicitor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/submittedcase/RespondentSolicitorTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/RespondentSolicitorContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/RespondentSolicitorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2476

#2497 chore(build): bump chart-java from 3.4.4 to 3.4.5
  charts/fpl-case-service/Chart.yaml
Labels: dependencies, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2497

#2500 Fix: Replace test data's hardcoded localhost URL with dynamic ${DM_STORE_URL}
  e2e/fixtures/caseData/mandatoryWithAdditionalApplicationsBundle.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2500

#2481 feat: Registered solicitor notifications (FPLA-2792)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/submittedcase/RespondentSolicitorTemplate.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/RespondentSolicitorContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2481

#2503 NOJIRA: fix broken func test reports
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2503

#2507 chore:Cleanup fpla-2947 migration code
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2507

#2508 FPLA-2842: Include CCD number on all relevant orders
  docker/docmosis/templates/FL-PLW-GOR-ENG-00218.doc
  docker/docmosis/templates/FL-PLW-GOR-ENG-00228.doc
  docker/docmosis/templates/FL-PLW-HNO-ENG-00092.doc
  docker/docmosis/templates/FL-PLW-HNO-ENG-00093.doc
  docker/docmosis/templates/FL-PLW-HNO-ENG-00525.doc
  docker/docmosis/templates/FL-PLW-STD-ENG-00099.doc
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerServiceRouteMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisNoticeOfHearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisNoticeOfProceeding.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsTemplateDataGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocmosisCoverDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/GeneratedOrderTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/NoticeOfHearingGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/DocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/DocmosisCommonElementDecorator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisStandardDirectionOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsTemplateDataGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/AbstractOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/BlankOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CareOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/DischargeCareOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocmosisCoverDocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/NoticeOfHearingGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/SupervisionOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/DocmosisCommonElementDecoratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDetailsHelperTest.java
Labels: docmosis, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2508

#2506 Onboarding: Adding WMS and KECH LA's to fixed list
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2506

#2517 NOJIRA: fix oswap exceptions
  audit.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2517

#2523 NOJIRA: fix e2e before release fixing xui non-broken release
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2523

#2505 chore(ci): AAC PR integration (FPLA-2962)
  bin/build-preview-ccd-definitions.sh
  bin/build-release-ccd-definition.sh
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2505

#2521 FPLA-2982 unable to select c2 order
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/OtherApplicationsBundle.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2521

#2525 NOJIRA: revert to latest after Exui fix
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2525

#2511 feat: LIP not represented by post (FPLA-2957)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/SendDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SendDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2511

#2499 FPLA-2798: Send Respondent Standard Notifications
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersApprovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/RepresentativesInbox.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeNotificationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PartyAddedToCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/RespondentTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/RepresentativesInboxTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeNotificationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2499

#2432 Dev/fpla 2810 - Respondent Solicitor action Events
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  e2e/pages/events/enterRepresentativesEvent.page.js
  e2e/tests/uploadDraftOrders_test.js
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2432

#2526 onboarding: Onboard Denbighshire County Council (FPLA-2995)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, ns:family-public-law, onboarding, prd:fpl, rel:fpl-case-service-pr-2526

#2522 FPLA-2978: remove bintray due to wind down on 1st of May
  build.gradle
  service/build.gradle
Labels: dependencies, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2522

#2530 onboarding: Onboard Cheshire West and Chester Council (FPLA-2996)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2504 Move tab methods to helper
  codecept.conf.js
  e2e/fixtures/applicant.js
  e2e/fixtures/respondents.js
  e2e/helpers/tab_assertions_helper.js
  e2e/steps_file.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_@slow_test.js
  e2e/tests/localAuthoritySubmitsApplication_@slow_test.js
  e2e/tests/messageJudge_test.js
  e2e/tests/uploadDraftOrders_test.js
  saucelabs.conf.js
Labels: Do not merge, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2504

#2529 feat: Add acc client (FPLE-2840)
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  service/src/integrationTest/resources/application-integration-test.yaml
  service/src/main/java/uk/gov/hmcts/reform/aac/client/CaseAssignmentApi.java
  service/src/main/java/uk/gov/hmcts/reform/aac/model/ApprovalStatus.java
  service/src/main/java/uk/gov/hmcts/reform/aac/model/ChangeOrganisationRequest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/Application.java
  service/src/main/resources/application-local.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2529

#2538 fix(ci): ccd dm store pattern
  charts/fpl-case-service/values.preview.template.yaml
Labels: dependencies, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2538

#2510 feat: challenge questions for noc (FPLA-2829)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
  ccd-definition/CaseEvent/CareSupervision/NoticeOfChange-nonprod.json
  ccd-definition/CaseEventToComplexTypes/nocRequest.json
  ccd-definition/CaseEventToFields/CareSupervision/noticeOfChange-nonprod.json
  ccd-definition/CaseField/CareSupervision/noticeOfChange.json
  ccd-definition/ChallengeQuestion.json
  codecept.conf.js
  e2e/fixtures/caseData/mandatorySubmissionFields.json
  e2e/pages/noticeOfChange.page.js
  e2e/tests/noticeOfChange_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/components/RespondentPolicyConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentPolicyService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/components/RespondentPolicyConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentPolicyServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2510

#2494 FPLA-2834: Limit Add & Edit on submission for 'Respondent Details'
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-prod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/respondents/amendRespondents.json
  ccd-definition/CaseEventToComplexTypes/respondents/enterRespondents.json
  ccd-definition/CaseEventToFields/CareSupervision/amendRespondents-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/amendRespondents-prod.json
  e2e/fixtures/caseData/mandatoryWithMultipleChildren.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/RespondentsSubmitted.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/RespondentsUpdated.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsSubmittedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/RepresentativesInbox.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentAfterSubmissionValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsSubmittedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/RespondentTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentAfterSubmissionValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidatorTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2494

#2539 revert #2358
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: dependencies, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2539

#2552 NOJIRA: bump java version to 3.4.7 + revert XUI
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2552

#2560 chore: Increase delay after action attempt 1
  charts/fpl-case-service/values.preview.template.yaml
  codecept.conf.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2560

#2556 chore: Split base actor into dedicated ones (FPLA-3013)
  codecept.conf.js
  e2e/actors/base.js
  e2e/actors/main.js
  e2e/actors/tabs.js
  e2e/steps_file.js
  e2e/tests/messageJudge_test.js
  saucelabs.conf.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2556

#2557 chore: give possiblity to fetch user data for the e2e test purpose, so that user data can be asserted in env agnostic way
  e2e/actors/base.js
  e2e/helpers/api_helper.js
  e2e/steps_file.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/testingsupport/controllers/TestingSupportController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2557

#2554 Fpla 2994 toggle on respondent
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-prod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/CaseEventToFields/CareSupervision/amendRespondents-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/amendRespondents.json
  ccd-definition/CaseEventToFields/CareSupervision/enterRespondents-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/enterRespondents.json
  ccd-definition/ComplexTypes/CareSupervision/RespondentNew-nonprod.json
  ccd-definition/ComplexTypes/CareSupervision/RespondentNew.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2554

#2561 chore: customisable delay after e2e step (FPLA-3013)
  codecept.conf.js
  e2e/helpers/hooks_helper.js
  e2e/helpers/stepListener.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2561

#2524 feat: Allow hmcts admin to classify uploaded documents as respondent statement (FPLA-2771)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocuments.json
  ccd-definition/CaseEventToFields/CareSupervision/manageDocuments.json
  ccd-definition/CaseField/CareSupervision/manageDocuments.json
  ccd-definition/CaseField/CareSupervision/manageDocumentsLA.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ManageDocumentType.json
  ccd-definition/FixedLists/CareSupervision/manage-documents/ManageDocumentSubtypeList.json
  e2e/helpers/api_helper.js
  e2e/pages/events/manageDocumentsEvent.page.js
  e2e/tests/adminMangesHearings_test.js
  e2e/tests/manageDocuments_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/DynamicListHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ManageDocumentSubtypeList.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ManageDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentLAService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/testingsupport/controllers/TestingSupportController.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/ManageDocumentTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentsLAServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2524

#2564 chore: Check case last event to avoid concurrent data modification by e2e tests
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  e2e/config.js
  e2e/helpers/api_helper.js
  e2e/tests/adminMangesHearings_test.js
  service/src/main/java/uk/gov/hmcts/reform/ccd/client/CoreCaseDataApiV2.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/model/AuditEvent.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/model/AuditEventsResponse.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/testingsupport/controllers/TestingSupportController.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2564

#2548 fix: hide complex type labels in tab (FPLA-2998)
  ccd-definition/CaseEventToComplexTypes/children/amendChildren.json
  ccd-definition/CaseEventToComplexTypes/children/enterChildren.json
  ccd-definition/CaseEventToComplexTypes/enterApplicant/Solicitor.json
  ccd-definition/CaseEventToComplexTypes/respondents/amendRespondents.json
  ccd-definition/CaseEventToComplexTypes/respondents/enterRespondents.json
  ccd-definition/ComplexTypes/CareSupervision/1_UnregisteredOrganisation.json
  ccd-definition/ComplexTypes/CareSupervision/2_ChildParty.json
  ccd-definition/ComplexTypes/CareSupervision/2_RespondentParty.json
  ccd-definition/ComplexTypes/CareSupervision/2_RespondentSolicitor.json
  ccd-definition/ComplexTypes/CareSupervision/RespondentNew.json
  ccd-definition/ComplexTypes/CareSupervision/Solicitor.json
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2548

#2568 chore: reduce xui time to restart
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2568

#2565 chore: migration to flatten respondents (FPLA-2961)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2565

#2549 impr: validate removal of existing legal representation (FPLA-3011)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentAfterSubmissionValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentAfterSubmissionValidatorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2549

#2512 impr: sort applications list in reverse chronological (FPLA-2981)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/interfaces/ApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentsLAServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2512

#2537 feat: noc event to add or replace respondent (FPLA-2838)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment.json
  ccd-definition/CaseEvent/CareSupervision/NoticeOfChange-nonprod.json
  e2e/fixtures/caseData/representedCase.json
  e2e/pages/noticeOfChange.page.js
  e2e/tests/noticeOfChange_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractCallbackTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/aac/client/CaseAssignmentApi.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/client/CoreCaseDataApiV2.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/model/Organisation.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/SolicitorRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/AuditEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/AuditEventsResponse.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentPolicyData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/AuditEventService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfChangeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentRepresentationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UserService.java
  service/src/test/java/uk/gov/hmcts/reform/ccd/model/OrganisationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/SolicitorRoleTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/AuditEventServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfChangeServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentPolicyServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentRepresentationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UserServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2537

#2573 fix: catch date time parsing exception for additional applications (FPLA-NA)
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2573

#2575 chore: reduce number of threads so that xui does not crash
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2575
