Repository hmcts/fpl-ccd-configuration, pull requests merged in 2021-08, with the labels that each got.

#2951 fix: allow epo e2e tests to run regardless of time of day
  e2e/tests/adminManagesOrders_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/validator/ApprovalDateTimeValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/validator/ApprovalDateTimeValidatorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2951

#2934 impr: edit child details (FPLA-3060)
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment.json
  ccd-definition/CaseEventToFields/CareSupervision/amendChildren-nonprod.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerCollectionValidationMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerRepresentationDetailsMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerRepresentationValidationMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/ChildRepresentationDetailsFlattener.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/ChildRepresentativeSolicitorValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/ChildrenEventSection.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/ChildrenEventSectionValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/ChildrenEventValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/collection/AdminUserChildCollectionValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/collection/LocalAuthorityUserChildCollectionValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/AdminUserIndividualRepresentativeValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/AdminUserMainRepresentativeValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/ChildRepresentativeValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/LocalAuthorityUserIndividualRepresentativeValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/LocalAuthorityUserMainRepresentativeValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/MainRepresentativeValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/user/AdminUserValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/user/LocalAuthorityUserValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/validation/user/UserSpecificValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/noc/ChildNoticeOfChangeUpdateAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeSolicitorSanitizer.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/ChildRepresentationDetailsFlattenerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/validation/ChildrenEventValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/validation/collection/AdminUserChildCollectionValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/validation/collection/LocalAuthorityUserChildCollectionValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/AdminUserIndividualRepresentativeValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/AdminUserMainRepresentativeValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/ChildRepresentativeValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/LocalAuthorityUserIndividualRepresentativeValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/LocalAuthorityUserMainRepresentativeValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/validation/representative/MainRepresentativeValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/validation/user/AdminUserValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/validation/user/LocalAuthorityUserValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/noc/ChildNoticeOfChangeUpdateActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeSolicitorSanitizerTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2934

#2955 onboarding: Onboard London Borough of Kingston (FPLA-3287)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2956 onboarding: Onboard London Borough of Richmond (FPLA-3288)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2957 onboarding: Onboard London Borough of Sutton (FPLA-3289)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2958 onboarding: Onboard London Borough of Wandsworth (FPLA-3290)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#2945 fix: single child cases should not be asked about individual representatives (FPL-3264)
  ccd-definition/CaseEventToFields/CareSupervision/amendChildren-nonprod.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/ChildrenEventDataFixer.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/ChildrenEventDataFixerTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2945

#2878 feat: Choose recipients for Notice of Hearing (FPLA-2446)
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToComplexTypes/manageHearings/others-selector.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  ccd-definition/ComplexTypes/CareSupervision/CancelledHearingBooking.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/adminMangesHearings_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/PartyAddedToCaseEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/hearing/NoticeOfHearingNoOtherAddressTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/AdditionalApplicationsUploadedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfHearingNoOtherAddressEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/hearing/ManageHearingsOthersGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/others/OthersNotifiedGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeNotificationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OthersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AdditionalApplicationsUploadedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/hearing/ManageHearingsOthersGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/others/OthersNotifiedGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeNotificationServiceTest.java
Labels: ccd configuration, ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2878

#2963 FIX: failing ccd-data store api
  README.md
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2963

#2935 chore: Select others to receive notifications about approved draft orders (FPLA-3227)
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEventToComplexTypes/review-CMO/reviewCMOOthersSelector-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewCMO-nonprod.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/HearingOrder.json
  e2e/fixtures/caseData/prepareForHearing.json
  e2e/pages/events/reviewAgreedCaseManagementOrderEvent.page.js
  e2e/tests/uploadDraftOrders_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerValidateReviewDecisionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/ApproveDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersApprovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ReviewDraftOrdersData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/BlankOrderGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/HearingOrderGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/BlankOrderGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/HearingOrderGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-2935

#2970 chore(e2e): generate test document in doc store
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  charts/fpl-case-service/values.preview.template.yaml
  e2e/config.js
  e2e/fixtures/caseData/caseWithAllTypesOfOrders.json
  e2e/fixtures/caseData/closedCase.json
  e2e/fixtures/caseData/finalHearing.json
  e2e/fixtures/caseData/finalHearingWithMultipleOrders.json
  e2e/fixtures/caseData/gatekeepingFullDetails.json
  e2e/fixtures/caseData/gatekeepingNoAllocatedJudge.json
  e2e/fixtures/caseData/gatekeepingNoHearingDetails.json
  e2e/fixtures/caseData/gatekeepingWithPastHearingDetails.json
  e2e/fixtures/caseData/gatekeepingWithPastHearingDetailsAndApplication.json
  e2e/fixtures/caseData/mandatorySubmissionFields.json
  e2e/fixtures/caseData/mandatorySubmissionWithApplicationDocuments.json
  e2e/fixtures/caseData/mandatoryWithAdditionalApplicationsBundle.json
  e2e/fixtures/caseData/mandatoryWithMaxChildren.json
  e2e/fixtures/caseData/mandatoryWithMultipleChildren.json
  e2e/fixtures/caseData/prepareForHearing.json
  e2e/fixtures/caseData/representedCase.json
  e2e/helpers/api_helper.js
  e2e/tests/adminManagesOrdersAmendment_test.js
  e2e/tests/hmctsSuperUserRemovalTool_test.js
  e2e/tests/localAuthorityCorrectsReturnedApplication_test.js
  e2e/tests/uploadDraftOrders_test.js
  e2e/tests/welshTranslations_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/TestingSupportControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/testingsupport/controllers/TestingSupportController.java
  service/src/main/resources/test_support/document.pdf
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2970

#2901 feat: repurpose barrister case role (FPLA-3156)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  ccd-definition/AuthorisationComplexType/caseDocuments/C2DocumentBundle.json
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-2901

#2975 release: Unrepresented parties and manage documents improvements (FPLA-3284)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-prod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/CaseEventToComplexTypes/review-CMO/reviewCMOOthersSelector.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewCMO-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewCMO.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-2975

#2946 cleanup: remove legacy create order (FPLA-NA)
  ccd-definition/CaseEventToComplexTypes/create-order/child-selector-closed.json
  ccd-definition/CaseEventToComplexTypes/create-order/child-selector.json
  ccd-definition/CaseEventToComplexTypes/create-order/create-order.json
  ccd-definition/CaseEventToComplexTypes/create-order/createOrder-closed.json
  ccd-definition/CaseEventToFields/CareSupervision/createOrder/createOrder-CLOSED.json
  ccd-definition/CaseEventToFields/CareSupervision/createOrder/createOrder.json
  codecept.conf.js
  e2e/fixtures/orders/blankOrder.js
  e2e/fixtures/orders/dischargeOfCareOrder.js
  e2e/fixtures/orders/emergencyProtectionOrder.js
  e2e/fixtures/orders/finalCareOrder.js
  e2e/fixtures/orders/finalSupervisionOrder.js
  e2e/fixtures/orders/interimCareOrder.js
  e2e/fixtures/orders/interimSupervision.js
  e2e/fixtures/orders/uploadedOrder.js
  e2e/helpers/generated_order_helper.js
  e2e/pages/events/createOrderEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  saucelabs.conf.js
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/AbstractApiTest.java
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/OrderGenerationApiTest.java
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/service/CaseService.java
  service/src/functionalTest/resources/order-generation/blank-order.txt
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ValidateOrderControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/GeneratedOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ValidateOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/OrderTypeAndDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisDischargeOfCareOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisGeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/BlankOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CareOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DischargeCareOrderGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/GeneratedOrderTemplateDataGeneration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/SupervisionOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/GeneratedOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/AbstractOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/BlankOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CareOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/DischargeCareOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/EPOGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/SupervisionOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-2946

#2965 chore: Select recipients for additional applications (FPLA-3272)
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  ccd-definition/CaseEventToComplexTypes/applicationsOthersSelector-nonprod.json
  ccd-definition/CaseEventToComplexTypes/person-selector.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications-nonprod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/3_RespondentNew.json
  ccd-definition/ComplexTypes/CareSupervision/4_C2DocumentBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_OtherApplicationsBundle.json
  ccd-definition/ComplexTypes/CareSupervision/PersonSelector.json
  ccd-definition/FixedLists/CareSupervision/PersonSelector.json
  e2e/helpers/manage_documents_for_LA_helper.js
  e2e/pages/events/uploadAdditionalApplicationsEvent.page.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/AdditionalApplicationsUploadedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Others.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/OtherApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PeopleInCaseService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/RepresentativesInbox.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/OthersTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/RespondentTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PeopleInCaseServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/RepresentativesInboxTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-2965

#2952 Fix: Security scan process
  audit.json
  security.sh
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2952

#2983 fix: fix AdditionalApplicationsUploadedEventHandlerTest (FPLA-3307)
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2983

#2977 chore(migration): add child noc fields to cases (FPLA-3132)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2977

#2959 feat:(FPLA-3099) Child and Respondent Representatives are able to add…
  .gitignore
  README.md
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/addOrRemoveLegalCounsel/addOrRemoveLegalCounsel.json
  ccd-definition/CaseEventToFields/CareSupervision/addOrRemoveLegalCounsel/addOrRemoveLegalCounsel.json
  ccd-definition/CaseField/CareSupervision/addOrRemoveLegalCounsel/addOrRemoveLegalCounsel.json
  ccd-definition/ComplexTypes/CareSupervision/3_LegalCounsellor.json
  ccd-definition/ComplexTypes/CareSupervision/3_RespondentNew.json
  ccd-definition/ComplexTypes/CareSupervision/ChildrenNew.json
  codecept.conf.js
  e2e/config.js
  e2e/fixtures/legalCounsellors.js
  e2e/helpers/organisation_helper.js
  e2e/pages/events/enterChildrenEvent.page.js
  e2e/pages/events/manageLegalCounsellorsEvent.page.js
  e2e/tests/addOrRemoveLegalCounsel_test.js
  saucelabs.conf.js
  service/src/contractTest/java/uk/gov/hmcts/reform/rd/client/ReferenceDataProfessionalExternalUsersConsumerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageLegalCounselControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageLegalCounselControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/ccd/model/ChangeOrganisationRequest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageLegalCounselController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/SolicitorRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/LegalCounsellorAdded.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/LegalCounsellorRemoved.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/LegalCounselUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Child.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/LegalCounsellor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ManageLegalCounselEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/interfaces/WithSolicitor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/legalcounsel/LegalCounsellorAddedNotifyTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/legalcounsel/LegalCounsellorRemovedNotifyTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseRoleLookupService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OrganisationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/LegalCounsellorEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/legalcounsel/ManageLegalCounselService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/noc/UpdateRepresentationService.java
  service/src/main/java/uk/gov/hmcts/reform/rd/client/OrganisationApi.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/Constants.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/SolicitorRoleTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/LegalCounselUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseRoleLookupServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OrganisationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/LegalCounsellorEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/legalcounsel/ManageLegalCounselServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CoreCaseDataStoreLoader.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/LegalCounsellorTestHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/RespondentsTestHelper.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-2959

#2948 feat: refund notification (FPLA-3256)
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  ccd-definition/ComplexTypes/CareSupervision/AdditionalApplicationsBundle.json
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolControllerSubmittedEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/ApplicationRemovedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/CtscTeamLeadLookupConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ApplicationRemovalReason.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/ApplicationRemovedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ApplicationRemovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/ApplicationRemovedNotifyData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/ApplicationRemovedEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveApplicationService.java
  service/src/main/resources/application-local.yaml
  service/src/main/resources/bootstrap.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/ApplicationRemovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/ApplicationRemovedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveApplicationServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-2948

#2971 fix: show order title in notification for other order (FPLA-3257)
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTypeOfOrderCalculator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTypeOfOrderCalculatorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2971

#2990 chore: Remove fpl service token from integrtion tests Constants
  service/src/test/java/uk/gov/hmcts/reform/fpl/Constants.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2990

#2991 temp: restore prev xui version until pernament fix is found
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2991

#2989 chore: update xui config
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2989

#2997 doc: add welsh translation of FL-PLW-LET-ENG-00232 (FPLA-3321)
  docker/docmosis/templates/FL-PLW-LET-WEL-00752.doc
Labels: ns:family-public-law, prd:fpl, docmosis, rel:fpl-case-service-pr-2997

#2980 fix: Fix Others event to save non-empty others (FPLA-3303)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OthersControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OthersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Others.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/OthersTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RepresentativesServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/hearing/ManageHearingsOthersGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/OthersCheckerIsStartedTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2980

#2993 release: toggle on child solicitor (FPLA-3306)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-prod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/CareSupervision/AmendChildren-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/AmendChildren-prod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/amendChildren-prod.json
  ccd-definition/CaseEventToFields/CareSupervision/amendChildren.json
  ccd-definition/ChallengeQuestion/ChallengeQuestion-prod.json
  ccd-definition/ChallengeQuestion/ChallengeQuestion.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, release, rel:fpl-case-service-pr-2993

#2973 FPLA-2869 Trigger Welsh translation for orders
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  ccd-definition/CaseField/CareSupervision/manageOrders/manageOrdersFields.json
  ccd-definition/ComplexTypes/CareSupervision/GeneratedOrder.json
  ccd-definition/ComplexTypes/CareSupervision/OrderTempQuestions.json
  e2e/fixtures/caseData/caseWithAllTypesOfOrders.json
  e2e/pages/events/manageOrders.page.js
  e2e/tests/welshTranslations_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersControllerInitialSectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/helper/UploadTranslationsControllerTestHelper.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfPlacementOrderUploadedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/order/GeneratedOrderEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ManageOrdersEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderQuestionBlock.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderTempQuestions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/generated/GeneratedOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrdersEventBuilder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderLanguageRequirementGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/OrderSectionAndQuestionsPrePopulatorHolder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/TranslationRequirementsBlockPrePopulator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderDocumentScopedFieldsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrdersEventBuilderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderHistoryServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/history/SealedOrderLanguageRequirementGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/OrderSectionAndQuestionsPrePopulatorHolderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/TranslationRequirementsBlockPrePopulatorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-2973

#2992 fix: remove categories in respondent statements for solicitor
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsSolicitor.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-2992

#2998 chore: onboard isle of wight (FPLA-3317)
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, onboarding, rel:fpl-case-service-pr-2998

#2987 FPLA-3148 Trigger Welsh translations for CMO
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadCMO.json
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/HearingOrder.json
  e2e/helpers/cmo_helper.js
  e2e/pages/events/uploadCaseManagementOrderEvent.page.js
  e2e/tests/welshTranslations_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/helper/UploadTranslationsControllerTestHelper.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/CaseManagementOrderIssuedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersApprovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/UploadDraftOrdersData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/BlankOrderGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/HearingOrderKindEventDataBuilder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/event/UploadDraftOrdersDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/BlankOrderGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/HearingOrderKindEventDataBuilderTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-2987

#2985 Retry-able e2e Notice of Change tests
  e2e/pages/events/enterRespondentsEvent.page.js
  e2e/tests/noticeOfChange_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-2985

#3011 chore: Clean up summary tab feature toggle (FPLA-3327)
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/UpdateSummaryCaseDetails.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/UpdateSummaryCaseDetailsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3011

#3013 chore: Clean up further evidence upload notification toggle (FPLA-3327)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3013

#3010 refactor: remove raw and unchecked casts from inbox methods
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ModifiedDocumentCommonEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersApprovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/RepresentativesInbox.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/others/OtherRecipientsInbox.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/ModifiedDocumentCommonEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/RepresentativesInboxTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/others/OtherRecipientsInboxTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/representative/RepresentativeNotificationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3010

#3017 fix: Fix prod version of ccd def
  ccd-definition/CaseEvent/CareSupervision/MultiState-nonprod.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3017

#3015 chore: Clean up feature toggle used for child solicitor (FPLA-3327)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3015

#3018 More portable shebang
  bin/generate-local-user-mappings.sh
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3018

#3005 Dev/restore xui version
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3005

#3006 feat: revoke legal counsellor access when representative is removed (FPLA-3195)
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment.json
  ccd-definition/ComplexTypes/CareSupervision/3_LegalCounsellor.json
  e2e/fixtures/caseData/mandatoryWithChildSolicitorAndMultipleRespondents.json
  e2e/tests/addOrRemoveLegalCounsel_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageLegalCounselControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageLegalCounselControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerNoCTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/SolicitorRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/LegalCounsellorAdded.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/LegalCounsellorRemoved.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/legalcounsel/LegalCounsellorAdded.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/legalcounsel/LegalCounsellorEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/legalcounsel/LegalCounsellorRemoved.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/LegalCounselUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/LegalCounsellor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseAccessService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/LegalCounsellorEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/legalcounsel/ManageLegalCounselService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/legalcounsel/RepresentableLegalCounselUpdater.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/LegalCounselUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/LegalCounsellorEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/legalcounsel/ManageLegalCounselServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/legalcounsel/RepresentableLegalCounselUpdaterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/LegalCounsellorTestHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/RespondentsTestHelper.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3006

#2999 FPLA-3247: Trigger Welsh translations for Notice of Hearing
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  ccd-definition/ComplexTypes/CareSupervision/CancelledHearingBooking.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/welshTranslations_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/helper/UploadTranslationsControllerTestHelper.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ModifiedOrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableListItemProviders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableNoticeOfHearingProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableListItemProvidersTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableNoticeOfHearingProviderTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-2999

#3014 chore: Clean up feature toggle used for further evidence documents tab (FPLA-3227)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RenderDocumentsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RenderDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/UploadDraftOrdersController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3014

#3024 release: representative barristers (FPLA-3323)
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, release, rel:fpl-case-service-pr-3024

#3000 FPLA-3208: Trigger Welsh translations for C110A
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/languageSelection.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/8_Documents.json
  ccd-definition/CaseTypeTab/CareSupervision/9_FurtherEvidenceDocuments.json
  ccd-definition/FixedLists/CareSupervision/Language.json
  docker/docmosis/templates/FL-PLW-APP-WEL-00753.doc
  e2e/pages/events/enterLanguageRequirementsEvent.page.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  e2e/tests/welshTranslations_test.js
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/SubmitCaseApiTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/LanguageSelectionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReturnApplicationAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/helper/UploadTranslationsControllerTestHelper.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/docmosis/OrderCreationServiceDocmosisTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/AmendedReturnedCaseEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/LanguageSelectionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ReturnApplicationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ModifiedOrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/configuration/Language.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/group/C110A.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocmosisDocumentGeneratorService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/ReturnedCaseContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/translation/C110ATranslationRequirementCalculator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableC110AProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableListItemProviders.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/ReturnedCaseContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/translation/C110ATranslationRequirementCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableC110AProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableListItemProvidersTest.java
Labels: ns:family-public-law, prd:fpl, docmosis, ccd configuration, rel:fpl-case-service-pr-3000

#3034 chore: Downgrade ccd to workaround latest rel bug
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3034

#3020 chore: remove serve others orders docs toggle (FPLA-3227)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerValidateReviewDecisionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/ApproveDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersApprovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/hearing/ManageHearingsOthersGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/hearing/ManageHearingsOthersGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3020

#3037 fpla-3334: add authorities to fixed list
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#3039 chore: Restore latest ccd data store as related bug has been fixed (CCD-1895)
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3039
