Repository hmcts/fpl-ccd-configuration, pull requests merged in 2022-02, with the labels that each got.

#3338 DFPL-331: Remove serial number on placement order upload
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  e2e/pages/events/manageOrders.page.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3338

#3281 DFPL-328: Placement - Local Authority "Notice of hearing"
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEventToComplexTypes/placement/respondents-selector.json
  ccd-definition/CaseEventToFields/CareSupervision/placement/notices.json
  ccd-definition/CaseEventToFields/CareSupervision/placement/placement.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/placement.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/Placement.json
  ccd-definition/ComplexTypes/CareSupervision/RespondentsSelector.json
  ccd-definition/FixedLists/CareSupervision/RespondentsSelector.json
  e2e/pages/events/placementEvent.page.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementNoticeSelectionMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Placement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/PlacementEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PlacementService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PlacementServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
Labels: java, ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3281

#3302 DFPL-310 update legal counsellors case event permissions
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3302

#3351 Dfpl 500: Removal Of Documents - LS22C50074 - Data Breach
  config/owasp/suppressions.xml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3351

#3354 DFPL-505, DFPL-506: London Borough of Havering LA Onboarding, London Borough of Newham LA Onboarding
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ccd configuration, onboarding

#3328 Dfpl 475: Cafcass interim solution- send large documents
  e2e/tests/smoke_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/cafcass/CafcassEmailConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/CafcassData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/LargeFilesNotificationData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/DocumentReference.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentMetadataDownloadService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassNotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassRequestEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentMetadataDownloadServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassNotificationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3328

#3362 Remove hearing option field from case (DFPL-466)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3362

#3375 update java chart version to 3.7.2
  charts/fpl-case-service/Chart.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3375
