Repository hmcts/fpl-ccd-configuration, pull requests merged in 2022-11, with the labels that each got.

#3699 DFPL-670: Respondent/Child solicitor application for contact with a child in care
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/enterGrounds/GroundsForContactWithChild.json
  ccd-definition/CaseEventToFields/CareSupervision/enterGrounds.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication.json
  ccd-definition/CaseTypeTab/CareSupervision/7_LegalBasis.json
  ccd-definition/ComplexTypes/CareSupervision/GroundsForContactWithChild.json
  ccd-definition/FixedLists/CareSupervision/OrderType.json
  ccd-definition/FixedLists/CareSupervision/OrderTypeSolicitor.json
  docker/docmosis/templates/FL-PLW-APP-ENG-01088.doc
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/fee/FeeType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/GroundsForContactWithChild.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisC15Supplement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/FeeServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsCheckerIsStartedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/testbeans/TestFeeConfig.java
Labels: ns:family-public-law, prd:fpl, docmosis, ccd configuration, rel:fpl-case-service-pr-3699

#3825 Dfpl 682 Child recovery order (C18)
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEventToComplexTypes/enterGrounds/groundsForChildRecoveryOrder.json
  ccd-definition/CaseEventToComplexTypes/ordersNeeded/Orders.json
  ccd-definition/CaseEventToFields/CareSupervision/enterGrounds.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication.json
  ccd-definition/CaseTypeTab/CareSupervision/7_LegalBasis.json
  ccd-definition/ComplexTypes/CareSupervision/GroundsForChildRecoveryOrder.json
  ccd-definition/ComplexTypes/CareSupervision/Orders.json
  ccd-definition/FixedLists/CareSupervision/ChildRecoveryOrderGroundList.json
  ccd-definition/FixedLists/CareSupervision/OrderType.json
  ccd-definition/FixedLists/CareSupervision/ParticularsOfChildren.json
  docker/docmosis/templates/FL-PLW-APP-ENG-01087.doc
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/fee/FeeType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ChildRecoveryOrderGround.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ParticularsOfChildren.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/GroundsForChildRecoveryOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisC18Supplement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageOrderDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/GrammarHelper.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
Labels: ns:family-public-law, prd:fpl, docmosis, ccd configuration, rel:fpl-case-service-pr-3825

#3841 DFPL-820: Add Skeleton Argument hearing document type
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocuments.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLA.json
  ccd-definition/CaseEventToFields/CareSupervision/manageDocuments.json
  ccd-definition/CaseEventToFields/CareSupervision/manageDocumentsLA.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/CaseField/CareSupervision/manageDocuments.json
  ccd-definition/CaseTypeTab/CareSupervision/9_HearingDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/SkeletonArgument.json
  ccd-definition/FixedLists/CareSupervision/manage-documents/HearingDocumentType.json
  config/owasp/suppressions.xml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingDocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingDocuments.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/SkeletonArgument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassRequestEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/PartyListGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PartyListGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3841

#3870 DFPL-1000: Add back Nightingale in closed state
  ccd-definition/FixedLists/CareSupervision/DEPRECATED/HearingVenue.json
  ccd-definition/FixedLists/CareSupervision/HearingVenue.json
  service/src/main/resources/static_data/hearingVenues.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3870

#3888 DFPL-1013: Hearing documents field not found
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/DraftOrder.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/Supplement.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_C2DocumentBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_OtherApplicationsBundle.json
  ccd-definition/ComplexTypes/CareSupervision/CaseSummary.json
  ccd-definition/ComplexTypes/CareSupervision/CourtBundleV2.json
  ccd-definition/ComplexTypes/CareSupervision/Documents.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/HearingOrder.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/_PlacementConfidentialDocument.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/_PlacementNoticeDocument.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementChild.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementRespondent.json
  ccd-definition/ComplexTypes/CareSupervision/SkeletonArgument.json
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/CreateCaseApiTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3888

#3882 DFPL-1008: Migration to remove multiple hearing documents
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3882

#3881 DFPL-1001 Migration to remove null hearing
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3881

#3884 DFPL-1009: Resend Cafcass Emails
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/ResendCafcassEmails.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentDownloadService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DocumentMetadataDownloadService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ResendCafcassEmailService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassNotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/main/resources/application.yaml
  service/src/main/resources/static_data/casesToResend.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/ResendCafcassEmailsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentDownloadServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentMetadataDownloadServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ResendCafcassEmailServiceTest.java
  service/src/test/resources/static_data/casesToResend.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3884

#3908 DFPL-1009: Schedule first batch of 501 cases for 18:30
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/ResendCafcassEmails.java
  service/src/main/resources/application.yaml
  service/src/main/resources/static_data/casesToResend.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3908

#3880 DFPL-939 CHILDSOLICITOR role type unable to complete Manage Documents flow
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3880

#3894 DFPL-977 Callback to service unsuccessful for even manage orders
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/UrgentHearingOrder.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3894

#3920 DFPL-1022: Replace codecept smoke test with health check
  Jenkinsfile_CNP
  service/build.gradle
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/smoke/SmokeFT.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3920

#3892 DFPL-993: Fix null pointers in gatekeeping notifications
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3892

#3787 Dfpl 771 Dfpl 771 LA to remove a draft order
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/removeDraftOrders.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemoveDraftOrdersControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/RemoveDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/cmo/DraftOrdersRemovedEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersRemovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/cmo/DraftOrdersRemovedTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/DraftOrdersRemovedContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersRemovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseManagementOrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/DraftOrdersRemovedContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3787

#3897 Recommitting changes to set up cftlib
  e2e/config.js
  service/build.gradle
  service/src/cftlib/java/uk/gov/hmcts/reform/fpl/CftlibConfig.java
  service/src/cftlib/java/uk/gov/hmcts/reform/fpl/Wiremock.java
  service/src/functionalTest/resources/application-test-local.yaml
  service/src/main/resources/application-local.yaml
  settings.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3897

#3873 DFPL-927: Show case history to shared + managing LAs
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3873

#3871 Dfpl 990 Secure Accommodation Order - show mandatory field in "why can't i submit"
  ccd-definition/CaseEventToComplexTypes/ordersNeeded/Orders.json
  ccd-definition/ComplexTypes/CareSupervision/Orders.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/OrdersSoughtChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/OrdersSoughtCheckerTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3871

#3923 DFPL-1030 & DFPL-1033 Fixing NPE
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/NoDocumentException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/AmendOrderToDownloadPrePopulator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/PeopleInCaseHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/AmendOrderToDownloadPrePopulatorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3923

#3917 DFPL-969: Remove already approved draft order
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3917

#3927 Migration to remove temp fields from ManageOrders flow on case
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3927

#3933 Add null condition for old old cases
  ccd-definition/CaseEventToFields/CareSupervision/ordersNeeded.json
Labels: ccd configuration

#3902 DFPL-996 Prepare ITHC env
  infrastructure/.terraform-version
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3902

#3924 DFPL-992: Grant permissions to let CDAM download correctly
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3924

#3943 DFPL-1049: Fix template tests after direct changes to templates
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/ChildrenUpdatedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GatekeepingOrderEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/LegalRepresentativesUpdatedHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/OrderAmendedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerEmailTemplateTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3943

#3942 Bundled Migration (DFPL-985/1012/1015/1034)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3942

#3940 DFPL-1046: Fix superuser removal tool e2e tests
  e2e/pages/events/removalToolEvent.page.js
  e2e/tests/hmctsSuperUserRemovalTool_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3940

#3947 DFPL-1049: More template change fixes
  config/owasp/suppressions.xml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderRejectedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersRejectedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GatekeepingOrderEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/LocalAuthorityChangedHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NoticeOfChangeEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/PartyAddedToCaseEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerEmailTemplateTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3947

#3944 DFPL-1012 Document Removal-URGENT - WD22C50076 -
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3944

#3691 Added the Case Id Format Changes to the Tests for better stability of…
  e2e/actors/base.js
  e2e/pages/caseView.page.js
  e2e/tests/accessSegregation_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3691

#3855 DFPL-949: Get high court email direct from config
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CourtService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsPbaPaymentNotTakenEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/C2PbaPaymentNotTakenEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CourtServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfProceedingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/GatekeepingOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/StandardDirectionOrderGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AmendedOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OrderIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3855
