Repository hmcts/fpl-ccd-configuration, pull requests merged in 2022-06, with the labels that each got.

#3560 Dfpl 678: Stop notification for historic court bundles
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3560

#3429 DFPL-49 Education supervision order
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  ccd-definition/CaseField/CareSupervision/manageOrders/manageOrdersFields.json
  ccd-definition/ComplexTypes/CareSupervision/OrderTempQuestions.json
  ccd-definition/FixedLists/CareSupervision/ManageOrderEndDateTypeWithEducationAge.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersType.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersControllerInitialSectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/orders/ManageOrderEndDateOption.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ManageOrdersEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderQuestionBlock.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderTempQuestions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageOrderDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/C37EducationSupervisionOrderDocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C37EducationSupervisionOrderParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/OrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageOrderDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderDocumentScopedFieldsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C37EducationSupervisionOrderParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolderTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3429

#3579 DFPL - Update Charts to fix SmokeTest errors
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3579

#3557 DFPL-338: Add new courts and remove existing ones from the dropdown
  ccd-definition/FixedLists/CareSupervision/DEPRECATED/HearingVenue.json
  ccd-definition/FixedLists/CareSupervision/HearingVenue.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/HearingVenueLookUpService.java
  service/src/main/resources/static_data/hearingVenues.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/HearingVenueLookUpServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3557

#3590 DFPL-43 Fix Bug deployed with CCD config
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3590

#3574 DFPL-666 Migrate the case to remove the empty hearing
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3574

#3594 Dfpl 701
  e2e/tests/smoke_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3594

#3597 Dfpl 701
  e2e/tests/smoke_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3597

#3599 DFPL-703 Data migration - Removal Of C110A Application
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3599

#3420 DFPL-493 Addition to application flow - Question on which court LA is issuing for?
  ccd-definition/CaseEventToComplexTypes/ordersNeeded/Orders.json
  ccd-definition/ComplexTypes/CareSupervision/Orders.json
  ccd-definition/FixedLists/CareSupervision/Court.json
  e2e/pages/events/enterOrdersAndDirectionsNeededEvent.page.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3420

#3525 Dfpl 544 Added Extra Security for Confidential Documents
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocuments.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLA.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/14_Confidential.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/CourtBundleV2.json
  ccd-definition/ComplexTypes/CareSupervision/DocumentWithConfidentialAddress.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ManageDocumentType.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ManageDocumentTypeLA.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CourtBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/DocumentWithConfidentialAddress.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ManageDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ManageDocumentLA.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/SupportingEvidenceBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentLAService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/ConfidentialBundleHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentsLAServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3525

#3549 DFPL-68: Removing notify others during upload and approve draft order flows
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewCMO.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerValidateReviewDecisionMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/ApproveDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ReviewDraftOrdersData.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3549

#3611 Data Migration - Removal of C110a Application
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3611

#3307 fix: Send notifications to LA shared inbox (DFPL-377)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/la/ManageLocalAuthoritiesControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityRecipientsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityRecipientsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3307

#3612 DFPL-715: Add CDAM to preview deployments
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3612

#3563 DFPL-669: Remove Document Links from Notification email
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersApprovedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3563
