Repository hmcts/fpl-ccd-configuration, pull requests merged in 2022-10, with the labels that each got.

#3818 DFPL-917 Judges receives error messages when approving Orders
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/FixedLists/CareSupervision/manage-documents/DocumentAcknowledge.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/UploadDraftOrdersData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/event/UploadDraftOrdersDataTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3818

#3743 DFPL-845 Standalone applications failing to be sent to robotics
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3743

#3816 DFPL-819: update config + remove env vars
  e2e/config.js
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3816

#3807 DFPL-790-V2: CCD Issue when editing future hearing
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3807

#3828 Add representativeType permission to system-update
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3828

#3829 Handle NPE in OrdersNeededController
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3829

#3798 DFPL-837: Fix respondents flow blocking future NoC requests
  ccd-definition/CaseEvent/CareSupervision/NoticeOfChange.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeController.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3798

#3834 DFPL-930: Fix for new application flow for managed LAs
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEventToFields/CareSupervision/openCase.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3834

#3838 DFPL-931: Remove the SubmittedEvent callback from the definition
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3838

#3804 DFPL-34 Contact with a child in care order (C34a)
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  ccd-definition/CaseField/CareSupervision/manageOrders/manageOrdersFields.json
  ccd-definition/ComplexTypes/CareSupervision/OrderTempQuestions.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersType.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersUploadType.json
  e2e/tests/smoke_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersControllerInitialSectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ManageOrdersEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderQuestionBlock.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderTempQuestions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/C34aContactWithAChildInCareOrderDocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C34aContactWithAChildInCareOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/OrderSectionAndQuestionsPrePopulatorHolder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/AllowedContactPrePopulator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/OrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderDocumentScopedFieldsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C34aContactWithAChildCareOrderParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/OrderSectionAndQuestionsPrePopulatorHolderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/AllowedContactPrePopulatorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3804

#3845 DFPL-942 Change Court Address On CCD
  ccd-definition/FixedLists/CareSupervision/HearingVenue.json
  service/src/main/resources/static_data/hearingVenues.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3845

#3844 DFPL-940: Update Newport County Court address
  service/src/main/resources/static_data/hearingVenues.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3844

#3837 DFPL-929: Do not clear old hearing docs when saving newly uploaded docs
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3837

#3817 DFPL-823: Allow uploading additional applications on behalf of a child
  charts/fpl-case-service/Chart.yaml
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ApplicantType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/ApplicantsListGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/ApplicantsListGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3817

#3785 DFPL-824: Skip payment page when applying for a hearing adjournment
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/4_C2DocumentBundle.json
  ccd-definition/FixedLists/CareSupervision/C2AdditionalOrdersRequested.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/fee/FeeType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/C2AdditionalOrdersRequested.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3785

#3849 DFPL-945: Remove York Hilton nightingale court
  ccd-definition/FixedLists/CareSupervision/HearingVenue.json
  service/src/main/resources/static_data/hearingVenues.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3849

#3852 DFPL-951: Default representative type to LA if not set
  ccd-definition/CaseEvent/CareSupervision/Open.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3852

#3831 DFPL-766 "Warning message" for documents upload/upload draft orders
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocuments.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLA.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLANoticeDocument.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsNoticeDocument.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsSolicitor.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsSolicitorNoticeDocument.json
  ccd-definition/CaseEventToComplexTypes/upload-CMO/uploadCMO.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/OtherDocumentBundle.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadCMO.json
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/DraftOrder.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/Supplement.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_C2DocumentBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_OtherApplicationsBundle.json
  ccd-definition/ComplexTypes/CareSupervision/CaseSummary.json
  ccd-definition/ComplexTypes/CareSupervision/CourtBundleV2.json
  ccd-definition/ComplexTypes/CareSupervision/Documents.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/HearingOrder.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/_PlacementConfidentialDocument.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/_PlacementNoticeDocument.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementChild.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementRespondent.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ApplicationDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/PlacementConfidentialDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/PlacementNoticeDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Supplement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/SupportingEvidenceBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/HearingOrderKindEventDataBuilder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/HearingCourtBundleTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/HearingFurtherEvidenceBundleSerializationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/RespondentStatementTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundleSerializationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3831

#3851 DFPL-952: Add null check to avoid NPEs breaking upload additional applications flow
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3851
