Repository hmcts/fpl-ccd-configuration, pull requests merged in 2022-12, with the labels that each got.

#3949 DFPL-1052 Incorrect Spelling On 'Log Expert Report
  ccd-definition/FixedLists/CareSupervision/ExpertReportList.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ccd/fixedlists/ExpertReportType.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3949

#3959 Dfpl 1029
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3959

#3971 DFPL-1074 missing ithc.tfvars file
  infrastructure/ithc.tfvars
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3971

#3954 fix NPE
  config/owasp/suppressions.xml
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3954

#3964 DFPL-1061 C43 Selection categories not working
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3964

#3968 DFPL-1053: Account for weekends in hearing end date calculation
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerValidateHearingDatesMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/HearingBookingTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3968

#3967 DFPL-1058: Update placement related permissions for all LAs
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  serenity.properties
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3967

#3976 DFPL-1076: Add Secondary LA missing permissions
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3976

#3977 DFPL-1063: Toggle the ctsc flag when transferring in/out of the high court
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/la/ManageLocalAuthoritiesControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageLocalAuthoritiesController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3977

#3988 DFPL-1064/DFPL-1065: sendToCtsc migrations
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3988

#3953 DFPL-1018 Superuser to be able to hide a document in the tab - document sent to parties
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/removeOrder.json
  ccd-definition/CaseField/CareSupervision/removeOrder.json
  ccd-definition/CaseTypeTab/CareSupervision/18_SentDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/DocumentParty/DocumentSentToParty.json
  ccd-definition/FixedLists/CareSupervision/RemovableType.json
  e2e/config.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/RemovableType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/removaltool/RemovableSentDocumentNotFoundException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RemovalToolData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/SentDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveSentDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveSentDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3953

#3993 DFPL-985 remove unnecessary test case.
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3993
