Repository hmcts/fpl-ccd-configuration, pull requests merged in 2022-07, with the labels that each got.

#3578 DFPL-684 Remove Respondents From Case
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3578

#3620 Data Migration - Removal of C110a Application
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3620

#3623 Dfpl 728: Cafcass Cymru are unable to see CMOs
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3623

#3628 FPL 729: Fix Spelling of court name on dropdown
  ccd-definition/FixedLists/CareSupervision/Court.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3628

#3580 DFPL-552 Change of wording on upload order function for LA & removal of supporting doc for CMO
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToComplexTypes/upload-CMO/uploadCMO.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadCMO.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/DEPRECATED/HearingOrder.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/HearingOrder.json
  ccd-definition/FixedLists/CareSupervision/DraftOrderKind.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersPopulateOrdersInfoMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/UploadDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/UploadDraftOrdersData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/event/UploadDraftOrdersDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3580

#3636 DFPL-526 rollback released DFPL-632 changes
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/cafcass/CafcassEmailConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/order/GeneratedOrderEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersApprovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/CafcassData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/NoticeOfHearingCafcassData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/OrderCafcassData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassNotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassRequestEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfHearingEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrdersEventBuilder.java
  service/src/main/resources/application-local.yaml
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassNotificationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassRequestEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrdersEventBuilderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3636

#3634 DFPL-733: Remove C110a Application from multiple cases
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3634

#3571 DFPL-54 Child Assessment Order
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  ccd-definition/CaseField/CareSupervision/manageOrders/manageOrdersFields.json
  ccd-definition/ComplexTypes/CareSupervision/OrderTempQuestions.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersChildAssessmentType.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersType.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersUploadType.json
  ccd-definition/FixedLists/CareSupervision/UploadedOrderTypes.json
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/docmosis/generator/DocmosisOrderCaseDataGenerator.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersControllerInitialSectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/UploadedOrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/orders/ManageOrdersChildAssessmentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ManageOrdersEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderQuestionBlock.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderTempQuestions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/C39ChildAssessmentOrderDocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C39ChildAssessmentOrderParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/OrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderDocumentScopedFieldsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C39ChildAssessmentOrderParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolderTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3571

#3617 Dfpl 618:LA entry point for others submission of a new application- other than solicitors
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEventToFields/CareSupervision/enterLocalAuthority.json
  ccd-definition/CaseEventToFields/CareSupervision/enterLocalAuthorityAfterSubmission.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/LocalAuthorityDetailsChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/LocalAuthorityDetailsCheckerTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3617

#3653 DFPL-753, DFPL-754, DFPL-755: Migrate cases to remove C110a applications
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3653

#3649 DFPL-765: Update java chart to 4.0.1
  charts/fpl-case-service/Chart.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3649

#3616 Dfpl 672
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/UpcomingHearingsFound.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/UpcomingHearingsFoundNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/UpcomingHearingsFinder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/UpcomingHearingsFoundNotificationHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/UpcomingHearingsFinderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3616

#3659 DFPL-692 implement 692 migration script
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3659

#3654 DFPL-757: LA cannot upload C1
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3654

#3592 DFPL-603 Change an 'Other person' to a respondent
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/others/changeOtherToRespondent.json
  ccd-definition/CaseEventToFields/CareSupervision/changeOtherToRespondent.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeFromOtherUtils.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerChangeFromOtherAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerChangeFromOtherAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerChangeFromOtherMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/OtherToRespondentEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RepresentativeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/others/OthersListGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentAfterSubmissionValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/ElementUtils.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/utils/ElementUtilsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/OthersTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OthersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RepresentativesServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/others/OthersListGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentAfterSubmissionValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CaseDataGeneratorHelper.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3592

#3657 DFPL-756 add Cardiff court
  ccd-definition/FixedLists/CareSupervision/Court.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3657

#3663 DFPL-775: Stop 'Upload additional applications' from duplicating existing draft orders
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3663

#3667 DFPL-776 migration script - Remove Judicial Message
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3667

#3661 DFPL-773 add new hearing Venue
  ccd-definition/FixedLists/CareSupervision/HearingVenue.json
  service/src/main/resources/static_data/hearingVenues.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3661

#3666 DFPL-780,DFPL-781: Update migration script to remove C110a's
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3666
