Repository hmcts/fpl-ccd-configuration, pull requests merged in 2022-09, with the labels that each got.

#3722 DFPL-836: Cafcass Sendgrid - Sum of uploaded docs less than 25mb should be sent as 1 notification.
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassNotificationService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3722

#3758 DFPL-Suppressions: Suppress new dependency failures
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3758

#3679 Adding C and U permissions for people_label for LABARRISTER role.
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3679

#3665 DFPL-770 fix Extra Day added for hearings
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerValidateHearingDatesMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3665

#3766 Dfpl 770 retrigger master
  e2e/tests/smoke_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3766

#3753 DFPL-854: Rename Manage Legal Rep action dropdown
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  e2e/config.js
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3753

#3769 DFPL-865: Add Logging to API Test create case
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/service/CaseService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3769

#3776 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3776

#3709 DFPL-825: Add null checks + empty condition for default grounds page
  ccd-definition/CaseEventToFields/CareSupervision/enterGrounds.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3709

#3706 Dfpl 810 migration - remove case notes
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3706

#3708 Dfpl 816 Remove incorrect Application link from Case
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3708

#3740 Dfpl 571 LA submission of standalone "Authority to refuse contact with a child in care" application
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/enterGrounds/GroundsForRefuseContactWithChild.json
  ccd-definition/CaseEventToFields/CareSupervision/enterGrounds.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication.json
  ccd-definition/CaseTypeTab/CareSupervision/7_LegalBasis.json
  ccd-definition/ComplexTypes/CareSupervision/GroundsForRefuseContactWithChild.json
  ccd-definition/FixedLists/CareSupervision/OrderType.json
  docker/docmosis/templates/FL-PLW-APP-ENG-01086.doc
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededAboutToSubmitCallbackControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fnp/model/fee/FeeType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededAboutToSubmitCallbackController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/GroundsForRefuseContactWithChild.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisC14Supplement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListRenderer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsChecker.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/FeeServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsCheckerIsStartedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/testbeans/TestFeeConfig.java
Labels: ns:family-public-law, prd:fpl, docmosis, ccd configuration, rel:fpl-case-service-pr-3740

#3781 DFPL-871: Cafcass log email subject
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassNotificationService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3781

#3779 DFPL-53 C44a Leave to change surname
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  ccd-definition/CaseField/CareSupervision/manageOrders/manageOrdersFields.json
  ccd-definition/ComplexTypes/CareSupervision/OrderTempQuestions.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersType.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersControllerInitialSectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ManageOrdersEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderQuestionBlock.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderTempQuestions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/C44aLeaveToChangeTheSurnameOrderDocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C44aLeaveToChangeTheSurnameOrderParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/OrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderDocumentScopedFieldsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C44aLeaveToChangeTheSurnameOrderParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolderTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3779

#3799 Dfpl 53 retrigger build
  e2e/tests/smoke_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3799

#3789 DFPL-828 migration script
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3789

#3756 DFPL-759: Remove People selector in Additional Application
  ccd-definition/CaseEventToFields/CareSupervision/uploadAdditionalApplications.json
  ccd-definition/ComplexTypes/CareSupervision/4_C2DocumentBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_OtherApplicationsBundle.json
  e2e/pages/events/uploadAdditionalApplicationsEvent.page.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsMidEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/C2DocumentBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/OtherApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/RepresentativesInbox.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/RepresentativesInboxTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3756

#3777 DFPL-766 "Warning message" for documents upload/upload draft orders
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocuments.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLA.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLANoticeDocument.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsNoticeDocument.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsSolicitor.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsSolicitorNoticeDocument.json
  ccd-definition/CaseEventToComplexTypes/upload-CMO/uploadCMO.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/OtherDocumentBundle.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadCMO.json
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/DraftOrder.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/Supplement.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_C2DocumentBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_OtherApplicationsBundle.json
  ccd-definition/ComplexTypes/CareSupervision/CaseSummary.json
  ccd-definition/ComplexTypes/CareSupervision/CourtBundleV2.json
  ccd-definition/ComplexTypes/CareSupervision/Documents.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/_PlacementNoticeDocument.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementChild.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementRespondent.json
  ccd-definition/FixedLists/CareSupervision/manage-documents/DocumentAcknowledge.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-3777

#3814 Revert "DFPL-766 "Warning message" for documents upload/upload draft …
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocuments.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLA.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLANoticeDocument.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsNoticeDocument.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsSolicitor.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsSolicitorNoticeDocument.json
  ccd-definition/CaseEventToComplexTypes/upload-CMO/uploadCMO.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/C2DocumentBundle.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/OtherDocumentBundle.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadCMO.json
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/DraftOrder.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/Supplement.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_C2DocumentBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_OtherApplicationsBundle.json
  ccd-definition/ComplexTypes/CareSupervision/CaseSummary.json
  ccd-definition/ComplexTypes/CareSupervision/CourtBundleV2.json
  ccd-definition/ComplexTypes/CareSupervision/Documents.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/_PlacementNoticeDocument.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementChild.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementRespondent.json
  ccd-definition/FixedLists/CareSupervision/manage-documents/DocumentAcknowledge.json
Labels: ccd configuration
