Repository hmcts/fpl-ccd-configuration, pull requests merged in 2023-05, with the labels that each got.

#4345 DFPL-1386 Notification of Document Uploaded- but showing several documents
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerSubmittedBaseTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/notification/DocumentUploadNotificationUserType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingDocuments.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/DocumentInfo.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FurtherEvidenceNotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/ElementUtils.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/utils/ElementUtilsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventTestData.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4345

#4299 DFPL-1325 Enable Consumer Deploy Checks for Pact tests
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4299

#4382 DFPL-1450 INC5505842 Court Address Amendment - Watford County & Famil…
  ccd-definition/FixedLists/CareSupervision/DEPRECATED/HearingVenue.json
  ccd-definition/FixedLists/CareSupervision/HearingVenue.json
  service/src/main/resources/static_data/hearingVenues.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4382

#4375 DFPL-1437 Document removal for data breach on ZW23C50136
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4375

#4037 DFPL-1118: Add ccd configuration for updateRepresentation
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment.json
  ccd-definition/CaseEvent/CareSupervision/NoticeOfChange.json
  ccd-definition/CaseEventToComplexTypes/updateRepresentation.json
  ccd-definition/CaseEventToFields/CareSupervision/updateRepresentation.json
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeControllerUpdateRespondentsTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/NoticeOfChangeService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/NoticeOfChangeServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4037

#4392 DFPL-1455 INC5507506 Unable to return application
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReturnApplicationAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ReturnApplicationController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4392

#4386 DFPL-1431: Add dummy migration for testing migration-tool
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4386

#4403 DFPL-1310: Re-add change from 150 -> 554
  ccd-definition/FixedLists/CareSupervision/Court.json
  ccd-definition/FixedLists/CareSupervision/dfj/BrightonDFJCourts.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4403

#4407 Grant system update user read permission for orderPreview field.
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/OrderProcessingService.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4407

#4371 DFPL-1427: Fix Cafcass gatekeeping notifications
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  config/owasp/suppressions.xml
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AmendedReturnedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GatekeepingOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C21BlankOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C23EPODocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C29RecoveryOfAChildDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C32CareOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C32bDischargeOfCareOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C34aContactWithAChildInCareOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C42FamilyAssistanceOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43ChildArrangementOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CafcassHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/ChildrenUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GatekeepingOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4371

#4384 DFPL-1401 INC5501195 Manage Cases/CCD Not creating orders
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4384

#4396 DFPL-1451: Migration script to remove the draft order from advocates meeting
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4396

#4391 DFPL-1414: Fix issue of Bulk Print receiving duplicated requests
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersForPlacementOrderSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadTranslationsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/SendLetterService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SendLetterServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/TestDataHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4391

#4373 DFPL-1445: Fix use of old case data/details causing docstore errors
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4373

#4422 DFPL-1482: Remove wide-ranging role access to this event
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4422

#4394 Dfpl 1047 New event for judges to review additional applications
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewAdditionalApplication.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/CaseField/CareSupervision/reviewAdditionalApplication.json
  ccd-definition/CaseTypeTab/CareSupervision/10_C2.json
  ccd-definition/ComplexTypes/CareSupervision/AdditionalApplicationsBundle.json
  ccd-definition/FixedLists/CareSupervision/ConfirmApplicationReviewedCheckBox.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewAdditionalApplicationControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewAdditionalApplicationControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewAdditionalApplicationControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ReviewAdditionalApplicationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ConfirmApplicationReviewedEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/ReviewAdditionalApplicationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ReviewAdditionalApplicationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4394

#4119 DFPL-1214: Changes to Send/Reply to Message CCD Events
  ccd-definition/CaseEventToComplexTypes/messageJudge/judicialMessageMetaData.json
  ccd-definition/FixedLists/CareSupervision/JudicialMessageRoleTypes.json
  ccd-definition/FixedLists/CareSupervision/JudicialMessageSenderRoleTypes.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/JudicialMessageRoleType.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4119

#4427 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4427

#4424 DFPL-1511 INC5512575 Confidential Document to be removed
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4424

#4423 DFPL-1501: Document removal
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4423

#4416 DFPL-1466: Migration to remove incorrect position statement
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4416

#4353 DFPL-1344 ZE23C50059 draft order emailed to judge instead of uploaded into hearing tab
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/TabUrlAnchor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/DraftOrdersUploadedContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftsOrdersUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/cmo/DraftOrdersUploadedContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4353

#4370 DFPL-1383 INC5499851 When uploading an order using judicial gatekeeping, it's not displaying they hyperlink so the order can be checked.
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/orderUpload.json
  ccd-definition/CaseEventToFields/CareSupervision/addUrgentDirections/orderUpload.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4370

#4433 Add a dummy DateTime whilst we don't have HMC
  ccd-definition/AuthorisationCaseField/CareSupervision/caseSummary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/wa-task-configuration.json
  ccd-definition/CaseField/CareSupervision/caseSummary.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/summary/SyntheticCaseSummary.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryNextHearingGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryNextHearingGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4433
