Repository hmcts/fpl-ccd-configuration, pull requests merged in 2023-10, with the labels that each got.

#4702 DFPL-1702 INC5539294 Unable to reopen case - manage cases
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4702

#4724 DFPL-1773 update migration script
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4724

#4709 DFPL-1757: Add Timeout to caseFlagControllerSubmittedTest
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractCallbackTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseFlagControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadTranslationsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementSubmittedControllerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4709

#4697 DFPL-1635: Fix 'no field found' error in Children flow
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, add-or-update, enable_keep_helm, rel:fpl-case-service-pr-4697

#4711 DFPL-1740 INC5543956 unable to upload documents or applications
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsSolicitor.json
  ccd-definition/CaseEventToFields/CareSupervision/manageDocumentsSolicitor.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4711

#4710 DFPL-1561: Improve legal adviser identification based on presence in CRD not user input
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-shuttered.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/JudicialService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/JudicialServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, add-or-update, enable_keep_helm, rel:fpl-case-service-pr-4710

#4731 DFPL-1750: Removed NTH from AuthorityFixedList.json as no longer valid
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, onboarding, rel:fpl-case-service-pr-4731

#4723 DFPL-1776: Toggle onboarding notification restriction
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityRecipientsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityRecipientsServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4723

#4734 DFPL-1565: Update permission for CAA for to fix NoC issues
  ccd-definition/AuthorisationCaseField/CareSupervision/case-access-assignment.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4734

#4727 DFPL-1775 Upload journey -updated event for Cafcass England & Cyrmu
  ccd-definition/FixedLists/CareSupervision/DocumentUploaderType.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2MidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/notification/DocumentUploaderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UserService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-4727

#4736 Remove mentions of old MI
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:family-public-law, prd:fpl, destroy, rel:fpl-case-service-pr-4736

#4738 DFPL-1739: Update case ID for migration
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4738

#4721 DFPL-1756 update migration script
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4721

#4739 DFPL-1782 INC5551908 Document removal from Manage Cases - MA23C50115
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4739

#4666 DFPL-1706 INC5537892 Submitted dates of draft orders changed when new order is uploaded
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderService.java
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4666, enable_keep_helm

#4744 fortify fixes
  Dockerfile
  service/src/main/resources/application-local.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4744

#4745 Fortify fixes2
  Dockerfile
  service/src/main/resources/application-local.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4745

#4747 DFPL-1793 INC5552381 solicitor unable to action NOC function
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4747

#4750 bump old Java chart to latest
  charts/fpl-case-service/Chart.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4750

#4748 Security scan variable renamed
  Jenkinsfile_nightly
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4748

#4749 FPL - Remove and clean up unused script
  Jenkinsfile_CNP
  bin/add-ccd-user-roles.sh
  bin/add-roles.sh
  bin/generate-local-user-mappings.sh
  bin/utils/idam-add-role.sh
  bin/utils/idam-authenticate.sh
  bin/utils/idam-create-caseworker.sh
  bin/wait-for.sh
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4749

#4753 DFPL-1788 INC5552038 - A Judicial Email needs to be removed due to a …
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4753

#4761 updating pitest for mutation tests to run in nightly
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  bin/add-ccd-user-roles.sh
  bin/add-roles.sh
  bin/generate-local-user-mappings.sh
  bin/utils/idam-add-role.sh
  bin/utils/idam-authenticate.sh
  bin/utils/idam-create-caseworker.sh
  bin/wait-for.sh
  service/build.gradle
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4761

#4759 DFPL-1804 INC5552057 NOC function not working
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4759

#4760 DFPL-1802 INC5536958 Bedford LA added as Applicant and Respondent
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4760

#4544 DFPL-1646 gatekeeping listing event is incorrectly sending hearing notifications to unrepresented parties
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingHearingController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/SendNoticeOfHearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/SendDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4544

#4764 DFPL-1810 INC5554170 - Document needs removing from wrong case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4764

#4762 DFPL-1783 : Dependencies update and suppressions removed
  config/owasp/suppressions.xml
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4762

#4774 DFPL 1609 / DFPL-1730 New Upload Document Notification- Cafcass England & Cyrmu
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4774

#4729 DFPL-1594: Add "on behalf of <Additional App applicant>"
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundleTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4729

#4780 Quartz fix after dependency update
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4780

#4732 DFPL-1651 Placement Blank Order
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  ccd-definition/CaseField/CareSupervision/manageOrders/manageOrdersFields.json
  ccd-definition/ComplexTypes/CareSupervision/OrderTempQuestions.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersType.json
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/docmosis/generator/DocmosisOrderCaseDataGenerator.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersControllerInitialSectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ManageOrdersEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderQuestionBlock.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderTempQuestions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/A81PlacementBlankOrderDocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/A81PlacementBlankOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/OrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderDocumentScopedFieldsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/A81PlacementBlankOrderDocumentParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolderTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4732

#4784 suppress CVE-2023-5072
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4784

#4543 DFPL-1627 Cafcass not receiving notice of hearing
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/listgatekeepinghearing/ListGatekeepingHearingControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingHearingController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4543

#4667 DFPL-1723 Leftover in case data after updating respondent address
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4667, enable_keep_helm

#4785 DFPL-1825: Change to readonly so that the hidden field isn't deleted
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings/enterHearingDetails.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-4785

#4804 DFPL-1830
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, onboarding, rel:fpl-case-service-pr-4804

#4796 smoke test converted to playwright
  codecept.conf.js
  e2e/actors/base.js
  e2e/config.js
  e2e/helpers/browser_helper.js
  e2e/pages/caseList.page.js
  e2e/tests/smoke_test.js
  package.json
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4796

#4795 increase dev memory requests for xui-webapp.
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4795

#4813 Dfpl 1754
  infrastructure/main.tf
Labels: add-or-update

#4818 Merge Playwright to nightly-dev
  .nvmrc
  .terraform-version
  build.gradle
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings/enterHearingDetails.json
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
  codecept.conf.js
  e2e/actors/base.js
  e2e/config.js
  e2e/helpers/browser_helper.js
  e2e/pages/caseList.page.js
  e2e/tests/smoke_test.js
  infrastructure/.terraform-version
  infrastructure/main.tf
  package.json
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementControllerPostSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placementnotice/PlacementNoticeAboutToStartControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementNoticeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
Labels: ccd configuration

#4819 ignore vs code files
  .gitignore
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4819

#4810 playwright update
  charts/fpl-case-service/Chart.yaml
  package.json
  yarn.lock
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4810

#4754 DFPL-1796: Filter out internal (WA) related case roles
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseAccessService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseAccessServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4754

#4814 DFPL-1813: INC5552093 - NOC not working
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4814

#4829 playwright browser install
  package.json
  yarn.lock
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4829

#4805 DFPL-1831: Set the label again after restructuring of page
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4805

#4831 Playwright browser install
  yarn.lock
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4831

#4836 fix smoke test
  e2e/helpers/dump_browser_logs_helper.js
  e2e/helpers/hooks_helper.js
  package.json
  yarn.lock
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4836

#4835 Point scheduler at new v15 db and configure new user
  charts/fpl-case-service/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  service/src/main/resources/bootstrap.yaml
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4835

#4843 DFPL: Hotfix ignore sonarcloud false positive + cftlib roles
  service/src/cftlib/java/uk/gov/hmcts/reform/fpl/CftlibConfig.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4843

#4825 DFPL-1837: Migration to remove file
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4825

#4844 DFPL-1840: Order uploaded callback error
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelperTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4844

#4854 DFPL-1833
  e2e/actors/base.js
  e2e/config.js
  e2e/fixtures/caseData/mandatorySubmissionFields.json
  e2e/helpers/api_helper.js
  e2e/helpers/dump_browser_logs_helper.js
  e2e/helpers/hooks_helper.js
  e2e/pages/caseList.page.js
  e2e/tests/accessSegregation_test.js
  e2e/tests/smoke_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4854
