Repository hmcts/fpl-ccd-configuration, pull requests merged in 2023-02, with the labels that each got.

#3986 DFPL-1082: Update Notification to use the most recent Hearing
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FurtherEvidenceNotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/FurtherEvidenceUploadedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FurtherEvidenceNotificationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-3986

#4081 Bump chart-java, chart-ccd (v2)
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4081

#4049 DFPL-1138: disable undelivered emails notification
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4049

#4034 DFPL-1144: DFPL-89 Cleanup migration and fix reason display
  ccd-definition/ComplexTypes/CareSupervision/2_ChildParty.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4034

#4091 DFPL-1190: Duplicate collection items on draft order uploads
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/HearingOrdersBundle.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4091

#4097 Fix PACT for RD
  service/src/contractTest/java/uk/gov/hmcts/reform/rd/client/ReferenceDataConsumerTestBase.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4097

#4048 Remove draft order removed notification for CTSC admin
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersRemovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CourtService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersRemovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CourtServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4048

#4089 Dfpl-1087 ManageDocs notifications not being sent to child sol
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsLA.json
  ccd-definition/CaseEventToComplexTypes/uploadDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/Documents.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ApplicationDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/transformer/ApplicationDocumentBundleTransformer.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4089

#4085 DFPL-1163 Data migration Revert 26 week timeline
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4085

#4039 DFPL-1142 When selecting remote and video/telephone display the venue address
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4039

#4099 Add Gatekeeping Listing state
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/State/State.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4099

#4098 DFPL-1192 & DFPL-1165 & DFPL-1215 Remove manageOrder temporary fields
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4098

#4079 Dfpl 1119v2 Remedial Action for ITHC
  ccd-definition/CaseEventToFields/CareSupervision/manageDocumentsLA.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/Documents.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4079

#4035 DFPL-1028: References on the main application and additional applications to be made mandatory
  ccd-definition/CaseEventToComplexTypes/enterLocalAuthority/localAuthority.json
  ccd-definition/CaseEventToComplexTypes/enterLocalAuthority/localAuthorityAfterSubmission.json
  ccd-definition/CaseEventToComplexTypes/placement/PlacementPayment.json
  ccd-definition/CaseEventToComplexTypes/upload-c2/PBAPayment.json
  ccd-definition/CaseField/CareSupervision/placement.json
  ccd-definition/CaseTypeTab/CareSupervision/15_Placements.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4035

#4043 DFPL-1117: remove input boxes on event summary page
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4043

#4103 DFPL-1167 update ReadMe so it reflects current setup
  README.md
  service/README.md
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4103

#4145 Revert Jenkins branch change
  Jenkinsfile_CNP
  build.gradle
  charts/fpl-case-service/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4145

#4102 DFPL-1202: Data Breach removal of placement
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4102

#4139 DFPL-1237: CTSC Team Leaders Not receiving Notifications on some cases
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  ccd-definition/AuthorisationComplexType/caseDocuments/C2DocumentBundle.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4139

#4138 DFPL-1220
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4138

#4109 DFPL-1210 (INC5464860)- Closed Case- Cannot Add notes error
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4109

#4148 DFPL-1245: Remove SOLICITOR+CHILDSOLICITORS from using manageLegalReps
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4148

#4153 Remving resend emails job for cafcass.
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/ResendCafcassEmails.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/ResendCafcassEmailsTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4153

#4147 DFPL-1221: Adding changes with master as base branch
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4147

#4056 DFPL-1123 Change wording on C43 and C43a
  docker/docmosis/templates/FL-PLW-GOR-ENG-00728.doc
  service/src/functionalTest/resources/application.yaml
  service/src/integrationTest/resources/application-integration-test.yaml
  service/src/integrationTest/resources/application.yaml
  service/src/integrationTest/resources/order-generation/C43A_SPECIAL_GUARDIANSHIP_ORDER.txt
  service/src/integrationTest/resources/order-generation/C43_CHILD_ARRANGEMENTS_SPECIFIC_ISSUE_PROHIBITED_STEPS_ORDER.txt
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/AppointedGuardianFormatter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/C43ChildArrangementOrderDocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43ChildArrangementOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43aSpecialGuardianshipOrderDocumentParameterGenerator.java
  service/src/main/resources/application.yaml
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/AppointedGuardianFormatterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43ChildArrangementOrderDocumentParameterGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C43aSpecialGuardianshipOrderDocumentParameterGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, docmosis, rel:fpl-case-service-pr-4056

#4113 DFPL-1114
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/confirmStandardDirections.json
  ccd-definition/CaseEventToFields/CareSupervision/addGatekeepingOrder/listHearingOrSendToAdmin.json
  ccd-definition/CaseField/CareSupervision/gatekeepingOrder.json
  ccd-definition/FixedLists/CareSupervision/gatekeepingOrder/listOrSendToAdmin.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4113

#4151 Index end date of a hearing in preparation for DFPL-1095
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4151

#4157 Reverting change to make endDate searchable.
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
Labels: ccd configuration

#4159 Index end date of a hearing in preparation for DFPL-1095
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4159

#4162 suppress CVE-2022-45688
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4162

#4110 DFPL-806 + 1191: Add AuthorisationCaseField for fields accessed by WA + Allow AM validation user to access case details
  ccd-definition/AuthorisationCaseField/CareSupervision/ras-validation.json
  ccd-definition/AuthorisationCaseField/CareSupervision/wa-task-configuration.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonshuttered.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-shuttered.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4110
