Repository hmcts/fpl-ccd-configuration, pull requests merged in 2023-08, with the labels that each got.

#4561 Add renovate and bump cft-lib
  .github/renovate.json
  CODEOWNERS
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, workflow, rel:fpl-case-service-pr-4561

#4487 DFPL-1576: Match other generators, use court service with null checking
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PlacementService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4487

#4552 DFPL-1379-2: Child Access Update Test fix
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerSubmittedTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4552

#4566 Remove e2e tests from PR pipeline for FPL
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4566

#4573 Add JS deps to CODEOWNERS
  CODEOWNERS
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4573

#4577 Update fortify client version
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4577

#4583 Remove security.sh as nightly pipeline says it's no longer required
  security.sh
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4583

#4593 Revert "Update fortify client version"
  config/owasp/suppressions.xml
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4593

#4574 DFPL-1662: Order notifications containing wrong information
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  config/owasp/suppressions.xml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerPostSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/ApproveDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4574

#4568 DFPL-1670: Migration to remove position statement
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4568

#4549 Bump XUI requests/memory
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4549

#4611 Fix flaky unit test
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseFlagControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSummaryControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementSubmittedControllerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4611

#4559 DFPL-1649: Removal of Judicial Message and Blank doc
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4559

#4554 DFPL-1660: Update notice of hearing placement document
  docker/docmosis/templates/FL-PLW-HNO-ENG-00814.doc
Labels: ns:family-public-law, prd:fpl, docmosis, rel:fpl-case-service-pr-4554

#4545 DFPL-1476: Default behaviour when auto-share fails
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseAccessService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4545

#4547 DFPL-1653 Incidents INC5530477 & INC5530369 404 error received on upload documents
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/OrderAmendedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/base/AbstractEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/AbstractEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4547

#4622 Allow renovate to automerge PRs with these files in them
  CODEOWNERS
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4622

#4623 Add missing file to CODEOWNERS
  CODEOWNERS
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4623

#4636 More CODEOWNERS file changes to enable renovate to merge PRs
  CODEOWNERS
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4636

#4612 DFPL-1681: Remove correspondence from wrong case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4612

#4642 DFPL-1493 CFV - Further application documents
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/applicantsDocuments.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/CarePlan.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/DocumentsFiledOnIssue.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/Threshold.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4642

#4650 DFPL-1681: Remove CorrespondenceDocument list from case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4650

#4649 Make AM migration synchronous
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RoleAssignmentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RoleAssignmentServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, add-or-update, rel:fpl-case-service-pr-4649

#4646 DFPL-1663: Migration to update state to closed case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4646

#4647 DFPL-1701: Remove application document from case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4647

#4555 Dfpl 1652 INC5530730 Paragraphs incorrect in UDO / SDO
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/GatekeepingOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/GatekeepingOrderGenerationServiceTest.java
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4555
