Repository hmcts/fpl-ccd-configuration, pull requests merged in 2023-07, with the labels that each got.

#4499 DFPL-1446 fix labarrister permission
  ccd-definition/AuthorisationComplexType/caseDocuments/courtBundle.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4499

#4485 DFPL-1495 CFV - Draft Order and Draft order for review prior to hearing
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/DEPRECATED/HearingOrderForApproval.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/DEPRECATED/HearingOrderForReview.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/HearingOrderForApproval.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/HearingOrderForReview.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/OrdersBundleForApproval.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/OrdersBundleForReview.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4485

#4502 DFPL-1494 Case file view: Skeleton arguments
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/SkeletonArgument.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingDocuments.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4502

#4288 DFPL-1352: Add migration to set sendToCtsc to true
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4288

#4513 DFPL-1598 Rollback logic for migrating position statement
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4513

#4506 DFPL-1612: Remove UDO from case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4506

#4496 DFPL-1533: Remove generic solicitor IDAM role from accessing non-LA event
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4496

#4454 DFPL-1490: CFV - Court Bundle (Hearing Documents)
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/CourtBundleV2.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CourtBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingDocuments.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4454

#4489 DFPL-1496 CFV - Applications > Original Applications / C1 & other applications / C2 applications
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/C1Supplement.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/C1SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/C2DraftOrder.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/C2Supplement.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/C2SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_C2DocumentBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_OtherApplicationsBundle.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4489

#4533 DFPL-1629: Keep caseManagementLocation upto date when transferring courts
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/la/ManageLocalAuthoritiesControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageLocalAuthoritiesController.java
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4533

#4535 DFPL-1377: App Insights Demo Deployment
  .dockerignore
  Dockerfile
  build.gradle
  ccd-definition/AuthorisationCaseField/CareSupervision/_global-search.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  charts/fpl-case-service/values.yaml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/la/ManageLocalAuthoritiesControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageLocalAuthoritiesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, add-or-update, rel:fpl-case-service-pr-4535

#4537 DFPL-1379: Add AppInsights connection string to terraform
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4537

#4538 DFPL-1639 add error log for analysing UnsupportedOperationException
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/SecureDocStoreHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4538

#4505 create new managed identity in correct subscription
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4505

#4518 DFPL 1507 Case File View - Correspondence
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/CorrespondenceDocument.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, destroy, rel:fpl-case-service-pr-4518

#4497 DFPL-1505 CFV - Any other documents
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/anyOtherDocuments.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ApplicantWitnessStatement.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/DrugAndAlcoholReport.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ExpertReport.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/GuardianEvidence.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/LettersOfInstruction.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/NoticeOfActingOrIssue.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, destroy, rel:fpl-case-service-pr-4497

#4510 DFPL-1509 CFV - Placement applications and responses
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationComplexType/caseDocuments/placement.json
  ccd-definition/AuthorisationComplexType/caseDocuments/placements.json
  ccd-definition/AuthorisationComplexType/caseDocuments/placementsNonConfidential.json
  ccd-definition/AuthorisationComplexType/caseDocuments/placementsNonConfidentialNotices.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/Placement.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/_PlacementConfidentialDocument.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/_PlacementNoticeDocument.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/_PlacementSupportingDocument.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Placement.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, destroy, rel:fpl-case-service-pr-4510

#4493 DFPL-1486: Fix missing relatingLAs and field being pulled through to payments service
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateRelatingLAService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentService.java
  service/src/main/resources/static_data/casesToMapRelatingLA.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateRelatingLAServiceTest.java
  service/src/test/resources/static_data/casesToMapRelatingLA.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4493

#4546 bump azure providers
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4546

#4491 DFPL-1531 Using judicial gatekeeping after urgent directions - date being pulled through is still urgent directions date and not the case management date
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/GatekeepingOrderGenerationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/GatekeepingOrderGenerationServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4491

#4529 DFPL-1623: Update incorrect spelling for Teesside
  ccd-definition/FixedLists/CareSupervision/dfj/ClevelandAndSouthDurhamDFJCourts.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4529

#4490 DFPL-1542: Update notifications when solicitors are added to the case
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/ChildrenUpdatedEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/RespondentsUpdatedEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/representative/RegisteredRepresentativeSolicitorContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/representative/UnregisteredRepresentativeSolicitorContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/representative/RegisteredRepresentativeSolicitorContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/representative/UnregisteredRepresentativeSolicitorContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4490

#4458 DFPL-1475: Duplicate notifications being sent to CTSC
  config/owasp/suppressions.xml
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerPostSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/ApproveDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AfterSubmissionCaseDataUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4458
