Repository hmcts/fpl-ccd-configuration, pull requests merged in 2023-06, with the labels that each got.

#4428 DFPL-1484 INC5511563 Document removal via hearing documents tab
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4428

#4381 DFPL-1435: Update Cafcass England subject line mappings
  Jenkinsfile_CNP
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandler.java
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4381

#4080 Update Gradle to 7.6.1 (+ build.gradle changes), update cftlib to 0.19.693
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  service/build.gradle
  service/src/integrationTest/resources/application-integration-test.yaml
  service/src/integrationTest/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4080

#4443 DFPL-1532: Reading Code incorrect in case progression
  ccd-definition/FixedLists/CareSupervision/dfj/ReadingDFJCourts.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4443

#4450 Specifying ShowEventNotes so that it is set on all events.
  ccd-definition/CaseEvent/CareSupervision/Gatekeeping.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4450

#4453 DFPL-1483: Align caseData.court with caseData.caseManagementLocation
  service/src/integrationTest/resources/fixtures/caseOtherOrderType.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4453

#4442 DFPL-1491 CFV - Position Statements Child/Respondent
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementChild.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementRespondent.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingDocuments.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4442

#4464 Publish reconfiguration events
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4464

#4459 COT-317: Remove idam role mappings + update AM AccessProfiles
  ccd-definition/RoleToAccessProfiles.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4459

#4436 DFPL-1445: Remove unnecessary upload as part of send letter implementation
  ccd-definition/AuthorisationComplexType/caseDocuments/C2DocumentBundle.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersForPlacementOrderSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/SendDocumentControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadTranslationsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/SendLetterService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocumentConversionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SendLetterServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/DocumentConversionServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4436

#4474 Dfpl 1447 - 404 errors on downloading docs via CDAM for manage orders
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4474

#4475 Add specific and challenged access for staff roles
  ccd-definition/RoleToAccessProfiles.json
Labels: ccd configuration

#4471 DFPL-1528 not populating the Applicant's name when the Applicant isn't a local authority
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4471

#4437 DFPL-1489 CFV - Case Summary (Hearing Documents)
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/CaseTypeTab/CareSupervision/9_HearingDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/CaseSummary.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingDocuments.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4437

#4465 DFPL-1504 CFV - Respondent Statement
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/RespondentStatementV2.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerSubmittedBaseTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentStatementV2.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/SupportingEvidenceBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FurtherEvidenceUploadedEventTestData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4465

#4431 DFPL-1200: Add a new case list filters - DFJ Area and court
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/courts.json
  ccd-definition/FixedLists/CareSupervision/dfj/BlackburnLancasterDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/BristolDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/DFJAreas.json
  ccd-definition/FixedLists/CareSupervision/dfj/EastLondonDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/HighCourtDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/LiverpoolDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/MedwayDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/SouthYorkshireDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/SwanseaDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/TruroDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/WestLondonDFJCourts.json
  ccd-definition/WorkBasketInputFields/WorkBasketInputFields.json
  charts/fpl-case-service/Chart.yaml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/courtselection/CourtSelectionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/la/ManageLocalAuthoritiesControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/integrationTest/resources/fixtures/caseRespondentSolicitor.json
  service/src/integrationTest/resources/static_data/dfjAreaCourtMapping.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CourtSelectionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageLocalAuthoritiesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/DfjAreaCourtMapping.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseInitiationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DfjAreaLookUpService.java
  service/src/main/resources/static_data/dfjAreaCourtMapping.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseInitiationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DfjAreaLookUpServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4431

#4483 DFPL-1584: Remove blank document from case summary
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4483

#4478 DFPL-1572: Remove blocker on Cafcass notifications for newly submitted standalones
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4478

#4494 Fix Brighton DFJ court code
  service/src/main/resources/static_data/dfjAreaCourtMapping.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4494

#4484 DFPL-1529 SDO created but venue didn't pull though to the order
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4484

#4488 DFPL-1571: Change wording on C2 application type
  ccd-definition/FixedLists/CareSupervision/C2ApplicationType.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4488

#4498 Update suppressions list.
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4498

#4452 DFPL-1500 CFV - New case fields for storing new document types
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/applicantsDocuments.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/CaseField/CareSupervision/orderDocument.json
  ccd-definition/CaseField/CareSupervision/respondentStatementDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ApplicantsOtherDocument.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ContactNote.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/FamilyAndViabilityAssessment.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/JudgementFactsAndReasons.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/MeetingNote.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ParentAssessment.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/PreviousProceeding.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/RespondentWitnessStatement.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/Transcript.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4452

#4477 DFPL-1537 CFV - Hearing Notices
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  ccd-definition/ComplexTypes/CareSupervision/NoticeOfProceedingsBundle.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4477

#4285 DFPL-1293: Change court name from "Central London County" to "Central…
  ccd-definition/FixedLists/CareSupervision/dfj/CentralLondonDFJCourts.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4285

#4504 Update suppressions list.
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4504
