Repository hmcts/fpl-ccd-configuration, pull requests merged in 2023-04, with the labels that each got.

#4309 Revert "DFPL-1200: Add a new case list filters - DFJ Area and Court (…
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/courts.json
  ccd-definition/FixedLists/CareSupervision/dfj/BlackburnLancasterDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/BristolDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/DFJAreas.json
  ccd-definition/FixedLists/CareSupervision/dfj/EastLondonDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/HighCourtDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/LiverpoolDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/MedwayDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/ReadingDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/SouthYorkshireDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/SwanseaDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/TruroDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/WestlLondonDFJCourts.json
  ccd-definition/WorkBasketInputFields/WorkBasketInputFields.json
  charts/fpl-case-service/Chart.yaml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/courtselection/CourtSelectionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/la/ManageLocalAuthoritiesControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/integrationTest/resources/fixtures/caseRespondentSolicitor.json
  service/src/integrationTest/resources/static_data/dfjAreaCourtMapping.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CourtSelectionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageLocalAuthoritiesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/DfjAreaCourtMapping.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseInitiationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DfjAreaLookUpService.java
  service/src/main/resources/static_data/dfjAreaCourtMapping.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseInitiationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DfjAreaLookUpServiceTest.java
Labels: ccd configuration

#4310 Suppress CVE-2023-20860
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4310

#4312 Increasing memory limits
  Dockerfile
  charts/fpl-case-service/values.aat.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4312

#4260 Adding is final order and close case question where missing for orders
  ccd-definition/FixedLists/CareSupervision/ManageOrdersUploadType.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4260

#4263 DFPL1335 INC5493942 Incorrect document uploaded by Local Authority
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4263

#4247 DFPL-1320 data migration - remove judicial message
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4247

#4301 Fix case list logstash
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4301

#4311 DFPL-1365: Revert debug comments left in after release
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/NotificationService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4311

#4294 DFPL-1235(v2): CCD Concurrency Controls
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseFlagControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSummaryControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersAmendedSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersForPlacementOrderSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RemovalToolControllerSubmittedEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RepresentativeSubmittedEventControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/TaskListControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadTranslationsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/applicant/ApplicantLocalAuthorityControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/la/ManageLocalAuthoritiesControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingHearingController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AfterSubmissionCaseDataUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/CaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsOrderDatesHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/UpdateSummaryCaseDetails.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PlacementService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/SendDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CCDConcurrencyHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderPostSubmitHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AfterSubmissionCaseDataUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandlerPaymentTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsOrderDatesHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/UpdateSummaryCaseDetailsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SendDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CCDConcurrencyHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderPostSubmitHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/AssertionHelper.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4294

#4258 DFPL-1334: Remove superuser read permissions on the two non-confidential placement views
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4258

#4222 DFPL-1301: Add placement permissions for LABARRISTER
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/CaseField/CareSupervision/caseField.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4222

#4278 DFPL-911: Admin Manages Order Api Test
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/AdminManagesOrdersApiTests.java
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/service/CaseService.java
  service/src/functionalTest/resources/admin-manage-orders/c23/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c23/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c29/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c29/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c32a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32b/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c32b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c33/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c33/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c35a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35b/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c35b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c43a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c43a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c47a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c47a/input-case-details.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelper.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4278

#4328 Revert "DFPL-911: Admin Manages Order Api Test (#4278)"
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/AdminManagesOrdersApiTests.java
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/service/CaseService.java
  service/src/functionalTest/resources/admin-manage-orders/c23/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c23/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c29/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c29/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c32a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32b/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c32b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c33/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c33/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c35a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35b/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c35b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c43a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c43a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c47a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c47a/input-case-details.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelper.java
Labels: ccd configuration

#4327 DFPL-1385: Add system-update permissions for ManageOrders as concurre…
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4327

#4322 DFPL-1303 Data migration - remove application document
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4322

#4329 DFPL-911-V2: AdminManagesOrdersApi Tests
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/AdminManagesOrdersApiTests.java
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/service/CaseService.java
  service/src/functionalTest/resources/admin-manage-orders/c23/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c23/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c29/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c29/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c32a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32b/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c32b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c33/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c33/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c35a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35b/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c35b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c43a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c43a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c47a/expected.txt
  service/src/functionalTest/resources/admin-manage-orders/c47a/input-case-details.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelper.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4329

#4335 DFPL-911-V3: Fix Duplicated CCD definition
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ccd configuration

#4337 DFPL-911-V4: Remove 35a due to permissions
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/AdminManagesOrdersApiTests.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4337

#4261 DFPL-1056 Tag certain E2E tests to only run on nightly
  Jenkinsfile_nightly
  codecept.conf.js
  e2e/actors/base.js
  e2e/fixtures/caseData/mandatoryWithMultipleChildren.json
  e2e/pages/eventSummary.page.js
  e2e/tests/accessSegregation_test.js
  e2e/tests/addOrRemoveLegalCounsel_test.js
  e2e/tests/adminAddCaseFlag_test.js
  e2e/tests/adminManagesHearingsMissingPreviousVenue_test.js
  e2e/tests/adminManagesLocalAuthorities_test.js
  e2e/tests/adminManagesOrdersAmendment_test.js
  e2e/tests/adminManagesOrders_test.js
  e2e/tests/adminMangesHearings_test.js
  e2e/tests/bulkScanUserUploadsScannedDocuments_test.js
  e2e/tests/caseOutsourcing_test.js
  e2e/tests/childSolicitors_test.js
  e2e/tests/gatekeeperAdministersCaseAfterGatekeeping_test.js
  e2e/tests/gatekeepingOrderUrgentAndUploaded_test.js
  e2e/tests/hmctsAdministersCaseAfterSubmission_test.js
  e2e/tests/hmctsSuperUserAdministersCase_test.js
  e2e/tests/hmctsSuperUserRemovalTool_test.js
  e2e/tests/localAuthorityMaintainsCaseAfterSubmission_test.js
  e2e/tests/localAuthoritySelectsCourt_test.js
  e2e/tests/localAuthoritySubmitsApplication_test.js
  e2e/tests/manageDocuments_test.js
  e2e/tests/messageJudge_test.js
  e2e/tests/noticeOfChange_test.js
  e2e/tests/placement_test.js
  e2e/tests/uploadDraftOrders_test.js
  e2e/tests/welshTranslations_test.js
  package.json
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/AdminManagesOrdersApiTests.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4261

#4333 DFPL-1387 Fixing alphabetical order in LA drop-down list
  ccd-definition/FixedLists/CareSupervision/AuthorityFixedList.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, onboarding, rel:fpl-case-service-pr-4333

#4240 DFPL-1291,1307,1310: Fix Brighton court code, Add Carlisle court for 2 old cases
  ccd-definition/FixedLists/CareSupervision/Court.json
  ccd-definition/FixedLists/CareSupervision/dfj/BrightonDFJCourts.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/main/resources/static_data/courts.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4240

#4323 DFPL-1260: Fix no field found error in amend children flow
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4323

#4326 DFPL-1371: Removal of Doc on PO22C50396
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4326

#4338 DFPL-1380: Migration to reinstate closed case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4338

#4350 DFPL-1310-rollback: Rollback CCD changes for court value
  ccd-definition/FixedLists/CareSupervision/Court.json
  ccd-definition/FixedLists/CareSupervision/dfj/BrightonDFJCourts.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4350

#4347 DFPL-1381 Unknown Error when uploading Gatekeeping Order - Judicial Gatekeeping
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/GatekeepingOrderService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4347

#4334 DFPL-1378 Warning restriction on gatekeeping is not allowing urgent gatekeeping to be completed
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/sdo/GatekeepingOrderRouteValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/sdo/GatekeepingOrderRouteValidatorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4334

#4221 DFPL-1249: Update .internal links to .platform links
  Jenkinsfile_CNP
  bin/build-preview-ccd-definitions.sh
  bin/variables/load-preview-environment-variables.sh
  service/src/functionalTest/resources/application-test-preview.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4221

#4351 DFPL-1412: Add system update user permissions for gatekeeping sealing
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4351

#4349 DFPL-1400: Add permission for system-update user to see the multiCour…
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4349

#4343 DFPL-1395: Add Package script for nightly e2e tests
  Jenkinsfile_nightly
  package.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4343

#4364 Revert "DFPL-1200: Add a new case list filters - DFJ Area and Court (#4342)"
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/courts.json
  ccd-definition/FixedLists/CareSupervision/dfj/BlackburnLancasterDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/BristolDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/DFJAreas.json
  ccd-definition/FixedLists/CareSupervision/dfj/EastLondonDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/HighCourtDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/LiverpoolDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/MedwayDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/ReadingDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/SouthYorkshireDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/SwanseaDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/TruroDFJCourts.json
  ccd-definition/FixedLists/CareSupervision/dfj/WestlLondonDFJCourts.json
  ccd-definition/WorkBasketInputFields/WorkBasketInputFields.json
  charts/fpl-case-service/Chart.yaml
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/courtselection/CourtSelectionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/la/ManageLocalAuthoritiesControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/integrationTest/resources/fixtures/caseRespondentSolicitor.json
  service/src/integrationTest/resources/static_data/dfjAreaCourtMapping.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseInitiationController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CourtSelectionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageLocalAuthoritiesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/DfjAreaCourtMapping.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseInitiationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/DfjAreaLookUpService.java
  service/src/main/resources/static_data/dfjAreaCourtMapping.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseInitiationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/DfjAreaLookUpServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4364

#4325 DFPL-1326 Add House keeping to record final decision event
  ccd-definition/FixedLists/CareSupervision/close-case/ChildFinalDecision.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ccd/fixedlists/ChildFinalDecisionReason.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-4325

#4269 DFPL-1336: Remove CTSC feature toggle, always set sending emails to the CTSC on submission
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CourtService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CourtServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4269
