Repository hmcts/fpl-ccd-configuration, pull requests merged in 2023-12, with the labels that each got.

#4962 DFPL-1925: Remove Position Statement
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4962

#4763 DFPL-785 Add Phone Number To Contact Parties
  ccd-definition/CaseEventToComplexTypes/children/amendChildrenMainRepresentative.json
  ccd-definition/CaseEventToComplexTypes/enterLocalAuthority/localAuthority.json
  ccd-definition/CaseEventToComplexTypes/others/changeOtherToRespondent.json
  ccd-definition/CaseEventToComplexTypes/respondents/amendRespondents.json
  ccd-definition/CaseEventToComplexTypes/respondents/enterRespondents.json
  ccd-definition/ComplexTypes/CareSupervision/2_RespondentSolicitor.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentSolicitor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/RespondentsTestHelper.java
Labels: ns:family-public-law, prd:fpl, destroy, rel:fpl-case-service-pr-4763

#4968 Suppressing CVE-2023-34055, CVE-2023-46589
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4968

#4871 DFPL-1811 Remove legal adviser full name box on manage hearings
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings/judgeInformation.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerEditHearingMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4871

#4967 DFPL-1940: Remove Judicial Statement
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4967

#4966 DFPL-1914: Enable event in Returned, Gatekeeping + Gatekeeping listin…
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4966

#4970 CVE-2023-6378
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4970

#4909 DFPL-1902 - Data Migration for FurtherEvidenceDocument without Document Type
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/12_Correspondence.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ArchivedDocument.json
  ccd-definition/ComplexTypes/CareSupervision/OtherDocument.json
  ccd-definition/ComplexTypes/CareSupervision/UploadDocuments.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCFVService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCFVServiceTest.java
Labels: ns:family-public-law, prd:fpl, add-or-update, enable_keep_helm, rel:fpl-case-service-pr-4909

#4971 Remove suppression CVE-2023-34055, CVE-2023-46589
  config/owasp/suppressions.xml
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4971

#4981 Versions of owasp dependency check below v9 are deprecated
  build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4981

#4963 DFPL-1857: Change EPO date validation to 1 year
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/validator/ApprovalDateTimeValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/validator/EPOEndDateValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/validator/ApprovalDateTimeValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/validator/EPOEndDateValidatorTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4963

#4869 DFPL-1856: Disable the extra update-case-summary event on replying to message
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4869

#4984 DFPL-1884-FixMessageJudgeUITest
  codecept.conf.js
  e2e/actors/base.js
  e2e/actors/tabs.js
  e2e/config.js
  e2e/fixtures/caseData/caseWithJudgeMessage.json
  e2e/fixtures/caseData/caseWithJudicialMessageReply.json
  e2e/pages/caseView.page.js
  e2e/pages/events/messageJudgeOrLegalAdviserEvent.page.js
  e2e/tests/messageJudge_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4984

#4935 DFPL-1928: Fix add case flag not showing all details on summary tab
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  e2e/config.js
  e2e/helpers/hooks_helper.js
  e2e/tests/adminAddCaseFlag_test.js
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseFlagControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseFlagController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AfterSubmissionCaseDataUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryCaseFlagGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AfterSubmissionCaseDataUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryCaseFlagGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, add-or-update, enable_keep_helm, rel:fpl-case-service-pr-4935

#4916 DFPL-1886 FPL Approving Orders
  ccd-definition/FixedLists/CareSupervision/CMOReviewOutcome.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CMOReviewOutcome.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrdersReviewDataBuilder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrdersReviewDataBuilderTest.java
Labels: ns:family-public-law, prd:fpl, add-or-update, enable_keep_helm, rel:fpl-case-service-pr-4916

#4969 DFPL-1938 Court to issue in orders and directions sought not showing …
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/OrdersSoughtChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/OrdersSoughtCheckerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4969

#4947 Add HintText to CCD def
  ccd-definition/ComplexTypes/CareSupervision/1_LocalAuthority/localAuthority.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4947

#4898 Add SpringBoot Retry handler with backoff delay of 1s
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
Labels: ns:family-public-law, prd:fpl, add-or-update, enable_keep_helm, rel:fpl-case-service-pr-4898

#4929 DFPL-1859 Re-order Hearing Dates in Hearings Tab
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4929

#4865 DFPL-1805: Stop LA from adding themselves as applicant when they are respondent on 3rd party standalone apps
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/applicant/ApplicantLocalAuthorityControllerAboutToStartTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ApplicantLocalAuthorityController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ApplicantLocalAuthorityService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ApplicantLocalAuthorityServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4865

#4994 DTSPO-15909 - migrated Application Insights
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4994

#4991 DFPL-1971: Avoid NPE as some fields are optional/can be null
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryCaseFlagGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryCaseFlagGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, destroy, enable_keep_helm, rel:fpl-case-service-pr-4991

#4992 DFPL- 1884MessageJudgeUITestFix
  codecept.conf.js
  e2e/actors/base.js
  e2e/actors/tabs.js
  e2e/config.js
  e2e/fixtures/caseData/caseWithJudgeMessage.json
  e2e/fixtures/caseData/caseWithJudicialMessageReply.json
  e2e/pages/caseView.page.js
  e2e/pages/events/messageJudgeOrLegalAdviserEvent.page.js
  e2e/tests/adminAddCaseFlag_test.js
  e2e/tests/messageJudge_test.js
Labels: ns:family-public-law, prd:fpl, destroy, rel:fpl-case-service-pr-4992

#4996 DFPL-CFV Fix for Hearing Order Conflicts
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/HearingOrderForApproval.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/HearingOrderForReview.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4996

#4997 Update adminAddCaseFlag_test.js
  e2e/tests/adminAddCaseFlag_test.js
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4997

#4899 DFPL-1855 Middlesborough court epimmsID typo + Migration
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/main/resources/static_data/courts.json
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4899

#5000 DFPL-1934: Add generic clearing noc field migration + dummy log migration
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5000

#5002 DFPL-1984 INC5573722 Cannot Upload additional documents to C2 applications due to case file view update
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/C1ApplicationDocument.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/C2ApplicationDocument.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/configuration/DocumentUploadedNotificationConfiguration.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5002

#5001 DFPL-1982 Notification being sent to fallback inbox
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FurtherEvidenceNotificationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/LocalAuthorityRecipientsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FurtherEvidenceNotificationServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5001

#5003 DFPL-1989 Documents added during case creation are not shown in CFV after submission
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEventToComplexTypes/uploadDocuments.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadDocuments.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/TemporaryApplicationDocuments.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ApplicationDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCFVService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ApplicationDocumentsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCFVServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5003

#4993 DFPL-1954: Migration to replace applicant organisation on case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-4993

#4964 DFPL-1870 - Fix UI test adminMangesHearings_test.js
  e2e/actors/base.js
  e2e/fragments/judgeAndLegalAdvisor.js
  e2e/pages/caseView.page.js
  e2e/pages/events/manageHearingsEvent.page.js
  e2e/tests/adminManagesHearingsMissingPreviousVenue_test.js
  e2e/tests/adminManagesOrdersAmendment_test.js
  e2e/tests/adminManagesOrders_test.js
  e2e/tests/adminMangesHearings_test.js
Labels: ns:family-public-law, prd:fpl, destroy, enable_keep_helm, rel:fpl-case-service-pr-4964
