Repository hmcts/fpl-ccd-configuration, pull requests merged in 2024-12, with the labels that each got.

#5728 DFPL-2577
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/case-progression-report.ts
  playwright-e2e/tests/case-progression-report.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5728

#5736 DFPL-2514 If user uploading draft order is ctsc then use ctsc inbox.
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5736

#5754 DFPL-2570 Change case name
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/case-progression-report.ts
  playwright-e2e/pages/change-case-name.ts
  playwright-e2e/tests/change-case-name.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5754

#5674 Upgrade to spring boot 3.3.5
  service/build.gradle
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/HttpClientConfiguration.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, enable_full_functional_tests, rel:fpl-case-service-pr-5674

#5748 DFPL-2613 Migration to remove bullet point from legal basis tab.
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5748

#5767 c21BlankOrder-UITes
  playwright-e2e/pages/orders.ts
  playwright-e2e/tests/manage-orders.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5767

#5762 DFPL-2571 Manage representatives
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/manage-representatives.ts
  playwright-e2e/tests/manage-representatives.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5762

#5768 Dfpl 2619 Third party applicant migration
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5768

#5764 Dfpl 1727 UI test
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/link-cases.ts
  playwright-e2e/tests/case-linking.spec.ts
  playwright-e2e/utils/api-helper.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5764

#5703 DFPL-1890: Setup WA in preview
  Jenkinsfile_CNP
  bin/add-ccd-user-roles.sh
  bin/add-role-assignments.sh
  bin/import-dmn-diagram.sh
  bin/pull-camunda-bpmn-files.sh
  bin/pull-latest-dmn-files.sh
  bin/utils/idam-user-id.sh
  bin/utils/organisational-role-assignment.sh
  bin/variables/load-preview-environment-variables.sh
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-local.json
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.yaml
  service/src/cftlib/java/uk/gov/hmcts/reform/fpl/CftlibConfig.java
  service/src/cftlib/resources/cftlib-am-role-assignments.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5703

#4746 DFPL-1727: Enabling the Standard Case Linking Functionality
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/_global-search.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gs_profile.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/createCaseLink.json
  ccd-definition/CaseEventToFields/CareSupervision/maintainCaseLinks.json
  ccd-definition/CaseField/CareSupervision/caseLinks.json
  ccd-definition/CaseTypeTab/CareSupervision/4_CaseLinks.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/link-cases.ts
  playwright-e2e/tests/case-linking.spec.ts
  playwright-e2e/utils/api-helper.ts
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/caselink/CaseLink.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/caselink/LinkReason.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/CaseLinksElement.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-4746, enable_wa

#5777 Fix WA flagging in preview
  Jenkinsfile_CNP
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  charts/fpl-case-service/values.preview.template.yaml
  charts/fpl-case-service/values.wa.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5777, pr-values:wa

#5779 HearingPreferenceUITest
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  playwright-e2e/caseData/mandatoryWithOtherSubmissionFields.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/court-services.ts
  playwright-e2e/tests/application-detail-nonmandatory.spec.ts
  playwright-e2e/tests/court-service.spec.ts
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, enable_full_functional_tests, enable_wa, pr-values:wa, rel:fpl-case-service-pr-5779

#5795 DFPL-2621: Update Outsourcing policy to new org
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5795
