Repository hmcts/fpl-ccd-configuration, pull requests merged in 2024-01, with the labels that each got.

#5018 DFPL-2002 INC5574764 Document needs to be removed
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5018

#5022 DFPL-1993/DFPL-1957 Migration script for removing position statement
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5022

#5014 DFPL-2006 CFV - Missing C1/C2 category in notification to Sendgrid
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5014

#5007 DFPL-1999 Respondent/Child [BARRISTER] users no longer have permission to upload documents
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/manageDocumentsV2.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5007

#5020 DFPL-2013: Remove judicial message from case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5020

#5019 DFPL-1964: Remove duplicated CMO
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5019

#5026 AddSysuserPermissionToChangeOfRepresentativesField
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5026

#5015 DFPL-1992: Add missing permissions for subfields of sealedCMOs field (amend order bug)
  ccd-definition/AuthorisationComplexType/caseDocuments/sealedCMOs.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5015

#5037 Playwright framework
  .gitignore
  package.json
  playwright-e2e/README.md
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/settings/urls.ts
  playwright-e2e/settings/userCredentials.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5037

#4979 DFPL-1955: Update Cafcass notification to use name of applicant not LA
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4979

#5042 DFPL-1964: fix typo
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5042

#5011 DFPL-1959: Migration to remove UDO from case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5011

#5043 Set up Playwright Framework for FPL
  package.json
  playwright-e2e/README.md
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/settings/userCredentials.ts
  playwright-e2e/tests/create-case.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5043

#5025 DFPL-1947: Migration to remove standard direction order from a case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5025

#5053 Set up Playwright Framework for FPL
  playwright-e2e/README.md
  playwright-e2e/fixtures/create-fixture.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5053

#5041 Dfpl 1935 closure dates not backdated redeploy
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/ManageOrdersClosedCaseFieldGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/ManageOrdersClosedCaseFieldGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5041

#5059 Nightly dev
  .gitignore
  Jenkinsfile_nightly
  README.md
  package.json
  playwright-e2e/README.md
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/create-case.ts
  playwright-e2e/pages/orders-and-directions.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/settings/urls.ts
  playwright-e2e/settings/userCredentials.ts
  playwright-e2e/tests/create-case.spec.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright.config.ts
  yarn.lock
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5059

#5028 DFPL-2032: Clean up after the NoC was done in the about-to-start callback
  ccd-definition/CaseEvent/CareSupervision/NoticeOfChange.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeControllerUpdateRespondentsTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfChangeController.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5028

#5054 DFPL-2053 Confidential Folder - Documents filed on issue
  ccd-definition/CaseField/CareSupervision/applicantsDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/DocumentsFiledOnIssueConfidential.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5054

#4924 DFPL-1678 Wording to be change to add/remove Legal Counsel
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseField/CareSupervision/addOrRemoveLegalCounsel/addOrRemoveLegalCounsel.json
  ccd-definition/ComplexTypes/CareSupervision/3_RespondentNew.json
  ccd-definition/ComplexTypes/CareSupervision/ChildrenNew.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4924

#5047 DFPL-2030 Confidential Folder - Case summary
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/CaseSummaryConfidential.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5047

#5055 DFPL-2054 Confidential Folder - Applicants documents > Witness statements + Care Plan
  ccd-definition/CaseField/CareSupervision/anyOtherDocuments.json
  ccd-definition/CaseField/CareSupervision/applicantsDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ApplicantWitnessStatementConfidential.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/CarePlanConfidential.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5055

#5051 DFPL-2030/2052/2054 Confidential Folders
  ccd-definition/CaseField/CareSupervision/anyOtherDocuments.json
  ccd-definition/CaseField/CareSupervision/applicantsDocuments.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/CaseSummaryConfidential.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ApplicantWitnessStatementConfidential.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/CarePlanConfidential.json
  ccd-definition/ComplexTypes/CareSupervision/Placement/_PlacementConfidentialDocument.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5051

#5024 DFPL-2023 Unable to remove position statements (before CFV release)
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2MidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/DocumentTypeTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventTestData.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5024

#5072 DFPL-2033: Remove judicial message from case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5072

#5040 DFPL-1981-v2: Confidential court bundles folder in CFV
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/CourtBundleV2Confidential.json
  ccd-definition/ComplexTypes/CareSupervision/HearingCourtBundleConfidential.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5040

#5021 DFPL-2022 fix epo adress validation
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/OrdersSoughtChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/epo/HasEPOAddressValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/OrdersSoughtCheckerTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5021

#5085 DFPL-2084 - Enhance Playwright Testing Framework for Cross-Browser
  Jenkinsfile_nightly
  package.json
  playwright-e2e/settings/userCredentials.ts
  playwright-e2e/tests/create-case.spec.ts
  playwright.config.ts
  resources/cannot-send-yet.png
  resources/confidential.png
  resources/finished.png
  resources/in-progress-toggle-off.png
  resources/in-progress.png
  resources/information-added.png
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5085

#5023 DFPL-1994 Set Summary as default landing page.
  ccd-definition/CaseTypeTab/CareSupervision/2_CaseFileView.json
  ccd-definition/CaseTypeTab/CareSupervision/9_FurtherEvidenceDocuments.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5023

#5058 DFPL-2057 Confidential Folder - Medical Records & Police Disclosure
  ccd-definition/CaseField/CareSupervision/anyOtherDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/MedicalRecordConfidential.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/PoliceDisclosureConfidential.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5058

#5060 DFPL-2059 Confidential Folder - Expert Reports
  ccd-definition/CaseField/CareSupervision/anyOtherDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ExpertReportConfidential.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5060

#5061 DFPL-2060 Confidential Folder - Court Correspondence
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/CorrespondenceDocumentConfidential.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5061

#5062 DFPL-2061 Confidential Folder - Position Statements
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementChildConfidential.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementConfidential.json
  ccd-definition/ComplexTypes/CareSupervision/PositionStatementRespondentConfidential.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5062

#5065 DFPL-2063 Confidential Folder - Skeleton Argument
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/SkeletonArgumentConfidential.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5065

#5066 DFPL-2064 Confidential Folder - Transcripts
  ccd-definition/CaseField/CareSupervision/orderDocument.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/TranscriptConfidential.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5066

#5068 DFPL-2065 Confidential Folder - Parent Assessments
  ccd-definition/CaseField/CareSupervision/applicantsDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ParentAssessmentConfidential.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5068

#5069 DFPL-2066 Confidential Folder - Family and viability assessments
  ccd-definition/CaseField/CareSupervision/applicantsDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/FamilyAndViabilityAssessmentConfidential.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5069

#5092 DFPL-2100 - Enhance Smoke Test to Include Selecting Orders and Directions for Case Creation
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/orders-and-directions.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5092

#5096 DFPL-2079 - Test report for nightly
  Jenkinsfile_nightly
  package.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5096

#5091 DFPL-2105: Add old preview skip script as import takes 60s, infra cuts off at 30s
  bin/ccd-import-definition.sh
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5091

#5097 DFPL-2106 Enhance Smoke Test to Include Hearing Urgency
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/create-case.ts
  playwright-e2e/pages/hearing-urgency.ts
  playwright-e2e/pages/orders-and-directions.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/create-case.spec.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5097

#5070 DFPL-2067 Confidential Folder - Meeting Notes / Contact Notes
  ccd-definition/CaseField/CareSupervision/applicantsDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/ContactNoteConfidential.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/MeetingNoteConfidential.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5070

#5073 DFPL-2068 Confidential Folder - Respondent statements>Witness statements
  ccd-definition/CaseField/CareSupervision/respondentStatementDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/RespondentWitnessStatementConfidential.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5073

#5074 DFPL-2069 Confidential Folder - Guardian's Evidence
  ccd-definition/CaseField/CareSupervision/anyOtherDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/GuardianEvidenceConfidential.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5074

#5075 DFPL-2070 Confidential Folder - Drug & alcohol reports / Letters inst…
  ccd-definition/CaseField/CareSupervision/anyOtherDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/DrugAndAlcoholReportConfidential.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/LettersOfInstructionConfidential.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5075

#5102 DFPL-2115 - Enhance the existing smoke test suite to include grounds for the application.
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/create-case.ts
  playwright-e2e/pages/grounds-for-the-application.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/create-case.spec.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5102

#5006 DFPL-1996: Enable event notes for new manage docs
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5006

#5105 DFPL-2124 Improve Smoke Test Case Name Creation Process by Condensing Date and Time Formatting Code
  playwright-e2e/pages/create-case.ts
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5105
