Repository hmcts/fpl-ccd-configuration, pull requests merged in 2024-04, with the labels that each got.

#5222 DFPL-2228: Disable unnecessary publishable events
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  config/owasp/suppressions.xml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5222

#5221 Preview tests running in all envs
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5221

#5230 DFPL-2242 Welsh language requirements
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/applicant-details.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/respondent-details.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/pages/welsh-lang-requirements.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5230

#5232 Preview tests running in all envs
  Jenkinsfile_CNP
  package.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5232

#5031 DFPL-1233: Latest version updated to master.
  ccd-definition/CaseEventToFields/CareSupervision/listGatekeepingHearing/enterHearingDetails.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings/enterHearingDetails.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  ccd-definition/FixedLists/CareSupervision/HearingType.json
  playwright-e2e/pages/manage-hearings.ts
  playwright-e2e/pages/mixins/hearing-details-mixin.ts
  playwright-e2e/tests/manage-hearings.spec.ts
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/NoticeOfHearingGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfHearingEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfHearingNoOtherAddressEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PopulateStandardDirectionsOrderDatesHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/CaseDataTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/HearingBookingTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseProgressionReportServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/StandardDirectionsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/NoticeOfHearingGenerationServiceTest.java
Labels: ns:family-public-law, prd:fpl, add-or-update, enable_keep_helm, rel:fpl-case-service-pr-5031, enable_full_functional_tests

#5104 Dfpl 1233 - remove other and migration code
  ccd-definition/FixedLists/CareSupervision/HearingType.json
  playwright-e2e/caseData/caseWithHearingDetails.json
  playwright-e2e/caseData/caseWithVacatedHearing.json
  playwright-e2e/pages/mixins/hearing-details-mixin.ts
  playwright-e2e/tests/manage-hearings.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5104, enable_full_functional_tests

#5212 Set managedocsv2 as a publishable event
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5212

#5205 Vs code api helper changes
  playwright-e2e/settings/urls.ts
  playwright-e2e/utils/api-helper.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5205

#5236 Dfpl 1912-demo-2
  ccd-definition/CaseEvent/CareSupervision/Gatekeeping.json
  ccd-definition/CaseEvent/CareSupervision/GatekeepingListing.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5236

#5184 DFPL-2028 Remove Access To NoticeOfProceeding Doc- Representative LegalCounsel
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
Labels: ns:family-public-law, prd:fpl, add-or-update, enable_keep_helm, rel:fpl-case-service-pr-5184

#5187 DFPL-2171 CAFCASS incorrectly notified of previous proceedings documents upload
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5187

#5190 DFPL-2192 Incorrect notification sent User receiving notification for amended standard directions order and not for a production order.
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/amendment/find/AmendedStandardDirectionOrderFinder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/amendment/find/AmendedUrgentHearingOrderFinder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/amendment/find/AmendedStandardDirectionOrderFinderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/amendment/find/AmendedUrgentHearingOrderFinderTest.java
Labels: ns:family-public-law, prd:fpl, add-or-update, enable_keep_helm, rel:fpl-case-service-pr-5190

#5247 Remove slashes
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5247

#5246 DFPL-2239: International element (smoke test)
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/international-element.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5246

#5199 DFPL-2226: Remove all unneeded permissions for archived fields from all except judiciary/ctsc
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5199

#5254 Get service url path with join
  playwright-e2e/utils/api-helper.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5254

#5257 Urls in tests
  playwright-e2e/utils/api-helper.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5257

#5259 Suppress SonarCloud rule to fix master pipeline
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/security/SecurityConfiguration.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5259

#5266 Update CODEOWNERS for renovate to auto-update terraform
  CODEOWNERS
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5266

#5298 Fix labeler rules
  .github/labeler.yml
Labels: ns:family-public-law, prd:fpl, workflow, rel:fpl-case-service-pr-5298

#5209 DFPL-2169 Deprecate "hearingFurtherEvidenceDocuments"
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/AuthorisationComplexType/caseDocuments/hearingFurtherEvidenceDocuments.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/DEPRECATED/HearingFurtherEvidenceBundle.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDraftOrdersAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/helper/UploadTranslationsControllerTestHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingHearingController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/UploadDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingFurtherEvidenceBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/HearingFurtherEvidenceBundleSerializationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5209

#5320 Do not remove labels when they've been added
  .github/workflows/label.yml
Labels: ns:family-public-law, prd:fpl, workflow, rel:fpl-case-service-pr-5320

#5256 DFPL-2284: Migration to revoke a users roles whilst swapping organisations
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5256

#5310 DFPL- 2269: Case submission smoke test enhancement (upgraded cluster)
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/applicant-details.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/create-case.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/pages/submit-case.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, aat/add-or-update, rel:fpl-case-service-pr-5310

#5285 DFPL-2237 C1 with Supplement - smoke test enhancement
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/additional-applications.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/c1-with-supplement.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5285

#5214 DFPL-2224 AddRemoveLegalCounsel
  package.json
  playwright-e2e/caseData/caseWithRespondentSolicitor.json
  playwright-e2e/caseData/caseWithRespondentSolicitorAndCounsel.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/legal-counsel.ts
  playwright-e2e/settings/user-credentials.ts
  playwright-e2e/tests/legal-counsel.spec.ts
  playwright-e2e/utils/api-helper.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5214

#5284 DFPL-1975 Rewrite adminAddCaseFlag_test.js in Playwright
  playwright-e2e/caseData/mandatoryWithMultipleChildren.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/add-and-remove-admin-case-flag.ts
  playwright-e2e/tests/admin-add-case-flag.spec.ts
Labels: ns:family-public-law, prd:fpl, aat/add-or-update, rel:fpl-case-service-pr-5284

#5243 DFPL 2275 Applications supplements to be sealed when uploaded
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5243

#5235 DFPL-103 Improve re-opening of closed cases
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeStateControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/interfaces/IsStateMigratable.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/validators/IsStateMigratableValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/validation/validators/IsStateMigratableValidatorTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5235

#5239 DFPL-2195: Increase SpringBoot retry to 5 times with a backoff delay of 2s
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5239

#5322 Dfpl 2296 Migration - Remove threshold details
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5322
