Repository hmcts/fpl-ccd-configuration, pull requests merged in 2024-05, with the labels that each got.

#5215 DFPL-1858 - Admin to be able to view Refused Orders
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseTypeTab/CareSupervision/12_RefusedOrders.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5215

#5334 Update API test to new fee amount
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/SubmitCaseApiTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5334

#5332 DFPL-2311 update migration script
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/SubmittedC1WithSupplementBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5332

#5335 FixNightlyBuild
  playwright-e2e/pages/add-and-remove-admin-case-flag.ts
  playwright-e2e/tests/additional-applications.spec.ts
  playwright-e2e/tests/admin-add-case-flag.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5335

#5283 DFPL-2241 Court services needed - smoke test enhancement
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/court-services-needed.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, aat/add-or-update, rel:fpl-case-service-pr-5283

#5342 DFPL-2299 Migration remove urgent direction order
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5342

#5351 Fix smoke test
  playwright-e2e/pages/c1-with-supplement.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5351

#5286 DFPL-2289 - Upgrade Playwright and Introduce Linting for Tests
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-3.8.2.cjs
  .yarnrc.yml
  eslint.config.js
  package.json
  playwright-e2e/fixtures/axe-fixture.ts
  playwright-e2e/pages/add-application-documents.ts
  playwright-e2e/pages/additional-applications.ts
  playwright-e2e/pages/allocation-proposal.ts
  playwright-e2e/pages/applicant-details.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/create-case.ts
  playwright-e2e/pages/gatekeeping-listing.ts
  playwright-e2e/pages/international-element.ts
  playwright-e2e/pages/manage-hearings.ts
  playwright-e2e/pages/respondent-details.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/pages/welsh-lang-requirements.ts
  playwright-e2e/settings/test-docs/config.ts
  playwright-e2e/settings/urls.ts
  playwright-e2e/tests/additional-applications.spec.ts
  playwright-e2e/tests/admin-add-case-flag.spec.ts
  playwright-e2e/tests/judicial-message.spec.ts
  playwright-e2e/tests/legal-counsel.spec.ts
  playwright-e2e/tests/manage-documents.spec.ts
  playwright-e2e/tests/manage-hearings.spec.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright-e2e/tests/upload-draft-orders.spec.ts
  playwright-e2e/utils/api-helper.ts
  tsconfig.json
  yarn.lock
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5286

#5359 Update label.yml
  .github/workflows/label.yml
Labels: ns:family-public-law, prd:fpl, workflow, rel:fpl-case-service-pr-5359

#5366 DFPL-2031: Add dummy logging migration
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5366

#5368 Fix nightly test
  playwright-e2e/settings/urls.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5368

#5273 DFPL-1454: Removing Draft Orders sent to Cafcass
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftsOrdersUploadedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5273

#5369 Set migrateCase as publishable
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5369

#5350 DFPL-1873-ManageChildrenSolicitor
  package.json
  playwright-e2e/caseData/caseWithMultipleChildCafcassSolicitor.json
  playwright-e2e/caseData/mandatoryWithMultipleChildren.json
  playwright-e2e/pages/child-details.ts
  playwright-e2e/tests/child-solicitor.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5350

#5328 DFPL-1927: Delete judicial/legal advisor roles on case closure
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RecordFinalDecisionsControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RecordFinalDecisionsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedPlacementOrderEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedPlacementOrderEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5328

#5381 increase time out for smoke test
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5381

#5337 DFPL-2298 Wording incorrect on hearing notice since hearing improvements were released.
  ccd-definition/FixedLists/CareSupervision/HearingType.json
  playwright-e2e/pages/mixins/hearing-details-mixin.ts
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingType.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseProgressionReportServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5337

#5383 DFPL-2288: Tidy up edit past hearing label
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  playwright-e2e/pages/manage-hearings.ts
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, enable_full_functional_tests, rel:fpl-case-service-pr-5383

#5376 DFPL-2285: Tidy up Advisor -> Adviser
  ccd-definition/ComplexTypes/CareSupervision/2_ApplicantParty.json
  ccd-definition/FixedLists/CareSupervision/JudgeOrMagistrateTitle.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/JudgeOrMagistrateTitle.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5376

#5390 SmokeTestRefractor-UpdateisVisible
  playwright-e2e/pages/add-application-documents.ts
  playwright-e2e/pages/allocation-proposal.ts
  playwright-e2e/pages/applicant-details.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/child-details.ts
  playwright-e2e/pages/court-services-needed.ts
  playwright-e2e/pages/create-case.ts
  playwright-e2e/pages/factors-affecting-parenting.ts
  playwright-e2e/pages/hearing-urgency.ts
  playwright-e2e/pages/international-element.ts
  playwright-e2e/pages/orders-and-directions.ts
  playwright-e2e/pages/respondent-details.ts
  playwright-e2e/pages/risk-and-harm-to-children.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/pages/submit-case.ts
  playwright-e2e/pages/welsh-lang-requirements.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright-e2e/tests/upload-draft-orders.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5390

#5396 DFPL-1743 Remove code that can cause CCD concurrency issue
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/AdminManagesOrdersApiTests.java
  service/src/functionalTest/resources/admin-manage-orders/c23/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c29/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c33/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c43a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c47a/input-case-details.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/TestingSupportControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/GatekeepingOrderEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/testingsupport/controllers/TestingSupportController.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, enable_full_functional_tests, rel:fpl-case-service-pr-5396

#5311 Dfpl 2222 Confidential C2 and orders test
  playwright-e2e/caseData/approveOrders/caseWithConfidentialDraftOrderByCtsc.json
  playwright-e2e/caseData/approveOrders/caseWithConfidentialDraftOrderByLa.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/additional-applications.ts
  playwright-e2e/pages/approve-orders.ts
  playwright-e2e/tests/additional-applications.spec.ts
  playwright-e2e/tests/approve-orders.spec.ts
Labels: ns:family-public-law, prd:fpl, aat/add-or-update, rel:fpl-case-service-pr-5311, prod/add-or-update

#5400 DFPL-2340: Removal tool throwing exception when getting c2doc label
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5400

#5398 DFPL-2129: Fix typo, missing hyphen
  ccd-definition/FixedLists/CareSupervision/ExpertReportList.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ccd/fixedlists/ExpertReportType.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5398

#5418 remove accessibility stage from build
  Jenkinsfile_nightly
  package.json
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5418

#5413 DFPL-2339: Migrate Kent to Outsourcing policy after LA transfer
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5413

#5375 DFPL-1462 Tidy up upload and create orders to prevent incorrect MI
  ccd-definition/FixedLists/CareSupervision/ManageOrdersType.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersUploadType.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5375

#5422 DFPL-2339-2: Fix Migration for Invicta Kent policy
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5422
