Repository hmcts/fpl-ccd-configuration, pull requests merged in 2024-06, with the labels that each got.

#5414 DFPL-2331: Remove child names from Proceedings
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Proceeding.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5414

#5426 Dfpl 2349-FixManageHearingUITest
  playwright-e2e/pages/mixins/hearing-details-mixin.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5426

#5427 DFPL-2323: Migration remove temp manage order fields
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5427

#5432 DFPL-2240: e2e test, other people in case
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/create-case.ts
  playwright-e2e/pages/other-people-in-the-case.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/e2e-tests/e2e-add-other-people.spec.ts
  playwright-e2e/tests/e2e-tests/e2e-submit-basic-case.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5432

#5245 DFPL-2279: Use self-injection to allow for the retryable method to be used in all scenarios
  infrastructure/alerts.tf
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerPostSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/RetryFailureException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, aat/add-or-update, rel:fpl-case-service-pr-5245, prod/add-or-update

#5444 Update values to use env vars (fortify)
  Jenkinsfile_CNP
  service/src/integrationTest/resources/application-integration-test.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5444

#5446 Updated parameters in nightly for playwright tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  playwright-e2e/README.md
  playwright-e2e/settings/urls.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5446

#5166 DFPL-2101 Judge flags CMO as urgent when approving draft orders
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/magistrate.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/AuthorisationCaseField/CareSupervision/wa-task-configuration.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/review-CMO/reviewCMO.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewCMO.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/ComplexTypes/CareSupervision/ApproveOrderUrgencyOption.json
  ccd-definition/FixedLists/CareSupervision/ReviewUrgency.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerPostSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/ApproveDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/IssuedOrderAdminNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersApprovedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ApproveOrderUrgencyOption.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ReviewDecision.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ReviewDraftOrdersData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrdersEventNotificationBuilder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/CaseManagementOrderIssuedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5166

#5450 Fix url in nightly
  Jenkinsfile_nightly
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5450

#5447 DFPL-2354: Migration to remove incorrect UDO on case
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5447

#5442 DFPL-2236: Cleanup manageLegalRepresentativesLink permissions
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5442

#5451 Dfpl 2364 fix nightly test url
  Jenkinsfile_CNP
  playwright-e2e/pages/approve-orders.ts
  playwright-e2e/pages/sign-in.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5451

#5453 FixTesturl
  Jenkinsfile_nightly
  playwright-e2e/settings/urls.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5453

#5098 DFPL-1987(+DFPL-2120) Allow Additional Application Supporting Documents to be Removed in Manage Documents
  ccd-definition/AuthorisationComplexType/caseDocuments/AdditionalApplicationsBundle.json
  ccd-definition/AuthorisationComplexType/caseDocuments/C2DocumentBundle.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseTypeTab/CareSupervision/12_RefusedOrders.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/C2SupportingEvidenceBundle.json
  ccd-definition/ComplexTypes/CareSupervision/1_SupportingDocuments/C2SupportingEvidenceBundleConfidential.json
  ccd-definition/ComplexTypes/CareSupervision/4_C2DocumentBundle.json
  ccd-definition/ComplexTypes/CareSupervision/4_OtherApplicationsBundle.json
  ccd-definition/ComplexTypes/CareSupervision/DEPRECATED.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/C1ApplicationDocumentConfidential.json
  ccd-definition/ComplexTypes/CareSupervision/ManageDocuments/C2ApplicationDocumentConfidential.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CaseRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/DraftOrderServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5098

#5452 DFPL-2352: Fix exception stopping payment if it's in a different bundle
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/ApplicationsFeeCalculator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/common/AdditionalApplicationsBundleTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/ApplicationsFeeCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/payment/PaymentServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5452

#5392 DFPL-2009-2: Allow optional hearing to show in notification template
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/base/SharedNotifyContentProvider.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5392

#5434 DFPL-2347: Add case flag to the top of all tabs as an interim measure
  ccd-definition/CaseTypeTab/CareSupervision/10_C2.json
  ccd-definition/CaseTypeTab/CareSupervision/11_JudicialMessages.json
  ccd-definition/CaseTypeTab/CareSupervision/12_RefusedOrders.json
  ccd-definition/CaseTypeTab/CareSupervision/13_Notes.json
  ccd-definition/CaseTypeTab/CareSupervision/14_Confidential.json
  ccd-definition/CaseTypeTab/CareSupervision/15_Placements.json
  ccd-definition/CaseTypeTab/CareSupervision/16_CaseHistory.json
  ccd-definition/CaseTypeTab/CareSupervision/17_Payments.json
  ccd-definition/CaseTypeTab/CareSupervision/18_SentDocuments.json
  ccd-definition/CaseTypeTab/CareSupervision/19_ExpertReports.json
  ccd-definition/CaseTypeTab/CareSupervision/20_ChangeOfRepresentatives.json
  ccd-definition/CaseTypeTab/CareSupervision/2_CaseFileView.json
  ccd-definition/CaseTypeTab/CareSupervision/3_Hearings.json
  ccd-definition/CaseTypeTab/CareSupervision/4_DraftOrders.json
  ccd-definition/CaseTypeTab/CareSupervision/5_Orders.json
  ccd-definition/CaseTypeTab/CareSupervision/6_CasePeople.json
  ccd-definition/CaseTypeTab/CareSupervision/7_LegalBasis.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5434

#5449 Dfpl 1872 AddCounsel
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  package.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/approve-orders.ts
  playwright-e2e/pages/create-case.ts
  playwright-e2e/pages/manage-organisation.ts
  playwright-e2e/pages/share-case.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/settings/urls.ts
  playwright-e2e/settings/user-credentials.ts
  playwright-e2e/tests/case-outsourcing.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5449

#5459 Dfpl 2357-FixNightlyTest
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5459

#5338 DFPL-2007: Transparency Order
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseEventToFields/CareSupervision/manageOrders/5_orderDetailsSection.json
  ccd-definition/CaseField/CareSupervision/manageOrders/manageOrdersFields.json
  ccd-definition/ComplexTypes/CareSupervision/OrderTempQuestions.json
  ccd-definition/FixedLists/CareSupervision/ManageOrdersType.json
  ccd-definition/FixedLists/CareSupervision/TransparencyOrderExpirationType.json
  docker/docmosis/templates/FL-PLW-GOR-ENG-TRANSPARENCY-ORDER-TEMPLATE.doc
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/docmosis/generator/DocmosisOrderCaseDataGenerator.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersControllerInitialSectionMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/TransparencyOrderExpirationType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ManageOrdersEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/Order.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderQuestionBlock.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/order/OrderTempQuestions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/docmosis/TransparencyOrderDocmosisParameters.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/TransparencyOrderParameterGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/order/OrderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/ManageOrderDocumentScopedFieldsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/OrderShowHideQuestionsCalculatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/OrderDocumentGeneratorHolderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/TransparencyOrderParameterGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, docmosis, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5338

#5467 Dfpl 2416-FixNightlyBuild
  Jenkinsfile_nightly
  package.json
  playwright-e2e/tests/application-detail-nonmandatory.spec.ts
  playwright-e2e/tests/e2e-tests/e2e-add-other-people.spec.ts
  playwright-e2e/tests/e2e-tests/e2e-submit-basic-case.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5467

#5470 DFPL-2108-User: Allow system update user to alter case management loc…
  ccd-definition/AuthorisationCaseField/CareSupervision/_global-search.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5470

#5471 ChangeNightlyBuildTriggerTime
  Jenkinsfile_nightly
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5471

#5424 DFPL-2346: Eliminate unnecessary calls for uploader case roles
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5424

#5321 DFPL-1771: Flexserver configuration for preview environment for FPL
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, aat/add-or-update, rel:fpl-case-service-pr-5321, prod/add-or-update

#5461 DFPL-2369: Content update for C2 confidential question
  ccd-definition/CaseField/CareSupervision/caseField.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5461

#5258 DFPL 1797 Vacate a Hearing Amendment
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings/selectRelistOption.json
  ccd-definition/CaseEventToFields/CareSupervision/manageHearings/selectVacatedReason.json
  ccd-definition/CaseField/CareSupervision/manageHearingsFields.json
  ccd-definition/ComplexTypes/CareSupervision/CancelledHearingBooking.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  ccd-definition/FixedLists/CareSupervision/hearing-cancellation/HearingHousekeepOptions.json
  ccd-definition/FixedLists/CareSupervision/hearing-cancellation/HearingHousekeepReasons.json
  docker/docmosis/templates/FL-PLW-HNO-ENG-00526.doc
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerVacatedSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingCancellationReason.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/HearingHousekeepReason.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/SendNoticeOfHearingVacated.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingVacatedHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ManageHearingHousekeepEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisNoticeOfHearingVacated.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/notify/hearing/HearingVacatedTemplate.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/CafcassRequestEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/NoticeOfHearingGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/HearingVacatedEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SendNoticeOfHearingVacatedHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageHearingsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/NoticeOfHearingGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/HearingVacatedEmailContentProviderTest.java
Labels: ns:family-public-law, prd:fpl, docmosis, ccd configuration, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5258
