Repository hmcts/fpl-ccd-configuration, pull requests merged in 2024-11, with the labels that each got.

#5666 DFPL-2585: Setup closed case role cleanup migration
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5666

#5682 Dfpl 2370
  playwright-e2e/pages/orders.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/tests/manage-orders.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5682

#5683 Dfpl 2372 32b discharge of care order
  playwright-e2e/pages/orders.ts
  playwright-e2e/tests/manage-orders.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5683

#5680 DFPL-2594: Allow deprecated export reports to be removed
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2MidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5680

#5686 DFPL-2585: Reinstate rollback migration
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5686

#5684 Dfpl 2392 c47 a order UI test
  playwright-e2e/pages/orders.ts
  playwright-e2e/tests/manage-orders.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5684

#5689 Dfpl 2601 Revert solicitor's address changes
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiSolicitor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CafcassApiHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiConverterTestBase.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CafcassApiHelperTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5689

#5654 DFPL-2504: Send order reminder notification fix
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/OrderChasingEmailJob.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/SendOrderReminderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/SendOrderReminderServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5654

#5690 DFPL-2312
  package.json
  playwright-e2e/pages/grounds-for-the-application.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/settings/urls.ts
  playwright-e2e/tests/smoke-test.spec.ts
  yarn.lock
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5690

#5687 DFPL-2602 Cafcass API fix mapping of new expert report types
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-systemupdate.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseDocumentsConverter.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseDocumentsConverterTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5687

#5520 DFPL-2316: c110a Design Changes to Court Services Needed
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/attendingHearing/amendAttendingHearing.json
  ccd-definition/CaseEventToComplexTypes/attendingHearing/attendingHearing.json
  ccd-definition/CaseEventToFields/CareSupervision/amendAttendingHearing.json
  ccd-definition/CaseEventToFields/CareSupervision/attendingHearing.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/ComplexTypes/CareSupervision/HearingPreferences-DEPRECATED.json
  ccd-definition/ComplexTypes/CareSupervision/HearingPreferences.json
  ccd-definition/FixedLists/CareSupervision/CourtServicesNeeded.json
  docker/docmosis/templates/FL-PLW-APP-ENG-C110A.doc
  e2e/config.js
  playwright-e2e/pages/court-services-needed.ts
  playwright-e2e/pages/start-application.ts
  service/src/functionalTest/resources/admin-manage-orders/c23/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c29/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c32b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c33/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c35b/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c43a/input-case-details.json
  service/src/functionalTest/resources/admin-manage-orders/c47a/input-case-details.json
  service/src/functionalTest/resources/case-submission/application-draft.txt
  service/src/functionalTest/resources/case-submission/application.txt
  service/src/integrationTest/resources/c110a.txt
  service/src/integrationTest/resources/fixtures/caseSecureAccommodationOrder.json
  service/src/integrationTest/resources/fixtures/caseWithSecureAccommodationOrderRemoved.json
  service/src/integrationTest/resources/fixtures/taskList-legacyApplicant.md
  service/src/integrationTest/resources/fixtures/taskList.md
  service/src/integrationTest/resources/fixtures/taskListWithLanguageRequirement.md
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/CourtServicesNeeded.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Event.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingPreferences.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/CourtServiceChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CourtServiceCheckerIsStartedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CourtServiceCheckerTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/empty-form-pdf-content.txt
  service/src/test/resources/submitted-form-pdf-content.txt
  service/src/test/resources/task-list/expected-task-list-multi-courts.md
  service/src/test/resources/task-list/expected-task-list-no-errors-multi-courts.md
  service/src/test/resources/task-list/expected-task-list-no-errors.md
  service/src/test/resources/task-list/expected-task-list-no-grounds.md
  service/src/test/resources/task-list/expected-task-list.md
  service/src/test/resources/task-list/legacy-applicant/expected-task-list-no-errors.md
  service/src/test/resources/task-list/legacy-applicant/expected-task-list.md
Labels: ns:family-public-law, prd:fpl, docmosis, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5520

#5534 DFPL-2312: c110a Design changes to grounds for application section
  ccd-definition/CaseEventToComplexTypes/enterGrounds/grounds.json
  ccd-definition/CaseEventToFields/CareSupervision/enterGrounds.json
  ccd-definition/ComplexTypes/CareSupervision/Grounds-DEPRECATED.json
  ccd-definition/ComplexTypes/CareSupervision/Grounds.json
  ccd-definition/FixedLists/CareSupervision/GroundList.json
  ccd-definition/FixedLists/CareSupervision/ThresholdDocumentList.json
  docker/docmosis/templates/FL-PLW-APP-ENG-C110A.doc
  playwright-e2e/pages/grounds-for-the-application.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/settings/urls.ts
  playwright-e2e/tests/smoke-test.spec.ts
  service/src/functionalTest/resources/case-number/add-case-number-on-submission.json
  service/src/functionalTest/resources/case-submission/application-draft.txt
  service/src/functionalTest/resources/case-submission/application.txt
  service/src/functionalTest/resources/case-submission/case.json
  service/src/integrationTest/resources/c110a-Welsh.txt
  service/src/integrationTest/resources/c110a.txt
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/GroundsList.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Grounds.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsCheckerIsStartedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsCheckerTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/empty-form-pdf-content.txt
  service/src/test/resources/submitted-form-pdf-content.txt
Labels: ns:family-public-law, prd:fpl, docmosis, ccd configuration, rel:fpl-case-service-pr-5534

#5700 CourtServiceUITestUpdate
  playwright-e2e/pages/court-services-needed.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/application-detail-nonmandatory.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5700

#5463 UpdateInternationalElementUITest
  playwright-e2e/pages/international-element.ts
  playwright-e2e/tests/application-detail-nonmandatory.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5463

#5670 DFPL-2286: Stop unrepresented from receiving docs notifications
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5670

#5698 Fix ability to remove legacy expert report documents.
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2MidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5698

#5709 Dfpl 2396 c36 order UI test
  playwright-e2e/pages/orders.ts
  playwright-e2e/tests/manage-orders.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5709

#5712 DFPL-2578
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/log-expert-report.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/log-expert-report.spec.ts
  playwright-e2e/utils/api-helper.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5712

#5697 Add migration to update la outsourcing.
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5697

#5655 DFPL-2454: Add Attach document to Judicial Message flow
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToFields/CareSupervision/messageJudge.json
  ccd-definition/CaseField/CareSupervision/messageJudge.json
  ccd-definition/FixedLists/CareSupervision/MessageAttachmentSelector.json
  e2e/pages/events/messageJudgeOrLegalAdviserEvent.page.js
  playwright-e2e/caseData/mandatorySubmissionFields.json
  playwright-e2e/pages/judicial-message.ts
  playwright-e2e/tests/judicial-message.spec.ts
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerPopulateLabelsMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerPopulateListsMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2MidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/MessageRegardingDocuments.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/MessageJudgeEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/SendNewMessageJudgeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SendNewMessageJudgeServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5655

#5720 DFPL-2610: Migration to remove locations from legal basis
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5720

#5730 Nightly dev
  Jenkinsfile_nightly
  package.json
  playwright-e2e/pages/orders-and-directions.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright.config.ts
  yarn.lock
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5730

#5705 DFPL-1749: Reduce Code Smells
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/AllocatedJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingHearingController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageLocalAuthoritiesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/NoticeOfProceedingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OrdersNeededController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OthersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/StandardDirectionsOrderController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/orders/ApproveDraftOrdersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ModifiedDocumentCommonEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseDataExtractionService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CaseInitiationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RoleAssignmentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/ReviewAdditionalApplicationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/A70PlacementOrderDocumentParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C36VariationOrExtensionOfSupervisionOrdersParameterGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/prepopulator/question/DeclarationOfParentagePrePopulator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/sdo/UrgentGatekeepingOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/testingsupport/controllers/TestingSupportController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/SubmittedFormFilenameHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/config/LocalAuthorityIdLookupConfigurationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NonMolestationOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandlerPaymentTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CaseNoteServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/ApproveDraftOrdersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cmo/BlankOrderGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/translations/TranslatableItemServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/OrderIssuedNotificationTestHelper.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5705

#5706 DFPL-2355 Add urgent directions orders to removal tool
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
  ccd-definition/CaseField/CareSupervision/removeOrder.json
  ccd-definition/CaseTypeTab/CareSupervision/5_Orders.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RemovalToolData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/StandardDirectionOrder.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/SDORemovalAction.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/SDORemovalActionTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5706

#5664 DFPL-2545 Show Refuge Address- address option for Child Journey
  ccd-definition/CaseEventToComplexTypes/children/amendChildren.json
  ccd-definition/CaseEventToComplexTypes/children/enterChildren.json
  ccd-definition/ComplexTypes/CareSupervision/2_ChildParty.json
  ccd-definition/FixedLists/CareSupervision/LivingSituationList.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ChildLivingSituation.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/children/ChildRepresentationService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/children/ChildRepresentationServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5664

#5696 DFPL-2546 Show Refuge Address- address option for Respondent/Other persons Journeys
  ccd-definition/CaseEventToComplexTypes/others/changeOtherToRespondent.json
  ccd-definition/CaseEventToComplexTypes/respondents/amendRespondents.json
  ccd-definition/CaseEventToComplexTypes/respondents/enterRespondents.json
  ccd-definition/ComplexTypes/CareSupervision/2_Others.json
  ccd-definition/ComplexTypes/CareSupervision/2_RespondentParty.json
  ccd-definition/FixedLists/CareSupervision/IsAddressKnowList.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeFromOtherUtils.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OthersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerChangeFromOtherMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OthersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/IsAddressKnowType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidator.java
  service/src/test/java/uk/gov/hmcts/reform/ccd/model/RespondentPartyTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandlerNotificationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OthersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SendDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidatorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5696

#5741 Dfpl 2546 fix ES index of addressKnow
  ccd-definition/ComplexTypes/CareSupervision/2_Others.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5741

#5742 DFPL-2546 fix ES index of addressKnow v2
  ccd-definition/ComplexTypes/CareSupervision/2_Others.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5742

#5746 Roll back DFPL 2546
  ccd-definition/CaseEventToComplexTypes/others/changeOtherToRespondent.json
  ccd-definition/CaseEventToComplexTypes/respondents/amendRespondents.json
  ccd-definition/CaseEventToComplexTypes/respondents/enterRespondents.json
  ccd-definition/ComplexTypes/CareSupervision/2_Others.json
  ccd-definition/ComplexTypes/CareSupervision/2_RespondentParty.json
  ccd-definition/ComplexTypes/CareSupervision/HearingBooking.json
  ccd-definition/FixedLists/CareSupervision/IsAddressKnowList.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeFromOtherUtils.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OthersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerChangeFromOtherMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OthersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/IsAddressKnowType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidator.java
  service/src/test/java/uk/gov/hmcts/reform/ccd/model/RespondentPartyTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandlerNotificationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OthersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SendDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidatorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5746
