Repository hmcts/fpl-ccd-configuration, pull requests merged in 2024-02, with the labels that each got.

#5112 DFPL-2138 Enhance Smoke Test to Include Risk and Harm to Children Section
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/risk-and-harm-to-children.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/settings/userCredentials.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5112

#5087 DFPL-2096: LA's unable to edit existing placements
  ccd-definition/AuthorisationComplexType/caseDocuments/placement.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PlacementService.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5087

#4887 DFPL-1771: Flexserver configuration for preview environment for FPL
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-4887

#5115 Fix issues in nightly branch
  package.json
  yarn.lock
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5115

#5017 DFPL-1991 Unable to remove application documents uploaded in case cre…
  ccd-definition/CaseEvent/CareSupervision/Open.json
  ccd-definition/CaseEventToComplexTypes/uploadDocuments.json
  ccd-definition/ComplexTypes/CareSupervision/TemporaryApplicationDocuments.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsLAController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ApplicationDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ApplicationDocumentsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ApplicationDocumentsServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5017

#5016 DFPL-2008 CFV - Fail to send Respondent statement notification
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentStatementV2.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5016

#5111 DFPL-2118: Judicial Message removal
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5111

#5133 Revert "DFPL-1771: Flexserver configuration for preview environment f…
  charts/fpl-case-service/Chart.yaml
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5133

#5128 DFPL-2161 Add the ability to run automated UI tests against PR environment
  .env
  .gitignore
  package.json
  playwright-e2e/README.md
  playwright-e2e/pages/create-case.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/settings/urls.ts
  playwright-e2e/settings/userCredentials.ts
  yarn.lock
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5128

#5110 DFPL-2116: Judicial Message removal
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5110

#5119 DFPL-2139
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/factors-affecting-parenting.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/create-case.spec.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5119

#5132 Dfpl 2159 Allocation Proposal playwright Test
  e2e/actors/base.js
  e2e/config.js
  e2e/helpers/hooks_helper.js
  e2e/tests/adminAddCaseFlag_test.js
  e2e/tests/smoke_test.js
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/allocation-proposal.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/create-case.spec.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5132

#5137 Dfpl 2139 - Enhancing smoke test to add factors affecting parenting
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/factors-affecting-parenting.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/create-case.spec.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5137

#5027 DFPL-1624 Send judicial message or reply to message when case closed
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5027

#5117 DFPL-2154 Fail to remove document from archived migrated data folder
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2MidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/documents/ManageDocumentsControllerV2.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5117

#5141 DTSPO-16745 running it to send slack notification
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-5141

#5140 DFPL-2177: Urgent remove UrgentDirectionsOrder
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-5140

#5142 Revert "DTSPO-16745 running it to send slack notification"
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-5142

#5123 DFPL-2072-SendAndReplyMessage
  Jenkinsfile_nightly
  package.json
  playwright-e2e/README.md
  playwright-e2e/caseData/caseWithJudgeMessage.json
  playwright-e2e/caseData/caseWithJudicialMessageReply.json
  playwright-e2e/caseData/mandatorySubmissionFields.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/judicial-message.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/settings/user-credentials.ts
  playwright-e2e/settings/userCredentials.ts
  playwright-e2e/tests/judicial-message.spec.ts
  playwright-e2e/tests/messageJudge.spec.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright-e2e/utils/api-helper.ts
Labels: ns:family-public-law, prd:fpl, destroy, rel:fpl-case-service-pr-5123, enable_full_functional_tests

#5138 Dfpl 2155 - Ensure Unique Case Titles for Tests Running in Parallel
  playwright-e2e/pages/create-case.ts
  playwright-e2e/utils/create-case-name.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5138

#5032 DFPL-2038: Ensure `placement` temp field is not persisted
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementControllerPostSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placementnotice/PlacementNoticeAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placementnotice/PlacementNoticeSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/PlacementNoticeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/PlacementEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/PlacementService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/PlacementServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5032

#4268 DFPL-1967: Cache the IDAM system user token for 2 hours
  charts/fpl-case-service/Chart.yaml
  service/build.gradle
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/CacheConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/SystemUserService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SystemUserServiceTest.java
Labels: ns:family-public-law, prd:fpl, destroy, rel:fpl-case-service-pr-4268, enable_keep_helm

#5076 DFPL-2078 update CFV notification configuration
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/configuration/DocumentUploadedNotificationConfiguration.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5076

#5153 DFPL-2172 - No HTML Test Report Generated for Failing Playwright Tests
  Jenkinsfile_nightly
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5153

#5116 DFPL-2153 Confidential Folder- Respondent Statement
  ccd-definition/CaseField/CareSupervision/caseDocuments.json
  ccd-definition/Categories.json
  ccd-definition/ComplexTypes/CareSupervision/RespondentStatementV2Confidential.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5116

#5113 Cleanup Unknown title allocated judges
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/main/java/uk/gov/hmcts/reform/rd/model/JudicialUserProfile.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5113

#5154 DFPL-1918: Bring back old setup judicial roles migration for rerun
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5154

#5122 DFPL-2120 Allow C1 with Supplement Supporting Documents to be Removed in Manage Documents
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/SubmittedC1WithSupplementBundle.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5122

#5090 DFPL-2051: Migration to remove UDO and SDO from case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5090

#5038 DFPL-1860 Applications to be sealed when uploaded
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5038

#5129 DFPL-2148: Migration to remove documents from case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5129

#5158 DFPL-2107-tests: Challenged access e2e tests
  playwright-e2e/README.md
  playwright-e2e/caseData/mandatorySubmissionFields.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/challenged-access.ts
  playwright-e2e/settings/test-config.ts
  playwright-e2e/settings/user-credentials.ts
  playwright-e2e/tests/regional-access.spec.ts
  playwright-e2e/utils/case-number.ts
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-5158

#5004 DFPL-1986: Add FieldShowCondition to only show when question = NO
  ccd-definition/CaseEventToComplexTypes/manageDocs/manageDocumentsV2.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5004

#5108 DFPL-2145 Missing Application Documents in View Application Tab
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadDocumentsAboutToSubmitControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionDocumentAnnexGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/ApplicationDocumentChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/EventsChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionDocumentAnnexGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/ApplicationDocumentCheckerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5108

#5164 DFPL-2149: update doc ID
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5164

#5156 DFPL-2156: Retry securedocstore document download and add backoff delay of 5s
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/SecureDocStoreHelper.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5156

#5168 Fix a unit test case for leap year issue.
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/validator/ApprovalDateTimeValidatorTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5168

#5130 DFPL-1977 Manage orders - Allow Dates in the past for EPO event
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/validator/EPOEndDateValidator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/validator/EPOEndDateValidatorTest.java
Labels: ns:family-public-law, prd:fpl, add-or-update, rel:fpl-case-service-pr-5130

#5148 DFPL-2179: NPE fixes for Respondent/Child soiicitor created cases
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ManageOrderDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C33InterimCareOrderDocumentParameterGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageOrderDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/C33InterimCareOrderDocumentParameterGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5148
