Repository hmcts/fpl-ccd-configuration, pull requests merged in 2024-09, with the labels that each got.

#5549 DFPL-2509 INC5638529 - C2 and C1 applications can be added via manage documents
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/DocumentTypeTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5549

#5567 Switch old cached deps to jitpack
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5567

#5550 DFPL-2497, DFPL-1969: Enable reviewCMO and manageHearings in closed state
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5550

#5574 FixNightlyTest
  playwright-e2e/pages/base-page.ts
  playwright-e2e/tests/manage-orders.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5574

#5581 [DFPL-2527] Migration to remove temporary manage order fields
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5581

#5529 DFPL-2506 add uploadTimestamp
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiCaseDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseDocumentsConverter.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseDocumentsConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiConverterTestBase.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5529

#5585 DFPL 2449 fix url pattern of interceptor
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/cafcass/CafcassApiConfiguration.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5585

#5586 Dfpl 2214 fix missing pemission of supplementDdocument field
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5586

#5547 DFPL-1767: Add POST endpoint for uploading documents from Cafcass API
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractCallbackTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/AbstractTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/cafcass/CafcassApiDocumentUploadControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/cafcass/CafcassCasesControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/cafcass/CafcassCasesController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/configuration/DocumentUploadedNotificationConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiDocumentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5547

#5589 DFPL 2214 Fix c2 draft order and duplicated doc
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiCaseDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseDocumentsConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseDocumentsConverterTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5589

#5588 DFPL 2548
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/cafcass/CafcassApiSearchCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiCase.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiMetaDataConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiSearchCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiSearchCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5588

#5587 DFPL 2542 Apply feature toggling to all endpoint
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/cafcass/CafcassApiDocumentUploadControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/exceptions/api/ServiceUnavailableException.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/interceptors/CafcassApiInterceptor.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/interceptors/CafcassApiInterceptorTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5587

#5593 Dfpl 2548 fix system update user permission
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5593

#5591 Dfpl 2547
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiAddress.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiApplicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiCase.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiCaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiCaseDocument.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiCaseManagementLocation.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiChild.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiColleague.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiFactorsParenting.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiHearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiInternationalElement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiOther.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiProceeding.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiRespondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiRisk.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiSearchCasesResponse.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiSolicitor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseManagementLocationConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiFactorsParentingConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiInternationalElementConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiMetaDataConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiRisksConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiSearchCaseService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CafcassApiHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseManagementLocationConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiFactorsParentingConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiInternationalElementConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiMetaDataConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiRisksConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CafcassApiHelperTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5591

#5599 Do not sync perftest with master
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5599

#5600 DFPL-1767-2: Fix Guardian's report document removal
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5600

#5601 DFPL-2551 update migration script
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5601

#5603 fortify-client update
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5603

#5604 Cafcass API: Fix date of issue not beeing populated
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5604

#5605 DFPL-SpringBoot-3-Fix: Shift jitpack up and remove old maven
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5605

#5607 DFPL-1767: Fix Guardian Report DocumentType and Category
  ccd-definition/Categories.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/enums/DocumentTypeTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ManageDocumentServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5607

#5592 DFPL-2442: Enable "change case state" in gatekeeping and gatekeeping listing state
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/changeCaseState.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeStateControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeStateControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChangeStateController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ChangeCaseStateService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/validation/groups/MigrateStateGroup.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ChangeCaseStateServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5592

#5590 DFPL-2441: Hide history tab for external parties
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseTypeTab/CareSupervision/0_ApplicationTasks.json
  ccd-definition/CaseTypeTab/CareSupervision/15_Overview.json
  ccd-definition/CaseTypeTab/CareSupervision/16_CaseHistory.json
  ccd-definition/CaseTypeTab/CareSupervision/2_CaseFileView.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5590

#5596 Toggle on elinks in preview XUI
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5596

#5611 DFPL-1767: Fix Guardian Reports perms
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/superuser.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5611
