Repository hmcts/fpl-ccd-configuration, pull requests merged in 2024-10, with the labels that each got.

#5606 Dfpl 2547
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiApplicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiChild.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiColleague.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiFactorsParenting.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiInternationalElement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiOther.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiProceeding.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiRespondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiPreviousProceedingsConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CafcassApiHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiPreviousProceedingsConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CafcassApiHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5606

#5103 DFPL-2529: Update LaunchDarkly library
  service/build.gradle
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/matchers/LDUserMatcher.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5103

#5616 DFPL-POSSTMT: Add Null handler for Position Statement Lists
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingDocuments.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5616

#5624 Cafcass api increase request file size limit
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5624

#5618 Cafcass api filtering out wales case
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiSearchCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiSearchCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5618

#5559 DFPL-2516: Add missing nextHearingDetails field to populate hearing info on "My Cases"
  ccd-definition/AuthorisationCaseField/CareSupervision/caseSummary.json
  ccd-definition/CaseField/CareSupervision/caseSummary.json
  ccd-definition/ComplexTypes/CareSupervision/NextHearingDetails.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/summary/NextHearingDetails.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/summary/SyntheticCaseSummary.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryNextHearingGenerator.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/summary/CaseSummaryNextHearingGeneratorTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5559

#5492 DFPL-2303: c110a Design Changes to Risk and Harm & Factors Affecting Parenting Sections
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/CaseEvent/CareSupervision/DEPRECATED.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/RiskAndHarm/enterRiskHarm.json
  ccd-definition/CaseEventToFields/CareSupervision/enterRiskHarm.json
  ccd-definition/CaseField/CareSupervision/DEPRECATED.json
  ccd-definition/CaseField/CareSupervision/eventLinks.json
  ccd-definition/CaseTypeTab/CareSupervision/1_ViewApplication.json
  ccd-definition/ComplexTypes/CareSupervision/DEPRECATED.json
  ccd-definition/ComplexTypes/CareSupervision/RiskAndHarm.json
  ccd-definition/FixedLists/CareSupervision/FactorsAffectingParentingList.json
  ccd-definition/FixedLists/CareSupervision/RiskAndHarmToChildrenList.json
  docker/docmosis/templates/FL-PLW-APP-ENG-C110A.doc
  service/src/integrationTest/resources/fixtures/taskList-legacyApplicant.md
  service/src/integrationTest/resources/fixtures/taskList.md
  service/src/integrationTest/resources/fixtures/taskListWithLanguageRequirement.md
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/FactorsAffectingParentingType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/RiskAndHarmToChildrenType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Risks.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisRisks.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListRenderer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/FactorsAffectingParentingChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/RiskAndHarmChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListRendererTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/RiskAndHarmCheckerIsStartedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/RiskAndHarmCheckerTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
  service/src/test/resources/task-list/expected-task-list-multi-courts.md
  service/src/test/resources/task-list/expected-task-list-no-errors-multi-courts.md
  service/src/test/resources/task-list/expected-task-list-no-errors.md
  service/src/test/resources/task-list/expected-task-list.md
  service/src/test/resources/task-list/legacy-applicant/expected-task-list-no-errors.md
  service/src/test/resources/task-list/legacy-applicant/expected-task-list.md
Labels: ns:family-public-law, prd:fpl, docmosis, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5492

#5617 DFPL-2521 Fix representatives are not being cleared
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/ChildrenEventData.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5617

#5634 DFPL-2560 Stage Cafcass API in ITHC
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5634

#5637 Disable sync master branch to ITHC
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5637

#5640 DFPL 2557 specify ES query source field.
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiApplicantsConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseDataConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseDocumentsConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseManagementLocationConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiChildrenConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiFactorsParentingConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiHearingDetailsConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiInternationalElementConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiMetaDataConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiOthersConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiPreviousProceedingsConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiRespondentsConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiRisksConverter.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiSearchCaseService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/search/SearchService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/elasticsearch/ESQuery.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiApplicantsConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseDocumentsConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiCaseManagementLocationConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiChildrenConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiConverterTestBase.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiFactorsParentingConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiHearingDetailsConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiInternationalElementConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiMetaDataConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiOthersConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiPreviousProceedingsConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiRespondentsConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiRisksConverterTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiSearchCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5640

#5642 Dfpl 2557 fix applicant la
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiMetaDataConverter.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiMetaDataConverterTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5642

#5632 DFPL-2558: Show event in history tab for CTSC/Court Admins
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5632

#5595 DFPL-2507: Migration to update invalid type on cancelled hearing
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5595

#5645 FixNightlyBuild
  package.json
  playwright-e2e/pages/sign-in.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5645

#5651 DFPL-2580: Add redact hearing type migration
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5651

#5659 Revert accidental rename of field `noticeOfActingOrIssueListRemoved`
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/CaseField/CareSupervision/anyOtherDocuments.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5659

#5658 Adding missing config for new expert report types
  service/src/main/resources/application.yaml
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5658

#5661 Dfpl 2388 UI test return application
  .gitignore
  playwright-e2e/caseData/returnCase.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/return-application.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/return-application.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5661

#5630 DFPL-2310: Content changes to Orders and directions sought section
  .gitignore
  ccd-definition/CaseEventToComplexTypes/ordersNeeded/Orders.json
  ccd-definition/CaseEventToComplexTypes/ordersNeeded/OrdersSolicitor.json
  ccd-definition/ComplexTypes/CareSupervision/Orders.json
  ccd-definition/ComplexTypes/CareSupervision/OrdersSolicitor.json
  ccd-definition/FixedLists/CareSupervision/OrderType.json
  ccd-definition/FixedLists/CareSupervision/OrderTypeSolicitor.json
  playwright-e2e/caseData/returnCase.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/return-application.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/return-application.spec.ts
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, C110A, rel:fpl-case-service-pr-5630

#5660 Dfpl 2588 Include solicitor's address in search response
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/cafcass/api/CafcassApiSolicitor.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CafcassApiHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiConverterTestBase.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CafcassApiHelperTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5660

#5646 DFPL-1607 synchronized locking on postSubmit Call back by Case id
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersAmendedSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ccd/CoreCaseDataServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5646

#5669 Dfpl 2588 fix when UnregisteredOrganisation exist
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/CafcassApiHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/CafcassApiHelperTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5669

#5668 DFPL-2579: Remove urgent directions order from case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5668

#5636 DFPL-2508: Extend permissions for extend26WeekTimeline event to Judiciary
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5636

#5613 Delete current list of suppressions
  config/owasp/suppressions.xml
  service/build.gradle
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersForPlacementOrderSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/jobs/UndeliveredEmailsFinder.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/jobs/UndeliveredEmailsFinderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CaseManagementOrderEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/NoticeOfHearingEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/PlacementApplicationContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/ReturnedCaseContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/ReviewDraftOrdersEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/SDOIssuedCafcassContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/SDOIssuedEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/NotifyAttachedDocumentLinkHelperTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/OrderIssuedNotificationTestHelper.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5613
