Repository hmcts/fpl-ccd-configuration, pull requests merged in 2024-03, with the labels that each got.

#5071 DFPL-1978: Add migration to remove the social worker's telephone number
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/Telephone.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5071

#5150 DFPL-2183 INC5580604 can't upload an order on cases without allocated judge
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/JudgeAndLegalAdvisorHelperTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5150

#5146 Dfpl 2168 Closure date is incorrect when splitting children and is giving false MI Edit Add comment Assign More In Progress
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/orders/generator/ManageOrdersClosedCaseFieldGenerator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/OrderHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/orders/generator/ManageOrdersClosedCaseFieldGeneratorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/OrderHelperTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5146

#5171 e2e test for when hearing judge changed from allocated judge on case
  playwright-e2e/caseData/casePreAllocationDecision.json
  playwright-e2e/caseData/caseWithHearingDetails.json
  playwright-e2e/caseData/caseWithVacatedHearing.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/case-details.ts
  playwright-e2e/pages/gatekeeping-listing.ts
  playwright-e2e/pages/manage-hearings.ts
  playwright-e2e/pages/mixins/hearing-details-mixin.ts
  playwright-e2e/settings/test-config.ts
  playwright-e2e/settings/user-credentials.ts
  playwright-e2e/tests/manage-hearings.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5171

#5179 Fix test with hardcoded "future" date in it
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseExtensionControllerMidEventTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5179

#5174 DFPL-2205: Remove urgentDirectionsOrder field from case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5174

#5176 DFPL-2108: Add high court tasks to demo
  ccd-definition/CaseEventToFields/CareSupervision/createWorkAllocationTask.json
  ccd-definition/CaseEventToFields/CareSupervision/listGatekeepingHearing/addAllocatedJudge.json
  ccd-definition/CaseEventToFields/CareSupervision/placement/placement.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5176

#5152 DFPL-2150 - Enhance Smoke Test to Include Application Documents in Creating a Case
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/add-application-documents.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/create-case.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/settings/test-docs/config.ts
  playwright-e2e/settings/test-docs/testPdf.pdf
  playwright-e2e/settings/test-docs/testWordDoc.docx
  playwright-e2e/settings/user-credentials.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5152, playwright

#5183 Dfpl 1888 testing
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/case-details.ts
  playwright-e2e/pages/manage-hearings.ts
  playwright-e2e/tests/manage-hearings.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5183

#5167 DFPL-2203 enable full functional test for pr with label
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  package.json
  playwright-e2e/pages/create-case.ts
  playwright.config.ts
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, enable_full_functional_tests, rel:fpl-case-service-pr-5167

#5083 DFPL-2049: Fix NPE for record final decisions event
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RecordFinalDecisionsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RecordFinalDecisionsServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5083

#4925 DFPL-1688: Case Linking User Roles and Permissions
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gs_profile.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4925

#4907 DFPL-1910: Update WA service to use retryable post-submit code
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/workallocation/WorkAllocationTaskService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/workallocation/WorkAllocationTaskServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4907

#4875 DFPL-1862: Remove notification for temporary hearing judge
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsControllerSubmittedTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingHearingController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ManageHearingsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/events/TemporaryHearingJudgeAllocationEvent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/TemporaryHearingJudgeEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/TemporaryHearingJudgeEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, destroy, enable_keep_helm, rel:fpl-case-service-pr-4875

#4885 DFPL-1888: Only delete hearing-[roles] when cancelling/editing a hearing
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/JudicialService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RoleAssignmentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/JudicialServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RoleAssignmentServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4885

#5193 DFPL-2229: Fix flaky async tests verifying things in the wrong order
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ListGatekeepingControllerSubmittedTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5193

#5145 DFPL-2176 Upload translated documents - (Respondent Statements)
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/helper/UploadTranslationsControllerTestHelper.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentStatementV2.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableListItemProviders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableRespondentStatementsProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/translations/provider/decorator/SupportingEvidenceBundleTranslatorDecorator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/DateFormatterHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/HearingCourtBundleTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableHearingFurtherEvidenceProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableListItemProvidersTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/translations/provider/TranslatableRespondentStatementsProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/translations/provider/decorator/SupportingEvidenceBundleTranslatorDecoratorTest.java
Labels: ns:family-public-law, prd:fpl, add-or-update, enable_keep_helm, rel:fpl-case-service-pr-5145

#5109 DFPL-2144 create WA task after correspondence uploaded
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5109

#5192 DFPL-2167-Respondent-Details (added respondent details to smoke test)
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/respondent-details.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5192

#5173 DFPL-2144-tests: Review correspondence task created by uploading court correspondence
  .editorconfig
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/case-file-view.ts
  playwright-e2e/pages/manage-documents.ts
  playwright-e2e/settings/test-docs/config.ts
  playwright-e2e/settings/test-docs/testTextFile.txt
  playwright-e2e/tests/manage-documents.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5173

#5185 DFPL-1863 adding in axe-core and accessibility test fixture
  .gitignore
  Jenkinsfile_nightly
  package.json
  playwright-e2e/fixtures/axe-fixture.ts
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/fixtures/fixtures.ts
  playwright-e2e/tests/smoke-test.spec.ts
  yarn.lock
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, playwright, rel:fpl-case-service-pr-5185

#5188 DFPL-2225: Remove GS_profile permissions to see Open/Deleted cases
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5188

#5177 DFPL-2209 uploads Draft Order test
  playwright-e2e/caseData/uploadDraftOrders.json
  playwright-e2e/files/draftOrder.docx
  playwright-e2e/files/draftOrder2.docx
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/upload-draft-orders.ts
  playwright-e2e/tests/upload-draft-orders.spec.ts
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, enable_full_functional_tests, rel:fpl-case-service-pr-5177

#4940 DFPL-1930: Migrate cases where caseManagementLocation is out of sync with court
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-4940

#5155 DFPL-2086: Upload additional applications e2e tests
  playwright-e2e/README.md
  playwright-e2e/caseData/mandatorySubmissionFieldsWithoutAdditionalApp.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/additional-applications.ts
  playwright-e2e/settings/test-docs/testTextFile.txt
  playwright-e2e/settings/user-credentials.ts
  playwright-e2e/tests/additional-applications.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5155, playwright

#5206 Re-enable browsers for playwright tests
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5206

#5211 FIxUITest-RenameDepricatedCaseField
  playwright-e2e/caseData/casePreAllocationDecision.json
  playwright-e2e/caseData/caseWithHearingDetails.json
  playwright-e2e/caseData/caseWithJudgeMessage.json
  playwright-e2e/caseData/caseWithJudicialMessageReply.json
  playwright-e2e/caseData/caseWithVacatedHearing.json
  playwright-e2e/caseData/mandatorySubmissionFields.json
  playwright-e2e/caseData/mandatorySubmissionFieldsWithoutAdditionalApp.json
  playwright-e2e/caseData/uploadDraftOrders.json
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5211

#5213 CVE-2024-1597
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5213

#5216 jqlang replacement
  bin/utils/idam-lease-user-token.sh
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5216

#5197 DFPL-2236: add child details to smoke test
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/child-details.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5197

#5195 DFPL-2234: add applicant details to smoke test
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/applicant-details.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/respondent-details.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/pages/upload-draft-orders.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5195
