Repository hmcts/fpl-ccd-configuration, pull requests merged in 2025-08, with the labels that each got.

#6076 Nightly dev
  package.json
  playwright-e2e/pages/orders.ts
  playwright-e2e/tests/manage-orders.spec.ts
  playwright-e2e/tests/manage-orders.spec.ts-snapshots/manage-orders-Upload-Order-xbrowser-1-GalaxyS4-linux.png
  playwright-e2e/tests/manage-orders.spec.ts-snapshots/manage-orders-Upload-Order-xbrowser-1-chromium-linux.png
  playwright-e2e/tests/manage-orders.spec.ts-snapshots/manage-orders-Upload-Order-xbrowser-1-firefox-linux.png
  playwright-e2e/tests/manage-orders.spec.ts-snapshots/manage-orders-Upload-Order-xbrowser-1-ipadPro11-linux.png
  playwright-e2e/tests/manage-orders.spec.ts-snapshots/manage-orders-Upload-Order-xbrowser-1-webkit-linux.png
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-6076

#6081 Nightly dev
  playwright-e2e/pages/orders.ts
  playwright-e2e/tests/manage-orders.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-6081

#6074 DFPL-2825: Filter out LA if order is confidential
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersRejectedEventHandler.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-6074
