Repository hmcts/fpl-ccd-configuration, pull requests merged in 2025-10, with the labels that each got.

#6129 Dfpl 2903 fix UI tests
  playwright-e2e/pages/orders.ts
  playwright-e2e/tests/court-service.spec.ts
  playwright-e2e/tests/manage-case-ctsc-user.spec.ts
  playwright-e2e/tests/manage-orders.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-6129

#6068 DFPL-2818: Adding migration to clear unused legacy html document fields on cases.
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-6068

#6122 DFPL-2896: Use representing details for third party app case name
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/CaseSubmissionServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-6122
