Repository hmcts/fpl-ccd-configuration, pull requests merged in 2025-04, with the labels that each got.

#5885 DFPL-2678: Update references to base charts to OCI versions
  charts/fpl-case-service/Chart.yaml
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/SubmitCaseApiTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5885

#5929 Dfpl 2660 fee change UI test update
  playwright-e2e/pages/placement.ts
  playwright-e2e/tests/additional-applications.spec.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5929

#5879 DFPL-2666: Remove external user access to documents sent to parties
  ccd-definition/AuthorisationCaseField/CareSupervision/barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5879

#5938 RunBuildAt 7am with more workers
  Jenkinsfile_nightly
  playwright.config.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5938

#5931 DFPL-2731: Remove CTSC email on transferring courts
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/la/ManageLocalAuthoritiesControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/LocalAuthorityChangedHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/LocalAuthorityChangedHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/LocalAuthorityChangedHandlerTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5931

#5925 Fix FPL executor alert
  infrastructure/alerts.tf
Labels: ns:family-public-law, prd:fpl, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5925

#5940 DFPL-2740: Reinstate redaction migration + combine with removing C6
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5940

#5941 DFPL-2744: Completely clear the hearingOrdersBundlesDrafts
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5941

#5942 AddWaitforSlowLoading
  playwright-e2e/pages/link-cases.ts
  playwright-e2e/tests/case-linking.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5942

#5998 Dfpl 2424 UI test
  playwright-e2e/pages/change-case-name.ts
  playwright-e2e/tests/change-case-name.spec.ts
  playwright-e2e/tests/smoke-test.spec.ts
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_full_functional_tests, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5998

#5999 Disable automerge on renovate PRs
  .github/renovate.json
Labels: ns:family-public-law, prd:fpl, workflow, rel:fpl-case-service-pr-5999

#6002 Revert unstable dependency update for mutation testing
  service/build.gradle
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-6002

#5939 DFPL-2736: Update isHmctsUser when used in task initiation to isCtscUser
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UserService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/ManageDocumentsUploadedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UserServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, pr-values:wa, rel:fpl-case-service-pr-5939
