Repository hmcts/fpl-ccd-configuration, pull requests merged in 2025-01, with the labels that each got.

#5797 DFPL-2641: Move address known type to confidential tab
  service/src/functionalTest/resources/enter-others/extract-confidential-data.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeFromOtherUtils.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OthersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerChangeFromOtherAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/ConfidentialDetailsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ConfidentialDetailsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OthersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/ConfidentialDetailsHelperTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5797

#5796 DFPL-2639: Move living situation (+ details) to the confidential tab
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Child.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ConfidentialDetailsServiceTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5796

#5755 DFPL-2546 Refuge Address option for Respondent/Other persons Journeys
  ccd-definition/CaseEventToComplexTypes/others/changeOtherToRespondent.json
  ccd-definition/CaseEventToComplexTypes/respondents/amendRespondents.json
  ccd-definition/CaseEventToComplexTypes/respondents/enterRespondents.json
  ccd-definition/ComplexTypes/CareSupervision/2_Others.json
  ccd-definition/ComplexTypes/CareSupervision/2_RespondentParty.json
  ccd-definition/FixedLists/CareSupervision/IsAddressKnowList.json
  playwright-e2e/pages/other-people-in-the-case.ts
  service/src/functionalTest/resources/enter-others/extract-confidential-data.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChangeFromOtherUtils.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/OthersControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerChangeFromOtherAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerChangeFromOtherMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/OthersController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/IsAddressKnowType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Child.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Other.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Respondent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RespondentParty.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/OthersService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RespondentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidator.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/utils/ConfidentialDetailsHelper.java
  service/src/test/java/uk/gov/hmcts/reform/ccd/model/RespondentPartyTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandlerNotificationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ConfidentialDetailsServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/OthersServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RespondentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SendDocumentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/respondent/RespondentValidatorTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/utils/ConfidentialDetailsHelperTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5755

#5808 FixNightlyBuild
  playwright-e2e/pages/mixins/hearing-details-mixin.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5808

#5791 Reorder CaseLinks Tab
  ccd-definition/CaseTypeTab/CareSupervision/5_DraftOrders.json
  ccd-definition/CaseTypeTab/CareSupervision/6_Orders.json
  ccd-definition/CaseTypeTab/CareSupervision/7_CasePeople.json
  ccd-definition/CaseTypeTab/CareSupervision/8_LegalBasis.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5791

#5786 DFPL-2631 Adds ability to remove refused orders through the removal tool
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/OrderRemovalActions.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RefusedHearingOrderRemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/DraftCMORemovalActionTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/OrderRemovalActionsTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/RefusedHearingOrderRemovalActionTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5786

#5702 DFPL-2537: Request listing actions
  Jenkinsfile_CNP
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/wa-task-configuration.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToFields/CareSupervision/requestListingAction.json
  ccd-definition/CaseEventToFields/CareSupervision/reviewListingAction.json
  ccd-definition/CaseField/CareSupervision/listingActions.json
  ccd-definition/CaseTypeTab/CareSupervision/3_Hearings.json
  ccd-definition/ComplexTypes/CareSupervision/ListingActionRequest.json
  ccd-definition/FixedLists/CareSupervision/ListingActions.json
  ccd-definition/FixedLists/CareSupervision/ReviewedListingAction.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  charts/fpl-case-service/values.preview.template.yaml
  service/src/cftlib/resources/cftlib-am-role-assignments.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RequestListingActionAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RequestListingActionAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewListingActionAboutToStartControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewListingActionAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReviewListingActionMidEventControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/listing/RequestListingActionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/listing/ReviewListingActionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ccd/fixedlists/ListingActionType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseDataParent.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/ListingActionRequest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ListingActionService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ListingActionServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, enable_wa, rel:fpl-case-service-pr-5702

#5775 DFPL-2572: Retain and Dispose Migration
  bin/add-ccd-user-roles.sh
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  ccd-definition/AuthorisationCaseField/CareSupervision/ttl_profile.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonshuttered.json
  ccd-definition/AuthorisationComplexType/AuthorisationComplexType.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEvent/CareSupervision/Open.json
  ccd-definition/CaseEvent/CareSupervision/StateChange.json
  ccd-definition/CaseEventToComplexTypes/ManageCaseTTL/manageCaseTTL.json
  ccd-definition/CaseEventToFields/CareSupervision/manageCaseTTL.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  service/src/cftlib/java/uk/gov/hmcts/reform/fpl/CftlibConfig.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5775

#5813 DFPL-2635: Migration to update third party sols
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl

#5815 Dfpl 2566
  playwright-e2e/caseData/mandatorySubmissionFields.json
  playwright-e2e/caseData/mandatorySubmissionWithTwoLAFields.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/manage-la-transfer-to-courts.ts
  playwright-e2e/tests/manage-la-transfer-to-courts.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, enable_full_functional_tests, enable_wa, pr-values:wa

#5692 DFPL-2599: Change additional applications from post-submit sealing to about-to-submit sealing
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsAboutToSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/additionalapplications/UploadAdditionalApplicationsServiceTest.java
  service/src/test/resources/documents/document-protected-from-editing.pdf
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5692

#5821 FixUITestForFileTypeRestriction
  playwright-e2e/pages/additional-applications.ts
  playwright-e2e/pages/c1-with-supplement.ts
  playwright-e2e/tests/additional-applications.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, pr-values:wa

#5820 DFPL-2638 Migrating third party solicitor representing LA.
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl

#5827 Remove WA settings in base preview values
  charts/fpl-case-service/values.preview.template.yaml
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5827
