Repository hmcts/fpl-ccd-configuration, pull requests merged in 2025-03, with the labels that each got.

#5823 DFPL-2327: C110A Applicant details (respondent) re-design
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEvent/CareSupervision/MultiState.json
  ccd-definition/CaseEventToComplexTypes/enterThirdPartyApplicantDetails/applicantContact.json
  ccd-definition/CaseEventToComplexTypes/enterThirdPartyApplicantDetails/applicantContactOthers.json
  ccd-definition/CaseEventToComplexTypes/enterThirdPartyApplicantDetails/localAuthority.json
  ccd-definition/CaseEventToFields/CareSupervision/enterApplicantDetails/enterThirdPartyApplicantDetails.json
  ccd-definition/ComplexTypes/CareSupervision/1_LocalAuthority/0_representingDetails.json
  ccd-definition/ComplexTypes/CareSupervision/1_LocalAuthority/localAuthority.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  service/src/functionalTest/resources/case-submission/application-draft.txt
  service/src/functionalTest/resources/case-submission/application.txt
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/TaskListControllerSubmittedTest.java
  service/src/integrationTest/resources/fixtures/taskList-solicitor.md
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/Event.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/LocalAuthority.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/RepresentingDetails.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisApplicant.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListRenderer.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/EventsChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/LocalAuthorityDetailsChecker.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/ThirdPartyApplicantDetailsChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ApplicantLocalAuthorityServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/TaskListServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/CaseSubmissionCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/EventsCheckerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/ThirdPartyApplicantDetailsCheckerTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5823

#5825 DFPL-2422 c110a Design Changes to allocation proposal section
  ccd-definition/AuthorisationCaseField/CareSupervision/cafcass.json
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/eps-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-barrister.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-managing.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-shared.json
  ccd-definition/AuthorisationCaseField/CareSupervision/la-solicitor.json
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  ccd-definition/CaseEventToComplexTypes/otherProposal/AllocationProposal.json
  ccd-definition/CaseEventToFields/CareSupervision/otherProposal.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/AllocationProposal.json
  ccd-definition/FixedLists/CareSupervision/AllocationProposalListV2.json
  ccd-definition/FixedLists/CareSupervision/DEPRECATED/AllocationProposalList.json
  playwright-e2e/pages/allocation-proposal.ts
  service/src/functionalTest/java/uk/gov/hmcts/reform/fpl/SubmitCaseApiTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/gatekeepingorder/AddGatekeepingOrderControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/listgatekeepinghearing/ListGatekeepingHearingControllerAboutToSubmitTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/AllocationProposaJudgeTypes.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Allocation.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisAllocation.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisCaseSubmission.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/CourtLevelAllocationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/sdo/UrgentGatekeepingOrderService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/AllocationProposalChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/CourtLevelAllocationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/RoboticsDataServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/robotics/SampleRoboticsTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/sdo/UrgentGatekeepingOrderServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/AllocationProposalCheckerIsStartedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/AllocationProposalCheckerTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5825

#5872 DFPL-2422 fix allocation decision
  ccd-definition/CaseEventToComplexTypes/addGatekeepingOrder/allocationDecision.json
  ccd-definition/CaseEventToComplexTypes/addGatekeepingOrder/urgentHearingAllocation.json
  ccd-definition/ComplexTypes/CareSupervision/AllocationDecision.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5872

#5865 Add related document links to judical reply event
  ccd-definition/CaseEventToComplexTypes/messageJudge/judicialMessageReply.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeControllerMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ReplyToMessageJudgeService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ReplyToMessageJudgeServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5865

#5780 DFPL-2313 Update Additional Documents flow and include new Statement type.
  ccd-definition/CaseEventToComplexTypes/uploadDocuments.json
  ccd-definition/CaseEventToFields/CareSupervision/uploadDocuments.json
  ccd-definition/CaseField/CareSupervision/caseField.json
  ccd-definition/ComplexTypes/CareSupervision/TemporaryApplicationDocuments.json
  ccd-definition/FixedLists/CareSupervision/ApplicationDocumentType.json
  playwright-e2e/pages/add-application-documents.ts
  playwright-e2e/pages/start-application.ts
  service/src/integrationTest/resources/fixtures/taskList-legacyApplicant.md
  service/src/integrationTest/resources/fixtures/taskList.md
  service/src/integrationTest/resources/fixtures/taskListWithLanguageRequirement.md
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/ApplicationDocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ApplicationDocumentsService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/TaskListRenderer.java
  service/src/test/resources/task-list/expected-task-list-multi-courts.md
  service/src/test/resources/task-list/expected-task-list-no-errors-multi-courts.md
  service/src/test/resources/task-list/expected-task-list-no-errors.md
  service/src/test/resources/task-list/expected-task-list-no-grounds.md
  service/src/test/resources/task-list/expected-task-list.md
  service/src/test/resources/task-list/legacy-applicant/expected-task-list-no-errors.md
  service/src/test/resources/task-list/legacy-applicant/expected-task-list.md
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5780

#5869 DFPL-2703: Enable all draft orders to be uploaded as PDFs
  ccd-definition/CaseField/CareSupervision/hearingOrders.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/CaseManagementOrder.json
  ccd-definition/ComplexTypes/CareSupervision/HearingOrders/ReviewDecision.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5869

#5878 Fix for Grounds for application completion check not working as expected
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/CaseData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Orders.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsCheckerTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5878

#5849 DFPL-2689 Flaky test stability
  playwright-e2e/pages/base-page.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5849

#5880 Fix for bug where validation enforced on field in grounds for application preventing submission of case
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Grounds.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/GroundsCheckerTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5880

#5881 Dfpl 2664 UI test
  playwright-e2e/pages/judicial-message.ts
  playwright-e2e/tests/judicial-message.spec.ts
Labels: enable_full_functional_tests

#5886 FixUINightlytest
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/gatekeeping-listing.ts
  playwright-e2e/pages/link-cases.ts
  playwright-e2e/pages/mixins/hearing-details-mixin.ts
  playwright-e2e/tests/case-linking.spec.ts
  playwright-e2e/tests/manage-orders.spec.ts
  playwright-e2e/tests/return-application.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5886

#5845 DFPL-2664: Judicial Messaging redesign
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
  ccd-definition/AuthorisationCaseField/CareSupervision/gatekeeper.json
  ccd-definition/AuthorisationCaseField/CareSupervision/judiciary.json
  ccd-definition/CaseEventToComplexTypes/messageJudge/judicialMessageMetaData.json
  ccd-definition/CaseEventToComplexTypes/messageJudge/judicialMessageReply.json
  ccd-definition/CaseEventToFields/CareSupervision/messageJudge.json
  ccd-definition/CaseEventToFields/CareSupervision/replyToMessageJudge.json
  ccd-definition/CaseField/CareSupervision/messageJudge.json
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessage.json
  ccd-definition/ComplexTypes/CareSupervision/JudicialMessage/JudicialMessageMetaData.json
  charts/fpl-case-service/values.preview.template.yaml
  playwright-e2e/pages/judicial-message.ts
  playwright-e2e/tests/judicial-message.spec.ts
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerAbstractTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerPopulateLabelsMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeControllerAboutToSubmitTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeControllerMidEventTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeControllerValidateMidEventTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/JudicialMessageRoleType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/OrganisationalRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NewJudicialMessageEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/dynamic/DynamicListElement.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/event/MessageJudgeEventData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/judicialmessage/JudicialMessageMetaData.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/JudicialService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/MessageJudgeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/ReplyToMessageJudgeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RoleAssignmentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/SendNewMessageJudgeService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/UserService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/ReplyToMessageJudgeServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RoleAssignmentServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/SendNewMessageJudgeServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/UserServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, pr-values:wa, rel:fpl-case-service-pr-5845

#5101 DFPL-1972: Add feature toggle for notifications corresponding to WA tasks
  ccd-definition/AuthorisationCaseField/CareSupervision/solicitor.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ApproveDraftOrdersControllerPostSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/MessageJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ReplyToMessageJudgeControllerSubmittedTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadC2DocumentsSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/placement/PlacementSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/JudicialMessageReplyEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NewJudicialMessageEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/PlacementApplicationEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/testingsupport/email/EmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AmendedReturnedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GatekeepingOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/IssuedOrderAdminNotificationHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/JudicialMessageReplyEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/NewJudicialMessageEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/FeatureToggleService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AmendedReturnedCaseEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/FailedPBAPaymentEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GatekeepingOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedOrderEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/JudicialMessageReplyEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/NewJudicialMessageEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/PlacementEventsHandlerNotificationTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, pr-values:wa, rel:fpl-case-service-pr-5101

#5888 DFPL-2487: Use correct timezone, recreate all hearing roles migration
  service/src/main/java/uk/gov/hmcts/reform/fpl/config/TimeConfiguration.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/CaseSubmissionController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/HearingBooking.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/JudicialService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RoleAssignmentService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/cafcass/api/CafcassApiDocumentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/JudicialServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RoleAssignmentServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5888

#5906 DFPL-2717: use LocalDateTimes in QueryRequest to AM
  service/src/main/java/uk/gov/hmcts/reform/am/model/QueryRequest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RoleAssignmentService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RoleAssignmentServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5906

#5904 ChangeNightlyBuildtriggerTime
  Jenkinsfile_nightly
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5904

#5907 Dfpl 2423 UI test
  playwright-e2e/pages/other-proceedings.ts
  playwright-e2e/tests/application-detail-nonmandatory.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5907

#5909 DFPL-2713: redact 'child' subfields in change of representatives
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/noc/ChangeOfRepresentation.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5909

#5890 DFPL-2709 Blackpool courts, chapel street are closed
  ccd-definition/FixedLists/CareSupervision/DEPRECATED/HearingVenue.json
  ccd-definition/FixedLists/CareSupervision/HearingVenue.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5890

#5716 DFPL-2544 Create alert for async call back thread queue
  infrastructure/alerts.tf
Labels: ns:family-public-law, prd:fpl, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5716

#5884 DFPL-2685 Revoke case role before granting
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/legalcounsel/ManageLegalCounselService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/legalcounsel/ManageLegalCounselServiceTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5884

#5915 EnableUITestInDemo
  playwright-e2e/caseData/mandatorySubmissionFieldsDemo.json
  playwright-e2e/caseData/mandatorySubmissionWithTwoLAFieldsDemo.json
  playwright-e2e/tests/manage-la-transfer-to-courts.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5915

#5920 DFPL-2544 fix alert
  infrastructure/alerts.tf
Labels: ns:family-public-law, prd:fpl, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5920

#5916 DFPL-2713: Remove notice of proceedings
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5916

#5912 DFPL-2723: Update CTSC emails
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageOrdersForPlacementOrderSubmittedControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/UploadAdditionalApplicationsSubmittedControllerTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsPbaPaymentNotTakenEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedPlacementOrderEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/cmo/DraftOrdersApprovedEventHandler.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/AdditionalApplicationsPbaPaymentNotTakenEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/DraftOrdersApprovedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/GeneratedPlacementOrderEventHandlerTest.java
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, pr-values:wa, rel:fpl-case-service-pr-5912
