Repository hmcts/fpl-ccd-configuration, pull requests merged in 2025-07, with the labels that each got.

#6055 DFPL-2759-3: Adds ability for new robotics user to upload via manage docs.
  bin/add-ccd-user-roles.sh
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/CareSupervision/manageDocumentsV2.json
  ccd-definition/AuthorisationCaseField/CareSupervision/robotics.json
  ccd-definition/AuthorisationCaseState/CareSupervision/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonshuttered.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-shuttered.json
  ccd-definition/FixedLists/CareSupervision/DocumentUploaderType.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  service/src/cftlib/java/uk/gov/hmcts/reform/fpl/CftlibConfig.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/UserRole.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/cfv/DocumentType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/notification/DocumentUploaderType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/document/ManageDocumentService.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-6055

#5874 Dfpl 2439 query collections UI test
  ccd-definition/AuthorisationCaseField/CareSupervision/system-update.json
  playwright-e2e/caseData/caseWithQuery.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/base-page.ts
  playwright-e2e/pages/query-management.ts
  playwright-e2e/pages/sign-in.ts
  playwright-e2e/tests/query-management.spec.ts
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_full_functional_tests, aat/add-or-update, prod/add-or-update, pr-values:wa, rel:fpl-case-service-pr-5874

#6060 DFPL-2812 - Playwright README file update for running tests in Local Environment
  playwright-e2e/README.md
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-6060

#6064 DFPL-2805: Migration remove Seal CMO from case
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-6064
