Repository hmcts/fpl-ccd-configuration, pull requests merged in 2025-09, with the labels that each got.

#6096 DFPL-2845: Add permission for LARespondent editing for CTSC
  ccd-definition/AuthorisationCaseField/CareSupervision/court-admin.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-6096

#6079 DFPL 2822 Notify LA/Solicitors when counsel remove themselves from a case
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ManageLegalRepresentativeSubmitControllerTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/LegalRepresentativesUpdatedHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/NotifyTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/LegalCounselUpdatedEventHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/handlers/LegalRepresentativesUpdatedHandler.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/LegalCounsellorEmailContentProvider.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/LegalCounselUpdatedEventHandlerTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/handlers/LegalRepresentativesUpdatedHandlerTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-6079

#6085 Dfpl 2420 test tear down am role
  Jenkinsfile_nightly
  playwright-e2e/settings/global-teardown.ts
  playwright-e2e/settings/test-config.ts
  playwright-e2e/settings/urls.ts
  playwright-e2e/tests/smoke-test.spec.ts
  playwright-e2e/utils/api-helper.ts
  playwright-e2e/utils/document-format-helper.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-6085

#6126 Nightly dev charsept
  playwright-e2e/pages/orders.ts
  playwright-e2e/tests/manage-orders.spec.ts
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-6126
