Repository hmcts/fpl-ccd-configuration, pull requests merged in 2025-02, with the labels that each got.

#5782 DFPL-2630 remove confidential order
  ccd-definition/AuthorisationCaseField/CareSupervision/orderCollectionConfidential.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalAction.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/removeorder/RemoveOrderService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/removeorder/GeneratedOrderRemovalActionTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5782

#5833 Re-enable perftest, ithc pipelines
  Jenkinsfile_CNP
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5833

#5832 DFPL- 2569
  playwright-e2e/caseData/caseWithRespodentDetailsAttached.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/pages/change-other-to-respondent.ts
  playwright-e2e/pages/others-to-be-given-notice.ts
  playwright-e2e/tests/admin-add-case-flag.spec.ts
  playwright-e2e/tests/change-case-name.spec.ts
  playwright-e2e/tests/change-other-to-respondent.spec.ts
  playwright-e2e/tests/log-expert-report.spec.ts
  playwright-e2e/tests/others-to-be-given-notice.spec.ts
Labels: ns:family-public-law, prd:fpl, enable_full_functional_tests, rel:fpl-case-service-pr-5832

#5835 Restrict solicitor access from children/respondents events
  ccd-definition/AuthorisationCaseEvent/CareSupervision/AuthorisationCaseEvent.json
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/ChildControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/controllers/RespondentControllerAboutToStartTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/PartyAddedToCaseEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/ChildController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/RespondentController.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/RepresentativeService.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/RepresentativesServiceTest.java
Labels: ns:family-public-law, prd:fpl, ccd configuration, enable_keep_helm, rel:fpl-case-service-pr-5835

#5834 DFPL-2671: Add post-nominals to fullname/surname when using lookup
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Judge.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/common/JudgeAndLegalAdvisor.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/model/JudgeTest.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5834

#5772 Dfpl 2304 c110a Design changes to hearing urgency section
  ccd-definition/CaseEventToComplexTypes/hearingNeeded/Hearing.json
  ccd-definition/CaseEventToFields/CareSupervision/hearingNeeded.json
  ccd-definition/ComplexTypes/CareSupervision/Hearing.json
  ccd-definition/FixedLists/CareSupervision/DEPRECATED/HearingTypeFixedList.json
  ccd-definition/FixedLists/CareSupervision/HearingUrgencyTypeFixedList.json
  playwright-e2e/caseData/approveOrders/caseWithConfidentialDraftOrderByCtsc.json
  playwright-e2e/caseData/approveOrders/caseWithConfidentialDraftOrderByLa.json
  playwright-e2e/caseData/caseInPrepareForHearing.json
  playwright-e2e/caseData/casePreAllocationDecision.json
  playwright-e2e/caseData/caseSentToGatekeeper.json
  playwright-e2e/caseData/caseWithAllTypesOfOrders.json
  playwright-e2e/caseData/caseWithDraftOrder.json
  playwright-e2e/caseData/caseWithHearingDetails.json
  playwright-e2e/caseData/caseWithJudgeMessage.json
  playwright-e2e/caseData/caseWithJudicialMessageReply.json
  playwright-e2e/caseData/caseWithManageDocumentUploads.json
  playwright-e2e/caseData/caseWithMultipleChildCafcassSolicitor.json
  playwright-e2e/caseData/caseWithMultipleChildCafcassSolicitorDemo.json
  playwright-e2e/caseData/caseWithRespondentSolicitor.json
  playwright-e2e/caseData/caseWithRespondentSolicitorAndCounsel.json
  playwright-e2e/caseData/caseWithRespondentSolicitorAndCounselDemo.json
  playwright-e2e/caseData/caseWithVacatedHearing.json
  playwright-e2e/caseData/mandatorySubmissionFields.json
  playwright-e2e/caseData/mandatorySubmissionFieldsWithoutAdditionalApp.json
  playwright-e2e/caseData/mandatoryWithMultipleChildren.json
  playwright-e2e/caseData/returnCase.json
  playwright-e2e/caseData/uploadDraftOrders.json
  playwright-e2e/pages/hearing-urgency.ts
  playwright-e2e/pages/start-application.ts
  playwright-e2e/tests/smoke-test.spec.ts
  service/src/functionalTest/resources/case-submission/application-draft.txt
  service/src/functionalTest/resources/case-submission/application.txt
  service/src/functionalTest/resources/case-submission/case.json
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/DocmosisTemplates.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/enums/hearing/HearingUrgencyType.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Hearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/docmosis/DocmosisHearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/HearingUrgencyChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/MigrateCaseServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationServiceTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/HearingUrgencyCheckerIsStartedTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/HearingUrgencyCheckerTest.java
  service/src/test/resources/core-case-data-store-api/callback-request.json
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: ns:family-public-law, prd:fpl, ccd configuration, rel:fpl-case-service-pr-5772

#5836 DFPL-2640: Setting up migration for third party applicant solicitor
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5836

#5841 DFPL-2640: Fixing typo in migration id.
  service/src/main/java/uk/gov/hmcts/reform/fpl/controllers/support/MigrateCaseController.java
Labels: ns:family-public-law, prd:fpl, rel:fpl-case-service-pr-5841

#5843 DFPL-2683 Fix notification using old hearing urgency field
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/NotifyGatekeeperEventHandlerEmailTemplateTest.java
  service/src/integrationTest/java/uk/gov/hmcts/reform/fpl/handlers/SubmittedCaseEventHandlerEmailTemplateTest.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/model/Hearing.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/docmosis/CaseSubmissionGenerationService.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/email/content/base/SharedNotifyContentProvider.java
  service/src/main/java/uk/gov/hmcts/reform/fpl/service/validators/HearingUrgencyChecker.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/casesubmission/SampleCaseSubmissionTestDataHelper.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/CafcassEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/GatekeeperEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/HmctsEmailContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/email/content/OutsourcedCaseContentProviderTest.java
  service/src/test/java/uk/gov/hmcts/reform/fpl/service/validators/HearingUrgencyCheckerTest.java
  service/src/test/resources/core-case-data-store-api/populated-case-details.json
Labels: ns:family-public-law, prd:fpl, enable_keep_helm, rel:fpl-case-service-pr-5843

#5857 DFPL-2694: Bump Terraform to 4.0
  infrastructure/main.tf
Labels: ns:family-public-law, prd:fpl, aat/add-or-update, prod/add-or-update, rel:fpl-case-service-pr-5857
